<div class="modal-dialog modal-xl cx" role="document">
    <div class="modal-content" style="background-color: rgb(244, 246, 249);">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title">Add a Custom Domain</h5>
        </div>
        <div class="modal-body">

            <div class="tab-content">

                <!-- Step 1 -->
                <div class="cutom-domain-add tab-pane fade in active" id="custom-step1">

                    <div class="wizard-form bness">

                        <div style="width: 800px; max-width: 100%; margin: 30px auto 0 auto;">

                            <div class="mod_title">
                                <h4>Availability checker</h4>
                                <h5>Your Domain name will also be used as your business name in Qbicles. Domain names can <strong>not</strong> be changed once active, so please type carefully!</h5>
                            </div>

                            <br />
                            <div class="row countrychoice">
                                <div class="col-xs-12">
                                    <div class="form-group avatarpicker animated fadeIn">
                                        <input id="domain-name" type="text" class="form-control input-lg" placeholder="Your business name here" maxlength="45"
                                               style="font-size: 22px !important; padding: 50px 50px 50px 15px !important;">
                                        <img src="/Content/DesignStyle/img/loading.gif" id="checking" style="display: none; height: 25px; width: auto; position: absolute; bottom: 70px; right: 35px;">
                                    </div>
                                </div>
                            </div>

                            <div class="alert alert-qb text-center animated fadeIn unsupported" id="result" style="display: none; padding: 50px !important; margin: 15px auto 0 auto;">
                                <img src="/Content/DesignStyle/img/icon_approval.png" style="width: 140px; height: auto; margin-bottom: 30px;">
                                <h4 style="margin-bottom: 20px;">This name is available!</h4>
                                <p style="max-width: 80%; margin: 0 auto !important;">
                                    If you’re happy with this name, hit the button below to proceed.
                                </p>

                                <br><br>
                                <a href="#custom-step2" data-toggle="tab" class="btn btn-success community-button w-auto">
                                    Secure this Domain name &nbsp; <i class="fa fa-angle-right"></i>
                                </a>
                            </div>

                        </div>

                    </div>

                </div>
                <!-- END Step 1 -->
                <!-- Step 2 -->
                <div class="cutom-domain-add tab-pane fade" id="custom-step2">

                    <div class="wizard-form bness">

                        <div style="width: 800px; max-width: 100%; margin: 30px auto 0 auto;">

                            <div class="mod_title">
                                <h5>Domain specifics</h5>
                                <h4>Some specifics about your business</h4>
                            </div>
                            <br /><br />

                                  <div class="row">
                                      <div class="col-xs-12">
                                          <div class="form-group">
                                              <label for="avatar">Briefly summarise your business (max 500 characters)</label>
                                              <textarea maxlength="500" name="summary" id="domain-description" onkeyup="validateAddDomainDescription()" class="form-control" style="max-width: 100%;"></textarea>
                                              <label id="domain-description-error" class="error" for="addcomment" style="display: none;">Your post is longer than the 500 characters limit. Please reduce the length.</label>
                                          </div>
                                      </div>
                                      <div class="col-xs-12">
                                          <div class="form-group">
                                              <label for="avatar">Choose a logo to associate with your business</label>
                                              <input type="file" id="domain-logo" name="avatar">
                                          </div>
                                      </div>
                                  </div>


                            <br /><br />
                            <button id="btn-save-custom-domain" onclick="SaveCustomDomain(false)" class="btn btn-primary community-button w-auto">Next</button>
                        </div>

                    </div>

                </div>
                <!-- END Step 2 -->
                <!-- Step 3 -->
                <div class="cutom-domain-add tab-pane fade" id="custom-step3">

                    <div class="wizard-form bness text-center">


                        <!-- Success -->
                        <div style="width: 800px; max-width: 100%; margin: 30px auto 0 auto;" id="successdemo">
                            <img src="/Content/DesignStyle/img/icon_approval.png">
                            <br /><br />

                            <div class="mod_title">
                                <h4>Success!</h4>
                            </div>

                            <br />
                            <div class="activity-overview plain rounded">
                                <h5>Your <strong id="custom-domain-name"></strong> Business Domain has been successfully created</h5>
                                <br />

                                <p>
                                    We've created a basic Qbicle for you to get started with. Now your Business Domain is set up, it's time to start adding your business information.
                                    Tap the button below to proceed to the Business Wizard and we'll walk you through the steps...
                                </p>

                                <br />
                                <a href="#" onclick="SetupDomainProfile()" class="community-button lg btn-success w-auto" style="display: inline-block; margin-bottom: 0;">Set up your public profile</a>
                                <a href="#" data-dismiss="modal" class="community-button lg btn-primary w-auto" style="display: inline-block; margin-bottom: 0;">Finish later</a>

                            </div>
                        </div>
                        <!-- Error -->
                        <div style="width: 800px; max-width: 100%; margin: 30px auto 0 auto; display: none;" id="errordemo">
                            <img src="/Content/DesignStyle/img/warning.png">
                            <br /><br />

                            <div class="mod_title">
                                <h4>Something went wrong</h4>
                            </div>

                            <br />
                            <div class="activity-overview plain rounded">
                                <h5>We were unable to process your transaction. Your Domain hasn't been created yet...</h5>
                                <br />

                                <p>Until payment is complete your registration cannot be finalised. You can hit the button below to try again, or exit this wizard to abandon.</p>

                                <br />
                                <a href="#" onclick="SaveCustomDomain(true)" class="community-button lg btn-success w-auto" style="display: inline-block; margin-bottom: 0;">Try again</a>
                                <a href="#" data-dismiss="modal" class="community-button lg btn-danger w-auto" style="display: inline-block; margin-bottom: 0;">Abandon</a>

                                <br /><br />
                                @*<a href="#" onclick="$('#errordemo').hide(); $('#successdemo').show();" style="font-size: 12px;">Dev only - show success state</a>*@
                            </div>
                        </div>

                    </div>

                </div>
                <!-- END Step 3 -->

            </div>

        </div>
    </div><!-- /.modal-content -->
</div>


<script src="~/Scripts/dev/domain-custom-management.js"></script>
