@using Qbicles.Models;
@using Microsoft.AspNet.Identity.Owin;
@using Qbicles.BusinessRules;
@{
    var currentUserId = (string)ViewBag.CurrentUserId;
    var api = (string)ViewBag.DocRetrievalUrl;
}

@model List<QbicleDomain>
@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        if (item.Status == QbicleDomain.DomainStatusEnum.Open)
        {
            <li>
                <a href="#" onclick="DomainSelected('@item.Key', '')">
                    <div class="mdv2-activity dash" style="padding: 20px;">
                        @if (item.Administrators.Any(x => x.Id == currentUserId))
                        {
                            <span class="label label-lg label-info">Admin</span>
                        }
                        @if (item.QbicleManagers.Any(x => x.Id == currentUserId))
                        {
                            <br /><span class="label label-lg label-info">Manager</span>
                        }

                        <div class="flex-avatar">
                            <div class="col-circleimg">
                                <div class="image" style="background-image: url('@(item.LogoUri == null?"/Content/DesignStyle/img/icon_domain_default.png":api+""+item.LogoUri+"&size=T")');"></div>

                            </div>
                            <div class="col">
                                <h2 style="margin: 5px 0 0 0;">@item.Name</h2>
                                <ul class="breadcrumb" style="margin: 2px 0 0 0;">
                                    <li style="color: #acabbd;">Created on @String.Format("{0}{1} {2:MMM yyyy}", item.CreatedDate.Day, item.CreatedDate.Day.ToOrdinal(), item.CreatedDate)  </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        }

    }

}