@using Qbicles.Models;
@using Qbicles.BusinessRules;
@model List<ApplicationUser>
@{ 
    var api = (string)ViewBag.DocRetrievalUrl;
    var preChar = "";
}
@foreach (var item in Model)
{
    var firstChar = item.Surname[0].ToString().ToUpper();
    if (!preChar.Equals(firstChar))
    {
        preChar = firstChar;
        <li class="letters" style="padding-top: 0;">@firstChar</li>
    }
    <li>
        <a href="#" onclick="$('.contact-list').hide(); $('.contact').fadeIn();ParticipantsDetail('@item.Id')">
            <div class="contact-avatar">
                <div style="background-image: url('@(api+item.ProfilePic)');">&nbsp;</div>
            </div>
            <div class="contact-info">
                <h5>@HelperClass.GetFullNameOfUser(item)</h5>
                @*<p>Bounty Hunters</p>*@
            </div>
        </a>
    </li>
}
