@using Qbicles.BusinessRules;
@using Qbicles.Models;
@model List<UserCustom>
@{
    var api = (string)ViewBag.DocRetrievalUrl;
    var lsUser = Model;
    var extraCol = (Model.Count() % 4 == 0 ? 0 : 4) - Model.Count() % 4;
    var dateFormat = (string)ViewBag.CurrentDateFormat;
}
@if (lsUser != null && lsUser.Any())
{
    lsUser = lsUser.OrderBy(o => o.DisplayUserName).ToList();
    foreach (var item in lsUser)
    {
        <div class="col">
            <a href="/Community/UserProfilePage?uId=@item.Id" class="article-feature">
                <div class="article-feature-img" style="background: url('@(string.IsNullOrEmpty(item.ProfilePic)?"../Content/DesignStyle/img/icon_contact.png": api+item.ProfilePic+"&size=M")');">
                </div>
                <div class="info" style="padding-top: 30px;">
                    <smaller></smaller>
                    <smaller>Added @item.DateBecomesMember.ToString(dateFormat)</smaller>
                    <h1 style="padding-bottom: 5px;">
                        @((string.IsNullOrEmpty(item.Forename) || string.IsNullOrEmpty(item.Surname))
                            ? item.DisplayUserName : item.Forename + " " + item.Surname)
                    </h1>
                    <p class="contact-short-des">@(!string.IsNullOrEmpty(item.Profile) ? item.Profile : "")</p>
                </div>
            </a>
        </div>
    }
    for (int i = 1; i <= extraCol; i++)
    {
        <div class="col">&nbsp;</div>
    }
}