@using Qbicles.BusinessRules
@{
    var lstTags = ((List<MyTagCustom>)ViewBag.Tags) ?? new List<MyTagCustom>();
}
<div class="modal fade right" id="tags-manage" role="dialog" aria-labelledby="tags-manage">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Manage activity tags</h5>
            </div>
            <div class="modal-body">

                <div class="well custom">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="name">Tag with existing tags or add new ones</label>
                                <select id="assigneeTags" name="assigneeTags" class="form-control select2 taginput" multiple style="width: 100%;">
                                    <option value=""></option>
                                    @foreach (var item in lstTags)
                                    {
                                        <option value="@item.Id" Desk-Id="@item.Desk_Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="btn btn-success" onclick="UpdateActivityTags()">Confirm</button>
                <button class="btn btn-danger" data-dismiss="modal">Cancel</button>

            </div>
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->
<input type="hidden" id="hdActivityId" name="hdActivityId" value="" />
<input type="hidden" id="hdIsPost" name="hdIsPost" value="" />