@using Qbicles.BusinessRules
@using Qbicles.Models.Trader
@using Qbicles.Models
@{
    var currentDomain = (QbicleDomain)ViewBag.CurrentDomain;
    var domainId = (int)ViewBag.CurrentDomainId;
    var currencySettings = (Qbicles.Models.CurrencySetting)ViewBag.CurrencySettings;
    var contacts = (List<TraderContact>)ViewBag.TraderContacts;
}
<div class="well custom" style="padding-bottom: 5px;">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-3">
            <div class="form-group">
                <label for="search">Search</label>
                <input type="text" name="search" class="form-control">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3">
            <label for="daterange">Date range</label><br>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input type="text" name="daterange" class="form-control daterange">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3">
            <div class="form-group">
                <label for="contacts">Contact</label>
                <select name="contacts" id="payment-tab-contacts" class="form-control select2">
                    <option value="0" selected>Show all</option>
                </select>
            </div>
        </div>
    </div>
</div>
<br>
<table class="datatable table-striped table-hover" id="tblPayments" style="width: 100%;">
    <thead>
        <tr>
            <th>Reference</th>
            <th>Contact</th>
            <th>Date</th>
            <th>Amount (@currencySettings.CurrencySymbol)</th>
            <th>Status</th>
            <th data-orderable="false">Options</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script>
    $(document).ready(function () {
        setTimeout(function () {
            initSelect2MethodAJAX('payment-tab-contacts', '/Select2Data/GetTraderContact', {}, true);
        }, 200);
    })
</script>