@using Qbicles.Models;
@{
    var currentDomainPlan = (DomainPlan)ViewBag.CurrentDomainPlan ?? null;
    var currentDomainPlanLevel = currentDomainPlan?.Level?.Level ?? BusinessDomainLevelEnum.Free;
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper qbicle-detail mdv2-wrapper" style="position: relative;">


    <!-- Main content -->
    <section class="mdv2 dash" data-tooltip-color="teal" data-tooltip-delay="300" data-tooltip-animate-function="spin" style="border-top: 1px solid #f1f1f1;">

        <!-- App bar -->
        <div class="mdv2-col-app" style="margin-bottom: 0;">
            <div data-spy="affix" class="contained-sidebar">

                <div class="activity-overview plain company-overview welcome-info" style="flex: none; margin: 0; padding: 50px 20px 15px 20px; text-align: left;">

                    <div class="section-detail intro-businesses">
                        <h2 style="font-weight: 500;">Reports</h2>
                        <p style="color: rgba(0, 0, 0, 0.5);">
                            Comprehensive reporting of all your business' sales, purchases and associated processes including invoices
                            and transfers.
                        </p>
                    </div>

                </div>

                <br />
                <div class="spacing" style="padding: 10px 20px;">





                    <h5>Sales &amp; Orders</h5>
                    <hr />
                    <ul class="nav nav-pills traderv2 nav-stacked">
                        <li class="active"><a href="#orders" data-toggle="tab">Order status</a></li>
                        @if (currentDomainPlanLevel >= BusinessDomainLevelEnum.Standard)
                        {
                        <li><a href="#purchase" data-toggle="tab" aria-expanded="false">Purchases</a></li>
                        }
                        @if (currentDomainPlanLevel >= BusinessDomainLevelEnum.Starter)
                        {
                        <li><a href="#sales" data-toggle="tab">Sales</a></li>
                        <li><a href="#invoices" data-toggle="tab">Invoices</a></li>
                        <li><a href="#payments" data-toggle="tab">Payments</a></li>
                        }
                        <li><a href="#transfers" data-toggle="tab">Transfers &amp; delivery</a></li>
                        @if (currentDomainPlanLevel >= BusinessDomainLevelEnum.Standard)
                        {
                        <li>
                            <br /><br />
                            <h5>From Trader</h5>
                            <hr />
                        </li>
                        <li><a href="#bookkeeping" data-toggle="tab">Bookkeeping</a></li>
                        <li><a href="#inventory" data-toggle="tab">Inventory</a></li>
                        }
                    </ul>
                </div>

            </div>
        </div>
        <!-- END App bar -->
        <!-- Main area -->
        <div class="mdv2-col-dash">

            <div class="spacing">

                <div class="row">
                    <div class="col-xs-12">

                        <div class="tab-content">
                            <!-- Orders report -->
                            <div class="tab-pane fade in active" id="orders" style="min-height:200px"></div>
                            <!-- END Orders report -->
                            <!-- Purchase report -->
                            <div class="tab-pane fade" id="purchase" style="min-height:200px"></div>
                            <!-- END Sales report -->
                            <!-- Purchase report -->
                            <div class="tab-pane fade" id="sales" style="min-height:200px"></div>
                            <!-- END Sales report -->
                            <!-- Invoices report -->
                            <div class="tab-pane fade" id="invoices" style="min-height:200px"></div>
                            <!-- END Invoices report -->
                            <!-- Payments report -->
                            <div class="tab-pane fade" id="payments" style="min-height:200px"></div>
                            <!-- END Payments report -->
                            <!-- Transfers report -->
                            <div class="tab-pane fade" id="transfers" style="min-height:200px"></div>
                            <!-- END Transfers report -->
                            <!--Bookkeeping Report-->
                            <div class="tab-pane fade" id="bookkeeping"> </div>
                            <!--END Bookkeeping report-->
                            <!-- Inventory report -->
                            <div class="tab-pane fade" id="inventory"> </div>
                        </div> <!-- ./tab-content -->

                    </div>
                </div>

            </div>

        </div>
        <!-- END Main col -->

    </section>


</div>
<!-- /.content-wrapper -->

<div class="modal fade" id="app-trader-product-group" role="dialog" aria-labelledby="app-trader-product-group" style="z-index:99999"></div><!-- /.modal -->
<div class="modal fade" id="inventory-associated-items-view" role="dialog" aria-labelledby="associated-items-view"></div> <!--modal-->
<div class="modal fade left" id="inventory-report-item" role="dialog" aria-labelledby="inventory-report-item"></div> <!--modal-->



<!-- Modal Top sell-->
<div class="modal fade left" id="app-trader-sales-dash-list-topsell" role="dialog" aria-labelledby="app-trader-sales-dash-list">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="CloseTopSell('app-trader-sales-dash-list-topsell')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Top Sellers by Product Group</h5>
            </div>
            <div class="modal-body">

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal TopMargin-->
<div class="modal fade left" id="app-trader-sales-dash-list-margin" role="dialog" aria-labelledby="app-trader-sales-dash-list">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="CloseTopSell('app-trader-sales-dash-list-margin')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Top margins by Product Group</h5>
            </div>
            <div class="modal-body">

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal TopGrossMargin-->
<div class="modal fade left" id="app-trader-sales-dash-list-grossmargin" role="dialog" aria-labelledby="app-trader-sales-dash-list">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="CloseTopSell('app-trader-sales-dash-list-grossmargin')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Contribution to gross margin by Product Group</h5>
            </div>
            <div class="modal-body">

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->











@{
    <link href="~/Content/DesignStyle/css/bootstrap-multiselect.css" rel="stylesheet" />
    if (System.Diagnostics.Debugger.IsAttached)
    {
    <script src="~/Content/DesignStyle/js/bootstrap-multiselect.js"></script>
    <script src="~/Scripts/dev/businessreports.js"></script>
    }
    else
    {
    <script src="~/Content/DesignStyle/js/bootstrap-multiselect.min.js"></script>
    <script src="~/Scripts/dev/businessreports.js"></script>
    }
}

