
<div class="flex-grid-quarters-lg qbicles-dash-grid theme-labels">

    <article class="col">
        <a href="#" data-toggle="modal" data-target="#app-trader-report-hourly-config">
            <div class="avatar" style="background-image: url('/Content/DesignStyle/img/icon_clock.png');">&nbsp;</div>
            <h1 style="color: #333;">Hourly Sales Report</h1>
        </a>
        <p class="qbicle-detail">View a breakdown of sales hourly over a 24 hour time period.</p>

    </article>
    
    <article class="col">
        <a href="/TraderReports/PosPayment">
            <div class="avatar" style="background-image: url('/Content/DesignStyle/img/icon_tablet.png');">&nbsp;</div>
            <h1 style="color: #333;">POS Payments</h1>
        </a>
        <p class="qbicle-detail">A complete record of payments from all methods to all sources, filterable
            by various criteria.</p>

    </article>

    <article class="col">
        <a href="#" data-toggle="modal" data-target="#app-trader-report-pos-orders-config">
            <div class="avatar" style="background-image: url('/Content/DesignStyle/img/icon_ipad.png');">&nbsp;</div>
            <h1 style="color: #333;">PoS Order History</h1>
        </a>
        <p class="qbicle-detail">Track ongoing and historic orders from the Point of Sale.</p>

    </article>

    <article class="col">
        <a href="#" data-toggle="modal" data-target="#app-trader-report-pos-cash-log-config">
            <div class="avatar" style="background-image: url('/Content/DesignStyle/img/icon_package.png');">&nbsp;</div>
            <h1 style="color: #333;">PoS Cash Log</h1>
        </a>
        <p class="qbicle-detail">View cash log reports for your POS devices.</p>

    </article>

</div>


<div class="modal fade left" id="app-trader-report-pos-orders-config" role="dialog" aria-labelledby="app-trader-report-pos-orders-config">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Configure your order history report</h5>
            </div>
            <div class="modal-body">

                <div class="activity-overview generic help-text animated bounce">
                    <i class="fa fa-info-circle"></i>
                    <p>Please choose the timeframe your report needs to cover.</p>
                </div>

                <div class="activity-overview task" style="padding: 20px;">
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="timeframe">Report timeframe</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input type="text" id="reportTime" name="timeframe" class="form-control datetimerange">
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <a onclick="genarateReportTimeFrame()" class="btn btn-success">Generate</a>
            </div>
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->
@{ 
    <script>
        initDateRange();
    </script>
}