@using Qbicles.Models.Trader.DDS
@using Qbicles.Models.Trader.ODS
@{
    var pageRefreshTime = ViewBag.pageRefreshTime != null ? (int)ViewBag.pageRefreshTime : 20;
}

<div class="content-wrapper qbicle-detail">


    <!-- Main content -->
    <section class="content">

        <br /><br />

        <div class="mod_title">
            <h5 style="padding-bottom: 8px;">Trader Point of Sale Order History</h5>
            <h4>@ViewBag.TitleDate</h4>
        </div>


        <div class="app_filter">
            <div class="row">
                <div class="col-xs-12">
                    <a href="/Trader/AppTrader" onclick="setTabTrader('reports')" class="btn btn-primary"><i class="fa fa-angle-up"></i> &nbsp; Trader Reports</a>
                    <a href="javascript:void(0)" onclick="printPDF()" class="btn btn-info"><i class="fa fa-print"></i> &nbsp; Print</a>
                    <a href="javascript:void(0)" onclick="exportPDF()" class="btn btn-warning"><i class="fa fa-file-text-o"></i> &nbsp; Export as PDF</a>
                </div>
            </div>
        </div>


        <br />

        <div class="col-xs-12">
            <div class="well custom">
                <div class="row">
                    <div class="col-xs-12 col-sm-3">
                        <label>Refresh every</label><br />
                        <div class="input-group">
                            <input type="number" id="pageRefreshTime" class="form-control" onchange="changePageRefreshTime()" value="@pageRefreshTime" min="5"/>
                            <span class="input-group-addon">seconds</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <label>Show completed orders</label><br />
                        <div class="checkbox toggle">
                            <label>
                                <input id="isCompletedShown" data-toggle="toggle" data-onstyle="success" type="checkbox" onchange="$('.completed').toggle(); $('#pos-order-table').DataTable().ajax.reload()">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="order-table">
            <div class="col-xs-12">
                <br />
                <table class="datatable table-striped table-hover" id="pos-order-table" style="width: 100%;">
                    <thead>
                        <tr>
                            <th data-priority="1">Order #</th>
                            <th data-priority="1">Status</th>
                            <th data-priority="2">Items</th>
                            <th data-priority="1">Total</th>
                            <th data-priority="3" data-orderable="false">Queued</th>
                            <th data-priority="4" data-orderable="false" style="width: 150px;">Pending</th>
                            <th data-priority="4" data-orderable="false" style="width: 150px;">Preparing</th>
                            <th data-priority="4" data-orderable="false" style="width: 150px;">Completion</th>
                            <th data-priority="4" data-orderable="false" style="width: 150px;">Delivery status</th>
                            <th data-priority="1">Payment</th>
                            <th data-priority="1" data-orderable="false">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>


            </div>
        </div>


    </section>
    <!-- ./content -->

</div>
<div class="modal fade left" id="create-discussion-pos" role="dialog" aria-labelledby="create-discussion-pos">

</div><!-- /.modal -->
<div class="modal fade left" id="pos-order-summary" role="dialog" aria-labelledby="pos-order-summary">

</div><!-- /.modal -->
<script src="~/Content/DesignStyle/js/jquery.timer.js"></script>
<script src="~/Content/DesignStyle/js/html2canvas.js"></script>
<script src="~/Scripts/dev/trader.report.posorder.js"></script>
<script>
    function refreshPage() {
        location.reload();
    }
    $(document).ready(function () {
        var timeToRefreshPage = Number($("#pageRefreshTime").val()) * 1000;
        window.setTimeout(refreshPage, timeToRefreshPage);
    });
</script>

