@{
   
}
   
        @Html.Raw(ViewBag.GroupAccountTree)
    

<script>

        if (jQuery().jstree) {

            $('#jstree_id').jstree({
                "core": {
                    "themes": {
                        "dots": true,
                        "stripes": false,
                        "variant": "large"
                    }
                },
                "search": {
                    "case_insensitive": true,
                    "show_only_matches": true
                },
                "plugins": ["themes", "search", "html_data", "ui", "wholerow"]
            });
            //$("#jstree_id").jstree("close_all");
            //$('.jstree').jstree('open_all');
            $('#jstree_id').on('select_node.jstree', function (e, data) {
                data.instance.toggle_node(data.node);
            }).on("select_node.jstree", function (e, data) {
                if (data.instance.get_node(data.node, true).children('a').attr('href') !== '#') {
                    document.location = data.instance.get_node(data.node, true).children('a').attr('href');
                }
            });

            $('.treeview').show();

            //var showtree = function () {
            //    $('#jstree_id').fadeIn(500);
            //};
            //setTimeout(showtree, 200);

            $(".search-tree").keyup(function () {
                var searchString = $(this).val();
                $('#jstree_id').jstree('search', searchString);
            });
        }
        
        $('#jstree_id').on("select_node.jstree", function (evt, data) {

            //$('#content').html("<div class='text-center' style='margin-top: 50px;'><img src='/Content/DesignStyle/img/loading.gif' class='loader'></div>");
            //var type = data.node.data.node;
            var value = data.node.data.value;
            //var selectedNote = data.node.data;
            //$('#edit_group_name').val(selectedNote.name);
            CleanBooksBKChartOfAccountContent(value);

            //$('.datatable').dataTable();

            if ($(document).width() < 978) {
                $('html, body').animate({
                    scrollTop: $('#content').offset().top - 120
                }, 'slow');
            }

        });

        $('#jstree_id').jstree("deselect_all");
    
</script>
