@using Qbicles.Models.Trader;
@model List<TraderAddress>
<div class="activity-overview plain rounded profile-media">

    <div class="titlezone" style="margin-bottom: 15px;">
        <h5>My addresses</h5>
    </div>

    <br />

    @if (Model.Count <= 0)
    {
        <div id="noaddresses">

            <div class="activity-overview generic help-text animated fadeIn">
                <i class="fa fa-info-circle"></i>
                <p>
                    <strong style="display: block; padding-bottom: 10px;">Why add my address?</strong>
                    Saving one or more addresses here will speed up your checkout process when ordering in Qbicles. Your default address will be automatically
                    set as your delivery address, with any others you supply here included as alternate choices. This information won't be publicly available
                    in your profile.
                </p>
            </div>

            <button data-toggle="modal" data-target="#user-address-add" class="btn btn-success community-button w-auto" onclick="CreateEditUserAddressShow(0)"><i class="fa fa-plus"></i> &nbsp; Add an address</button>

        </div>
    }
    else
    {
        <div id="addresses">

            <table class="datatable table-striped table-hover" id="tbl-address-list" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Address</th>
                        <th data-orderable="false">Default address</th>
                        <th data-orderable="false">Options</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

            <br />
            <button class="btn btn-success" onclick="CreateEditUserAddressShow(0)"><i class="fa fa-plus"></i> &nbsp; Add an address</button>

        </div>
        <script>
            loadUserAddresses();
        </script>
    }


</div>
