@using Qbicles.Models.UserInformation;
@model Showcase

<input id="showcase-id" type="hidden" value="@(Model?.Key ?? "0")" />
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title">@(Model != null && Model.Id > 0 ? "Edit a Showcase to your profile" : "Add a Showcase to your profile")</h5>
        </div>
        <form id="add-edit-sc-frm">
            <div class="modal-body">

                <div class="activity-overview generic help-text animated bounce">
                    <i class="fa fa-info-circle"></i>
                    <p>
                        <strong style="display: block; padding-bottom: 10px;">Showcasing yourself</strong>
                        Show off your holiday snaps, or even portfolio items here to make your profile more engaging for visitors.
                    </p>
                </div>

                <div class="well custom" style="padding-bottom: 5px;">
                    <div class="form-group">
                        <label for="skill">
                            Image &nbsp;
                            <i class="fa fa-info-circle blue" data-tooltip-stickto="right" data-tooltip-maxwidth="200" data-tooltip-color="teal"
                               data-tooltip="If available, use a big high resolution image. Visitors will be able to tap to see a larger version"></i>
                        </label>
                        <input type="file" name="image" id="sc-img" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="skill">Title</label>
                        <input type="text" name="title" id="sc-title" class="form-control" value="@(Model?.Title ?? "")">
                    </div>
                    <div class="form-group">
                        <label for="skill">Caption</label>
                        <input type="text" name="cap" id="sc-caption" class="form-control" value="@(Model?.Caption ?? "")">
                    </div>

                </div>

                <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button class="btn btn-success" type="submit">Confirm</button>

            </div>
        </form>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script src="~/Content/DesignStyle/js/html5tooltips.js"></script>
@{

    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/qbicle.user.js"></script>
    }
    else
    {
        <script src="~/Scripts/dev/qbicle.user.js"></script>
    }
}

<script>
    intiAddingShowcaseForm();
</script>
