@using Qbicles.Models.UserInformation;
@model List<Skill>

@foreach (var skillItem in Model)
{
    <div class="skill">
        <div class="rating">@skillItem.Proficiency</div>
        <span>@skillItem.Name</span>
        <div class="endorsements">
            <button class="btn btn-transparent pull-right" onclick="deleteSkills('@skillItem.Key')"><i class="fa fa-remove"></i></button>
        </div>
    </div>
}

