@using Qbicles.Models.Highlight
@using Qbicles.Models.Qbicles
@model HighlightLocation
@{
    List<Country> lstLocationCountries = (List<Country>)ViewBag.lstLocationCountries;
}
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <input type="hidden" id="locationId" value="@(Model?.Id ?? 0)" />
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @if (Model == null)
            {
                <h5 class="modal-title">Add new Location</h5>
            }
            else
            {
                <h5 class="modal-title">Edit Location</h5>
            }

        </div>
        <div class="modal-body">
            <form class="form-group" id="form-listinglocation">
                <div class="well custom">

                    <div class="row">

                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="Name">Location Name <span class="red">*</span></label>
                                <input type="text" name="Name" id="location-name" required class="form-control" value="@(Model?.Name ?? "")">
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="Name">Country <span class="red">*</span></label>
                                <select id="location-group" name="locationgroup" class="select2 form-control" required aria-invalid="true" style="width: 100%;" tabindex="-1">
                                    <option value=""></option>
                                    @foreach (var countryItem in lstLocationCountries)
                                    {
                                        var isSelected = "";
                                        if (Model != null)
                                        {
                                            isSelected = Model.Country?.CommonName == countryItem.CommonName ? "selected" : "";
                                        }

                                        <option value="@countryItem.CommonName" @isSelected>@countryItem.CommonName</option>
                                    }
                                </select>
                                <label id="location-group-error" style="display:none" class="error" for="location-group">This field is required.</label>
                            </div>
                        </div>
                    </div>

                </div>

                <br />
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-success">Confirm</button>

            </form>

        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

@if (System.Diagnostics.Debugger.IsAttached)
{
    <script src="~/Scripts/dev/administration.hlsetup.js"></script>
}
else
{
    <script src="~/Scripts/dev/administration.hlsetup.min.js"></script>
}

<script>
    $(document).ready(function () {
        $("#location-group").select2();
        initListingLocationFormToSave();
    });
</script>


