@using Qbicles.Models
@model BusinessCategory
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <input type="hidden" id="businessCategoryId" value="@(Model?.Id ?? 0)" />
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @if (Model == null)
            {
                <h5 class="modal-title">Add a Category</h5>
            }
            else
            {
                <h5 class="modal-title">Edit Category</h5>
            }

        </div>
        <div class="modal-body">
            <form class="form-group" id="form-businesscategory">
                <div class="well custom">

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="safe-name">Category Name <span class="red">*</span></label>
                                <input type="text" name="Name" required class="form-control" value="@(Model?.Name ?? "")">
                            </div>
                        </div>
                        <br />
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success">Confirm</button>
                    </div>

                </div>
            </form>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script>
    $(document).ready(function () {
        initBusinessCategoryFormToSave();
    });
</script>