<div class="well custom" style="padding-bottom: 5px;">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-3">
            <div class="form-group">
                <label for="search">Search</label>
                <input type="text" name="bSearch" id="groupname-search" onchange="initCountriesTable()" class="form-control">
            </div>
        </div>
    </div>
</div>
<br />

<table class="datatable table-hover table-striped" id="countries-list-table" style="width: 100%;">
    <thead>
        <tr>
            <th data-priority="1">Name</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<!--Modal-->
<div class="modal fade left" id="add-edit-locationgroup_modal" role="dialog" aria-labelledby="add-edit-locationgroup_modal"></div>
<!--End Modal-->

@if (System.Diagnostics.Debugger.IsAttached)
{
    <script src="~/Scripts/dev/administration.hlsetup.js"></script>
}
else
{
    <script src="~/Scripts/dev/administration.hlsetup.min.js"></script>
}

<script>
    $(document).ready(function () {
        initCountriesTable();
    });
</script>
