@using Qbicles.Models.Highlight
@using Qbicles.Models.Qbicles
@{
    List<Country> listCountries = (List<Country>)ViewBag.lstCountries;
}

<div class="well custom" style="padding-bottom: 5px;">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-3">
            <div class="form-group">
                <label for="search">Search</label>
                <input type="text" id="location-search-key" onchange="initListingLocationTable()" name="bSearch" class="form-control">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3">
            <div class="form-group">
                <label for="creator">Country</label>
                <select id="locationgroup" onchange="initListingLocationTable()" class="form-control select2" style="width: 100%;">
                    <option value=" " selected>Show all</option>
                    @foreach (var countryItem in listCountries)
                    {
                        <option value="@countryItem.CommonName">@countryItem.CommonName</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3">
            <label>Options</label>
            <br>
            <div class="form-group">

                <div class="btn-group options">
                    <button class="btn btn-success" onclick="ShowAddEditLocationModal(0)"><i class="fa fa-plus"></i> &nbsp; Add new</button>
                </div>

            </div>
        </div>
    </div>
</div>
<br />

<table class="datatable table-hover table-striped" id="listing-location-table" style="width: 100%;">
    <thead>
        <tr>
            <th data-priority="1">Name</th>
            <th data-priority="2">Group</th>
            <th data-priority="1" data-orderable="false">Options</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<!--Modal-->
<div class="modal fade left" id="add-edit-location_modal" role="dialog" aria-labelledby="add-edit-location_modal"></div>
<!--End Modal-->

@if (System.Diagnostics.Debugger.IsAttached)
{
    <script src="~/Scripts/dev/administration.hlsetup.js"></script>
}
else
{
    <script src="~/Scripts/dev/administration.hlsetup.min.js"></script>
}

<script>
    $(document).ready(function () {
        $("#locationgroup").select2();
        initListingLocationTable();
    });
</script>
