@using Qbicles.Models
@{
    List<ApplicationUser> creatorList = (List<ApplicationUser>)ViewBag.creatorLst;
}
<div class="well custom" style="padding-bottom: 5px;">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-3">
            <div class="form-group">
                <label for="search">Search</label>
                <input type="text" id="keysearch" onchange="initPropertyTypeTable()" name="bSearch" class="form-control">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3">
            <div class="form-group">
                <label for="creator">Creator</label>
                <select name="creator" id="propertycreator" onchange="initPropertyTypeTable()" class="form-control select2" style="width: 100%;">
                    <option value="" selected>Show all</option>
                    @foreach (var creatorItem in creatorList)
                    {
                        if (creatorItem != null)
                        {
                            <option value="@creatorItem.Id">@(creatorItem.Forename ?? "") @(creatorItem.Surname ?? "")</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3">
            <label>Options</label>
            <br>
            <div class="form-group">

                <div class="btn-group options">
                    <button class="btn btn-success" onclick="ShowAddEditPropertyTypeModal(0)"><i class="fa fa-plus"></i> &nbsp; Add new</button>
                </div>

            </div>
        </div>
    </div>
</div>
<br />

<table class="datatable table-hover table-striped" id="propertyType-table" style="width: 100%;">
    <thead>
        <tr>
            <th data-priority="1">Property type</th>
            <th data-priority="2">Created by</th>
            <th data-priority="1" data-orderable="false">Options</th>
        </tr>
    </thead>
    <tbody>
        @*<tr>
                <td>Bungalow</td>
                <td><a href="#">Ike Enenmoh</a></td>
                <td>
                    <button class="btn btn-warning"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td>Detached</td>
                <td>System</td>
                <td>
                    <button class="btn btn-warning"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td>Duplex</td>
                <td>System</td>
                <td>
                    <button class="btn btn-warning"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td>Semi-detached</td>
                <td>System</td>
                <td>
                    <button class="btn btn-warning"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
                </td>
            </tr>*@
    </tbody>
</table>

<!--Modal-->
<div class="modal fade left" id="add-edit-propertytype_modal" role="dialog" aria-labelledby="add-edit-propertytype_modal"></div>
<!--End Modal-->

@if (System.Diagnostics.Debugger.IsAttached)
{
    <script src="~/Scripts/dev/administration.hlsetup.js"></script>
}
else
{
    <script src="~/Scripts/dev/administration.hlsetup.min.js"></script>
}

<script>
    $("#propertycreator").select2();
    $(document).ready(function () {
        initPropertyTypeTable();
    });
</script>
