@{
    Layout = null;
    var domainKey = (string)ViewBag.DomainKey;
    var planCode = (string)ViewBag.PlanCode;
    var currentUserId = (string)ViewBag.UserId;

    var remoteIp = (string)ViewBag.RemoteIpAddress;
    var userRequestIp = (string)ViewBag.UserRequestIp;
}

<input type="hidden" value="@remoteIp" id="remote-ip" />
<input type="hidden" value="@userRequestIp" id="user-request-ip" />

<h2>Remote Ip: @remoteIp </h2>
<h2>User Request IP: @userRequestIp </h2> 
<h2>Plan Code: @planCode </h2>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="~/Scripts/toastr/cleanBookNotification.min.js"></script>
<script src="~/Scripts/toastr/cleanBookNotification.min.js"></script>
<script src="~/Scripts/dev/common-controller.js"></script>
<link href="~/Scripts/toastr/toastr.min.css" rel="stylesheet" />
<script src="~/Scripts/toastr/toastr.min.js"></script>
<script src="~/Content/DesignStyle/js/loadingoverlay.min.js"></script>
<script>

    $("#start-loading-overlay-btn", window.parent.document).click();

    $(document).ready(function () {
        processDomainAndSubscriptionCreation();
    })


    function processDomainAndSubscriptionCreation() {
        var _url = "/Paystack/ProcessSubscriptionAndDomainCreation"
        $.ajax({
            method: 'POST',
            dataType: 'JSON',
            url: _url,
            data: {
                'planCode': '@planCode',
                'userId': '@currentUserId'
            },
            success: function (response) {
                if (response.result && response.Object != '') {
                    $('#domain-created-key', window.parent.document).val(response.Object);
                    $("#tab5link", window.parent.document).addClass('done').removeClass('active');
                    $('#tabdemo', window.parent.document).hide();
                    $('#tab6', window.parent.document).addClass('in active');
                } else {
                    alert('wrong');
                }
            },
            error: function (err) {
                alert('wrong');
            }
        }).then(function () {
            $("#stop-loading-overlay-btn", window.parent.document).click();
        })
    }
</script>