@using Qbicles.BusinessRules
@using Qbicles.Models.Trader.PoS
@using Qbicles.Models.Trader.SalesChannel;
@using Qbicles.Models.Catalogs;
@using Qbicles.BusinessRules.Helper;
@model Catalog
@{
    var catalogItemImage = string.IsNullOrEmpty(Model.Image) ? ConfigManager.CatalogDefaultImage : Model.Image;
    Model.Image = HelperClass.ToDocumentUri(catalogItemImage).ToString();
}

<div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="background: #f5f5f5;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body pricing">
                <div class="qbicles-dash-grid" style="width: 450px; max-width: 100%; margin: 0 auto;">
                    <article class="col" style="border-radius: 10px; overflow: hidden;">
                        <div class="avatar" style="background-image: url('@(Model.Image)&size=S');">&nbsp;</div>
                        <h1 style="color: #333; margin-bottom: 5px;">@Model.Name</h1>
                        <div style="padding: 10px 0;">
                            <label class="label label-lg label-primary">@Model.SalesChannel.ToString() @Model.Type.ToString() Catalog</label>
                        </div>
                    </article>
                </div>
                
                
                <br />
                
                <div class="activity-overview plain" style="padding: 20px;">
                    
                    <div class="getstarted">
                        <h5>Get started</h5>
                        <p>Add a Product Group below to get started. You will be given a choice of Catalogue Categories to associate with the imported items.</p>
                        
                        <br />
                        <button class="btn btn-success community-button sm w-auto" onclick="$('.getstarted').hide(); $('.started').show(); initRow(); "><i class="fa fa-plus"></i> &nbsp; Add new</button>
                    </div>
                    

                    <div class="started animated fadeIn" style="margin-top: 10px; display: none;">
                        <table id="import-table-product-groups" class="datatable table-hover" data-searching="false" data-info="false" data-paging="false" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th class="tweak-select2-custom" data-orderable="false">Product Group</th>
                                    <th class="tweak-select2-custom" data-orderable="false">Catalogue Category</th>
                                    <th data-orderable="false">Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="tweak-select2-custom">
                                        <div class="form-group pgrouping" style="margin: 0;">
                                            <select name="pgroup" class="form-control select2 import-pgroup" style="width: 100%;" onchange="$('.cgrouping').show();">
                                            </select>
                                        </div>
                                    </td>
                                    <td class="tweak-select2-custom">
                                        <div class="form-group cgrouping" style="margin: 0;">
                                            <select name="cgroup" class="form-control select2 import-cgroup" style="width: 100%;" onchange="$('.proceedtoimport').show();">
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <button class="btn btn-soft" onclick="$(this).closest('tr').remove();updateProductGroups()"><i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <div style="margin: 25px 0 0 0;">
                            <button class="btn btn-success community-button w-auto" onclick="initNewRow()"><i class="fa fa-plus"></i> &nbsp; Add another</button>
                            <button class="btn btn-danger community-button w-auto" onclick="resetRow()"><i class="fa fa-trash"></i> &nbsp; Clear all</button>
                            <button class="btn btn-primary community-button w-auto proceedtoimport" style="display: none;" 
                            onclick="importNow();">
                                Import now 
                                <span class="importing" style="display: none;">&nbsp; <i class="fa fa-spinner fa-spin"></i></span>
                            </button>
                        </div>
                    </div>
                </div>
                
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

    <script>
        initImportProductFunction();
    </script>
    <style>
        .tweak-select2-custom {
            width: 45% !important;
        }
        .tweak-select2-custom .select2-selection--single {
        overflow: hidden;
        }
        .tweak-select2-custom .select2-selection__rendered{
        word-wrap: break-word !important;
        text-overflow: inherit !important;
        white-space: normal !important;
        }
    </style>