@using Qbicles.Models.Catalogs;
@model List<Category>

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title">Refresh prices</h5>
        </div>
        <div class="modal-body">

            <div class="well custom">
                <div class="form-group" style="margin: 0;">
                    <label for="name">Choose product groups to include</label>
                    <select id="categories-refresh" class="form-control checkmulti categories" multiple>
                        @foreach (var category in Model.OrderBy(e => e.Name))
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                </div>
            </div>

            <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
            <button onclick="RefreshPrices()" data-dismiss="modal" class="btn btn-success">Confirm</button>

        </div>
    </div><!-- /.modal-content -->
</div>
<script>
    $(".checkmulti").multiselect({
        includeSelectAllOption: true,
        enableFiltering: true,
        buttonWidth: '100%',
        maxHeight: 400,
        enableClickableOptGroups: true
    }).multiselect('selectAll', false).multiselect('updateButtonText');
</script>