@using Qbicles.BusinessRules
@using Qbicles.Models.Trader.PoS
@using Qbicles.Models.Trader.SalesChannel;
@using Qbicles.Models.Catalogs;
@model Catalog
@{

}

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title">Devices using @Model.Name</h5>
        </div>
        <div class="modal-body">

            <table class="datatable table-striped" id="table-menu-devices-modal" style="width: 100%;" data-order='[[ 0, "asc" ]]'>
                <thead>
                    <tr>
                        <th>Device name</th>
                        <th>Description</th>
                        <th>Status</th>
                        @*<th data-orderable="false">Options</th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var device in Model.Devices.OrderBy(e => e.Name))
                    {
                        <tr>
                            <td>@device.Name</td>
                            <td>@Html.Raw(device.Summary)</td>
                            <td>
                            <span class="label label-@device.Status.GetClass() label-lg">
                                @device.Status.GetDescription()
                                </span>
                            </td>
                            @*<td><button class="btn btn-soft"><i class="fa fa-cog"></i></button></td>*@
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div><!-- /.modal-content -->
</div>

<script>
    $("#table-menu-devices-modal").DataTable({
        //responsive: false,
        //searching: true,
        //paging: true,
        //scrollX: false,
        //scrollY: false,
        //info: true,
        //initComplete: function (settings, json) {
        //    $('.dataTables_scrollBody thead tr').css({ visibility: 'collapse' });
        //},
        //columnDefs: [
        //    { width: 300, targets: 0 }
        //],
        //fixedColumns: false,
        //scrollCollapse: false,
        //ordering: true,
        "language": {
            "lengthMenu": "_MENU_ &nbsp; per page"
        }
    });
</script>