<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Live</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://qbicles-core-job.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>qbicles-core-job.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>qbicles-core-job</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>$qbicles-core-job</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="Qbicles.BusinessRules.Model.ApplicationDbContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Qbicles.BusinessRules.Model.ApplicationDbContext, Qbicles.BusinessRules" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=127.0.0.1;Port=3306;Database=qbicles.prod;Uid=root;Pwd=1234;AllowUserVariables=true;Convert Zero Datetime=true;Charset=utf8mb4;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=127.0.0.1;Port=3306;Database=qbicles.prod;Uid=root;Pwd=1234;AllowUserVariables=true;Convert Zero Datetime=true;Charset=utf8mb4;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="hangfire" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
 <PreSource Path="Server=127.0.0.1;Port=3306;Database=qbicles.job;Uid=root;Pwd=1234;AllowUserVariables=true;Convert Zero Datetime=true;Charset=utf8mb4;default command timeout=120;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\hangfire_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=127.0.0.1;Port=3306;Database=qbicles.job;Uid=root;Pwd=1234;AllowUserVariables=true;Convert Zero Datetime=true;Charset=utf8mb4;default command timeout=120;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
            <PreSource Path="Server=127.0.0.1;Port=3306;Database=qbicles.jobs;Uid=root;Pwd=1234;AllowUserVariables=true;Convert Zero Datetime=true;Charset=utf8mb4;default command timeout=120;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\hangfire_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=127.0.0.1;Port=3306;Database=qbicles.jobs;Uid=root;Pwd=1234;AllowUserVariables=true;Convert Zero Datetime=true;Charset=utf8mb4;default command timeout=120;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" /></UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)hangfire-Web.config Connection String" />
    <MSDeployParameterValue Include="Qbicles.BusinessRules.Model.ApplicationDbContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Qbicles.BusinessRules.Model.ApplicationDbContext" />
  </ItemGroup>
</Project>