@model Qbicles.Models.Bookkeeping.BookClosure
@{
    var datetimeFormat = (string)ViewBag.CurrentDateTimeFormat;
}

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title">Close Books</h5>
        </div>
        <div class="modal-body">

            <div class="app_upper_dash text-center">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="stat_label">
                            <span>Last closure</span>
                            <h3>@(Model?.ClosureDate.ToString(datetimeFormat) ?? "N/A")</h3>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="stat_label">
                            <span>Current date &amp; time</span>
                            <h3>@DateTime.Now.ToString(datetimeFormat)</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="well custom">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <label for="closure">Select closure</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input id="close-date-select" type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>

            <br />
            <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
            <button class="btn btn-success" onclick="CloseBookConfirm()">Confirm</button>


        </div>
    </div> <!-- /.modal-content -->
</div>

<script>
    $('#close-date-select').daterangepicker({
        singleDatePicker: true,
        maxDate: new Date(),
        timePicker: true,
        autoApply: true,
        showDropdowns: true,
        autoUpdateInput: true,
        cancelClass: "btn-danger",
        opens: "left",
        locale: {
            cancelLabel: 'Clear',
            format: getDateTimeFormat()
        }
    }).on('apply.daterangepicker',
        function(e, picker) {
            var startDate = picker.startDate.format(getDateTimeFormat());
            $("#close-date-confirm").text(startDate);
        });

</script>