@model List<Qbicles.Models.Bookkeeping.BKAccount>
@{

}


<div class="activity-overview generic help-text animated bounce">
    <i class="fa fa-info-circle"></i>
    <p>
        Select the account you want to pull transactions from. <br />These transactions will be merged into <strong class="account-1-name">Account 1</strong>.
        <br />Please note that
        once the merge is complete, the origin account you select will be deleted. <br />This action cannot be undone.
    </p>
</div>

<div class="well custom" style="padding-bottom: 5px;">
    <div class="well custom">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group" style="margin: 0;">
                    <label for="source">Choose the account you wish to import transactions from</label>
                    <select id="merge-account-select" class="form-control select2" style="width: 100%;" onchange="ShowAccountDetail()">
                        <option value=""></option>
                        @foreach (var account in Model.OrderBy(n=>n.Number))
                        {
                            <option value="@account.Id">@account.Number-@account.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="account-detail-preview prepare" style="display: none; margin-top: 20px;">
            <p>This account is associated with:</p>
            <ul class="unstyled account-detail-content" style="font-family: 'Roboto', arial; font-size: 14px;">
                
            </ul>

            <div class="form-group" style="margin: 30px 0 0 0;">
                <label for="confirm">Please check to confirm you want to proceed...</label><br />
                <input id="confirm-check" type="checkbox" onchange="OnchangeConfirmMerge(this)" />
            </div>
        </div>

    </div>
</div>

<button class="btn btn-danger" data-dismiss="modal">Cancel</button>
@if (Model.Any())
{
    <button id="merge-button" class="btn btn-success hidden" onclick="MergeAccountNow()">Merge now</button>
}



<script>
    $("#merge-account-select").select2();
</script>