<div class="flex-grid-thirds-lg flattened">
    <div class="col">
        <a href="#" class="coa-overview text-center">
            <div class="grid-list-content coa-item coa-overview-detail" style="padding-top: 45px; padding-bottom: 35px;">
                <div class="cb-grid-details">
                    <img src="~/Content/DesignStyle/img/icon_trader.png">
                    <br><br>
                    <h3>Income statement</h3>
                    <p>Analyse your income and expenditure to determine your profitability with a customised Income Statement template.</p>
                    <br>
                    <button type="button" onclick="loadManageTemplate()" class="btn btn-primary community-button" data-toggle="modal" data-target="#report-usage-income"><i class="fa fa-cogs"></i> &nbsp; Manage Template</button>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="#" class="coa-overview text-center">
            <div class="grid-list-content coa-item coa-overview-detail" style="padding-top: 45px; padding-bottom: 35px;">
                <div class="cb-grid-details">
                    <img src="~/Content/DesignStyle/img/icon_statement.png">
                    <br><br>
                    <h3>Balance sheet</h3>
                    <p>Covers what you own (assets), your debts (liabilities) and your investments (equity) in a fully customisable report.</p>
                    <br>
                    <button type="button" class="btn btn-primary community-button" data-toggle="modal" data-target="#report-usage-balance"><i class="fa fa-cogs"></i> &nbsp; Manage Template</button>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="" class="coa-overview text-center">
            <div class="grid-list-content coa-item coa-overview-detail" style="padding-top: 45px; padding-bottom: 35px;">
                <div class="cb-grid-details">
                    <img src="~/Content/DesignStyle/img/icon_review.png">
                    <br><br>
                    <h3>Expenses by vendor summary</h3>
                    <p>Build a new template for viewing your expenses for each vendor as a way of performing some quick analysis.</p>
                    <br>
                    <button type="button" class="btn btn-primary community-button" data-toggle="modal" data-target="#report-usage-balance"><i class="fa fa-cogs"></i> &nbsp; Manage Template</button>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="modal fade left in" id="report-usage-income" role="dialog" aria-labelledby="report-usage-income" style="display: none;">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h5 class="modal-title">Income Report configuration</h5>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-3">

                        <div class="activity-overview generic help-text animated bounce">
                            <i class="fa fa-info-circle"></i>
                            <p>
                                <strong>Configuring your report</strong><br><br>
                                You can manage the display of your report using the tools provided here. You will see a list of all the headings from your Chart of Accounts,
                                and have the ability to move Expense headings underneath specific Revenue headings to create a subtotal within your report. To add an Expense
                                under a Revenue heading, simply click the "+" icon and provide a title for your new subtotal.
                            </p>
                            <br>
                            <p>
                                <strong>Timeframes and Filters</strong><br><br>
                                You will be able to apply filters and timeframes to the report itself, along with specifying what headings should include subheadings in the
                                report display.
                            </p>
                        </div>

                    </div>
                    <div id="modal-content-repconfig" style="min-height:400px" class="col-xs-12 col-sm-8 col-md-9">
                    </div>
                </div>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<div class="modal fade" id="report-usage-balance" role="dialog" aria-labelledby="report-usage-balance">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h5 class="modal-title">Balance Sheet configuration</h5>
            </div>
            <div class="modal-body">

                <div class="activity-overview task" style="padding: 20px; margin-bottom: 15px;">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="period">Report period</label>
                                <select name="period" class="form-control select2 report_date_type select2-hidden-accessible" style="width: 100%;" data-placeholder="Limit report to a date range" onchange="if($(this).val() == 'Custom') { $('.date_type_2').show(); } else { $('.date_type_2').hide(); }" tabindex="-1" aria-hidden="true">
                                    <option value=""></option>
                                    <option value="Today">Today</option>
                                    <option value="Custom">Custom date</option>
                                </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-period-gi-container"><span class="select2-selection__rendered" id="select2-period-gi-container"><span class="select2-selection__placeholder">Limit report to a date range</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                            </div>
                        </div>
                        <div class="date_type_2" style="display: none;">
                            <div class="col-xs-12">
                                <label for="start_date">Choose the date to report on</label><br>
                                <div class="input-group" style="margin-bottom: 15px;">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" name="start_date" class="form-control singledate">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group" style="margin-bottom: 0;">
                                <label for="dimensions">Reporting Filter(s)</label>
                                <select name="dimensions" class="form-control select2 select2-hidden-accessible" multiple="" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                    <option value=""></option>
                                    <optgroup label="Divisions">
                                        <option value="Logistics">Logistics</option>
                                        <option value="Manufacturing">Manufacturing</option>
                                    </optgroup>
                                    <optgroup label="Locations">
                                        <option value="Lagos">Lagos</option>
                                        <option value="Lekki">Lekki</option>
                                        <option value="London">London</option>
                                    </optgroup>
                                </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--multiple" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="-1"><ul class="select2-selection__rendered ui-sortable"><li class="select2-search select2-search--inline ui-sortable-handle"><input class="select2-search__field" type="search" tabindex="0" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" role="textbox" aria-autocomplete="list" placeholder="Please select" style="width: 100px;"></li></ul></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                            </div>
                        </div>
                    </div>
                </div>

                <a href="app_bookkeeping_report_balance.php" class="btn btn-success"><i class="fa fa-play"></i> &nbsp; Generate report</a>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
