<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title">Chart of Accounts</h5>
        </div>
        <div class="modal-body">

            <div class="activity-overview generic treeview">

                <h5>Account finder</h5>
                <p>Use this tool to quickly find accounts within your Chart of Accounts. You can search by account name or number too.</p>

                <div class="form-group" style="padding-top: 10px;">
                    <input type="text" name="search-tree" class="search-tree form-control" placeholder="Search for...">
                </div>
                <div class="jstree" id="jstree_id">
                    @Html.Raw(ViewBag.AccountTreeView)
                </div>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->



@if (ViewBag.CallBack == true)
{
    <script>
        $('#jstree_id').jstree({
            "core": {
                "themes": {
                    "dots": true,
                    "stripes": false,
                    "variant": "large"
                }
            },
            "search": {
                "case_insensitive": true,
                "show_only_matches": true
            },
            "plugins": ["themes", "search", "html_data", "ui", "wholerow"]
        });


        //$('.jstree').jstree('open_all');
        $('.jstree').on('select_node.jstree', function (e, data) {
            data.instance.toggle_node(data.node);
        }).on("select_node.jstree", function (e, data) {
            if (data.instance.get_node(data.node, true).children('a').attr('href') != '#') {
                document.location = data.instance.get_node(data.node, true).children('a').attr('href');
            }
        });

        var showtree = function () {
            $('.treeview').fadeIn(800);
        };
        setTimeout(showtree, 200);

        $(".search-tree").keyup(function () {
            var searchString = $(this).val();
            $('.jstree').jstree('search', searchString);
        });
    </script>
}
