<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- Add log4net config section-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=127.0.0.1;Port=3307;Database=qbicles.dev1;Uid=qbicles;Pwd=@qbiclesqaywsx;AllowUserVariables=true;Convert Zero Datetime=true;Charset=utf8mb4;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="LoggingDebugSet" value="true" />
    <!-- Qbicles Application URLs-->
    <!-- localhost -->
    <add key="DocumentsAPI" value="http://localhost:1070/" />
    <add key="HubUrl" value="http://localhost:51541/signalr" />
    <add key="QbiclesJobAPI" value="http://localhost:19740" />
    <add key="AuthHost" value="http://localhost:11880" />
    <add key="QbiclesUrl" value="http://localhost:64527/" />
    <add key="TraderAPI" value="http://localhost:8006" />
    <add key="SignalRAPI" value="http://localhost:51541" />
    <!-- iis -->
    <!--<add key="DocumentsAPI" value="http://localhost:8003" />
		<add key="HubUrl" value="http://localhost:8002/signalr" />
		<add key="QbiclesJobAPI" value="http://localhost:8001" />
		<add key="AuthHost" value="http://localhost:8008" />
		<add key="QbiclesUrl" value="http://localhost:8000" />
		<add key="TraderAPI" value="http://localhost:8006" />
		<add key="SignalRAPI" value="http://localhost:8002" />-->
    <!--end-->
    <add key="LoggingDebugSet" value="false" />
    <add key="qbiclePageSize" value="5" />
    <add key="mydeskPageSize" value="10" />
    <add key="activitiesPageSize" value="5" />
    <!--Token Life span by minutes-->
    <add key="TokenLifespan" value="45" />
    <add key="AdministratorEmail" value="administrator@qbicles.com" />
    <add key="SubjectEmailInvitedGuest" value="Qbicles Invitation" />
    <add key="SubjectEmailNotification" value="Qbicles Notification" />
    <add key="CreateUserPasswordDefault" value="Qbicles@7FA66DF3-0A2E-47D8-965B-33372D417AB0" />
    <add key="Timezone" value="GMT Standard Time" />
    <add key="NotificationSendMethod" value="3" />
    <!--1: Notify By Email, 2: Notify By Broadcast, 3 - both-->
    <!-- Related applications-->
    <add key="ThumbnailImageWidth" value="150" />
    <add key="SmallImageWidth" value="300" />
    <add key="MediumImageWidth" value="600" />
    <add key="MaximumInvitesJoinQbiclesPerDay" value="5" />
    <!--1: Notify By Email, 2: Notify By Broadcast, 3 - both-->
    <add key="MaxDepthTreeGroups" value="5" />
    <!--AWS file upload and download information-->
    <!--<add key="AWSS3SecretKey" value="YxN1M/RTrlHH8t2CYq74OxDfE4DWzbMBt9+INf+V" />
		<add key="AWSS3AccessKey" value="AKIAJMOQAUTIN4RILM7A" />
		<add key="AWSS3BucketRegion" value="ap-southeast-1" />
		<add key="AWSS3BucketName" value="kevinrepository" />
		<add key="AWSS3IdentityPoolId" value="ap-southeast-1:62daed92-a76e-4ab0-9e16-c3de127487f6" />-->
    <!--AWS file upload and download information-->
    <add key="AWSS3SecretKey" value="FcRfm3gzRpHW5Mj17wVkVRiNkIbusULr7pOmRNQ/" />
    <add key="AWSS3AccessKey" value="AKIATT2R3QKE74FBBDKS" />
    <add key="AWSS3BucketRegion" value="eu-west-1" />
    <add key="AWSS3BucketName" value="qbicles.dev2.repository" />
    <add key="AWSS3IdentityPoolId" value="eu-west-1:7176625c-8906-466f-a017-22c7fa156bf3" />
    <add key="DefaultUserUrlGuid" value="b5a3bfd3-8726-4d4b-8e9d-45b13cba9300" />
    <add key="DefaultProductPlaceholderImageUrl" value="59ef2bce-9953-43a4-866d-38b74b87060f" />
    <!--Azure file upload and download information-->
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=qbiclesprodrepository;AccountKey=qOOmo6SblbQ82rDLHbhscPtBtE0zQkv1H29yLD8d25D/H+JKzUjjW2RkRZ6Gh0OUc/JLiaLCmxzH+AStHiwhjQ==;EndpointSuffix=core.windows.net" />
    <add key="BlobContainerName" value="qbicles-home-repository" />
    <add key="ShareName" value="YourFileShareNameHere" />
    <!--Static file-->
    <add key="HighlightBannerNew" value="banner-news.jpg" />
    <add key="HighlightBannerEvent" value="banner-events.jpg" />
    <add key="HighlightBannerKnowledge" value="banner-knowledge.jpg" />
    <add key="HighlightBannerListing" value="banner-listing.jpg" />
    <add key="CommunityBlocked" value="community-blocked.png" />
    <add key="CommunityLestTalk" value="community-letstalk.png" />
    <add key="CommunityPendingadd" value="community-pendingadd.png" />
    <add key="Communitybuysell" value="community-buysell.png" />
    <add key="CommunityShop" value="community-shop.png" />
    <add key="B2BBuySell" value="b2b-order-alt.png" />
    <add key="CatalogDefaultImage" value="catalogue.jpg" />
    <add key="ClientSecret" value="0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ" />
    <!--Firebase key-->
    <add key="FirebaseServerKey" value="AAAAGoz_FvQ:APA91bGqvSuiSZAkQ8IQbme_Cu2PPmxKPObawcauzXiNGo_VIJ6x8gWerolLnEu-mR0Nxy-1FEjlC4SE-ZkSt4p1aA5soEm2ARdN-ndpbO0ZIAs8g6rcHSFJw57KEh2gvDuk88VhWbU8" />
    <add key="FirebaseSenderId" value="114034677492" />
    <add key="FirebaseRequestUri" value="https://fcm.googleapis.com/fcm/send" />
    <!--logging config-->
    <add key="LogEnvironment" value="Development" />
    <add key="LogInstance" value="Dev2" />
    <add key="LogApplication" value="Qbicles.MicroApi" />
    <!--logging config-->
  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms timeout="50000000" />
    </authentication>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral,              PublicKeyToken=cc7b13ffcd2ddd51" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.7.2" requestValidationMode="2.0" maxRequestLength="2147483647" maxQueryStringLength="2097151" maxUrlLength="2097151" requestLengthDiskThreshold="2147483647" relaxedUrlToFileSystemMapping="true" />
    <machineKey decryptionKey="CFD2CF50FBCF9035A82B9AF4825078BDD393B7E94AF71671" validationKey="065BFD439D8935F48F2D8EA5CB6346790EDE747E20687A9A5261104AF44FA6D6BB5A6AA9097265609133D781D5711AEE856FCFA41BA72E7D2DDB3153CCE64978" />
    <customErrors mode="Off" />
    <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Xml" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.112.1" newVersion="1.0.112.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.27.4.0" newVersion="3.27.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.17.0" newVersion="2.0.17.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.49.0.0" newVersion="1.49.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.49.0.0" newVersion="1.49.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.49.0.0" newVersion="1.49.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.4" newVersion="8.0.0.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ZstdSharp" publicKeyToken="8d151af33a4ad5cf" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.8.1.0" newVersion="0.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.DataProtection.Extensions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.DataProtection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Interop" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.38.0" newVersion="2.1.38.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Registry" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Principal.Windows" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Storage.Blobs" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.22.1.0" newVersion="12.22.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework, Version=9.0.0.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      </provider></providers>
  </entityFramework>
  <log4net debug="true">
    <appender name="LoggingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="App_Data\Qbicles.Micro.Log.json" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="3MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="{&quot;Level&quot;:&quot;%level&quot;,&quot;Date&quot;:&quot;%date{ddd MMM dd HH:mm:ss zzz yyyy}&quot;,&quot;Detail&quot;:%message} %newline" />
      </layout>
      <encoding value="utf-8" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
      </filter>
    </appender>
    <appender name="LokiAppender" type="log4net.Appender.LokiAppender, log4net.Appender.Loki">
      <BufferSize value="1" />
      <ServiceUrl value="http://localhost:3100" />
      <label>
        <key value="Environment" />
        <value value="Development" />
      </label>
      <label>
        <key value="Instance" />
        <value value="Dev2" />
      </label>
      <label>
        <key value="Application" />
        <value value="Qbicles.MicroApi" />
      </label>
    </appender>
    <root>
      <level value="All" />
      <appender-ref ref="LokiAppender" />
      <appender-ref ref="LoggingFileAppender" />
    </root>
    <logger name="lokiLogger" additivity="false">
      <level value="ALL" />
      <appender-ref ref="LokiAppender" />
    </logger>
    <logger name="fileAppenderLogger" additivity="false">
      <level value="ALL" />
      <appender-ref ref="LoggingFileAppender" />
    </logger>
  </log4net>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=8.0.18.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
</configuration>