@using Qbicles.Models;
@using Qbicles.BusinessRules;
@using Qbicles.Models.Network;
@using Qbicles.Models.Qbicles;
@model ApplicationUser

@{ 
    var candidateName = (string)ViewBag.candidateName;
    var lstSlGroups = Model.AssociatedShortListGroups;
    var lstDomains = (List<QbicleDomain>)ViewBag.lstDomain;
    var slGroupId = (int)ViewBag.SlGroupId;
    var domain = (QbicleDomain)ViewBag.SlDomain;
    var domainId = domain?.Id ?? 0;
}
<input type="hidden" id="user-id" value="@Model.Id" />
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title">Add <em>@candidateName</em> to your Shortlist</h5>
        </div>
        <div class="modal-body">
            <form id="add-candidate-form">
                <div class="well custom" style="padding-bottom: 5px;">
                    <div class="form-group">
                        <label for="group">Domain</label>
                        <select name="domain" id="domain-lst" class="form-control select2" style="width: 100%;"
                                onchange="loadUserShortlistGroupByDomain(this);">
                            <option value="0"></option>
                            @foreach (var domainItem in lstDomains)
                            {
                                var isDomainSelected = domainItem.Id == domainId ? "selected" : "";
                                <option value="@domainItem.Id" @isDomainSelected>@domainItem.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group grouping" style="display: none;" id="slgroups-container">
                        <label for="group">Shortlist group to use</label>
                        <select name="shortlistGroup" id="slgroups" class="form-control select2" style="width: 100%;">
                            <option value="0"></option>
                        </select>
                    </div>
                </div>

                <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button class="btn btn-success" type="submit">Confirm</button>
            </form>

        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<script>
    $(".select2").select2();
    initAddCandidateForm();
    var selectedDomainId = Number($("#domain-lst").val());
    if (selectedDomainId > 0) {
        $("#domain-lst").trigger("change");
    }
</script>