@using Qbicles.BusinessRules.Helper;
@{
    var businessName = (string)ViewBag.BusinessName;
}
<article class="stream-shout gift animated fadeIn">
    <img src="@Qbicles.BusinessRules.HelperClass.ToDocumentUri(Qbicles.BusinessRules.Helper.ConfigManager.CommunityLestTalk)" class="wow">
    <div class="promoinfo">
        <h5>@ResourcesManager._L("COM_B2B_LETTALK_TITLE")</h5>
        <p>
            @ResourcesManager._L("COM_B2B_LETTALK_DESCRIPTION", businessName)
        </p>
    </div>
</article>
