@using Qbicles.Models;
<div class="row">
    <div class="col-xs-12">

        <div class="well custom" style="padding-bottom: 5px;">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-lg-3">
                    <div class="form-group">
                        <label for="search">Search</label>
                        <input type="text" id="domainSearch" name="search" class="form-control">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-lg-2">
                    <div class="form-group">
                        <label for="status">Filter by status</label>
                        <select name="status" id="domainStatus" class="form-control select2" style="width: 100%;">
                            <option value="0" selected>Show all</option>
                            <option value="1">Active</option>
                            <option value="2">Closed</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <label for="status">Filter by creation date</label>
                    <div class="input-group" style="margin-bottom: 15px;">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" id="domainDateRange" class="form-control daterange">
                    </div>
                </div>
                @*<div class="col-xs-12 col-sm-2 col-lg-4">
                    <label>&nbsp;</label><br />
                    <a href="javascript:void(0)" onclick="addDomain()" class="btn btn-success"><i class="fa fa-plus"></i> &nbsp; Add a Domain</a>
                </div>*@
            </div>
        </div>
        <br />

        <table class="datatable table table-hover table-striped" id="tbl-administrator-domains" style="width: 100%">
            <thead>
                <tr>
                    <th data-priority="2" data-orderable="false"></th>
                    <th data-priority="1">Name</th>
                    <th data-priority="2">Created</th>
                    <th data-priority="1">Status</th>
                    <th data-priority="1" data-orderable="false">Options</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
</div>
<script>
    var apiDocRetrievalUrl = '@((string)ViewBag.DocRetrievalUrl)';
    var domainStatusClose = @((int)QbicleDomain.DomainStatusEnum.Closed);
    var domainStatusOpened = @((int)QbicleDomain.DomainStatusEnum.Open);
</script>

@{if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/administration.admin.system.js"></script>
    }
    else
    {
        <script src="~/Scripts/dev/administration.admin.system.js"></script>
    }
}
