@using Qbicles.Models;
@using Qbicles.BusinessRules;
@{
    var lstCreator = (List<ApplicationUser>)ViewBag.lstRequestCreator;
}

<div class="tab-content app_general admin">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3">

            <ul class="nav nav-stacked nav-pills nav-marketing" style="margin-bottom: 30px;">
                <li class="active"><a href="#" data-toggle="tab" data-target="#tab-pending">Pending requests</a></li>
                <li><a href="#" data-toggle="tab" data-target="#tab-history">History</a></li>
            </ul>

        </div>


        <div class="col-xs-12 col-sm-8 col-lg-9">

            <div class="tab-content">


                <!-- Pending -->
                <div class="tab-pane fade in active" id="tab-pending">

                    <div class="well custom" style="padding-bottom: 5px;">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-lg-3">
                                <div class="form-group">
                                    <label for="search">Search</label>
                                    <input type="text" id="pending-request-search" name="bSearch" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-3">
                                <div class="form-group">
                                    <label for="users">Users</label>
                                    <select name="users" id="pending-request-creator" onchange='$("#admin-pending-domainrequest").DataTable().ajax.reload();' class="form-control select2" style="width: 100%;">
                                        <option value="" selected>Show all</option>
                                        @foreach (var creator in lstCreator)
                                        {
                                            <option value="@creator.Id">@(creator.GetFullName())</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-3">
                                <div class="form-group">
                                    <label for="types">Types</label>
                                    <select name="types" id="pending-request-type" onchange='$("#admin-pending-domainrequest").DataTable().ajax.reload();' class="form-control select2" style="width: 100%;">
                                        <option value="-1" selected>Show all</option>
                                        <option value="2">Premium</option>
                                        <option value="0">Standard</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-3">
                                <label for="creator">Date range</label><br />
                                <div class="input-group" style="margin-bottom: 15px;">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" id="pending-request-daterange" class="form-control daterange">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-3">
                                <div class="withselected" style="display: none;">
                                    <label>Options</label>
                                    <br>
                                    <div class="form-group">
                                        <div class="btn-group options">
                                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                With selected &nbsp; <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#" data-toggle="modal" onclick="processMultipleDomainRequest(2)">Bulk approve</a></li>
                                                <li><a href="#" data-toggle="modal" onclick="processMultipleDomainRequest(3)">Bulk reject</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                    <table class="datatable table-hover table-striped" data-order='[[1, "desc"]]' id="admin-pending-domainrequest" style="width: 100%;">
                        <thead>
                            <tr>
                                <th data-orderable="false" style="width: 30px;"></th>
                                <th data-priority="2">Date &amp; time</th>
                                <th data-priority="1">User</th>
                                <th data-priority="2">Domain</th>
                                <th data-priority="2">Type</th>
                                <th data-priority="1" data-orderable="false">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                </div>
                <!-- END Pending -->
                <!-- History -->
                <div class="tab-pane fade" id="tab-history">

                    <div class="well custom" style="padding-bottom: 5px;">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-lg-3">
                                <div class="form-group">
                                    <label for="search">Search</label>
                                    <input type="text" id="history-request-search" name="bSearch" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-3">
                                <div class="form-group">
                                    <label for="search">Users</label>
                                    <select name="users" id="history-request-creator" onchange='$("#admin-history-domainrequest").DataTable().ajax.reload();' class="form-control select2" style="width: 100%;">
                                        <option value="" selected>Show all</option>
                                        @foreach (var creator in lstCreator)
                                        {
                                            <option value="@creator.Id">@(creator.GetFullName())</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-3">
                                <div class="form-group">
                                    <label for="types">Types</label>
                                    <select name="types" id="history-request-type" onchange='$("#admin-history-domainrequest").DataTable().ajax.reload();' class="form-control select2" style="width: 100%;">
                                        <option value="-1" selected>Show all</option>
                                        <option value="2">Premium</option>
                                        <option value="0">Standard</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-3">
                                <label for="creator">Date range</label><br />
                                <div class="input-group" style="margin-bottom: 15px;">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" id="history-request-daterange" class="form-control daterange">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                    <table class="datatable table-hover table-striped" data-order='[[0, "desc"]]' id="admin-history-domainrequest" style="width: 100%;">
                        <thead>
                            <tr>
                                <th data-priority="2">Date &amp; time</th>
                                <th data-priority="1">User</th>
                                <th data-priority="2">Domain</th>
                                <th data-priority="2">Type</th>
                                <th data-priority="1">Decision</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                </div>
                <!-- END History -->


            </div> <!-- END .tab-content -->

        </div>
    </div>

</div>

<link rel="stylesheet" href="~/Content/DesignStyle/css/daterangepicker.css">
<script src="~/Content/DesignStyle/js/daterangepicker.js"></script>
<script src="~/Content/DesignStyle/js/jquery.timer.js"></script>
<script>
    $("#pending-request-type, #pending-request-creator, #history-request-type, #history-request-creator").select2();

    $('#pending-request-daterange, #history-request-daterange').daterangepicker({
        autoUpdateInput: false,
        singleDatePicker: false,
        timePicker: false,
        showDropdowns: true,
        cancelClass: "btn-danger",
        opens: "left",
        //startDate: moment().startOf('day').format($dateFormatByUser),
        //endDate: moment().endOf('day').format($dateFormatByUser),
        locale: {
            cancelLabel: 'Clear',
            dateFormat: $dateFormatByUser
        }
    });

    $('#pending-request-daterange').on('apply.daterangepicker', function (ev, picker) {
        //alert($dateFormatByUser);
        $(this).val(picker.startDate.format($dateFormatByUser.toUpperCase()) + ' - ' + picker.endDate.format($dateFormatByUser.toUpperCase()));
        $("#admin-pending-domainrequest").DataTable().ajax.reload();
    });
    $('#pending-request-daterange').on('cancel.daterangepicker', function (ev, picker) {
        $(this).val('');
        $("#admin-pending-domainrequest").DataTable().ajax.reload();
    });

    $('#history-request-daterange').on('apply.daterangepicker', function (ev, picker) {
        $(this).val(picker.startDate.format($dateFormatByUser.toUpperCase()) + ' - ' + picker.endDate.format($dateFormatByUser.toUpperCase()));
        $("#admin-history-domainrequest").DataTable().ajax.reload();
    });
    $('#history-request-daterange').on('cancel.daterangepicker', function (ev, picker) {
        $(this).val('');
        $("#admin-history-domainrequest").DataTable().ajax.reload();
    });

    $("#pending-request-search").keyup(delay(function () {
        $("#admin-pending-domainrequest").DataTable().ajax.reload();
    }, 1000));

    $("#history-request-search").keyup(delay(function () {
        $("#admin-history-domainrequest").DataTable().ajax.reload();
    }, 1000));


    initPendingDomainRequestTable();
    initHistoryDomainRequestTable();
</script>