
@{

}

<div class="row">
    <div class="col-xs-12 col-sm-4 col-lg-3">

        <ul class="nav nav-stacked nav-pills nav-marketing" style="margin-bottom: 30px;">
            <li class="active"><a href="#" data-toggle="tab" data-target="#tab-statement">Transaction summary</a></li>
            <li><a href="#" data-toggle="tab" data-target="#tab-payments">Payments</a></li>
        </ul>

    </div>


    <div class="col-xs-12 col-sm-8 col-lg-9">

        <div class="tab-content">

            <!-- Statement -->
            <div class="tab-pane fade in active" id="tab-statement">

                <div class="well custom" style="padding-bottom: 5px;">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                            <div class="form-group">
                                <label for="search">Balance</label>
                                <h3 style="margin: 5px; padding: 0; font-weight: 400;">&#8358;100,000</h3>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="form-group">
                                <label for="search">Search</label>
                                <input type="text" name="search" class="form-control" placeholder="Search for...">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <label for="search">Limit by date range</label>
                            <div class="input-group" style="margin-bottom: 15px;">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input type="text" name="date" class="form-control daterange">
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <table class="datatable table-striped table-hover" data-order='[[1, "asc"]]' style="width: 100%;" id="community-list">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>When</th>
                            <th>Credit</th>
                            <th>Debit</th>
                            <th>For</th>
                            <th>Invoice</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>456</td>
                            <td data-order="2">06/04/2020 12:11pm</td>
                            <td></td>
                            <td>&#8358;10,000</td>
                            <td>Trader subscription</td>
                            <td><a href="#">View invoice</a></td>
                            <td>&#8358;70,000</td>
                        </tr>
                        <tr>
                            <td>234</td>
                            <td data-order="2">04/04/2020 11:30am</td>
                            <td></td>
                            <td>&#8358;20,000</td>
                            <td>Qbicles subscription</td>
                            <td><a href="#">View invoice</a></td>
                            <td>&#8358;80,000</td>
                        </tr>
                        <tr>
                            <td>123</td>
                            <td data-order="3">01/04/2020 9:33am</td>
                            <td>&#8358;100,000</td>
                            <td></td>
                            <td>Balance topup</td>
                            <td></td>
                            <td>&#8358;100,000</td>
                        </tr>

                    </tbody>
                </table>

            </div>
            <!-- END Statement -->
            <!-- Payments -->
            <div class="tab-pane fade" id="tab-payments">

                <div class="well custom" style="padding-bottom: 5px;">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                            <div class="form-group">
                                <label for="search">Balance</label>
                                <h3 style="margin: 5px; padding: 0; font-weight: 400;">&#8358;100,000</h3>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="form-group">
                                <label for="search">Search</label>
                                <input type="text" name="search" class="form-control" placeholder="Search for...">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <label for="search">Limit by date range</label>
                            <div class="input-group" style="margin-bottom: 15px;">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input type="text" name="date" class="form-control daterange">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <label for="">Options</label><br />
                            <button class="btn btn-success" data-toggle="modal" data-target="#add-payment"><i class="fa fa-plus"></i> &nbsp; Add a Payment</button>
                        </div>
                    </div>
                </div>

                <br />
                <table class="datatable table-striped table-hover" style="width: 100%;" id="community-list">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Amount</th>
                            <th>Type/description</th>
                            <th>Status</th>
                            <th>Receipt</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-order="2">06/04/2020 12:11pm</td>
                            <td>&#8358;10,000</td>
                            <td>Card payment (for Trader subscription)</td>
                            <td><span class="label label-lg label-success">Confirmed</span></td>
                            <td><a href="#">View receipt</a></td>
                        </tr>
                        <tr>
                            <td data-order="3">04/04/2020 12:30pm</td>
                            <td>&#8358;100,000</td>
                            <td>Bank transfer (for Qbicles subscription)</td>
                            <td><span class="label label-lg label-warning">Pending confirmation</span></td>
                            <td></td>
                        </tr>

                    </tbody>
                </table>

            </div>
            <!-- END Payments -->


        </div> <!-- END .tab-content -->

    </div>
</div>