
@{

}


<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3">

        <ul class="nav nav-stacked nav-pills nav-marketing" style="margin-bottom: 30px;">
            <li><a href="#" data-toggle="tab" data-target="#tab-core">Qbicles Core</a></li>
            <li class="active"><a href="#" data-toggle="tab" data-target="#tab-app-sm">Sales &amp; Marketing</a></li>
        </ul>

    </div>


    <div class="col-xs-12 col-sm-8 col-lg-9">

        <div class="tab-content">

            <!-- Core -->
            <div class="tab-pane fade" id="tab-core">



            </div>
            <!-- END Core -->
            <!-- Sales & Marketing -->
            <div class="tab-pane fade in active" id="tab-app-sm">

                <div class="row">
                    <div class="col-xs-12">

                        <table class="datatable multitable table-striped table-hover" data-order='[[ 1, "asc" ]]' style="width: 100%;">
                            <thead>
                                <tr>
                                    <th style="width: 30px;" data-orderable="false"></th>
                                    <th>Title</th>
                                    <th>Type</th>
                                    <th>Created</th>
                                    <th>Deleted</th>
                                    <th data-orderable="false">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>Example Brand 1</td>
                                    <td>Brand</td>
                                    <td>01/04/2020 09:30 by <a href="my-contact-profile.php" target="_blank">Graham Deuchar</a></td>
                                    <td>14/04/2020 14:23 by <a href="my-contact-profile.php" target="_blank">Donnacha Nelan</a></td>
                                    <td>
                                        <div class="btn-group options">
                                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-bottom: 0;">
                                                Options &nbsp; <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu info">
                                                <li><a href="#">Restore</a>
                                                <li><a href="#">Delete</a>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>Easter Mailer</td>
                                    <td>Email Marketing Campaign</td>
                                    <td>01/04/2020 09:30 by <a href="my-contact-profile.php" target="_blank">Graham Deuchar</a></td>
                                    <td>14/04/2020 14:23 by <a href="my-contact-profile.php" target="_blank">Donnacha Nelan</a></td>
                                    <td>
                                        <div class="btn-group options">
                                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-bottom: 0;">
                                                Options &nbsp; <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu info">
                                                <li><a href="#">Restore</a>
                                                <li><a href="#">Delete</a>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                        </table>

                    </div>
                </div>



            </div>
            <!-- END Sales & Marketing -->


        </div> <!-- END .tab-content -->

    </div>
</div>