@using Qbicles.Models;
@{ 
    var currentDomainPlan = (DomainPlan)ViewBag.CurrentDomainPlan ?? null;
    var newDomainPlanLevel = (BusinessDomainLevel)ViewBag.NewDomainPlanLevel ?? null;
    var currentDomain = (QbicleDomain)ViewBag.CurrentDomain ?? null;

    var extraUserNumber = currentDomainPlan?.NumberOfExtraUsers ?? 0;
    var includedUserNumberNewDomainPlanLevel = newDomainPlanLevel?.NumberOfUsers ?? 0;
    var currentDomainUserNumber = currentDomain?.Users?.Count ?? 0;
    var newUserNumber = extraUserNumber + includedUserNumberNewDomainPlanLevel;
}

<div class="modal-dialog" role="document">
    <div class="modal-content" style="background: transparent; box-shadow: none;">
        <div class="modal-body">

            <div class="alert pricing alert-qb text-center animated fadeIn" style="padding: 50px !important; margin: 0 auto;">
                <img src="~/Content/DesignStyle/img/warning.png" style="width: 140px; height: auto; margin-bottom: 30px;">
                <h4 style="margin-bottom: 20px;">Unable to proceed</h4>
                <p style="max-width: 80%; margin: 0 auto !important;">We can't reduce your Domain slots right now due to you having more members than your new slot allocation allows. To proceed, please begin by reducing your total Domain members in Domain Members below.</p>


                <br /><br />
                <div class="well custom rounded" style="padding-bottom: 0;">
                    <div class="row">
                        <div class="col-xs-12 hidden">
                            <div class="card" style="margin: 0 0 20px 0;">
                                <div class="card-body">
                                    <h5 class="card-title text-muted text-uppercase text-center">Previous user slots</h5>
                                    <h6 class="card-price text-center">3/3 used</h6>

                                    <hr />
                                    <br />

                                    <ul class="fa-ul text-left">
                                        <li><span class="fa-li"><i class="fas fa-check green" aria-hidden="true"></i></span> 3 slots included with <strong>Business Starter</strong> plan</li>
                                        <li><span class="fa-li"><i class="fas fa-remove red" aria-hidden="true"></i></span> 0 additional slots added</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="card" style="margin: 0 0 20px 0;">
                                <div class="card-body">
                                    <h5 class="card-title text-muted text-uppercase text-center">User slots</h5>
                                    <h6 class="card-price text-center"><span class="red">@(currentDomainUserNumber)</span>/@(newUserNumber) used</h6>

                                    <hr />
                                    <br />

                                    <ul class="fa-ul text-left">
                                        <li><span class="fa-li"><i class="fas fa-check green" aria-hidden="true"></i></span> 
                                        @(includedUserNumberNewDomainPlanLevel > 1 ? $"{includedUserNumberNewDomainPlanLevel} slots" 
                                            : $"{includedUserNumberNewDomainPlanLevel} slot") included with <strong>Free Business Domain</strong> plan</li>
                                        <li><span class="fa-li"><i class="fas fa-remove red" aria-hidden="true"></i></span> @(currentDomainUserNumber - newUserNumber) surplus members</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <a href="/Qbicles/OurPeople" class="btn btn-warning community-button w-auto">Manage members</a>
                <button class="btn btn-danger w-auto community-button" data-dismiss="modal">Cancel</button>


                <br /><br />
                <a href="#" data-dismiss="modal" data-target="#domchange-low" data-toggle="modal">Dev only - bypass this error</a>
            </div>

        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
