<ul class="nav nav-pills traderv2" style="margin: 0 auto; padding-top: 0;">
    <li class="active"><a href="#manage-products" data-toggle="tab" aria-expanded="true">Featured Products</a></li>
    <li><a href="#manage-stores" data-toggle="tab" aria-expanded="false">Featured Stores</a></li>
</ul>
<br />
<br />
<br />


<div class="tab-content app_general admin">


    <!-- Manage Products -->
    <div class="tab-pane fade in active" id="manage-products">

        <button class="btn btn-success community-button sm w-auto" onclick="ShowAddEditFeaturedProductModal(0)"><i class="fa fa-plus"></i> &nbsp; Add a featured product</button>
        <br /><br /><br />

        <table id="featured-product-table" class="dtdrag table-striped" style="border: 0; width:100%">
            <thead>
                <tr>
                    <th data-orderable="false" style="width: 170px;" data-priority="1">Display order</th>
                    <th data-orderable="false" style="width: 20%;" data-priority="1">Content</th>
                    <th data-orderable="false" data-priority="3">Link</th>
                    <th data-orderable="false" data-priority="2">Domain</th>
                    <th data-orderable="false" data-priority="1">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><i class="fa fa-arrows"></i> &nbsp; <span class="dorder">1</span></td>
                    <td>
                        <div class="flex-grid-fluid">
                            <div class="col">
                                <br />
                                <label class="label label-lg label-primary">Product feature</label>
                                <br /><br />
                                <div class="productimg" style="background-image: url('dist/img/products/new/1.jpg'); border-radius: 5px; overflow: hidden; height: 200px;"></div>
                                <div class="whom" style="margin: 0; padding: 10px 0 5px 0;">
                                    <div class="avatarc" style="background-image: url('dist/img/logos/roadchef.png');">&nbsp;</div>
                                    <div class="whominfo">
                                        <h5 style="color: #333;">Classic Burger</h5>
                                        <small>RoadChef</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                    </td>
                    <td><a href="#">Example Catalogue</a></td>
                    <td><a href="business-profile.php" target="_blank">RoadChef</a></td>
                    <td class="text-right">
                        <button class="btn btn-warning community-button sm w-auto"><i class="fa fa-pencil"></i> &nbsp; Edit</button>
                        <button class="btn btn-danger community-button sm w-auto"><i class="fa fa-trash"></i> &nbsp; Delete</button>
                    </td>
                </tr>
                <tr>
                    <td><i class="fa fa-arrows"></i> &nbsp; <span class="dorder">2</span></td>
                    <td>
                        <br />
                        <label class="label label-lg label-primary">Image</label>
                        <br /><br />
                        <a href="dist/img/banner-ad-1.jpg" target="_blank" data-tooltip="Tap to view this image">
                            <div class="img-cont" style="background-image: url('dist/img/banner-ad-2.jpg'); background-size: cover; width: 100%; height: 200px; border-radius: 5px; overflow: hidden; background-position: center center;"></div>
                        </a>
                        <br />
                    </td>
                    <td><a href="#">https://www.anotherexample.com/welcome.php</a></td>
                    <td><a href="business-profile.php" target="_blank">StopShop</a></td>
                    <td class="text-right">
                        <button class="btn btn-warning community-button sm w-auto"><i class="fa fa-pencil"></i> &nbsp; Edit</button>
                        <button class="btn btn-danger community-button sm w-auto"><i class="fa fa-trash"></i> &nbsp; Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>
    <!-- END Manage Products -->
    <!-- Manage Stores -->
    <div class="tab-pane fade" id="manage-stores">

        <button class="btn btn-success community-button sm w-auto" onclick="ShowAddEditFeaturedStoreModal(0)"><i class="fa fa-plus"></i> &nbsp; Add a featured store</button>
        <br /><br /><br />

        <table id="featured-store-table" class="dtdrag table-striped" style="border: 0; width:100%">
            <thead>
                <tr>
                    <th data-orderable="false" style="width: 170px;" data-priority="1">Display order</th>
                    <th data-orderable="false" data-priority="2">Store</th>
                    <th data-orderable="false" data-priority="1">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
    <!-- END Manage Stores -->

</div>


<!--Modal list-->
<div class="modal fade left" id="app-trader-pos-itemlist" role="dialog" aria-labelledby="app-trader-pos-itemlist" style="z-index: 99999;"></div>
<div class="modal fade left" id="admin-featured-store-add" role="dialog" aria-labelledby="admin-featured-store-add"></div>
<div class="modal fade left" id="admin-featured-product-add" role="dialog" aria-labelledby="admin-featured-product-add"></div>
<!--END: Modal list-->


    @{if (System.Diagnostics.Debugger.IsAttached)
        {
            <script src="~/Scripts/dev/administration.communityfeature.js"></script>
        }
        else
        {
            <script src="~/Scripts/dev/administration.communityfeature.js"></script>
        }
    }


    <script>
        $(document).ready(function () {
            ShowFeaturedProductTable();
            ShowFeaturedStoreTable();

        })
    </script>
