<div class="tab-content app_general admin">


    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3">

            <ul class="nav nav-stacked nav-pills nav-marketing" style="margin-bottom: 30px;">
                <li class="active">
                    <a href="javascript:void(0)" data-toggle="tab" data-target="#tab-lists" onclick="LoadPropertyTypeContent()">Listings</a>
                    <div class="subnavr">
                        <a href="javascript:void(0)" class="active" id="propertytype-tab" onclick="LoadPropertyTypeContent()" style="background: transparent !important;">Real estate property types</a>
                        <a href="javascript:void(0)" id="propertyextra-tab" onclick="LoadPropertyExtraContent()" style="background: transparent !important;">Real estate extras</a>
                    </div>
                </li>
                <li>
                    <a href="#" data-toggle="tab" data-target="#countries-location" onclick="LoadCountriesListTabContent()">Locations</a>
                    <div class="subnavr">
                        <a href="#countries-location" id="countries-tab" onclick="LoadCountriesListTabContent()" class="active" style="background: transparent !important;">Countries</a>
                        <a href="#locations-locations" id="locationlist-tab" onclick="LoadHLLocationContent()" style="background: transparent !important;">Locations</a>
                    </div>
                </li>
                <li>
                    <a href="#" data-toggle="tab" data-target="#business-categories" onclick="businessCatActive(this)">Business</a>
                    <div class="subnavr">
                        <a href="javascript:void(0)" class="active" style="background: transparent !important;">Categories</a>

                    </div>
                </li>
                <li>
                    <a href="#" data-toggle="tab" data-target="#products-specifics" onclick="SetProductDefaultActiveTab(this)">Product specifics</a>
                    <div class="subnavr">
                        <a href="javascript:void(0)" id="item-brands-tab" onclick="showItemBrandsTab()" class="active" style="background: transparent !important;">Brands</a>
                        <a href="javascript:void(0)" id="item-product-tags-tab" onclick="showItemProductTagsTab()" style="background: transparent !important;">Product tags</a>
                    </div>
                </li>
            </ul>




        </div>


        <div class="col-xs-12 col-sm-8 col-lg-9">

            <div class="tab-content">


                <!-- Lists -->
                <div class="tab-pane fade in active" id="tab-lists">
                </div>
                <!-- END Lists -->
                <!-- Locations -->
                <div class="tab-pane fade" id="countries-location">

                </div>
                <!-- END Locations -->
                <!-- Business Categories -->
                <div class="tab-pane fade" id="business-categories">

                    <div class="well custom" style="padding-bottom: 5px;">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-lg-3">
                                <div class="form-group">
                                    <label for="search">Search</label>
                                    <input type="text" name="Search" onchange="reloadTableBusinessCategory()" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-3">
                                <label>Options</label>
                                <br>
                                <div class="form-group">

                                    <div class="btn-group options">
                                        <button class="btn btn-success" onclick="ShowAddEditBusinessCategoryModal(0)"><i class="fa fa-plus"></i> &nbsp; Add new</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                    <table class="datatable table-hover table-striped" id="tblBusinessCategories" style="width: 100%;">
                        <thead>
                            <tr>
                                <th data-priority="1">Category</th>
                                <th data-priority="1" data-orderable="false">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                </div>
                <!-- END Business Categories -->
                <!-- Product specifics -->
                <div class="tab-pane fade" id="products-specifics">
                </div>
                <!-- END Product specifics -->

            </div> <!-- END .tab-content -->

            </div>
    </div>

</div>
<div class="modal fade left" id="add-edit-businesscategory_modal" role="dialog" aria-labelledby="add-edit-propertytype_modal"></div>
<script src="~/Content/DesignStyle/js/bootstrap-multiselect.min.js"></script>
@if (System.Diagnostics.Debugger.IsAttached)
{
    <script src="~/Scripts/dev/administration.hlsetup.js"></script>
}
else
{
    <script src="~/Scripts/dev/administration.hlsetup.js"></script>
}
<script>
    LoadPropertyTypeContent();
    $(document).ready(function () {
        $(".checkmulti").multiselect({
            includeSelectAllOption: false,
            enableFiltering: false,
            buttonWidth: '100%',
            maxHeight: 400,
            enableClickableOptGroups: true,
            includeSelectAllOption: false
        });

        $('.subnavr a').bind('click', function () {
            $('.subnavr a').removeClass('active');
            $(this).addClass('active');
        })
    })
</script>
