@using Qbicles.Models;
@{ 
    var lstDomains = (List<QbicleDomain>)ViewBag.ListDomains;
}
<div class="well custom" id="log_filter" style="padding-bottom: 5px;">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label for="search">Search</label>
                <input type="text" class="form-control" id="searchAll">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <label for="daterange">Filter by date range</label><br />
            <div class="input-group" style="margin-bottom: 15px;">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input type="text" name="daterange" id="dateRangeLog" class="form-control daterange">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label for="session">Filter by session ID</label>
                <input type="text" name="session" class="form-control" id="sessionId">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label for="search">Filter by Domain</label>
                <select name="app" class="form-control select2" id="domainKey" style="width: 100%;">
                    <option value=" " selected>Show all</option>
                    @foreach (var domain in lstDomains)
                    {
                        <option value="@domain.Key">@domain.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label for="search">Filter by app</label>
                <select name="app" class="form-control select2" id="appType" style="width: 100%;">
                    <option value="0" selected>Show all</option>
                    <option value="2">Bookkeeping</option>
                    <option value="1">Cleanbooks</option>
                    <option value="4">Sales &amp; Marketing</option>
                    <option value="5">Spannered</option>
                    <option value="3">Trader</option>
                </select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label for="search">Filter by action</label>
                <select name="app" class="form-control select2" id="action" style="width: 100%;">
                    <option value="0" selected>Show all</option>
                    <option value="1">Log in</option>
                    <option value="2">Log out</option>
                    <option value="3">Password reset</option>
                    <option value="4">Domain access</option>
                    <option value="5">Qbicle access</option>
                    <option value="6">MyDesk access</option>
                    <option value="7">App access</option>
                </select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <label>Options</label><br />
            <div class="btn-group options">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-sliders"></i> &nbsp; Manage display
                </button>
                <ul class="dropdown-menu primary manage-columns" id="filterColumn">
                    <li><label><input type="checkbox" data-column="1" checked=""> Session ID</label></li>
                    <li><label><input type="checkbox" data-column="2" checked=""> Domain</label></li>
                    <li><label><input type="checkbox" data-column="3" checked=""> Qbicle</label></li>
                    <li><label><input type="checkbox" data-column="4" checked=""> User</label></li>
                    <li><label><input type="checkbox" data-column="5" checked=""> IP address</label></li>
                    <li><label><input type="checkbox" data-column="6" checked=""> App</label></li>
                    <li><label><input type="checkbox" data-column="7" checked=""> Action</label></li>
                </ul>
            </div>
            <button class="btn btn-info" onclick="ExportToCSV()"><i class="fa fa-download"></i> &nbsp; Export as CSV</button>
        </div>
    </div>
</div>

<br />
<table class="datatable table-striped table-hover" id="tblLogs" style="width: 100%;" data-order='[[0, "desc"]]'>
    <thead>
        <tr>
            <th>Date/time</th>
            <th>Session ID</th>
            <th>Domain</th>
            <th>Qbicle</th>
            <th>User</th>
            <th>IP address</th>
            <th>App</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>

<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="context-menu" style="z-index: 50;">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
</div>