@using Qbicles.Models.Loyalty
@model List<LoyaltyBulkDealPromotion>
@{
    <style>
        .modal-title {
            text-align: center
        }
    </style>
}
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title">Bulk Deal Creation Page</h5>
        </div>
        <div class="modal-body">
            <div class="well custom" style="padding-bottom: 5px;">

                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="Type">Select Bulk Deal <span class="red">*</span></label>
                            <select name="BulkDeal" id="bulkDealSelect" required class="form-control select2" style="width: 100%;">
                                <option value="0">None</option>
                                @foreach (var item in Model)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                            <label id="Type-error" class="error" for="Type" style="display:none">This field is required.</label>
                        </div>
                    </div>
                    <div id="seletedBulkDealDiscription" class="col-xs-12 col-sm-6">
                        
                    </div>
                   
                </div>
                <div id="DataTables_Table_14_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">


                    <div class="row">
                        <div class="col-sm-12">
                            <table class="datatable table-hover table-striped" id="tblBulkDealCreation" style="width: 100%; background: #fff;" data-order='[[ 1, "asc" ]]'>
                                <thead>
                                    <tr>
                                        <th data-priority="3" data-orderable="false" style="width: 60px;"></th>
                                        <th data-priority="1">Item Name</th>
                                        <th data-priority="1">SKU</th>
                                        <th data-priority="1">Barcode</th>
                                        <th data-priority="1">Business</th>
                                        <th data-priority="1">Location</th>
                                        <th style="display:none;" data-orderable="false">ItemId</th>
                                        <th style="display:none;" data-orderable="false">DomainId</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-12 " style="margin: 35px auto; float: right; text-align: center; padding: 30px;">
                            <button type="button" class="btn btn-secondary margin-r-5" data-dismiss="modal" aria-label="Close">Cancel</button>
                            <button type="button" onclick="CreateBulkPromotions()" class="btn btn-success">Create Bulk Promotions</button>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-dialog -->
</div>
<script src="~/Content/DesignStyle/js/bootstrap-multiselect.min.js"></script>

<script>
    InitAddToBulkDealPromotionTable();
</script>
