<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header" style=" padding: 30px;">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h5 class="modal-title">Rank Promotion Types</h5>
            </div>
            <div class="modal-body">

                <div id="DataTables_Table_14_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <div class="row">
                        <div class="col-sm-12">

                            <table class="datatable table table-hover table-striped" id="tblMonibackRankPromotions" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th data-priority="1">Promotion</th>
                                        <th data-priority="1">Type</th>
                                        <th data-priority="2">Duration</th>
                                        <th data-priority="1">Amount</th>
                                        <th data-priority="1">Rank</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="col-sm-12" style="margin: 35px auto; float: right; text-align: right; padding: 30px;">
                            <button type="button" class="btn btn-secondary margin-r-5" data-dismiss="modal" aria-label="Close">Cancel</button>
                            <button type="button" onclick="SaveRankPromotionOrder()" class="btn btn-success">Save Changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

    @{

        <script>
            //initMonibackRankPromotionTable();
        </script>
    }