@using Qbicles.Models
@using Qbicles.BusinessRules
@{

    var currentDomain = (QbicleDomain)ViewBag.CurrentDomain;
    var page = ViewBag.CurrentPage;
    var systemRolesQbicles = (List<string>)ViewBag.SystemRolesQBicles;
}

<ul class="nav nav-pills app_main_nav hidden-xs hidden-sm">
    @if (systemRolesQbicles.Contains(Qbicles.BusinessRules.SystemRoles.SystemAdministrator))
    {
        <li role="presentation" class="admin-system">
            <a href="#System" onclick="ShowContent(this)">
                <i class="fa fa-wrench"></i>
                System
            </a>
        </li>
        <li role="presentation" class="admin-domain">
            <a href="#Domains" onclick="ShowContent(this)">
                <i class="fa fa-globe-africa"></i>
                Domains
            </a>
        </li>
        <li role="presentation" class="admin-domain-request waitlistrequest">
            <a href="#WaitlistRequest" onclick="ShowContent(this)"><i class="fa fa-clock"></i>Waitlist</a>
        </li>
    }
    @if (systemRolesQbicles.Contains(Qbicles.BusinessRules.SystemRoles.SystemAdministrator))
    {
        <li role="presentation" class="admin-domain-request domainrequest">
            <a href="#DomainRequest" onclick="ShowContent(this)"><i class="fa fa-exclamation-triangle"></i>Domain requests</a>
        </li>
    }
    @if (systemRolesQbicles.Contains(Qbicles.BusinessRules.SystemRoles.SystemAdministrator))
    {
        <li role="presentation" class="admin-extension-request extensionrequest">
            <a href="#ExtensionRequest" onclick="ShowContent(this)"><i class="fa fa-puzzle-piece"></i>Extension requests</a>
        </li>
    }
    @if (systemRolesQbicles.Contains(Qbicles.BusinessRules.SystemRoles.QbiclesBankManager))
    {
        <li role="presentation" class="admin-bankmate-transactions">
            <a href="#Bankmatetrans" onclick="ShowContent(this)"><i class="fa fa-piggy-bank"></i>BankMate transactions</a>
        </li>
    }
    @if (systemRolesQbicles.Contains(Qbicles.BusinessRules.SystemRoles.SystemAdministrator))
    {
        <li role="presentation" class="hlsetup">
            <a href="#hlsetup" onclick="ShowContent(this)"><i class="fa fa-list"></i>Categories & lists</a>
        </li>
    }

    <li role="presentation" class="communityfeature">
        <a href="#communityfeature" onclick="ShowContent(this)"><i class="fa fa-users"></i>Community features</a>
    </li>

    @if (systemRolesQbicles.Contains(Qbicles.BusinessRules.SystemRoles.SystemAdministrator))
    {
        <li role="presentation" class="monibackpromotion">
            <a href="#monibackpromotion" onclick="ShowContent(this)"><i class="fa fa-ticket"></i>Moniback promotions</a>
        </li>  
        <li role="presentation" class="bulkdeal">
            <a href="#bulkdeal" onclick="ShowContent(this)"><i class="fa fa-handshake-o"></i>Bulk Deal</a>
        </li>
    }
</ul>

<select id="mobile-tab-active" name="mobile_app_tab" onchange="onSelectedMenuChange()" class="form-control visible-xs visible-sm">
    @if (systemRolesQbicles.Contains(Qbicles.BusinessRules.SystemRoles.SystemAdministrator))
    {
        <option value="System">System</option>
        <option value="Domains">Domains</option>
    }
    @if (systemRolesQbicles.Contains(Qbicles.BusinessRules.SystemRoles.QbiclesBankManager))
    {
        <option value="Bankmate">BankMate transactions</option>
    }
</select>
