@using Qbicles.Models
@model List<QbicleApplication>
@{
    var titleAddEdit = (bool)ViewBag.IsAdd ? "Add" : "Remove";
    var prepToFrom = (bool)ViewBag.IsAdd ? "to" : "from";
    var titleChosenAll = (bool)ViewBag.IsAll ? "all" : "chosen";
    var isAddEdit = (bool)ViewBag.IsAdd ? "true" : "false";
    var isAll = (bool)ViewBag.IsAll ? "true" : "false";
    var descriptions = (bool)ViewBag.IsAdd ?
"If any of the Domains already have the required permissions for one or more of your new additions they will be unchanged in this operation.."
: $"If any of the Domains have an active subscription to the app(s) being removed be aware that this operation will directly impact the users' access.";
}
<div class="modal-dialog" role="document">
    <input hidden id="app-add-or-edit" value="@isAddEdit" />
    <input hidden id="app-to-all-domain" value="@isAll" />
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title">
                @{
                    var title = $"{titleAddEdit} app(s) available for subscription from {titleChosenAll} Domains";
                }
                @title
            </h5>
        </div>
        <div class="modal-body">

            <div class="well custom" style="padding-bottom: 5px;">

                <div class="form-group">
                    <label for="app">Choose app(s) to @titleAddEdit @prepToFrom @titleChosenAll Domains</label>
                    <select onchange="OnSelectApp()" id="app-add-remove-selected" class="form-control checkmulti" multiple>
                        @foreach (var app in Model)
                        {
                            <option value=@app.Id>@app.Name</option>
                        }
                    </select>

                    <p class="formhelp below">
                        @descriptions
                    </p>
                </div>


            </div>

            <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
            <button id="button-confirm-apps" disabled onclick="SaveAddRemoveAppsDomains()" type="button" class="btn btn-success">Confirm</button>

        </div>
    </div><!-- /.modal-content -->
</div>


<link href="~/Content/DesignStyle/css/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Content/DesignStyle/js/bootstrap-multiselect.js"></script>

<script>
    $(".checkmulti").multiselect({
        includeSelectAllOption: true,
        selectAllJustVisible: true,
        includeResetOption: false,
        enableFiltering: false,
        buttonWidth: '100%',
        maxHeight: 400,
        enableClickableOptGroups: true,
        enableFiltering: true,
        enableCaseInsensitiveFiltering: true

    });
</script>