@using Qbicles.Models;
@using Qbicles.BusinessRules;
@model List<ApplicationUser>
@{

}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title">Add User(s)</h5>
        </div>
        <div class="modal-body">

            <div class="well tan">
                <div class="form-group">
                    <label for="name">Name <span>*</span> </label>
                    <select class="form-control chosen-multiple" style="width: 100%;" id="user-for-rules">
                        @foreach (var item in Model)
                        {
                            <option value="@item.Id">@HelperClass.GetFullNameOfUser(item)</option>
                        }
                    </select>
                </div>
            </div>

            <button type="button" onclick="AddUserToRoles()" class="btn btn-success"><i class="fa fa-plus"></i> &nbsp; Add user(s)</button>
            <button class="btn btn-danger" data-dismiss="modal"><i class="fa fa-remove"></i> &nbsp; Cancel</button>

        </div>
    </div><!-- /.modal-content -->
</div>

<script>
    $("#user-for-rules").select2();
</script>