
@{
    var page = (string)ViewBag.CurrentPage;
    var imgAcceptedFile = (string)ViewBag.ImageAcceptedExtensions;
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper qbicle-detail">


    <!-- Main content -->
    <section class="content" data-tooltip-animate-function="fadein" data-tooltip-delay="300" data-tooltip-stickTo="top" data-tooltip-stickDistance="30">

        <br />

        <div class="app_topnav">
            @{ Html.RenderAction("NavigationAdministrationPartial", "Administration");}
        </div>

        <br /><br />

        <div class="activity-overview generic help-text animated bounce">
            <i class="fa fa-info-circle"></i>
            <p style="margin-bottom: 10px;">
                Please note that changes made to your account can take a few minutes to apply. If you want to manually refresh to speed things up, click the button
                below...
            </p>
            <button id="reload-page" class="btn btn-primary" style="margin-bottom: 5px;">Refresh now</button>
        </div>


        <div id="administration-content" class="tab-content app_general admin">


        </div>

    </section>
    <!-- ./content -->

</div>
<div id="create-domain" class="modal fade left" role="dialog" aria-labelledby="lblcreate-domain" data-focus-on="input:first" data-keyboard="true" data-backdrop="true" style="z-index:9999">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title" id="title-add-update-domain">Create a Domain</h5>
            </div>
            <div class="modal-body">
                <div class="well custom" style="padding-bottom: 0px">
                    <form id="form_domain_addedit" enctype="multipart/form-data">
                        <input id="domainId-UI" type="hidden" name="domainKey" value="0" />

                        <input id="domain-logo-uri" type="hidden" name="domain.LogoUri" />
                        <div class="form-group">
                            <label for="domainName-UI">Title <span>*</span></label>
                            <input type="text" id="domainName-UI" required name="domain.Name" class="form-control">
                        </div>
                        <div class="form-group" style="padding-bottom: 0px">
                            <label for="LogoUri">Featured image <span></span></label>
                            <input type="file" id="logoDomain-UI" accept="@imgAcceptedFile" name="logoDomain" class="form-control">
                            <br />
                            <img class="table_avatar img" id="domain-logo" src="" style="display: none; width: 100%; height: auto; margin-bottom: 30px;" />
                        </div>
                    </form>
                </div>
                <a href="javascript:void(0);" class="btn btn-danger" onclick="clearDomainInputModalAddEdit()" data-dismiss="modal">Cancel</a>
                <button class="btn btn-success" type="button" onclick="updateOrInserDomain()"><span id="title-btn-addEdit-domain"> Finish</span></button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /.content-wrapper -->
@{
    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/trader.domain.js"></script>
        <script src="~/Scripts/dev/Domain.js"></script>
    }
    else
    {
        <script src="~/Scripts/dev/trader.domain.min.js"></script>
        <script src="~/Scripts/dev/Domain.js"></script>
    }
}

<script>
var currentTraderTab = '@Request["tabActive"]';
$(document).ready(function () {
    $('#reload-page').click(function () {
        location.reload();
    });
    var listTab = [];
    $(".app_main_nav li a").each(function () {
        listTab.push($(this).attr("href").substring(1));
    });
    if ('@page' === "Domain" || '@page' === "MyDesk") {
        currentTraderTab = "system";
    }
    if (currentTraderTab && currentTraderTab !== "" && listTab.indexOf(currentTraderTab) > -1) {
        $('#mobile-tab-active').val(currentTraderTab);
        UpdateMenuActive();
        GetContentMobile(currentTraderTab.toLowerCase());
    } else {
        if (listTab.length > 0) {
            window.location.hash = "#" + listTab[0];
            setTabTrader(listTab[0]);
            ShowContent();
        }
    }
});
</script>