<div class="modal fade left" id="app-marketing-idea-edit" role="dialog" aria-labelledby="app-marketing-idea-edit">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Edit Theme Idea</h5>
            </div>
            <div class="modal-body">


                <div class="well custom">

                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="brandname">Theme name <span class="red">*</span></label>
                                <input type="text" name="brandname" class="form-control" value="Fantasy Theme">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="themetype">What kind of idea/theme is it? <span class="red">*</span></label>
                                <select name="themetype" class="form-control select2" style="width: 100%;">
                                    <option value=""></option>
                                    <option value="0">Brainstorming</option>
                                    <option value="1">Hot topic</option>
                                    <option value="2" selected>Trending</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="resourcesfolder">Folder to store Resources in <span class="red">*</span></label>
                                <select name="resourcesfolder" class="form-control select2" style="width: 100%;">
                                    <option value=""></option>
                                    <option value="0" selected>General</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <label>Active theme (can be used in Campaigns etc)</label><br />
                            <div class="checkbox toggle">
                                <label>
                                    <input data-toggle="toggle" data-onstyle="success" type="checkbox" checked>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="account_number">Featured image <span class="red">*</span></label>
                                <input type="file" class="form-control previewimg" name="featuredimg" data-target='.featuredpreview'>
                            </div>

                            <img class="featuredpreview" src="dist/img/community/prod-got.jpg" alt="Your image" style="width: 100%; height: auto; margin-bottom: 30px;" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="themedescription">Briefly explain your idea <span class="red">*</span></label>
                                <textarea name="themedescription" class="form-control" style="height: 80px;">With the popularity of shows like Game of Thrones and the forthcoming Amazon adaptation of Lord of the Rings, all things fantasy are on trend. We should try to incorporate this into our promotions.</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="url">Link to external content</label>
                            <div class="input-group" style="margin-bottom: 10px;">
                                <span class="input-group-addon">https://</span>
                                <input type="text" name="url" class="form-control" value="www.website.com">
                            </div>
                            <div class="input-group" style="margin-bottom: 10px;">
                                <span class="input-group-addon">https://</span>
                                <input type="text" name="url" class="form-control" value="content-google.com/kjskjd">
                            </div>

                            <button class="btn btn-info"><i class="fa fa-plus"></i> &nbsp; Add another link</button>
                        </div>
                    </div>

                </div>


                <button class="btn btn-success" data-dismiss="modal">Confirm</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->