<div class="modal fade left" id="app-marketing-ad-campaign-add" role="dialog" aria-labelledby="app-marketing-ad-campaign-add">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Add a new Ad Campaign</h5>
            </div>
            <div class="modal-body">


                <div class="row">
                    <div class="col-xs-12">
                        <ul class="app_subnav admintabs" style="padding-top: 0;">
                            <li class="active"><a href="#ad-overview" data-toggle="tab">Overview</a></li>
                            <li><a href="#ad-theme" data-toggle="tab">Theme</a></li>
                            <li><a href="#ad-attachments" data-toggle="tab">Attachments</a></li>
                        </ul>
                    </div>
                </div>

                <br />



                <div class="tab-content">



                    <!-- Overview -->
                    <div class="tab-pane fade in active" id="ad-overview">

                        <div class="well custom">

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="campaigntitle">Name your campaign</label>
                                        <input type="text" name="campaigntitle" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="resourcesfolder">Resource folder (for storing and retrieving your files) <span class="red">*</span></label>
                                        <select name="resourcesfolder" class="form-control select2" style="width: 100%;" onchange="if($(this).val() == 0) { $('.foldername').show(); } else { $('.foldername').hide(); }">
                                            <option value=""></option>
                                            <option value="0">Create a new folder</option>
                                            <option value="1">General</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group foldername" style="display: none;">
                                        <label for="resourcesfolder">Enter a name for your new folder <span class="red">*</span></label>
                                        <input type="text" name="foldername" class="form-control" value="SM-AD-001">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="account_number">Featured image <span class="red">*</span></label>
                                        <input type="file" class="form-control previewimg" name="featuredimg" data-target='.featuredpreview'>
                                    </div>

                                    <img class="featuredpreview" src="" alt="Your image" style="display: none; width: 100%; height: auto; margin-bottom: 30px;" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="campaignsummary">Campaign summary</label>
                                        <textarea name="campaignsummary" class="form-control" style="height: 80px;"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="campaignatts">Platform</label>
                                        <select name="attributes" class="form-control select2" style="width: 100%;">
                                            <option value=""></option>
                                            <option value="1-1">Billboard</option>
                                            <option value="1-2">Newspaper</option>
                                            <option value="1-3">Radio</option>
                                            <option value="1-4">TV</option>
                                            <option value="1-5">Web</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="campaignatts">Targeted customer segments</label>
                                        <select name="attributes" class="checkmulti" multiple>
                                            <optgroup label="Suburban">
                                                <option value="1-1">Millennials</option>
                                                <option value="1-2">Occasional Buyers</option>
                                            </optgroup>
                                            <optgroup label="Inner-city">
                                                <option value="2-1">Educated</option>
                                                <option value="2-2">White collar</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="campaignatts">Focus attributes/groups</label>
                                        <select name="attributes" class="checkmulti" multiple>
                                            <optgroup label="Advocacy">
                                                <option value="1-1">Outreach</option>
                                                <option value="1-2">Social</option>
                                            </optgroup>
                                            <optgroup label="Awareness">
                                                <option value="2-1">A long</option>
                                                <option value="2-2">List</option>
                                                <option value="2-3">Of options</option>
                                                <option value="2-4">To test</option>
                                                <option value="2-5">Scrolling</option>
                                                <option value="2-6">Support</option>
                                            </optgroup>
                                            <optgroup label="Performance">
                                                <option value="3-1">Professionalism</option>
                                                <option value="3-2">Punctuality</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="campaignatts">Value propositions</label>
                                        <select name="attributes" class="checkmulti" multiple>
                                            <option value="">Drive Thru value proposition</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <br />
                        <a href="#ad-theme" data-toggle="tab" class="btn btn-success btnNext">Next &nbsp; <i class="fa fa-angle-right"></i></a>

                    </div>
                    <!-- END Overview -->
                    <!-- Theme -->
                    <div class="tab-pane fade" id="ad-theme">

                        <div class="activity-overview generic help-text animated bounce">
                            <i class="fa fa-info-circle"></i>
                            <p>You can (optionally) choose a theme to associate with your Campaign. If you don't select a theme below the system default "General" theme will be used.</p>
                        </div>

                        <div class="flex-grid-half-lg from-community c1" style="width: 100%;">

                            <div class="col other2">
                                <a href="#" class="article-feature">
                                    <div class="article-feature-img" style="background: url('dist/img/community/prod-got.jpg');">
                                    </div>
                                    <div class="info">
                                        <h1>Fantasy</h1>
                                        <p>
                                            With the popularity of shows like Game of Thrones and the forthcoming Amazon adaptation of Lord of the Rings, all things fantasy are
                                            on trend. We should try to incorporate this into our promotions.
                                        </p>

                                        <div style="padding: 0 20px;">
                                            <button class="btn btn-info community-button usetheme" onclick="$(this).hide(); $('.change').show(); $('.other').hide();">
                                                <i class="fa fa-check"></i> &nbsp; Use this theme
                                            </button>

                                            <button class="btn btn-warning community-button change" style="display: none;" onclick="$(this).hide(); $('.usetheme').show(); $('.other').show();">
                                                <i class="fa fa-pencil"></i> &nbsp; Change theme
                                            </button>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col other">
                                <a href="#" class="article-feature">
                                    <div class="article-feature-img" style="background: url('dist/img/community/alpine.jpg');">
                                    </div>
                                    <div class="info">
                                        <h1>Winter Sports</h1>
                                        <p>
                                            The Winter Olympics are upon us, and now is the time to start introducing Olympic themed content into our promotional materials
                                            to hit current trends and maximise our market exposure.
                                        </p>

                                        <div style="padding: 0 20px;">
                                            <button class="btn btn-info community-button usetheme2" onclick="$(this).hide(); $('.change2').show(); $('.other2').hide();">
                                                <i class="fa fa-check"></i> &nbsp; Use this theme
                                            </button>

                                            <button class="btn btn-warning community-button change2" style="display: none;" onclick="$(this).hide(); $('.usetheme2').show(); $('.other2').show();">
                                                <i class="fa fa-pencil"></i> &nbsp; Change theme
                                            </button>
                                        </div>
                                    </div>
                                </a>
                            </div>

                        </div>


                        <br />
                        <a href="#ad-overview" data-toggle="tab" class="btn btn-warning btnPrevious"><i class="fa fa-angle-left"></i> &nbsp; Previous</a>
                        <a href="#ad-attachments" data-toggle="tab" class="btn btn-success btnNext">Next &nbsp; <i class="fa fa-angle-right"></i></a>
                    </div>
                    <!-- END Theme -->
                    <!-- Attachments -->
                    <div class="tab-pane fade" id="ad-attachments">

                        <div class="activity-overview generic help-text animated bounce">
                            <i class="fa fa-info-circle"></i>
                            <p>Adding files here will place them in your Campaign's Media section. You can assign them to folders after your Campaign is created.</p>
                        </div>

                        <form action="#" class="dropzone" id="multifile">
                            <div class="dz-message" data-dz-message><span>Click or drag and drop files here</span></div>
                        </form>

                        <br />
                        <a href="#ad-overview" data-toggle="tab" class="btn btn-warning btnPrevious"><i class="fa fa-angle-left"></i> &nbsp; Previous</a>
                        <button class="btn btn-success" data-dismiss="modal">Confirm</button>

                    </div>
                    <!-- END Attachments -->


                </div>


            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->