
<div class="modal fade left" id="app-marketing-config" role="dialog" aria-labelledby="app-marketing-config">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Sales &amp; Marketing Configuration</h5>
            </div>
            <div class="modal-body">

                <div class="well custom">
                    <form name="marketingconfig">

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="destination">Destination Qbicle (for ideas etc)</label>
                                    <select name="destination" class="form-control select2" style="width: 100%;">
                                        <option value="0" selected>Daily Opening Checklist</option>
                                        <option value="1">General Operations</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group" style="margin: 0;">
                                    <label for="destination">Automatically create folders for storing Resources</label>
                                    <div class="checkbox toggle" style="margin-bottom: 0;">
                                        <label>
                                            <input data-toggle="toggle" data-onstyle="success" type="checkbox">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>

                <a href="#" class="btn btn-danger" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-success" data-dismiss="modal">Confirm</a>


            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->