<div class="modal fade left" id="app-marketing-schedule-queue" role="dialog" aria-labelledby="app-marketing-schedule-queue">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Schedule and Add to Queue</h5>
            </div>
            <div class="modal-body">

                <div class="well custom">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="datetime">Date/time to send</label>
                                <input id="aId" type="hidden" name="aId" value="0">
                                <input id="sPostingDate" type="text" name="sPostingDate" required class="form-control singledateandtime">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group" style="margin: 0;">
                                <div class="checkbox toggle">
                                    <label>
                                        <input id="isNotifyWhenSent" name="isNotifyWhenSent" data-toggle="toggle" data-onstyle="success" type="checkbox" checked>
                                        Notify me when it's sent
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <a href="#" class="btn btn-danger" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-success" onclick="AddEmailQueueSchedule();">Confirm</a>


            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->