@using Qbicles.Models;
@using Qbicles.BusinessRules;
@model List<QbicleMedia>
@{
    var api = (string)ViewBag.DocRetrievalUrl;
    var refdivid = ViewBag.refdivid;
}
@foreach (var media in Model)
{
    var mediaLastUpdate = media.VersionedFiles.Where(e => !e.IsDeleted).OrderByDescending(x => x.UploadedDate).FirstOrDefault();
    if (media.FileType.Type.Equals("Image File", StringComparison.OrdinalIgnoreCase))
    {
        <div class="col other rs-@mediaLastUpdate.Uri">
            <a href="javascript:void(0);" class="article-feature">
                <div class="article-feature-img" style="background: url('@api@mediaLastUpdate.Uri&size=S');"></div>
                <div class="info" style="padding: 30px 0 15px 0;">
                    <h1 style="margin: 0; padding: 0 20px 5px 20px;">@media.Name</h1>
                    <p>@Utility.GetFileTypeDescription(media.FileType.Extension)</p>

                    <div style="padding: 0 20px;">
                        <button type="button" class="btn btn-info community-button usetheme@(mediaLastUpdate.Uri)"
                                onclick="chooseMediaAdd(this, '@(mediaLastUpdate.Uri)', '@api@mediaLastUpdate.Uri',true,'@refdivid')">
                            <i class="fa fa-check"></i> &nbsp; Use this
                        </button>

                        <button type="button" class="btn btn-warning community-button change@(mediaLastUpdate.Uri)" style="display: none;"
                                onclick="chooseMediaAdd(this, '@(mediaLastUpdate.Uri)', '#',false,'@refdivid')">
                            <i class="fa fa-pencil"></i> &nbsp; Change
                        </button>
                    </div>
                </div>
            </a>
        </div>
    }
}
<script>
    $(document).ready(function () {
        if (jQuery().fancybox) {
            $(".image-pop").fancybox({
                beforeLoad: function () {
                    var el, id = $(this.element).data('title-id');

                    if (id) {
                        el = $('#' + id);

                        if (el.length) {
                            this.title = el.html();
                        }
                    }
                },
                padding: 0
            });
        }
    });
</script>