@using Qbicles.Models.SalesMkt;
@{
    var api = (string)ViewBag.DocRetrievalUrl;
    var pipelineContacts = (List<PipelineContact>)ViewBag.PipelineContacts;
}
@{
    var preChar = "";
}
@foreach (var pipelineContact in pipelineContacts)
{
    var firstChar = (pipelineContact.Contact.Name != null ? pipelineContact.Contact.Name[0].ToString().ToUpper() : "");
    if (!preChar.Equals(firstChar))
    {
        preChar = firstChar;
        <li class="letters" style="padding-top: 0;">@firstChar</li>
    }

    <li>
        <a href="#" onclick="$('.contact-list').hide(); $('.contact').fadeIn(); showExistPipelineContact(@pipelineContact.Id)">
            <div class="contact-avatar">
                <div style="background-image: url('@(api + pipelineContact.Contact.AvatarUri + "&size=T")');">&nbsp;</div>
            </div>
            <div class="contact-info">
                <h5>@pipelineContact.Contact.Name</h5>
                <p class="prospect-rating">
                    @{
                        var num = 0;
                        switch (pipelineContact.Rating)
                        {
                            case ProspectRating.Star_1: num = 1; break;
                            case ProspectRating.Star_2: num = 2; break;
                            case ProspectRating.Star_3: num = 3; break;
                            case ProspectRating.Star_4: num = 4; break;
                            case ProspectRating.Star_5: num = 5; break;
                        }
                    }
                    @for (var i = 1; i <= num; i++)
                    {
                        <i class="fa fa-star"></i>
                    }
                </p>
            </div>
        </a>
    </li>
}