<div class="modal fade left" id="app-marketing-location-add" role="dialog" aria-labelledby="app-marketing-location-add">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Add a Location</h5>
            </div>
            <div class="modal-body">


                <div class="well custom">

                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="locationname">Location name <span class="red">*</span></label>
                                <input type="text" name="locationname" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="locationcountry">Country <span class="red">*</span></label>
                                <select name="locationcountry" class="form-control select2" style="width: 100%;">
                                    <option value=""></option>
                                    <option value="0">Nigeria</option>
                                    <option value="1">UK</option>
                                    <option value="2">USA</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="locationlinks">Link to...</label>
                                <select name="locationlinks" class="form-control select2" style="width: 100%;">
                                    <option value=""></option>
                                    <optgroup label="Nigeria">
                                        <option value="0-0">Abuja</option>
                                        <option value="0-1">Lekki</option>
                                    </optgroup>
                                    <optgroup label="UK">
                                        <option value="1-0">Edinburgh</option>
                                        <option value="1-1">London</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="locationprospects">Prospects</label>
                                <input type="text" class="form-control" name="locationprospects" min="0" value="0">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group" style="margin: 0;">
                                <label for="locationsummary">Summary <span class="red">*</span></label>
                                <textarea name="locationsummary" class="form-control" style="height: 80px;"></textarea>
                            </div>
                        </div>
                    </div>


                </div>


                <br />
                <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button class="btn btn-success" data-dismiss="modal">Confirm</button>



            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->