<div class="modal fade left" id="app-marketing-network-connect" role="dialog" aria-labelledby="app-marketing-network-connect">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Connect a social media account</h5>
            </div>
            <div class="modal-body">
                        
                <div class="activity-overview generic help-text animated bounce">
                    <i class="fa fa-info-circle"></i>
                    <p>We currently support Facebook, Instagram and Twitter connections. Click the type you want to add below and we'll direct you...</p>
                </div>

                    
                <div class="well custom">
                    <div class="form-group">
                        <label for="networktype">Available networks</label>
                        <select name="networktype" class="form-control select2" style="width: 100%;" onchange="$('#network-more').show();">
                            <option value=""></option>
                            <option value="1">Facebook</option>
                            <option value="2">Instagram</option>
                            <option value="3">Twitter</option>
                        </select>
                    </div>
                    <div class="form-group" id="network-more" style="display: none;">
                        <label for="networktype">Account type</label>
                        <select name="networktype" class="form-control select2" style="width: 100%;">
                            <option value=""></option>
                            <option value="1">Facebook Profile</option>
                            <option value="2">Facebook Page</option>
                            <option value="3">Facebook Group</option>
                        </select>
                    </div>
                    
                    <button class="btn btn-primary" onclick="window.open('https://www.facebook.com/v3.3/dialog/oauth?client_id={app-id}&redirect_uri=http://qbicles.talisman-innovations.com&state={state-param}', '_blank');">
                        Connect now
                    </button>
                </div>                
                
                <br />
                <a href="" class="btn btn-danger" data-dismiss="modal">Cancel</a>
                <a href="#" data-dismiss="modal" class="btn btn-success">Finish</a>
                
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->