<div class="modal fade left" id="app-marketing-pipeline-move" role="dialog" aria-labelledby="app-marketing-pipeline-move">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Move contact(s)</h5>
            </div>
            <div class="modal-body">

                <div class="well custom">
                    <div class="form-group" style="margin: 0;">
                        <label for="title">Move to this stage in the pipeline</label>
                        <select name="stage" class="form-control select2" style="width: 100%;">
                            <option value="Prospects" selected>Prospects</option>
                            <option value="Leads">Leads</option>
                            <option value="Customers">Customers</option>
                        </select>
                    </div>
                </div>
                
                <button type="submit" class="btn btn-success" data-dismiss="modal">Confirm</button>
                <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->