<div class="modal fade left" id="app-marketing-pipeline-prospect-add" role="dialog" aria-labelledby="app-marketing-pipeline-prospect-add">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Add a Prospect to your Pipeline</h5>
            </div>
            <div class="modal-body" style="padding-bottom: 50px;">

                <div class="contact-list" style="margin: 0 15px;">

                    <div class="activity-overview task" style="padding: 25px 20px 15px 20px;">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="search">Search contacts</label>
                                    <input type="text" name="search" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="search">Filter by group</label>
                                    <select name="group" class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                        <option value="0" selected="">All</option>
                                        <option value="1">Bounty Hunters</option>
                                        <option value="2">Friends &amp; Family</option>
                                        <option value="3">Mentors</option>
                                        <option value="4">Nemeses</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="margin: 25px 0 0 0;">

                        <div>
                            <ul class="widget-contacts">
                                <li class="letters" style="padding-top: 0;">F</li>
                                <li>
                                    <a href="#" onclick="$('.contact-list').hide(); $('.contact').fadeIn();">
                                        <div class="contact-avatar">
                                            <div style="background-image: url('dist/img/contact-5.jpg');">&nbsp;</div>
                                        </div>
                                        <div class="contact-info">
                                            <h5>Boba Fett</h5>
                                            <p>Bounty Hunters</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="letters">S</li>
                                <li>
                                    <a href="#" onclick="$('.contact-list').hide(); $('.contact').fadeIn();">
                                        <div class="contact-avatar">
                                            <div style="background-image: url('dist/img/contact-2.jpg');">&nbsp;</div>
                                        </div>
                                        <div class="contact-info">
                                            <h5>Luke Skywalker</h5>
                                            <p>Friends &amp; Family</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" onclick="$('.contact-list').hide(); $('.contact').fadeIn();">
                                        <div class="contact-avatar">
                                            <div style="background-image: url('dist/img/contact-4.jpg');">&nbsp;</div>
                                        </div>
                                        <div class="contact-info">
                                            <h5>Han Solo</h5>
                                            <p>Friends &amp; Family</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="letters">V</li>
                                <li>
                                    <a href="#" onclick="$('.contact-list').hide(); $('.contact').fadeIn();">
                                        <div class="contact-avatar">
                                            <div style="background-image: url('dist/img/contact-1.jpg');">&nbsp;</div>
                                        </div>
                                        <div class="contact-info">
                                            <h5>Darth Vader</h5>
                                            <p>Nemeses</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="letters">Y</li>
                                <li>
                                    <a href="#" onclick="$('.contact-list').hide(); $('.contact').fadeIn();">
                                        <div class="contact-avatar">
                                            <div style="background-image: url('dist/img/contact-3.jpg');">&nbsp;</div>
                                        </div>
                                        <div class="contact-info">
                                            <h5>Yoda</h5>
                                            <p>Mentors</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>


                    <br /><br />
                    <a href="#" data-dismiss="modal" class="btn btn-danger">Cancel</a>
                    <a href="#" data-dismiss="modal" class="btn btn-success">Finish</a>

                </div>

                <div class="contact" style="display: none;">

                    <div class="flex-grid-fluid-lg from-community c1" style="width: 100%;">

                        <div class="col" style="width: 100%; max-width: 500px; margin: 0 auto; flex: 0;">
                            <a href="#" class="article-feature">
                                <div class="article-feature-img" style="background: url('dist/img/contact-5.jpg');">
                                </div>
                                <div class="info">
                                    <smaller>Source: Community</smaller>
                                    <h1>Boba Fett</h1>
                                    <p>Profile information pulled through here, possibly? Need to discuss relevant contact info for this section.</p>

                                    <div style="padding: 0 20px;">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <button class="btn btn-primary community-button" onclick="$('.contact').hide(); $('.contact-list').show();"><i class="fa fa-angle-left"></i> &nbsp; Contact list</button>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <button class="btn btn-success add-user community-button" onclick="$(this).hide(); $('.remove-user').show();"><i class="fa fa-user-plus"></i> &nbsp; Add</button>
                                                <button class="btn btn-danger remove-user community-button" style="display: none;" onclick="$(this).hide(); $('.add-user').show();"><i class="fa fa-trash"></i> &nbsp; Remove</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>

                </div>



            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->