<div class="modal fade left" id="app-marketing-pipeline-contact-manage" role="dialog" aria-labelledby="app-marketing-pipeline-contact-manage">
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title">Options for Darth Vader</h5>
        </div>
        <div class="modal-body">
                    

            <div class="contact">

                <div class="flex-grid-fluid-lg from-community c1" style="width: 100%;">

                    <div class="col" style="width: 100%; margin: 0 auto; flex: 0;">
                        <a href="#" class="article-feature" style="display: block; max-width: 500px; margin: 0 auto;">
                            <div class="article-feature-img" style="background: url('dist/img/contact-1.jpg');">
                            </div>
                            <div class="info">
                                <h1>Darth Vader</h1>
                                <p>Profile information pulled through here, possibly? Need to discuss relevant contact info for this section.</p>
                        
                                
                                <div style="padding: 0 20px;">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <button class="btn btn-danger remove-user community-button"><i class="fa fa-trash"></i> &nbsp; Remove from pipeline</button>
                                        </div>
                                    </div>
                                </div>
                                
                                
                            </div>
                        </a>
                        
                        <div class="activity-overview plain" style="padding-left: 0; padding-right: 0;">

                            <div class="row">
                                <div class="col-xs-12">
                                    <ul class="app_subnav admintabs" style="padding-top: 0;">
                                        <li class="active"><a href="#contact-tasks" data-toggle="tab">Associated Tasks</a></li><li><a href="#contact-events" data-toggle="tab">Associated Events</a></li> 
                                    </ul>
                                </div>
                            </div>

                            <br />


                            <div class="tab-content">

                                <!-- Tasks -->
                                <div class="tab-pane fade in active" id="contact-tasks">

                                    <table class="datatable table-striped table-hover" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Title</th>
                                                <th>Summary</th>
                                                <th>Deadline</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>001</td>
                                                <td>Follow-up contact</td>
                                                <td>Seems keen - sales call could help</td>
                                                <td>01/08/19 3:00pm</td>
                                                <td><label class="label label-success label-lg">Complete</label></td>
                                            </tr>
                                            <tr>
                                                <td>002</td>
                                                <td>Retention call</td>
                                                <td>No contact for &gt; 7 days, please chase</td>
                                                <td>16/08/19 9:00am</td>
                                                <td><label class="label label-warning label-lg">Pending</label></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    
                                    <br />
                                    <button class="btn btn-success"><i class="fa fa-plus"></i> &nbsp; Add a Task</button>
                                </div>
                                <!-- END Tasks -->


                                <!-- Events -->
                                <div class="tab-pane fade" id="contact-events">

                                    <table class="datatable table-striped table-hover" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Title</th>
                                                <th>Summary</th>
                                                <th>Date/time</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>001</td>
                                                <td>Example Event</td>
                                                <td>Lorem ipsum dolor sit amet consectetur, adipiscing elit.</td>
                                                <td>01/08/19 3:00pm</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    
                                    <br />
                                    <button class="btn btn-success"><i class="fa fa-plus"></i> &nbsp; Add an Event</button>
                                </div>
                                <!-- END Tasks -->

                            </div>
                            
                        </div>
                                
                                

                    </div>

                </div>

            </div>   
         

        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->