<div class="modal fade" id="app-marketing-post-success" role="dialog" aria-labelledby="app-marketing-post-success">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center" style="padding-top: 30px; padding-bottom: 15px;">
                
                
                <h1 class="ro">Your post was successful</h1>
                <p style="font-size: 14px; font-weight: 300; margin: 10px 20px 10px 20px;">Your post was successful, and the content's with your selected network accounts. You can
                view the results of your post in the <a href="#">Sent tab of your Queue</a>.</p>
                
                <br />
                <button class="btn btn-success community-button" data-dismiss="modal">OK</button>
                
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->