<div class="modal fade" id="search-mini" tabindex="-1" role="dialog" aria-labelledby="search-mini">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Search this Qbicle</h5>
            </div>
            <div class="modal-body">

                <form name="search" method="post" action="#" class="modal-form">
                    <div class="form-group">
                        <label for="search">Search for...</label>
                        <input type="text" name="search" class="form-control">
                    </div>
                    <a href="#" class="btn btn-success" data-dismiss="modal">Search now</a>
                    <a href="#" class="btn btn-danger" data-dismiss="modal">Cancel</a>
                </form>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
