<div class="modal fade left" id="app-marketing-social-accounts" role="dialog" aria-labelledby="app-marketing-social-accounts">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Manage target social network accounts</h5>
            </div>
            <div class="modal-body">
                
                <div class="activity-overview generic help-text animated bounce">
                    <i class="fa fa-info-circle"></i>
                    <h5 style="margin-top: 0; padding-top: 0;">Why can't I see all my accounts here?</h5>
                    <p>If any of your accounts are missing you can try <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#app-marketing-social-campaign-edit">editing your Campaign</a> 
                    to ensure it's included in the list of target networks.</p>
                    
                    <br />
                    
                    <h5>Enabling/disabling accounts</h5>
                    <p>Changes made to target networks will only affect future posts - any posts currently queued or in review will not be affected. To change their targets you should
                    unqueue and edit their target networks manually.</p>
                </div>
                
                
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="app_subnav admintabs" style="padding-top: 0;">
                            <li class="active"><a href="#facebook" data-toggle="tab">Facebook</a></li><li><a href="#twitter" data-toggle="tab">Twitter</a></li>  
                        </ul>
                    </div>
                </div>
                
                <br />
                
                
                <div class="tab-content">
                    
                    
                    <!-- Facebook -->
                    <div class="tab-pane fade in active" id="facebook">
                
                        <ul class="avatar-listing unstyled" style="margin-bottom: 0 !important;">
                            <li>
                                <a href="#">
                                    <div class="owner-avatar">
                                        <div class="avatar-sm" style="background: url('dist/img/contact-2.jpg');"></div>
                                        <span class="network facebook"></span>
                                    </div>
                                    <h5>Luke Skywalker<br /><small>luke.skywalker.123</small></h5>
                                    <div class="updates">
                                        <div class="checkbox toggle" style="margin-top: 9px !important;">
                                            <label>
                                                <input data-toggle="toggle" name="facebook[]" data-onstyle="success" type="checkbox" checked>
                                            </label>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="owner-avatar">
                                        <div class="avatar-sm" style="background: url('dist/img/contact-3.jpg');"></div>
                                        <span class="network facebook"></span>
                                    </div>
                                    <h5>Yoda<br /><small>jedi.master</small></h5>
                                    <div class="updates">
                                        <div class="checkbox toggle" style="margin-top: 9px !important;">
                                            <label>
                                                <input data-toggle="toggle" name="facebook[]" data-onstyle="success" type="checkbox">
                                            </label>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        
                    </div>
                    <!-- END Facebook -->
                    
                    
                    <!-- Twitter -->
                    <div class="tab-pane fade" id="twitter">
                
                        <ul class="avatar-listing unstyled" style="margin-bottom: 0 !important;">
                            <li>
                                <a href="#">
                                    <div class="owner-avatar">
                                        <div class="avatar-sm" style="background: url('dist/img/contact-5.jpg');"></div>
                                        <span class="network twitter"></span>
                                    </div>
                                    <h5>Boba Fett<br /><small>@@bobothebountyhunter</small></h5>
                                    <div class="updates">
                                        <div class="checkbox toggle" style="margin-top: 9px !important;">
                                            <label>
                                                <input data-toggle="toggle" data-onstyle="success" type="checkbox" checked>
                                            </label>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        
                    </div>
                    <!-- END Twitter -->
                    
                </div>

                
                <br /><br /><br />
                <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button class="btn btn-success" data-dismiss="modal">Confirm</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->