<div class="modal fade left" id="app-marketing-social-twitter-add" role="dialog" aria-labelledby="app-marketing-social-twitter-add">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Link your Twitter Account</h5>
            </div>
            <div class="modal-body">
                <form id="frm-twitter" method="post" action="/SalesMarketing/TwitterAuth" novalidate="novalidate">
                    <div class="activity-overview task" style="padding: 20px 20px 15px 20px;">
                        <h5>Authorising Twitter</h5>
                        <p style="font-size: 12px;">
                            To link your Twitter account to Qbicles Sales &amp; Marketing you first need to ensure you're logged in to the relevant
                            Twitter account. From there you can navigate here and click the button below. When you do so, Twitter will ask you to grant permissions to Qbicles
                            that allow posting directly to your feed.
                        </p>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-info community-button"><i class="fa fa-twitter"></i> &nbsp; Authorise Qbicles on Twitter</button>

                </form>
               
            </div>
            </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->