@using Qbicles.Models.Trader;
@using Qbicles.BusinessRules;
@model List<TraderContact>
@{
    var api = (string)ViewBag.DocRetrievalUrl;
}
<table class="datatable table-striped table-hover" id="trader-table" style="width: 100%;">
    <thead>
        <tr>
            <th style="width: 40px;" data-orderable="false"></th>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td><div class="table-avatar mini" style="background-image: url('@(api+item.AvatarUri + "&size=T")');"></div></td>
                    <td>@item.Name</td>
                    <td><a href="mailto:@item.Email">@item.Email</a></td>
                    <td><i class="fa fa-check green"></i> &nbsp; Imported</td>
                </tr>
            }
        }
    </tbody>
</table>