@using Qbicles.Models.Trader.Inventory
@model StockAudit
@{
    ViewBag.Title = "Shift Audit Review";

}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper qbicle-detail" id="discussion-thread">

    <input id="shiftaudit_id" value="@Model.Id" type="hidden" />
    <!-- Main content -->
    <section class="content" id="shiftaudit_content">
    </section>
    <!-- ./content -->

</div>
<!-- /.content-wrapper -->
<div class="modal fade" id="app-trader-workgroup-preview" role="dialog" aria-labelledby="app-trader-workgroup-preview">

</div><!-- /.modal -->
@{
    Html.RenderAction("GenerateModalMediaByQbicleId", "Qbicles", new { cubeId = Model.WorkGroup.Qbicle.Id });
}
@{
    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/trader.itemstockaudit.review.js"></script>
    }
    else
    {
        <script src="~/Scripts/dev/trader.itemstockaudit.review.min.js"></script>
    }
}
<script>
    RenderContentUpdated(true);
</script>

