<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @if (Model == null)
            {
                <h5 class="modal-title">Add new Safe</h5>
            }
            else
            {
                <h5 class="modal-title">Edit Safe @(Model.Name ?? "")</h5>
            }

        </div>
        <div class="modal-body">

            <div class="well custom">

                <div class="row">
                    <form class="form-group" id="form_safe_add">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="safe-name">Safe name <span class="red">*</span></label>
                                <input type="text" name="Name" id="safe-name" required class="form-control" value="@(Model?.Name ?? "")">
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group" style="margin: 0;">
                                <label for="serial">Linked Cash &amp; Bank Account</label>
                                <select name="bank-account" id="safe-bank-account" class="form-control" aria-invalid="true" style="width: 100%;" tabindex="-1">
                                    @{
                                        var selectedBankAccountId = Model?.CashAndBankAccount?.Id ?? -1;
                                        <option>Please select</option>
                                        foreach (var bankAccountItem in ViewBag.ListCashAndBankAccount)
                                        {
                                            var isSelected = (selectedBankAccountId == bankAccountItem.Id) ? "selected" : "";
                                            <option value="@bankAccountItem.Id" @isSelected>@(bankAccountItem.Name ?? "")</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

            <br />
            <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
            <button class="btn btn-success" onclick="SaveSafe()">Confirm</button>



        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script>
    $("#safe-bank-account").select2();
</script>