<!-- General -->
<div class="tab-pane fade in active" id="tab-cash-general">

    <div class="well custom">

        <p style="margin: 0;">Reserved space for any potential configuration</p>

    </div>

</div>
<!-- END General -->
