@using Qbicles.Models.Trader.CashMgt;
@using Qbicles.BusinessRules
@model Till
@{
    //Export
    var createdDate = DateTime.Now;
    var timeZone = (string)ViewBag.CurrentTimeZone ?? "";
    var currencySettings = (Qbicles.Models.CurrencySetting)ViewBag.CurrencySettings;
    var user = (Qbicles.Models.ApplicationUser)ViewBag.CurrentUser;
    var defaultLocation = (Qbicles.Models.Trader.TraderLocation)ViewBag.DefaultLocation;
    var logoBase64 = (string)ViewBag.DomainLogoBase64;
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper qbicle-detail mdv2-wrapper" style="position: relative;">
    <input type="hidden" value="true" id="isReloadPageNeeded" />

    <!-- Main content -->
    <section class="mdv2 dash" data-tooltip-color="teal" data-tooltip-delay="300" data-tooltip-animate-function="spin" style="border-top: 1px solid #f1f1f1;">

        <!-- App bar -->
        <div class="mdv2-col-app" style="margin-bottom: 0;">

            <div data-spy="affix" class="contained-sidebar">

                <div class="activity-overview plain company-overview welcome-info" style="text-align: left !important; flex: none; margin: 0; padding-top: 30px; padding-bottom: 0;">

                    <div class="pull-left" style="margin-bottom: 15px;">
                        <a href="/Trader/AppTrader" class="btn btn-primary"><i class="fa fa-angle-left"></i> &nbsp; Shift Management</a>
                        <a href="#" class="btn btn-warning" onclick="TillAddEdit(@Model.Id)"><i class="fa fa-pencil"></i> &nbsp; Edit</a>
                    </div>
                    <div class="clearfix"></div>

                    <br />

                    <h1 style="line-height: 1.2;">@Model.Name</h1>
                    <br /><br />


                    <div class="form-group">
                        <label for="location">Associated POS Devices</label>
                        @{
                            var posDevicesNames = "";
                            foreach (var posDeviceItem in Model.PosDevices)
                            {
                                if (posDevicesNames == "")
                                {
                                    posDevicesNames = posDeviceItem.Name;
                                }
                                else
                                {
                                    posDevicesNames += ", " + posDeviceItem.Name;
                                }
                            }
                        }
                        <p style="margin: 0;">@posDevicesNames</p>
                    </div>
                    <br />
                    <div id="till-left-panel">
                        @{Html.RenderAction("TillLeftPanelPartial", "CashManagement", new { tillId = Model.Id, unapproved = ViewBag.UnApproved });}
                    </div>
                </div>




            </div>
        </div>
        <!-- END App bar -->
        <!-- Main area -->
        <div class="mdv2-col-dash" id="till-detail-table-content">

        </div>
    </section>
    <!-- ./content -->

</div>
<!-- /.content-wrapper -->

<div class="modal fade left" id="app-trader-sm-till-pay-in-out" role="dialog" aria-labelledby="app-trader-pos-cash-device-payout"> </div><!--Modal content-->
<!-- /.Till payin/payout modal -->

<div class="modal fade left" id="app-trader-pos-cash-device-add" role="dialog" aria-labelledby="app-trader-pos-cash-device-add">
</div><!-- /.till edit modal -->

<div class="modal fade left" id="app-trader-pos-cash-checkpoint-add" role="dialog" aria-labelledby="app-trader-pos-cash-checkpoint-add">
</div><!-- /.checkpoint modal -->

@{
    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/trader.shiftmanagement.cashmanagement.js"></script>
        <script src="~/Scripts/dev/cashmanagement.device.js"></script>
        <script src="~/Content/DesignStyle/js/bootstrap-multiselect.js"></script>
    }
    else
    {
        <script src="~/Scripts/dev/trader.shiftmanagement.cashmanagement.min.js"></script>
        <script src="~/Scripts/dev/cashmanagement.device.min.js"></script>
        <script src="~/Content/DesignStyle/js/bootstrap-multiselect.min.js"></script>
    }
}

<script>
    ShowTillDetailTable(@Model.Id);
</script>