@using Qbicles.Models.Trader.SalesChannel;
@model  PosSettings
@{

}

    <div class="well custom" style="padding-bottom: 5px;">
        <input type="hidden" value="@Model.Id" id="setting_id" name="settingid">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="refresh">Refresh timer (seconds)</label>
                    <input type="number" onchange="updateOrderDisplayRefresh(this)" min="0" value="@Model.OrderDisplayRefreshInterval" class="form-control" name="refresh">
                </div>
            </div>
        </div>
    </div>

@{
    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/pds.preparationdisplaysystem.js"></script>
    }
    else
    {
        <script src="~/Scripts/dev/pds.preparationdisplaysystem.min.js"></script>
    }
}