
@{
    
}

<ul class="nav nav-pills nav-marketing" style="margin-bottom: 0;">
    <li class="active"><a href="#ddsdevice" onclick="ShowDds('ddsdevice')">Devices</a></li>
    <li><a href="#ddsdriver" onclick="ShowDds('ddsdriver')">Drivers</a></li>
</ul>

<br />

<div id="dds-content" class="tab-content">
</div> <!-- ./tab-content -->



<div class="modal fade left" id="app-trader-dds-device-add-edit" role="dialog" aria-labelledby="app-trader-dds-device-add-edit">
</div>


<div class="modal fade left" id="app-trader-dds-driver-add-edit" role="dialog" aria-labelledby="app-trader-dds-driver--add">
    
</div>

<div class="modal fade" style="z-index: 9999" id="confirm-delete" role="dialog" aria-labelledby="confirm-delete">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <div class="activity-overview generic help-text" style="margin: 0;">
                    <i class="fa fa-info-circle"></i>
                    <p>You are about to delete item <strong><span id="name-delete"></span></strong> permanently. This action cannot be undone. If you are sure you wish to proceed, please confirm below...</p>


                    <button class="btn btn-danger" onclick="CancelDelete()">Cancel</button>
                    <button class="btn btn-success" onclick="DeleteDds()">Confirm &amp; Delete</button>
                </div>


            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

@*<script src="~/Content/DesignStyle/js/bootstrap-multiselect.min.js"></script>*@ 
<script>
    $(function () {

        $('.nav-marketing a').click(function () {
            $(this).parent().addClass('active').siblings().removeClass('active');
        });
        var url = window.location.href;
        url = url.substr(url.indexOf('#') + 1, url.length).split('#');
        var activeTab = getTabTrader().SubTraderTab;
        if (url[1]) {
            activeTab = url[1];
        }
        switch (activeTab) {
        case "ddsdevice":
        case "ddsdriver":
            break;
        default:
            activeTab = "ddsdevice";
            break;
        }

        
        ShowDds(activeTab);


    });
    function ShowDds(activeTab) {
        var tabPointSale = getTabTrader().TraderTab;
        $('a[href="#' + activeTab + '"]').tab('show');
        setTabTrader(tabPointSale, activeTab);
        var ajaxUri = '';
        if (activeTab === "ddsdevice")
            ajaxUri = '/DDS/DdsDevicesContent';
        else
            ajaxUri = '/DDS/DdsDriversContent';
        $('#dds-content').LoadingOverlay("show");
        $('#dds-content').empty();
        $('#dds-content').load(ajaxUri, function () {
            $('#dds-content').LoadingOverlay("hide");
        });
    };

    //$('select.select2').select2({ placeholder: 'Please select'});
    //$('.checkbox.toggle input').bootstrapToggle();

    //$('.checkmulti')
    //    .multiselect({
    //        allSelectedText: 'All',
    //        includeSelectAllOption: false,
    //        enableFiltering: false,
    //        buttonWidth: '100%',
    //        maxHeight: 400,
    //        enableClickableOptGroups: true
    //    })
    //    .multiselect('selectAll', false)
    //    .multiselect('updateButtonText');


    ////$("#device-admin").multiselect({
    ////    includeSelectAllOption: false,
    ////    enableFiltering: false,
    ////    buttonWidth: '100%',
    ////    maxHeight: 200,
    ////    enableClickableOptGroups: true
    ////});

    //$('.select2avatar').select2({
    //    placeholder: 'Please select',
    //    templateResult: formatOptions,
    //    templateSelection: formatSelected
    //});
</script>