
@using Qbicles.BusinessRules;
@using Qbicles.Models.Trader.ODS
@model List<OdsDeviceType>
@{

}

    <table class="datatable table-striped table-hover" id="ods-device-type-table" style="width: 100%;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type(s)</th>
                <th>Status(es)</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var type in Model)
            {
                <tr id="ods-device-type-row-id-@type.Id">
                    <td>@type.Name</td>
                    <td>
                        @{

                            var types = type.AssociatedOrderTypes.Select(n => n.Name);
                            var typeName = string.Join(", ", types);

                        }
                        @typeName
                    </td>
                    <td>
                        @{

                            var statuses = type.OrderStatus.Select(n => n.Status.GetDescription());
                            var statusesName = string.Join(", ", statuses);

                        }
                        @statusesName
                    </td>
                    <td>
                        <input type="hidden" id="ods-device-type-name-@type.Id" value="@type.Name" />
                        <a onclick="OdsDeviceTypeAddEdit(@type.Id)" class="btn btn-warning"><i class="fa fa-pencil"></i></a>
                        <a onclick="ConfirmOdsDeviceTypeDelete(@type.Id)" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }


        </tbody>
    </table>

<script>

    $('#ods-device-type-table').DataTable({
        responsive: true,
        order: [[0, 'asc']]
    });
</script>