@using Qbicles.Models.Qbicles
@{ 
    var countries = (List<Country>)ViewBag.AllCountries;
}
<div class="modal fade left" id="app-operator-location-addedit" role="dialog" aria-labelledby="app-operator-location-addedit">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Add a location</h5>
            </div>
            <div class="modal-body">
                <form id="frmOperatorLocation" action="/Operator/SaveLocation" method="post" novalidate="novalidate">
                    <div class="row">
                        <div class="col-xs-12">

                            <div class="activity-overview generic help-text animated bounce">
                                <i class="fa fa-info-circle"></i>
                                <h5 style="margin: 0 0 8px 0;">About Operator Locations</h5>
                                <p>Adding a Location to Operator allows you to manage workforces and staff across one or more Countries of Operation.</p>
                            </div>

                            <div class="well custom" style="padding-bottom: 5px;">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="Name">Location name</label>
                                            <input type="text" name="Name" class="form-control">
                                            <input type="hidden" name="Id">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="AddressLine1">Address Line 1</label>
                                            <input type="text" name="AddressLine1" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="AddressLine2">Address Line 2</label>
                                            <input type="text" name="AddressLine2" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="City">City</label>
                                            <input type="text" name="City" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="State">State</label>
                                            <input type="text" name="State" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="Postcode">Postcode/Zip</label>
                                            <input type="text" name="Postcode" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="CountryName">Country</label>
                                            <select name="CountryName" id="country" class="form-control select2" style="width: 100%;">
                                                <option value=""></option>
                                                @foreach (var country in countries)
                                                {
                                                    <option value="@country.CommonName">@country.CommonName</option>
                                                }
                                            </select>
                                            <label id="country-error" class="error" for="country" style="display: none;"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="Email">Email address</label>
                                            <input type="email" name="Email" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group" style="margin: 0;">
                                            <label for="Telephone">Telephone</label>
                                            <input type="text" name="Telephone" class="form-control">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <br />
                    <button data-dismiss="modal" class="btn btn-danger">Cancel</button>
                    <button class="btn btn-success">Confirm</button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>