@using Qbicles.Models.Operator;
@using Qbicles.BusinessRules;
@model OperatorWorkGroup
@{
    var api = (string)ViewBag.DocRetrievalUrl;
    var members = Model.TeamMembers;
}
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title">Team members</h5>
        </div>
        <div class="modal-body">

            <table class="datatable table-striped table-hover" id="tblWorkgroupMembers" style="width:100%">
                <thead>
                    <tr>
                        <th data-priority="2" data-orderable="false" style="width: 60px;"></th>
                        <th data-priority="1">Name</th>
                        <th data-priority="1">Role</th>
                    </tr>
                </thead>
                <tbody style="background: #fff;">
                    @if (members != null)
                    {
                        foreach (var item in members)
                        {
                            <tr>
                                <td>
                                    <div class="table-avatar mini" style="background-image: url('@(api+item.Member.ProfilePic)&size=T');"></div>
                                </td>
                                <td>@HelperClass.GetFullNameOfUser(item.Member)</td>
                                <td>
                                    @item.TeamPermission.ToString()
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>

        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
