@using Qbicles.Models.Community;
@model List<Tag>
    @{ 
        var lstChosenTags = (List<string>)ViewBag.chosenTags ?? new List<string>();
    }
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title">All tags</h5>
        </div>
        <div class="modal-body">

            <div class="well custom rounded" style="padding-bottom: 5px;">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <input type="text" id="tagSearchKey" onkeyup="filterTags()" class="form-control" name="search" placeholder="Search tags">
                        </div>
                    </div>
                </div>
            </div>


            <div class="followingblock" style="padding: 0 0 30px 0;">

                <ul class="highltags cattags" id="lstTags" style="margin-top: 0; font-size: 13px !important; display: flex">
                    @if (Model != null && Model.Count > 0)
                    {
                        foreach (var tagItem in Model)
                        {
                            var isActive = lstChosenTags.Contains(tagItem.Name) ? "active" : "";
                            <li class="posttag tag-@(tagItem.Id)"><span class="@isActive" tagid="@(tagItem.Id)" tagname="@(tagItem.Name.Replace(" ", ""))">#@(tagItem.Name)</span></li>
                        }
                    }
                </ul>

            </div>

            <button class="btn btn-danger" onclick="$('.followingblock > .cattags > li > .active').toggleClass('active');">Reset</button>
            <button class="btn btn-primary" onclick="syncActiveTag(); resetPageLoad(); LoadMoreHighlightPost(true)" data-dismiss="modal">Done</button>

        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
@if (System.Diagnostics.Debugger.IsAttached)
{
    <script src="~/Scripts/dev/social.highlight.js"></script>
}
else
{
    <script src="~/Scripts/dev/social.highlight.js"></script>
}
<script>
    $(document).ready(function (e) {
        $('#lstTags > li').bind('click', function (e) {
            $('span', this).toggleClass('active');
        });
    });

    function syncActiveTag() {
        var $tags = $('.posttag');
  
        $tags.each(function () {
 
            var tagId = $(this).find('span').attr('tagid');
            if ($(this).find('span').hasClass('active')) {
                $('.tag-' + tagId).find('span').addClass('active');
            } else {
                $('.tag-' + tagId).find('span').removeClass('active');
            }
        });
    }
</script>