<div class="modal fade left" id="app-marketing-attribute-add" role="dialog" aria-labelledby="app-marketing-attribute-add">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Add an Attribute</h5>
            </div>
            <div class="modal-body">
                <form id="frm-attribute" enctype="multipart/form-data">
                    <div class="well custom">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="attributename">Attribute name <span class="red">*</span></label>
                                    <input type="text" name="Name" required class="form-control">
                                    <input type="hidden" name="Id" value="0">
                                    <input type="hidden" id="sm-brand-attribute-object-key" name="mediaObjectKey" />
                                    <input type="hidden" id="sm-brand-attribute-object-name" name="mediaObjectName" />
                                    <input type="hidden" id="sm-brand-attribute-object-size" name="mediaObjectSize" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="account_number">Icon</label>
                                    <input id="sm-attribute-upload-image" type="file" class="form-control previewAttrimg" name="FeaturedImg" data-target='.attrimg'>
                                </div>

                                <img class="attrimg" src="" alt="Your image" style="display: none; width: 100%; height: auto; margin-bottom: 30px;" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="attributesummary">Summary <span class="red">*</span></label>
                                    <textarea name="Summary" required class="form-control" style="height: 80px;"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-success" onclick="ProcessSaleMarketingBranchAttribute()">Confirm</a>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

