@using Qbicles.Models.SalesMkt
@model Brand
<div class="modal fade left" id="app-marketing-attribute-group-add" role="dialog" aria-labelledby="app-marketing-attribute-group-add">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Add an Attribute Group</h5>
            </div>
            <div class="modal-body">
                <form id="frm-attribute-group" enctype="multipart/form-data">
                    <div class="well custom">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="groupname">Group name <span class="red">*</span></label>
                                    <input type="text" name="Name" required class="form-control">
                                    <input type="hidden" name="Id" value="0" />
                                    <input type="hidden" id="sm-brand-attribute-group-object-key" name="mediaObjectKey" />
                                    <input type="hidden" id="sm-brand-attribute-group-object-name" name="mediaObjectName" />
                                    <input type="hidden" id="sm-brand-attribute-group-object-size" name="mediaObjectSize" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="groupicon">Icon <span class="red">*</span></label>
                                    <input id="sm-attribute-group-upload-image" type="file" class="form-control previewAttrGroupimg" name="FeaturedImg" data-target='.groupimg'>
                                </div>

                                <img class="groupimg" src="" alt="Your image" style="display: none; width: 100%; height: auto; margin-bottom: 30px;" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="Summary">Summary</label>
                                    <textarea name="Summary" class="form-control" style="height: 80px;"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group standard">
                                    <label for="attributegroups">Associated Attributes</label>
                                    <select name="Attributes" class="checkmulti" multiple style="display:none">
                                        @{
                                            Html.RenderAction("LoadOptionAttributeByBrandId", "SalesMarketingBrand", new { brandId = Model.Id});
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br />
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-success" onclick="ProcessSaleMarketingBranchAttributeGroup()">Confirm</a>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

