<div class="modal fade left" id="app-marketing-attribute-edit" role="dialog" aria-labelledby="app-marketing-attribute-edit">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Edit Attribute</h5>
            </div>
            <div class="modal-body">


                <div class="well custom">

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="attributename">Attribute name <span class="red">*</span></label>
                                <input type="text" name="attributename" class="form-control" value="Inclusive">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="account_number">Icon</label>
                                <input type="file" class="form-control previewimg" name="featuredimg" data-target='.attrimg'>
                            </div>

                            <img class="attrimg" src="" alt="Your image" style="display: none; width: 100%; height: auto; margin-bottom: 30px;" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="attributesummary">Summary <span class="red">*</span></label>
                                <textarea name="attributesummary" class="form-control" style="height: 80px;">Our products and services are as accessible as possible and cater to all potential customers.</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group standard">
                                <label for="attributegroups">Link to Attribute Group(s)</label>
                                <select name="attributegroups" class="standard form-control checkmulti" multiple>
                                    <option value="0">Advocacy</option>
                                    <option value="1">Awareness</option>
                                    <option value="2" selected>Performance</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>


                <br />
                <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button class="btn btn-success" data-dismiss="modal">Confirm</button>



            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
