@model List<Qbicles.Models.SalesMkt.AttributeGroup>
@{ 
    var api = (string)ViewBag.DocRetrievalUrl;
}
@foreach (var item in Model)
{
    <article class="col">
        <div class="avatar" style="background-image: url('@(api+item.Icon + "&size=T")');">&nbsp;</div>
        <a href="#" data-tooltip="Click to edit">
            <h1 style="color: #333; margin-top: 15px;">@item.Name</h1>
        </a>
        <p class="qbicle-detail" style="text-align: center;">@item.Summary</p>

        <br />
        <button class="btn btn-info community-button" type="button" onclick="SocialBrandAttributeGroupEdit(@item.Id)">
            <i class="fa fa-pencil"></i> &nbsp; Manage
        </button>
    </article>
}

