<div class="modal fade left" id="app-marketing-brand-product-modal" role="dialog" aria-labelledby="app-marketing-brand-product-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Add a Brand Product</h5>
            </div>
            <div class="modal-body">
                <div class="well custom">
                    <form id="frm-brand-product" name="brand-product" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="media-title">Product/offering name</label>
                                    <input type="text" name="Name" required class="form-control" placeholder="e.g. Drive Thru">
                                    <input type="hidden" name="Id" value="0">
                                    <input type="hidden" id="sm-brand-product-object-key" name="mediaObjectKey" />
                                    <input type="hidden" id="sm-brand-product-object-name" name="mediaObjectName" />
                                    <input type="hidden" id="sm-brand-product-object-size" name="mediaObjectSize" />
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="account_number">Featured image</label>
                                    <input id="sm-brand-product-upload-image" type="file" class="form-control previewimgbrand" name="featuredimg" data-target='.productpreview'>
                                </div>

                                <img class="productpreview" src="" alt="Your image" style="display: none; width: 100%; height: auto; margin-bottom: 30px;" />
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="Summary">Summary</label>
                                    <textarea required name="Summary" class="form-control" style="height: 80px;"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <a href="#" class="btn btn-danger" data-dismiss="modal">Cancel</a>
                <a class="btn btn-success" onclick="ProcessSaleMarketingBranchProduct()" form="frm-brand-product">Confirm</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
