@model List<Qbicles.Models.SalesMkt.AttributeGroup>
@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <optgroup label="@item.Name">
            @{
                var attrs = item.Attributes;
            }
            @if (attrs != null && attrs.Count > 0)
            {
                foreach (var attr in attrs)
                {
                    <option value="@attr.Id">@attr.Name</option>
                }
            }
        </optgroup>
    }
}
