<style>
    .dataTables_filter {
        display: none;
    }
</style>
<br />
<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3">

        <ul class="nav nav-stacked nav-pills nav-marketing" style="margin-bottom: 30px;">
            <li class="active"><a href="#tab-images" data-toggle="tab" onclick="selectImagesTab()" data-target="#tab-images">Images</a></li>
            <li><a href="#tab-documents" data-toggle="tab" onclick="selectDocumentsTab()" data-target="#tab-documents">Documents</a></li>
            <li><a href="#tab-brands" data-toggle="tab" onclick="selectBrandsTab()" data-target="#tab-brands">Brands</a></li>
            <li><a href="#tab-needs" data-toggle="tab" onclick="selectNeedsTab()" data-target="#tab-brands">Needs</a></li>
            <li><a href="#tab-quality" data-toggle="tab" onclick="selectQuantityTab()" data-target="#tab-brands">Quality Ratings</a></li>
            <li><a href="#tab-extratags" data-toggle="tab" onclick="selectExtratagsTab()" data-target="#tab-brands">Product Tags</a></li>
            <li><a href="#tab-access" data-toggle="tab" onclick="selectAccessTab()" data-target="#tab-access">Item Access</a></li>
        </ul>

    </div>


    <div class="col-xs-12 col-sm-8 col-lg-9">

        <div class="tab-content">

            <!-- Images -->
            <div class="tab-pane fade in active" id="tab-images">


            </div>
            <!-- END Images -->
            <!-- documents & Lists -->
            <div class="tab-pane fade" id="tab-documents">

            </div>
            <!-- END documents & Lists -->
            <!-- Brands -->
            <div class="tab-pane fade" id="tab-brands">


            </div>
            <!-- END Brands -->
            <!-- Item Access -->
            <div class="tab-pane fade" id="tab-access">


            </div>
            <!-- END Item Access -->


        </div>

    </div>
</div>
<script>

    getDefaultSidebarTab();
</script>