
    <div class="well custom" style="padding-bottom: 5px;">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    <label for="search">Search access areas</label>
                    <input type="text" name="search" id="key_search_access" class="form-control" placeholder="Search for...">
                </div>
            </div>
            <div class="col-xs-12 col-sm-8">
                <label>Options</label><br />
                <button class="btn btn-success" data-toggle="modal" onclick="addEditAccess(0)" data-target="#app-trader-resources-access-add"><i class="fa fa-plus"></i> &nbsp; New access area</button>
            </div>
        </div>
    </div>

<br />
<br />


<div class="flex-grid-quarters-lg from-community c1" id="resource_access_data" style="width: 100%;">

</div>
<div class="modal fade left" id="app-trader-resources-access-add" role="dialog" aria-labelledby="app-trader-resources-access-add">

</div><!-- /.modal -->
<script>
    $('#key_search_access').keyup(delay(function (e) {
        getDataAccesss($(this).val());
    }, 2000));
    getDataAccesss();
</script>