@using Qbicles.Models.Trader.Resources
@model List<AccessArea>
@{
    var api = (string)ViewBag.DocRetrievalUrl;
}

@foreach (var item in Model)
{
    if (item.Description == null)
    {
        item.Description = "";
    }
    <div class="col">
        <a href="javascript:void(0)" class="article-feature" onclick="addEditAccess('@item.Id')" data-toggle="modal" data-target="#app-trader-resources-access-add">
            <div class="article-feature-img" style="background: url('@api@item.ImageUri&size=s');">
            </div>
            <div class="info">
                <smaller></smaller>
                <smaller>@item.Type.ToString()</smaller>
                <h1 style="padding-bottom: 10px;">@item.AreaName</h1>

                <p>@Html.Raw(item.Description.Replace(Environment.NewLine, "<br/>"))</p>
            </div>
        </a>
    </div>
}

