
    <div class="well custom" style="padding-bottom: 5px;">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    <label for="search">Search quality indicators</label>
                    <input type="text" name="search" class="form-control" placeholder="Search for...">
                </div>
            </div>
            <div class="col-xs-12 col-sm-8">
                <label>Options</label><br />
                <button class="btn btn-success" data-toggle="modal" data-target="#app-trader-resources-quality-add"><i class="fa fa-plus"></i> &nbsp; New indicator</button>
            </div>
        </div>
    </div>

    <br /><br />


    <table class="datatable table-striped table-hover" id="community-list" style="width: 100%;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Associated Products</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>New</td>
                <td><button class="btn btn-info">212</button></td>
                <td>
                    <button class="btn btn-warning" data-toggle="modal" data-target="#app-trader-resources-quality-edit"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td>Used</td>
                <td><button class="btn btn-info">8</button></td>
                <td>
                    <button class="btn btn-warning" data-toggle="modal" data-target="#app-trader-resources-quality-edit"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td>Elite</td>
                <td><button class="btn btn-info">6</button></td>
                <td>
                    <button class="btn btn-warning" data-toggle="modal" data-target="#app-trader-resources-quality-edit"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
