@using Qbicles.Models.Trader.Resources
@{
    var categoryResources = (List<ResourceCategory>)ViewBag.ResourceCategorys;
}

    <div class="well custom" style="padding-bottom: 5px;">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="search">Search images</label>
                    <input type="text" name="search" id="key_search_image" onkeyup="searchOnDataImages()" class="form-control" placeholder="Search for...">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="form-group">
                    <label for="search">Filter by Category</label>
                    <select name="category" id="cagegory_search_image" onchange="searchOnDataImages()" class="form-control select2" style="width: 100%;">
                        <option value="" selected>Show all</option>
                        @foreach (var item in categoryResources)
                        {
                            <option value="@item.Name">@item.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-5">
                <label>Options</label><br />
                <button class="btn btn-success" data-toggle="modal" onclick="addEditImage(0)" data-target="#app-trader-resources-image-add"><i class="fa fa-plus"></i> &nbsp; Add new</button>
            </div>
        </div>
    </div>


<br />
<div id="resource_image_data">

</div>
<div class="modal fade left" id="app-trader-resources-image-add" role="dialog" aria-labelledby="app-trader-resources-image-add">
    
</div><!-- /.modal -->
<script>
    getDataImages();
    $('#cagegory_search_image').select2();

</script>