
<br />
<div class="activity-overview generic help-text animated bounce">
    <i class="fa fa-info-circle"></i>
    <p>General Posts appear on your profile wall. Use these to promote your latest work or latest news to your audiences.</p>
    <a href="#" onclick="$(this).parent().remove();">Dismiss</a>
</div>

<br />
<div class="well custom" style="padding-bottom: 5px;">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-lg-3">
            <div class="form-group">
                <label for="search">Search</label>
                <input id="txtFilterOtherSearch" type="text" class="form-control" name="search">
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-lg-3">
            <div class="form-group">
                <label for="search">Options</label><br />
                <button class="btn btn-success" type="button" onclick="initModalPost(0, false);"><i class="fa fa-plus"></i> &nbsp; Add a Post</button>
            </div>
        </div>
    </div>
</div>
<br />
<div class="flex-grid-thirds-lg from-community c1" style="width: 100%;min-height:400px"></div>

