
<br />
<div class="activity-overview generic help-text animated bounce">
    <i class="fa fa-info-circle"></i>
    <p>Featured Posts are displayed quite prominently in your profile, and are fixed so they aren't pushed down the page over time. They're useful for promoting your specific services, and other things you feel are important to your audiences.</p>
    <a href="#" onclick="$(this).parent().remove();">Dismiss</a>
</div>

<div class="well custom" style="padding-bottom: 5px;">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-lg-3">
            <div class="form-group">
                <label for="search">Search</label>
                <input id="txtFilterFeaturedSearch" type="text" class="form-control" name="search">
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-lg-3">
            <div class="form-group">
                <label for="search">Options</label><br />
                <button class="btn btn-success" type="button" onclick="initModalPost(0, true);"><i class="fa fa-plus"></i> &nbsp; Add new</button>
            </div>
        </div>
    </div>
</div>
<br />
<div class="flex-grid-thirds-lg from-community c1" style="width: 100%;min-height:400px"></div>


