@using Qbicles.Models.Catalogs
@model List<Catalog>
@{
    var api = (string)ViewBag.DocRetrievalUrl;
    var relationshipId = Request["relationshipId"].ToString();
    var catalogImageDefault = "59ef2bce-9953-43a4-866d-38b74b87060f";
}
@if (Model.Any())
{

    <!-- Distro -->
    <div class="tab-pane fade in active" id="cat-distro">
        <div class="flex-grid-half-lg newdeals from-community c1" data-tooltip-color="slate" data-tooltip-stickto="right">
            @foreach (var item in Model.Where(e => e.Type == CatalogType.Distribution).OrderBy(n=> n.Name))
            {
                var imgUri = api + (string.IsNullOrEmpty(item.Image) ? catalogImageDefault : item.Image);
                <article class="promo-block col">
                    <div class="what">
                        <div class="user-options" style="margin-left: 0;">
                            <div class="post-body">
                                <a href="~/Commerce/B2BCatalogueDistributor?catalogId=@item.Id&relationshipId=@relationshipId">
                                    <div class="highlight-img shorter roundedtop" style="background-image: url('@imgUri');">&nbsp;</div>
                                </a>
                                <div class="user-post">
                                    <a href="~/Commerce/B2BCatalogueDistributor?catalogId=@item.Id&relationshipId=@relationshipId">
                                        <h1 style="margin: 0; padding: 30px 0 20px 0;">@item.Name</h1>
                                        <p>@item.Description</p>
                                    </a>
                                    <br />
                                    <a href="~/Commerce/B2BCatalogueDistributor?catalogId=@item.Id&relationshipId=@relationshipId" class="btn btn-primary community-button w-auto">Browse</a>
                                    @*<a href="#create-discussion" data-dismiss="modal" data-toggle="modal" class="btn btn-info community-button w-auto">Discuss</a>*@
                                    <button class="btn btn-info community-button w-auto" data-dismiss="modal" onclick="">Discuss</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            }

        </div>
    </div>
    <!-- END Distro -->
    <!-- Sales -->
    <div class="tab-pane fade" id="cat-sales">

        <div class="flex-grid-half-lg newdeals from-community c1" data-tooltip-color="slate" data-tooltip-stickto="right">
            @foreach (var item in Model.Where(e => e.Type == CatalogType.Sales).OrderBy(n => n.Name))
            {
                var imgUri = api + (string.IsNullOrEmpty(item.Image) ? catalogImageDefault : item.Image);
                <article class="promo-block col">
                    <div class="what">
                        <div class="user-options" style="margin-left: 0;">
                            <div class="post-body">
                                <a href="~/Commerce/B2BCatalogueDistributor?catalogId=@item.Id&relationshipId=@relationshipId">
                                    <div class="highlight-img shorter roundedtop" style="background-image: url('@imgUri');">&nbsp;</div>
                                </a>
                                <div class="user-post">
                                    <a href="~/Commerce/B2BCatalogueDistributor?catalogId=@item.Id&relationshipId=@relationshipId">
                                        <h1 style="margin: 0; padding: 30px 0 20px 0;">@item.Name</h1>
                                        <p>@item.Description</p>
                                    </a>
                                    <br />
                                    <a href="~/Commerce/B2BCatalogueDistributor?catalogId=@item.Id&relationshipId=@relationshipId" class="btn btn-primary community-button w-auto">Browse</a>
                                    @*<a href="#create-discussion" data-dismiss="modal" data-toggle="modal" class="btn btn-info community-button w-auto">Discuss</a>*@
                                    <button class="btn btn-info community-button w-auto" data-dismiss="modal" onclick="">Discuss</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            }


        </div>

    </div>
    <!-- END Sales -->
}
else
{
    <article class="col">
        <a href="#">
            <h1 style="color: #333; margin-top: 15px;">There aren't any catalogs</h1>
        </a>
    </article>
}

