@*@using Qbicles.Models.B2B
@using Qbicles.Models.Trader
@using Qbicles.Models
@{
    var locations = (List<TraderLocation>)ViewBag.locations;
    var process = (List<B2BProcess>)ViewBag.process;
    var api = (string)ViewBag.DocRetrievalUrl;
}
<div class="well custom" style="padding-bottom: 5px;">
    <div id="content-filters" class="row">
        <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <label for="search">Search</label>
                <input type="text" name="search" class="form-control">
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <label for="location">Location</label>
                <select name="location" class="form-control select2" style="width: 100%;">
                    <option value="0" selected>Show all</option>
                    @if (locations != null)
                    {
                        foreach (var item in locations)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <label for="process">Process</label>
                <select name="process" class="form-control checkmulti" multiple>
                    @if (process != null)
                    {
                        foreach (var item in process)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <label>Options</label><br />
                <a href="#app-b2b-workgroup-add" onclick="loadWorkgroupModal();" class="btn btn-success"><i class="fa fa-plus"></i> &nbsp; New Workgroup</a>
            </div>
        </div>
    </div>
</div>
<br />
<div id="wrapper-tbl">
    @{
        Html.RenderAction("LoadTableWorkgroups", "Commerce",new {keyword="",lid=0,process=new List<int>() });
    }
</div>*@

