@using Qbicles.Models.B2B
@using Qbicles.Models
@using Qbicles.BusinessRules
@model LogisticsPartnership
@{
    var currentDomain = (QbicleDomain)ViewBag.CurrentDomain;
    var currentLogisticsAgreement = Model.LogisticsAgreements.FirstOrDefault(s => s.Status == AgreementStatus.IsDraft);
}
@if (currentDomain.Id == Model.ConsumerDomain.Id)
{
    if (currentLogisticsAgreement == null || (currentLogisticsAgreement != null && currentLogisticsAgreement.PriceList == null))
    {
        <button class="btn btn-success community-button w-auto" id="agreeterms" disabled="">Agree terms</button>
    }
    else if (currentLogisticsAgreement != null && currentLogisticsAgreement.PriceList != null&& !currentLogisticsAgreement.IsConsumerAgreed)
    {
        <button class="btn btn-success community-button w-auto" style="width: 100%;" id="agreeterms" onclick="agreeTerms(@Model.Id)">Agree terms</button>
    }else if (currentLogisticsAgreement != null && currentLogisticsAgreement.IsConsumerAgreed)
    {
        var providerBusinessProfile = Model.ProviderDomain.Id.BusinesProfile();
        var providerBusinessName = providerBusinessProfile?.BusinessName ?? Model.ProviderDomain.Name;
        <button class="btn btn-info community-button w-auto" id="agreeterms" disabled="">@providerBusinessName reviewing</button>
    }
}
else if (currentDomain.Id == Model.ProviderDomain.Id)
{
    if (currentLogisticsAgreement != null && currentLogisticsAgreement.PriceList != null && currentLogisticsAgreement.IsConsumerAgreed)
    {
        <button class="btn btn-success community-button w-auto" style="width: 100%;" onclick="finaliseAgreement(@Model.Id)">Finalise agreement</button>
    }
    else
    {
        <button class="btn btn-success community-button w-auto" style="width: 100%;" disabled="">Finalise agreement</button>
    }

}