@using Qbicles.Models.Trader
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title">Add an inventory item to your catalogue</h5>
        </div>
        <div class="modal-body">
            <form id="frmcatalogueitem" action="~/Commerce/AddCatalogueItem" method="post">
                <div class="activity-overview generic help-text">
                    <i class="fa fa-info-circle"></i>
                    <p>You'll be able to control the visiblity of these items, so you don't have to show everyone the full list.</p>
                </div>
                <div class="well custom" style="padding-bottom: 5px;">
                    <label for="item">Item &amp; unit</label>
                    <div class="input-group">
                        <select id="select-traderitems" name="item" class="form-control select2" style="width: 100%;" data-placeholder="Search items by name or SKU" onchange="$(this).valid();$('.iteminfo').fadeIn(); $('#itemunit').removeAttr('disabled');"></select>
                        <label id="select-traderitems-error" class="error" for="select-traderitems" style="display:none">This field is required.</label>
                        <div class="input-group-btn" style="vertical-align:top">
                            <div class="form-group">
                                <select id="itemunit" name="unit" class="form-control select2" data-placeholder="Unit" style="width: 180px;" disabled>
                                    <option value=""></option>
                                </select>
                                <label id="itemunit-error" class="error" for="itemunit" style="display:none">This field is required.</label>
                            </div>
                        </div>
                    </div>

                    <table class="table app_specific iteminfo" style="display: none; background: #fff;">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Unit</th>
                                <th>Tax</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="cell_itemname"></td>
                                <td class="cell_itemunit"></td>
                                <td class="cell_taxrates"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="well custom" style="padding-bottom: 5px;">
                    <div class="form-group">
                        <label for="item">Trading name (if different) <i class="fa fa-info-circle blue" data-tooltip="Optionally change this item's display name" data-tooltip-stickto="right"></i></label>
                        <input type="text" name="tradname" class="form-control txt_itemname" value="" style="border: 1px solid #e1e1e1;">
                    </div>

                    <div class="form-group">
                        <label for="locs">Locations <i class="fa fa-info-circle blue" data-tooltip="Your locations that provide this item" data-tooltip-stickto="right"></i></label>
                        <select id="item-locations" name="locs" class="form-control checkmulti" multiple onchange="$(this).valid();"></select>
                        <label id="item-locations-error" class="error" for="item-locations" style="display:none">This field is required.</label>
                    </div>

                    <div class="form-group">
                        <label for="visibility">Starting visibility <i class="fa fa-info-circle blue" data-tooltip="Whether this item should immediately appear on all published catalogues, or be hidden until you're ready to reveal it to specific partners." data-tooltip-stickto="right"></i></label>
                        <select name="visibility" class="form-control select2" style="width: 100%;">
                            <option value="0">Hidden</option>
                            <option value="1">Shown</option>
                        </select>
                    </div>
                </div>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-success">Confirm</button>
            </form>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->