@*@using Qbicles.Models.B2B
@model List<B2BTradingItem>
@{
    var api = (string)ViewBag.DocRetrievalUrl;
    var currentUserId = (string)ViewBag.CurrentUserId;
    var count = Model.Count;
    var extraCol = (Model.Count() % 4 == 0 ? 0 : 4) - count % 4;
}
@if (count > 0)
{
    foreach (var item in Model)
    {
        <div class="col">
            <a href="javascript:showProductMore(@item.Id)">
                <div class="logo">
                    <img src="@(api+item.CatalogItem.Item.ImageUri)&size=T">
                </div>

                <div class="priceblock">
                    <p>@item.TradingName (@item.CatalogItem.ProviderUnit.Name)</p>
                </div>
            </a>
        </div>
    }
    for (int i = 1; i <= extraCol; i++)
    {
        <div class="col">&nbsp;</div>
    }
}*@
