    <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper qbicle-detail mdv2-wrapper" style="position: relative;">


    <!-- Main content -->
    <section class="mdv2 dash" data-tooltip-color="teal" data-tooltip-delay="300" data-tooltip-animate-function="spin" style="border-top: 1px solid #f1f1f1;">


        <!-- App bar -->
        <div class="mdv2-col-app" style="margin-bottom: 0;">

            <div data-spy="affix" class="contained-sidebar">

                <div class="activity-overview plain company-overview welcome-info" style="text-align: left !important; flex: none; margin: 0 0 30px 0; padding-top: 30px; padding-bottom: 0;">

                    <div class="pull-left" style="margin-bottom: 15px;">
                        <a href="app_commerce.php" class="btn btn-primary"><i class="fa fa-angle-left"></i> &nbsp; Back</a>
                    </div>
                    <div class="clearfix"></div>

                    <br /><br />

                    <h1 style="line-height: 1.2; margin-bottom: 8px;">Autumn/Winter 2021</h1>
                    <h4>Location 2</h4>

                    <div class="clearfix"></div>
                    <br /><br />

                    <p style="color: rgba(0, 0, 0, 0.5);">
                        You'll find our full price list here. If you have any questions or would like to discuss anything please reach out to our support
                        team under the "Talk to RoadChef" section of this page.
                    </p>

                    <br /><br />
                    <a href="app_commerce.php?sub=order" class="btn btn-success community-button" style="margin-bottom: 3px;"><i class="fa fa-shopping-cart"></i> &nbsp; Place an order</a>
                    <a href="app_commerce.php?sub=discuss" class="btn btn-info community-button"><i class="fa fa-comments"></i> &nbsp; Discuss</a>
                </div>

            </div>
        </div>
        <!-- END App bar -->
        <!-- Main area -->
        <div class="mdv2-col-dash">

            <div class="spacing">

                <div class="row">
                    <div class="col-xs-12">

                        <div class="tab-content">

                            <!-- Menu -->
                            <div class="tab-pane fade in active" id="tab0">

                                <div class="well custom" style="padding-bottom: 5px;">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-4">
                                            <div class="form-group">
                                                <label for="search">Search</label>
                                                <input type="text" class="form-control" name="search">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-4">
                                            <div class="form-group">
                                                <label for="search">Categories</label>
                                                <select name="groups" class="form-control checkmulti" multiple>
                                                    <option value="0" selected>Starters</option>
                                                    <option value="1" selected>Mains</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />

                                <div class="flex-grid-quarters-lg gridfix mydeskmarket mdogrid mydeskmarketitems" style="width: 100%; padding: 0;">

                                    <div class="col">
                                        <a href="#product-more-menu" data-toggle="modal">
                                            <div class="logo">
                                                <img src="dist/img/mdo/prod5.png">
                                            </div>

                                            <div class="priceblock">
                                                <p>4 Piece Colonel's Meal</p>
                                                <label class="label label-lg label-soft">Starters</label> &nbsp; <span>£4.50</span>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="col">
                                        <a href="#">
                                            <div class="logo">
                                                <img src="dist/img/mdo/prod6.png">
                                            </div>

                                            <div class="priceblock">
                                                <p>4 Piece Colonel's Meal</p>
                                                <span>£4.50</span>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="col">
                                        <a href="#">
                                            <div class="logo">
                                                <img src="dist/img/mdo/prod7.png">
                                            </div>

                                            <div class="priceblock">
                                                <p>4 Piece Colonel's Meal</p>
                                                <span>£4.50</span>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="col">
                                        <a href="#">
                                            <div class="logo">
                                                <img src="dist/img/mdo/prod8.png">
                                            </div>

                                            <div class="priceblock">
                                                <p>4 Piece Colonel's Meal</p>
                                                <span>From £4.50</span>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="col">
                                        <a href="#">
                                            <div class="logo">
                                                <img src="dist/img/mdo/prod1.png">
                                            </div>

                                            <div class="priceblock">
                                                <p>4 Piece Colonel's Meal</p>
                                                <span>From £5.00</span>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="col">
                                        <a href="#">
                                            <div class="logo">
                                                <img src="dist/img/mdo/prod2.png">
                                            </div>

                                            <div class="priceblock">
                                                <p>Mushroom Crunch Pizza</p>
                                                <span>£7.00</span>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="col">
                                        <a href="#">
                                            <div class="logo">
                                                <img src="dist/img/mdo/prod3.png">
                                            </div>

                                            <div class="priceblock">
                                                <p>4 Piece Colonel's Meal</p>
                                                <span>From £4.50</span>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="col">
                                        <a href="#">
                                            <div class="logo">
                                                <img src="dist/img/mdo/prod4.png">
                                            </div>

                                            <div class="priceblock">
                                                <p>4 Piece Colonel's Meal</p>
                                                <span>From £4.50</span>
                                            </div>
                                        </a>
                                    </div>

                                </div>

                            </div>
                            <!-- END Menu -->
                            <!-- Discuss -->
                            <div class="tab-pane fade" id="tab1">
                                <div class="tab-pane fade in active" id="tab1">

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="well custom" style="max-width: 800px;">
                                                <div class="form-group">
                                                    <label for="add-comment">Add a comment</label>
                                                    <textarea name="add-comment" class="form-control"></textarea>
                                                </div>

                                                <button class="btn btn-success">Submit</button>
                                            </div>

                                            <br>
                                        </div>
                                    </div>


                                    <!-- General post -->
                                    <article class="activity post">
                                        <div class="activity-avatar" style="background-image: url('dist/img/user4-160x160.jpg');"></div>
                                        <div class="activity-detail">
                                            <div class="activity-meta">
                                                <h4>Mila Kunis</h4>
                                                <small>01.02.2018, 4pm</small>
                                            </div>

                                            <div class="activity-overview media-comment">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus egestas ultrices tortor at varius. Nulla facilisi. In ut lacus et ex rhoncus rhoncus at quis leo.</p>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </article>
                                    <!-- END General post -->
                                    <!-- General post -->
                                    <article class="activity post">
                                        <div class="activity-avatar" style="background-image: url('dist/img/user3-160x160.jpg');"></div>
                                        <div class="activity-detail">
                                            <div class="activity-meta">
                                                <h4>Hideo Kojima</h4>
                                                <small>01.02.2018, 3pm</small>
                                            </div>

                                            <div class="activity-overview media-comment">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </article>
                                    <!-- END General post -->
                                    <!-- General post -->
                                    <article class="activity post">
                                        <div class="activity-avatar" style="background-image: url('dist/img/user1-160x160.jpg');"></div>
                                        <div class="activity-detail">
                                            <div class="activity-meta">
                                                <h4>Tim Cook</h4>
                                                <small>01.02.2018, 1pm</small>
                                            </div>

                                            <div class="activity-overview media-comment">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus egestas ultrices tortor at varius. Nulla facilisi. In ut lacus et ex rhoncus rhoncus at quis leo.
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus egestas ultrices tortor at varius. Nulla facilisi. In ut lacus et ex rhoncus rhoncus at quis.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </article>
                                    <!-- END General post -->


                                    <button class="btn btn-info">Load older posts</button>
                                </div>
                            </div>
                            <!-- END Discuss -->

                        </div>

                        <br /><br /><br />
                    </div>
                </div>


            </div>

        </div>


    </section>
    <!-- ./content -->

</div>
<!-- /.content-wrapper -->
