@using Qbicles.Models.SalesMkt;
@{ 
    var Criterias=(List<CustomCriteriaDefinition>)ViewBag.Criterias;
    var index = (int)ViewBag.Index;
    if (index > 0)
    {
        index = index - 1;
    }
}
<div class="row criteria-el">
    <div class="col-xs-12 col-sm-4">
        <div class="form-group">
            <select name="Criterias[@index].CriteriaId" required onchange="SocialLoadOptionVal(this,'slCriterias@(index)');$(this).valid()" data-placeholder="Choose criteria" class="form-control select2 item-criterial" style="width: 100%;">
                <option value=""></option>
                @foreach (var item in Criterias)
                {
                    <option value="@item.Id">@item.Label</option>
                }
            </select>
            <label id="Criterias[@index].CriteriaId-error" class="error" for="Criterias[@index].CriteriaId" style="display:none">This field is required.</label>
        </div>
    </div>
    <div class="col-xs-12 col-sm-8">
        <div class="form-group">
            <select name="Criterias[@index].CriteriaValues" required id="slCriterias@(index)" onchange="$(this).valid();" class="form-control checkmulti" multiple style="width: 100%;display:none"></select>
            <label id="slCriterias@(index).CriteriaValues-error" class="error" for="slCriterias@(index)" style="display:none">This field is required.</label>
        </div>
    </div>
    <div class="col-xs-12">
        <label class="label label-lg label-primary lblAnd" style="display: inline-block; margin-bottom: 15px;">AND</label>
        <a href="#" onclick="$(this).parent().parent().remove();" class="label label-lg label-danger" style="display: inline-block; margin-bottom: 15px;"><i class="fa fa-trash"></i></a>
    </div>
</div>
