@using Qbicles.Models.Trader;
@model List<ProductUnit>
@{
    var itemId = Model.FirstOrDefault()?.Item.Id ?? 0;
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title">Change display unit</h5>
        </div>
        <div class="modal-body">

            <div class="activity-overview generic" style="padding: 20px;">
                <div class="form-group" style="margin: 0;">
                    <label for="displayunit">Display unit</label>
                    <select id="display-unit-change" class="form-control select2" style="width: 100%;">
                        @foreach (var u in Model)
                        {
                            <option value="@u.Id">@u.Name</option>
                        }
                    </select>
                </div>
            </div>

            <br />
            <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
            <button class="btn btn-success" onclick="UpdateItemUnit(@itemId)"><i class="fa fa-save"></i> &nbsp; Confirm</button>

        </div>
    </div><!-- /.modal-content -->
</div>
<script>
    var currentUnit = $("#row-unit-item-@itemId").text();
    $("#display-unit-change option").each((index,item) => {
        if ($(item).text().localeCompare(currentUnit) == 0){
            $(item).attr("selected","selected");
        }
    })
    $("#display-unit-change").select2();
</script>