@using Qbicles.Models.Trader
@model TraderItem
@{ 
    var currentItem =(TraderItem)ViewBag.CurrentItem;
}
<table class="datatable table-striped table-hover" id="tbliteminfo" data-paging="false" style="width: 100%;" data-ordering="false">
    <thead>
        <tr>
            <th>Item</th>
            <th>Unit</th>
            <th>Tax</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            <tr>
                <td>@(Model.Name)</td>
                <td>@(Model.Units.FirstOrDefault(s => s.IsBase)?.Name)</td>
                <td>
                    <ul class="unstyled">
                        @foreach (var item in Model.TaxRates)
                        {
                            <li>@item.Name</li>
                        }
                    </ul>
                </td>
                <td>
                    @if (currentItem==null||currentItem.Id != Model.Id)
                    {
                        <button type="button" class="btn btn-success" onclick="saveDeliverySettings(@Model.Id)"><i class="fa fa-check"></i> &nbsp; Use this</button>
                    }
                    else
                    {
                        <button type="button" disabled class="btn btn-success"><i class="fa fa-check"></i> &nbsp; Use this</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
