@using Qbicles.BusinessRules
@model  List<UnitModel>
@{

    var itemId = (int)ViewBag.ItemId;
    var unitSelectedId = ViewBag.UnitSelectedId;
}
<select id="select-@itemId" class="form-control" onchange="UpdateWasteItems(@itemId)" style="width: 100%;">

    @foreach (var item in Model)
    {
        if (item.Id == unitSelectedId)
        {
            <option selected value="@item.Id">@item.Name</option>
        }
        else
        {
            <option value="@item.Id">@item.Name</option>
        }

    }
</select>

<script>
</script>
