@using Qbicles.BusinessRules
@using Qbicles.Models.Trader.DDS
@model Delivery
@{
    var timezone = (string)ViewBag.CurrentTimeZone;
    var datetimeFormat = (string)ViewBag.CurrentDateTimeFormat;
}


<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title">Orders in Delivery #@(Model.Reference?.FullRef ?? Model.Id.ToString())</h5>
        </div>
        <div class="modal-body">

            <div class="flex-grid-fluid-lg from-community c1" style="width: 100%;">

                @foreach (var o in Model.Orders)
                {
                    <div class="col article-feature">
                        <div class="info" style="padding: 35px 0 5px 0;">
                            @*<div class="btn-group optsnew defaulted dropdown">
                                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-cog"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="#" data-toggle="modal" data-target="#promotion-message">Stop</a></li>
                                    </ul>
                                </div>*@

                            <a href="#">
                                <h1>Order #@(o.OrderRef)</h1>
                            </a>

                            <div style="padding: 0 15px;">
                                <table class="table table-condensed table-borderless" style="margin: 0 0 15px 0; color: #828da0; font-size: 12px; font-family: 'Roboto';">
                                    <tbody>
                                        <tr>
                                            <td><strong>Started</strong></td>
                                            <td>@(o.CreatedDate?.ConvertTimeFromUtc(timezone).ToString(datetimeFormat))</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Items</strong></td>
                                            <td>@o.OrderItems.Count</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Recipient</strong></td>
                                            <td>@o.Cashier.GetFullName()</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Status</strong></td>
                                            <td>
                                                <span class="label label-lg label-@o.Status.GetClass()" style="position: relative; top: -2px;">@o.Status.GetDescription()</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                }

            </div>


            <br />
            <button class="btn btn-danger" data-dismiss="modal">Close</button>

        </div>
    </div><!-- /.modal-content -->
</div>
