@using Qbicles.Models.Community;
@{
    var callBack = (bool)ViewBag.CallBack;
    var listDomain = (List<DomainProfile>)ViewBag.Domains;
    
}
<table class="datatable app_specific table-hover table-striped table_domain" id="community-list" style="width: 100%;">
    <thead>
        <tr>
            <th>Name</th>
            <th>Tags</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in listDomain)
        {
            <tr>
                <td><a href="/Community/DomainProfile?domainid=@item.Domain.Id">@item.Domain.Name</a></td>
                <td class="community-tags">
                    @foreach (var itemTag in item.Tags)
                    {
                        <a href="javascript:void(0);" class="topic-label" data-tag="@itemTag.Name"><span class="label label-info">@itemTag.Name</span></a>
                    }
                    
                </td>
                <td>
                    @foreach (var star in item.Followers)
                    {
                        <i class="fa fa-star"></i>
                    } 
                </td>
            </tr>
        } 
    </tbody>
</table>

@if (callBack)
{
    <script>
        $('table.table_domain').DataTable({
            responsive: true,
            "lengthChange": true,
            "pageLength": 10,
            "order": []
        });
        $('table.table_domain').show();
    </script> 
}