@{
    
    var show = (bool)(ViewBag.ShowData ?? false);
    var businesses = ((string)(ViewBag.Busin ?? "")).Split(',').Where(q=> !string.IsNullOrEmpty(q)).ToList();
    var people = ((string)(ViewBag.Peo ?? "")).Split(',').Where(q => !string.IsNullOrEmpty(q)).ToList();
    var page = ((string)(ViewBag.CurrentPage ?? "")).Split(',').Where(q => !string.IsNullOrEmpty(q)).ToList();
}

<div class="flex">
    <div class="col">
        <a href="javascript:void(0);" onclick="businesseClick()">
            @*domain*@
            <i class="fa fa-building"></i>
            <span>Businesses</span>
            @if (show)
            {
                <span class="counter animated" id="result_businesses" style="display:inline;">@businesses.Count</span>
            }
            else
            {
                <span class="counter animated" id="result_businesses"></span>
            }

        </a>
    </div>
    <div class="col">
        <a href="javascript:void(0);" onclick="peopleClick()">
            @*userprofile*@
            <i class="fa fa-users"></i>
            <span>People</span>
            @if (show)
            {
                <span class="counter animated" id="result_people" style="display:inline;">@people.Count</span>
            }
            else
            {
                <span class="counter animated" id="result_people"></span>
            }

        </a>
    </div>
    <div class="col">
        <a href="javascript:void(0);" onclick="pageClick()">
            @*pages*@
            <i class="fa fa-file-text"></i>
            <span>Pages</span>
            @if (show)
            {
                <span class="counter animated" id="result_page" style="display:inline;">@page.Count</span>
            }
            else
            {
                <span class="counter animated" id="result_page"></span>
            }

        </a>
    </div>
</div>
