<div class="col-xs-12">
    <div class="app_filter">
        <div class="row">
            <div class="col-xs-12">
                <a href="/Community/CommunityApps" class="btn btn-primary"><i class="fa fa-th"></i> &nbsp; Dashboard</a>
                <a href="/Community/DomainProfile" class="btn btn-info"><i class="fa fa-address-card"></i> &nbsp; Domain profile</a>
                <a href="/Community/UserProfilePage" class="btn btn-info"><i class="fa fa-user"></i> &nbsp; My profile</a>
                <a href="/Community/CreatePage" class="btn btn-success"><i class="fa fa-plus"></i> &nbsp; Add a page</a>
            </div>
        </div>
    </div>
</div>
