<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
	<PropertyGroup>
		<WebPublishMethod>MSDeploy</WebPublishMethod>
		<ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
		<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
		<LastUsedPlatform>Any CPU</LastUsedPlatform>
		<SiteUrlToLaunchAfterPublish>https://dev1-web.qbicles.com</SiteUrlToLaunchAfterPublish>
		<LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
		<ExcludeApp_Data>true</ExcludeApp_Data>
		<MSDeployServiceURL>dev1-web.qbicles.com</MSDeployServiceURL>
		<DeployIisAppPath>dev1-web.qbicles.com</DeployIisAppPath>
		<RemoteSitePhysicalPath />
		<SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
		<MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
		<EnableMSDeployBackup>true</EnableMSDeployBackup>
		<UserName>qbicles-core-admin</UserName>
		<_SavePWD>true</_SavePWD>
		<PublishDatabaseSettings>
			<Objects xmlns="">
				<ObjectGroup Name="Qbicles.BusinessRules.Model.ApplicationDbContext" Order="1" Enabled="False">
					<Destination Path="" />
					<Object Type="DbCodeFirst">
						<Source Path="DBMigration" DbContext="Qbicles.BusinessRules.Model.ApplicationDbContext, Qbicles.BusinessRules" MigrationConfiguration="Qbicles.Web.Migrations.Configuration, Qbicles.Web" Origin="" />
					</Object>
				</ObjectGroup>
				<ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
					<Destination Path="" />
					<Object Type="DbDacFx">
						<PreSource Path="Server=127.0.0.1;Port=3306;Database=qbicles.prod;Uid=root;Pwd=1234;AllowUserVariables=true;Convert Zero Datetime=true;Charset=utf8mb4;" includeData="False" />
						<Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
					</Object>
					<UpdateFrom Type="Web.Config">
						<Source MatchValue="Server=127.0.0.1;Port=3306;Database=qbicles.prod;Uid=root;Pwd=1234;AllowUserVariables=true;Convert Zero Datetime=true;Charset=utf8mb4;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
					</UpdateFrom>
				</ObjectGroup>
			</Objects>
		</PublishDatabaseSettings>
		<PrecompileBeforePublish>true</PrecompileBeforePublish>
		<EnableUpdateable>false</EnableUpdateable>
		<DebugSymbols>true</DebugSymbols>
		<WDPMergeOption>MergeAllOutputsToASingleAssembly</WDPMergeOption>
		<UseMerge>true</UseMerge>
		<SingleAssemblyName>QbiclesViews</SingleAssemblyName>
		<EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
	</PropertyGroup>
	<ItemGroup>
		<MSDeployParameterValue Include="$(DeployParameterPrefix)Qbicles.BusinessRules.Model.ApplicationDbContext-Web.config Connection String" />
		<MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
			<UpdateDestWebConfig>False</UpdateDestWebConfig>
		</MSDeployParameterValue>
	</ItemGroup>
	<ItemGroup>
		<_ConnectionStringsToInsert Include="Qbicles.BusinessRules.Model.ApplicationDbContext" />
	</ItemGroup>
</Project>