@using Qbicles.Models.Trader.PoS
@model List<PosDevice>
@{
    var status = "";
    var statusCss = "";
}
@{
    foreach (var device in Model)
    {
        switch (device.Status)
        {
            case PosDeviceStatus.InActive:
                status = "Inactive";
                statusCss = "label-warning";
                break;
            case PosDeviceStatus.Active:
                status = "Activated";
                statusCss = "label-success";
                break;
        }
        <article class="col">
            <a href="/PointOfSale/PoSDevice?id=@device.Id">
                <div class="avatar" style="background-image: url('/Content/DesignStyle/img/icon_ipad.png');">&nbsp;</div>
                <h1 style="color: #333;">@device.Name</h1>
            </a>

            <p class="qbicle-detail" style="white-space: pre-wrap !important;">@device.Summary</p>
            <br />

            <span class="label label-lg @statusCss">@status</span>
            <br /><br />

        </article>
    }
}