@using Qbicles.BusinessRules
@using Qbicles.Models
@{
    //var userRoleRights = (List<string>)ViewBag.UserRoleRights;
    var currentDomainPlan = (DomainPlan)ViewBag.CurrentDomainPlan ?? null;
    var currentDomainPlanLevel = currentDomainPlan?.Level?.Level ?? BusinessDomainLevelEnum.Free;
}

@if (currentDomainPlanLevel >= BusinessDomainLevelEnum.Starter)
{
    <div class="well custom" style="padding-bottom: 5px;">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <label for="search">Search</label>
                    <input type="text" id="search_dt_cb" name="search" class="form-control">
                </div>
            </div>
            <div class="col-xs-12 col-sm-9">
                <div class="form-group">
                    <label for="options">Options</label><br />
                    <button type="button" class="btn btn-success" onclick="AddEditTraderCashBank(0)" title="A Trader subscription is required to add more accounts"><i class="fa fa-plus"></i> &nbsp; Add an account</button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div id="cashbank-content" class="row" style="padding: 20px 20px 5px 20px;"></div>
}