@using Qbicles.Models
@{ 
    var currentDomainPlan = (DomainPlan)ViewBag.CurrentDomainPlan ?? null;
    var currentDomainPlanLevel = currentDomainPlan?.Level?.Level ?? BusinessDomainLevelEnum.Free;
}

<ul class="app_subnav nav-subgroups" style="padding-top: 0; margin-top: -15px;">
    <li class="active"><a href="#tab-groups-items" data-toggle="tab">Item &amp; Products</a></li>
    @if (currentDomainPlanLevel >= BusinessDomainLevelEnum.Starter)
    {
        <li><a href="#tab-groups-contacts" data-toggle="tab">Contacts</a></li>
    }
</ul>


<br /><br />

      <div class="tab-content">

          <!-- Product Groups -->
          <div class="tab-pane fade in active" id="tab-groups-items">

              <div class="well custom" style="padding-bottom: 5px;">
                  <div class="row">
                      <div class="col-xs-12 col-sm-6 col-lg-3">
                          <div class="form-group">
                              <label for="search">Search</label>
                              <input type="text" class="form-control" name="search">
                          </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-lg-3">
                          <div class="form-group">
                              <label for="search">Options</label><br />
                              <button onclick="clickAddgroup()" class="btn btn-success" data-toggle="modal" data-target="#app-group-add"><i class="fa fa-plus"></i> &nbsp; Add a group</button>
                          </div>
                      </div>
                  </div>
              </div>
              <br />
              <div class="groups-items-dynamiccontent" style="min-height:300px"></div>
          </div>
          <!-- END Product Groups -->
          @if (currentDomainPlanLevel >= BusinessDomainLevelEnum.Starter)
          {
              <!-- Contact Groups -->
              <div class="tab-pane fade" id="tab-groups-contacts">

                  <div class="well custom" style="padding-bottom: 5px;">
                      <div class="row">
                          <div class="col-xs-12 col-sm-6 col-lg-3">
                              <div class="form-group">
                                  <label for="search">Search</label>
                                  <input type="text" class="form-control" name="search">
                              </div>
                          </div>
                          <div class="col-xs-12 col-sm-6 col-lg-3">
                              <div class="form-group">
                                  <label for="search">Options</label><br />
                                  <button class="btn btn-success" data-toggle="modal" data-target="#app-contact-group-edit" onclick="addContactGroup()"><i class="fa fa-plus"></i> &nbsp; Add a group</button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <br />
                  <div class="groups-contacts-dynamiccontent" style="min-height:300px"></div>
              </div>
              <!-- END Contact Groups -->
          }


      </div> <!-- /.tab-content -->
@{
    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/trader.config.group.js"></script>
    }
    else
    {
        <script src="~/Scripts/dev/trader.config.group.min.js"></script>
    }
}