@using Qbicles.BusinessRules;
@using Qbicles.Models.Trader;
@using Qbicles.Models
@model List<TraderLocation>
@{
    var canDel = Model.Count == 1 ? "disabled" : "";
    var dateFormat = (string)ViewBag.CurrentDateFormat;
    var currentDomainPlan = (DomainPlan)ViewBag.CurrentDomainPlan ?? null;
    var currentDomainPlanLevel = currentDomainPlan?.Level?.Level ?? BusinessDomainLevelEnum.Free;
    var userRoleRights = (List<string>)ViewBag.UserRoleRights;
    var allowAdd = userRoleRights.Any(r => r == RightPermissions.TraderAccess || r == RightPermissions.QbiclesBusinessAccess);
}

@if (currentDomainPlanLevel >= BusinessDomainLevelEnum.Starter)
{
    <div class="well custom" style="padding-bottom: 5px;">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="form-group">
                    <label for="search">Search</label>
                    <input type="text" class="form-control" id="location-tab-key-search">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="form-group">
                    <label for="search">Geolocated</label>
                    <select name="type" class="form-control select2" id="location-tab-geolocated" style="width: 100%;">
                        <option value="0" selected>Show all</option>
                        <option value="1">Only geolocated</option>
                        <option value="2">Only non-geolocated</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="form-group">
                    <label for="search">Options</label><br />
                    <button type="button" onclick="clickAddlocation()" data-toggle="modal" data-target="#app-location-add" class="btn btn-success" title="Subscribe to Trader to unlock this feature" @(allowAdd ? "" : "disabled")>
                        <i class="fa fa-plus"></i> &nbsp; Add a location
                    </button>
                </div>
            </div>
        </div>
    </div>
}

<br />
<div class="general-dynamiccontent" style="min-height:300px">
    <table id="tbllocations" class="table-hover datatable" data-order='[[0, "asc"]]' style="width: 100%; background: #fff;">
        <thead>
            <tr>
                <th>Location</th>
                <th>Address</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Geolocated</th>
                <th>Creator</th>
                <th>Default address</th>
                <th data-orderable="false">Options</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>


@{
    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/trader.config.location.js"></script>
    }
    else
    {
        <script src="~/Scripts/dev/trader.config.location.js"></script>

    }
}
