

<br />
<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3">

        <ul class="nav nav-stacked nav-pills nav-marketing" style="margin-bottom: 30px;">
            <li class="active"><a href="#" data-toggle="tab" onclick="selectBrandsTab()" data-target="#tab-brands">Brands</a></li>
            <li><a href="#" data-toggle="tab" onclick="selectExtratagsTab()" data-target="#tab-extratags">Product Tags</a></li>
            <li><a href="#" data-toggle="tab" onclick="selectDocumentsTab()" data-target="#tab-documents">Documents</a></li>
        </ul>

    </div>


    <div class="col-xs-12 col-sm-8 col-lg-9">

        <div class="tab-content">


            <!-- Brands -->
            <div class="tab-pane fade in active" id="tab-brands">
            </div>
            <!-- END Brands -->
            <!-- Product Tags -->
            <div class="tab-pane fade" id="tab-brands">
            </div>
            <!-- END Product Tags -->
            <!-- Documents -->
            <div class="tab-pane fade" id="tab-documents">
            </div>
            <!-- END Documents -->


        </div>

    </div>
</div>


<script src="~/Scripts/tagify.min.js"></script>
<script src="~/Scripts/tagify.js"></script>
<link href="~/Content/DesignStyle/css/tagify.css" rel="stylesheet" />

<script>
    $(document).ready(function () {
        selectBrandsTab();
    })

    function selectDocumentsTab() {
        setLocalStorage(resourceKey, 'tab-documents');
        var ajaxUri = '/TraderResource/ResourceDocumentsTab?locationId=' + $('#local-manage-select').val();
        $('#tab-documents').LoadingOverlay("show");
        $('#tab-documents').empty();
        $('#tab-documents').load(ajaxUri, function () {
            $('#tab-documents').LoadingOverlay("hide");
        });
    }
    function selectBrandsTab() {
        setLocalStorage(resourceKey, 'tab-brands');
        var ajaxUri = '/TraderResource/ResourceBrandsTab?type=Brand';
        $('#tab-brands').LoadingOverlay("show");
        $('#tab-brands').empty();
        $('#tab-brands').load(ajaxUri, function () {
            $('#tab-brands').LoadingOverlay("hide");
        });
    }
    function selectExtratagsTab() {
        setLocalStorage(resourceKey, 'tab-extratags');
        var ajaxUri = '/TraderResource/ResourceBrandsTab?type=ProductTag';
        $('#tab-brands').LoadingOverlay("show");
        $('#tab-brands').empty();
        $('#tab-brands').load(ajaxUri, function () {
            $('#tab-brands').LoadingOverlay("hide");
        });
    }
</script>
