@using Qbicles.Models.Trader;
@{
    var groups = (List<TraderGroup>)ViewBag.LstGroupItems;
    var locations = (List<TraderLocation>)ViewBag.Locations;
}
<br />
<div class="well custom" style="padding-bottom: 5px;">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-2">
            <div class="form-group">
                <label for="search">Search</label>
                <input id="search_dt" type="text" class="form-control" name="search">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-2">
            <div class="form-group">
                <label for="locations">Location</label>
                <select id="slLocation_items" name="locations" class="form-control select2" style="width: 100%;">
                    @foreach (var item in locations)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-2">
            <div class="form-group">
                <label for="search">Group</label>
                <select id="itemoverview-filter-group" class="form-control checkmulti" multiple>
                    @foreach (var item in groups)
                    {
                        <option value="@item.Id" selected>@item.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-2">
            <div class="form-group">
                <label for="search">Type</label>
                <select id="itemoverview-filter-type" class="form-control checkmulti" multiple>
                    <option value="0" selected>Item I buy</option>
                    <option value="1" selected>Item I sell</option>
                    <option value="2" selected>Item I buy &amp; sell</option>
                </select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-2">
            <div class="form-group">
                <label for="search">Options</label><br />
                <button class="btn btn-success" data-toggle="modal" data-target="#wizard-add-item" onclick="$('#wizard').show(); $('#theform').hide()"><i class="fa fa-plus"></i> &nbsp; Add an item</button>
            </div>
        </div>
    </div>
</div>


<br />
<table class="datatable table-hover" id="tb_trader_items" style="width: 100%;">
    <thead>
        <tr>
            <th data-priority="3" style="width: 90px;"></th>
            <th data-priority="1">Item</th>
            <th data-priority="1">SKU</th>
            <th data-priority="1">Barcode</th>
            <th data-priority="1">Type</th>
            <th data-priority="3">Group</th>
            <th style="width:150px !important" data-priority="3">Description</th>
            <th data-priority="3">Primary vendor(s)</th>
            <th data-priority="3">Additional</th>
            <th data-priority="1">Active in location</th>
            <th data-priority="1" data-orderable="false"></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<script src="https://cdn.tiny.cloud/1/ppfa9ubyahapmcpxedac4yuyhojva0q9bm41rip6a351qegu/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

<script src="~/Scripts/tagify.min.js"></script>
<script src="~/Scripts/tagify.js"></script>
<link href="~/Content/DesignStyle/css/tagify.css" rel="stylesheet" />
@{
    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/trader.itemproducts.js"></script>
        <script src="~/Scripts/dev/trader.itemproductsResources.js"></script>
    }
    else
    {
        <script src="~/Scripts/dev/trader.itemproducts.js"></script>
        <script src="~/Scripts/dev/trader.itemproductsResources.min.js"></script>
    }
}
<script>
    $("#itemoverview-filter-group,#itemoverview-filter-type").multiselect({
        includeSelectAllOption: true,
        selectAllJustVisible: true,
        includeResetOption: false,
        enableFiltering: false,
        buttonWidth: '100%',
        maxHeight: 400,
        enableClickableOptGroups: true,
        enableFiltering: true,
        enableCaseInsensitiveFiltering: true
    });
    $(document).ready(function () {
        applyFilter = true;
        itemOverViewFilter.GroupIds = $('#itemoverview-filter-group').val();
        itemOverViewFilter.Types = $('#itemoverview-filter-type').val();
        filterTradingItemByServerSide();
        $('#slLocation_items').not('.multi-select').select2();
        //setDefauleInputSearchItem();
        //searchOnTableItems();
    });
</script>
