@using System.Diagnostics

<style>
    .dataTables_filter {
        display: none;
    }
</style>

<div class="row">
    <div class="col-xs-12">
        <ul class="nav nav-pills traderv2 budget-tab" style="padding-top: 0;">
            <li class="active">
                <a href="#budget-groups" data-toggle="tab">Budget Groups</a>
            </li>
            <li class="budget-scenario-li">
                <a href="#budget-scenarios" data-toggle="tab" id="scenarios">Budget Scenarios</a>
            </li>
        </ul>
    </div>
</div>

<br />

<div class="tab-content">
    <!-- Budget Groups -->
    <div class="tab-pane fade in active" id="budget-groups">
    </div>
    <!-- END Budget Groups -->
    <!-- Budget Scenarios -->
    <div class="tab-pane fade" id="budget-scenarios">
    </div>
    <!-- END Budget Scenarios -->
</div>

@{ 
    <script src="~/Content/DesignStyle/js/bootstrap-multiselect.min.js"></script> 
    if (Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/trader.budget.group.js"></script>
        <script src="~/Scripts/dev/trader.budget.scenarios.js"></script>
        <script src="~/Scripts/dev/trader.domain.js"></script>


    }
    else
    {
        <script src="~/Scripts/dev/trader.budget.group.min.js"></script>
        <script src="~/Scripts/dev/trader.budget.scenarios.min.js"></script>
        <script src="~/Scripts/dev/trader.domain.min.js"></script>

    }
    <script>
        loadBudgetGroupContents();
        loadBudgetScenariosContents();
    </script>

}