@using Qbicles.Models.Trader
@using Qbicles.BusinessRules
@{
    ViewBag.Title = "Trader - Cash & Bank";
    var api = (string)ViewBag.DocRetrievalUrl;
    var workgroupPayments = (List<WorkGroup>)ViewBag.WorkgroupPayment;
    var domainId = (int)ViewBag.CurrentDomainId;
    var currencySettings = (Qbicles.Models.CurrencySetting)ViewBag.CurrencySettings;
}


<div class="tab-content app_general" id="grid_view">
    <input type="hidden" id="api" value="@api" />
    <div class="well custom" style="padding-bottom: 5px;">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="search_dt">Search for something</label>
                    <input type="text" name="search_dt" id="search_dt_cb" class="form-control" placeholder="Search for something">
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-5">
                <label>Options</label>
                <br />
                <div class="form-group">
                    @if (workgroupPayments != null && workgroupPayments.Count > 0)
                    {
                        <button onclick="AddEditTraderCashBank(0)" class="btn btn-success" @*data-toggle="modal" data-target="#app-trader-cashbank"*@><i class="fa fa-plus"></i> &nbsp; New cash/bank</button>
                    }
                    <div class="btn-group options">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-sliders"></i> &nbsp; Manage display
                        </button>
                        <ul class="dropdown-menu primary manage-columns">
                            <li><label><input type="checkbox" data-column="1" checked> Name</label></li>
                            <li><label><input type="checkbox" data-column="2" checked> Funds in (@currencySettings.CurrencySymbol)</label></li>
                            <li><label><input type="checkbox" data-column="3" checked> Funds out (@currencySettings.CurrencySymbol)</label></li>
                            <li><label><input type="checkbox" data-column="4" checked> Charges (@currencySettings.CurrencySymbol)</label></li>
                            <li><label><input type="checkbox" data-column="5" checked> Transactions</label></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div id="cashbank-content" class="row" style="padding: 20px 20px 5px 20px;">

    </div>



</div>


<div class="modal fade left" id="app-trader-cashbank" role="dialog" aria-labelledby="app-trader-cashbank">

</div>
<!-- /.modal -->



@{
    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/trader.cashbank.js"></script>
        <script src="~/Scripts/dev/trader.domain.js"></script>
    }
    else
    {
        <script src="~/Scripts/dev/trader.cashbank.min.js"></script>
        <script src="~/Scripts/dev/trader.domain.min.js"></script>
    }
}
