@using Qbicles.Models

@{
    ViewBag.Title = "Trader - Sale Channel Configuration";
    var api = (string)ViewBag.DocRetrievalUrl;
    var currentDomain = (QbicleDomain)ViewBag.CurrentDomain;
}
<div class="channels">

    <div class="flex-grid-quarters-lg gridfix qbicles-dash-grid theme-labels">

        @*B2B*@
        <article class="col">
            <div class="qbicle-opts">
                <a href="javascript:" onclick="ShowSalesChannelsContent('channel_b2b');" data-tooltip="Edit this Channel">
                    <i class="fa fa-cog"></i>
                </a>
            </div>
            <a href="javascript:" onclick="ShowSalesChannelsContent('channel_b2b');">
                <div class="avatar" style="background-image: url('@Url.Content("~/Content/DesignStyle/img/icon_app_commerce.png")');">&nbsp;</div>
                <h1 style="color: #333;">B2B</h1>
            </a>
            <p class="qbicle-detail">Manage your B2B interactions and Commerce app</p>

        </article>

        @*B2C*@
        <article class="col">
            <div class="qbicle-opts">
                <a href="javascript:" onclick="ShowSalesChannelsContent('channel_b2c');" data-tooltip="Edit this Channel">
                    <i class="fa fa-cog"></i>
                </a>
            </div>
            <a href="javascript:" onclick="ShowSalesChannelsContent('channel_b2c');">
                <div class="avatar" style="background-image: url('@Url.Content("~/Content/DesignStyle/img/icon_cash.png")');">&nbsp;</div>
                <h1 style="color: #333;">B2C</h1>
            </a>
            <p class="qbicle-detail">Manage your Business to Customer settings</p>

        </article>
        @*Point of Sale*@
        <article class="col">
            <div class="qbicle-opts">
                <a href="javascript:" onclick="ShowSalesChannelsContent('channel_pos');" data-tooltip="Edit this Channel">
                    <i class="fa fa-cog"></i>
                </a>
            </div>
            <a href="javascript:" onclick="ShowSalesChannelsContent('channel_pos');">
                <div class="avatar" style="background-image: url('@Url.Content("~/Content/DesignStyle/img/icon_pospayments.png")');">&nbsp;</div>
                <h1 style="color: #333;">Point of Sale</h1>
            </a>
            <p class="qbicle-detail">Configure your Point of Sale</p>

        </article>
        <article class="col" style="box-shadow: none; background: transparent;"></article>
    </div>

</div>


<!-- channel detail view -->
<div id="sale_channel_content" class="sale_channel_content" style="display: none;">
    <div class="row">
        <div class="col-xs-12">
            <div class="app_filter">
                <div class="row">
                    <div class="col-xs-12">
                        <button onclick="BackToAllChannels();" class="btn btn-primary"><i class="fa fa-angle-left"></i> &nbsp; All Channels</button>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <br />
    <br />
    <div class="row sale_channel_content_detail">

    </div>


</div>
<!-- END MyDesk -->

<div class="modal fade left" id="delivery-charge-pricelist-add" role="dialog" aria-labelledby="delivery-charge-pricelist-add" style="display: none; padding-right: 17px;"></div>
<div class="modal fade left " id="delivery-charge-framework-add" role="dialog" aria-labelledby="delivery-charge-framework-add" style="display: none; padding-right: 17px;"></div>
<div class="modal fade left" id="delivery-vehicle-add" role="dialog" aria-labelledby="delivery-vehicle-add" style="display: none; padding-right: 17px;"></div>
<div class="modal fade left" id="b2b-driver-location-change" role="dialog" aria-labelledby="b2b-driver-location-change" style="display: none; padding-right: 17px;"></div>
<div class="modal fade left" id="b2b-charge-framework-port" role="dialog" aria-labelledby="b2b-charge-framework-port" style="display: none; padding-right: 17px;"></div>

<div class="modal fade left" id="delivery-driver-add" role="dialog" aria-labelledby="delivery-driver-add" style="display: none; padding-right: 17px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h5 class="modal-title">Add a Driver</h5>
            </div>
            <div class="modal-body">

                <div class="activity-overview generic help-text animated bounce" style="margin-bottom: 0;">
                    <i class="fa fa-info-circle"></i>
                    <p>
                        Your drivers must be existing Domain users in order to be added to your Logistics configuration. Please ensure any drivers you wish to add are already
                        present in your Domain.
                    </p>
                </div>

                <br>
                <div class="well custom">
                    <div class="form-group" style="margin: 0;">
                        <label for="existing">Search Domain members</label>
                        <input id="txtmembersearch" type="text" class="form-control" autocomplete="off" name="member-search" placeholder="Search by name...">
                    </div>
                </div>

                <div class="existing-member" style="margin-top: 15px; display: none;">
                    <div class="contact-list-found" style="margin-bottom: 30px;"></div>
                    <div class="contact-add" style="display: none;"></div>
                </div>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade left" id="b2b-charge-framework-clone" role="dialog" aria-labelledby="b2b-charge-framework-clone" style="display: none; padding-right: 17px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h5 class="modal-title">Clone this framework</h5>
            </div>
            <div class="modal-body">
                <form id="frmPriceListCLocationClone" method="post" action="~/TraderChannels/ClonePricelist">
                    <div class="choose-location">

                        <div class="activity-overview generic help-text animated bounce">
                            <i class="fa fa-info-circle"></i>
                            <p>Create a clone of this framework in your current location by specifying a title for the new copy below...</p>
                        </div>


                        <div class="well custom" style="padding-bottom: 5px;">
                            <div class="form-group">
                                <label for="title">Title of new copy</label>
                                <input type="hidden" name="cloneId" value="0" />
                                <input type="text" name="cloneName" class="form-control" value="">
                            </div>
                        </div>

                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success">Confirm</button>
                    </div>
                </form>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>



@if (System.Diagnostics.Debugger.IsAttached)
{
    <link href="~/Content/DesignStyle/css/bootstrap-multiselect.css" rel="stylesheet" />
    <script src="~/Content/DesignStyle/js/bootstrap-multiselect.js"></script>
    <script src="~/Scripts/dev/trader.channels.js"></script>
    <script src="~/Scripts/dev/trader.domain.js"></script>
}
else
{
    <link href="~/Content/DesignStyle/css/bootstrap-multiselect.css" rel="stylesheet" />
    <script src="~/Content/DesignStyle/js/bootstrap-multiselect.min.js"></script>
    <script src="~/Scripts/dev/trader.channels.js"></script>
    <script src="~/Scripts/dev/trader.domain.min.js"></script>
}