@using System.Diagnostics
@{
    ViewBag.Title = "Trader - Configuration";
}


<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3">

        <ul class="nav nav-stacked nav-pills nav-marketing config-nav" style="margin-bottom: 30px;">
            <li class="active" id="li-settings"><a href="javascript:void(0)" onclick="ShowSetting('settings')">Settings</a></li>
            <li id="li-location"><a href="javascript:void(0)" onclick="ShowSetting('location')">Locations</a></li>
            <li id="li-workgroup"><a href="javascript:void(0)" onclick="ShowSetting('Workgroups')">Workgroups</a></li>
            <li id="li-dimension"><a href="javascript:void(0)" onclick="ShowSetting('dimension')">Reporting Filters</a></li>
            <li id="li-accounting"><a href="javascript:void(0)" onclick="ShowSetting('accounting')">Accounting</a></li>
            <li id="li-group"><a href="javascript:void(0)" onclick="ShowSetting('group')">Groups</a></li>
            <li id="li-resourcecategory"><a href="javascript:void(0)" onclick="ShowSetting('resourcecategory')">Resource Categories</a></li>
            <li id="li-references"><a href="javascript:void(0)" onclick="ShowSetting('references')">References</a></li>
            <li id="li-mastersetup"><a href="#" onclick="ShowSetting('mastersetup')">Master Setup</a></li>
        </ul>

    </div>


    <div class="col-xs-12 col-sm-8 col-lg-9">

        <div id="comfig-content" class="tab-content">

        </div>
    </div>

</div>


@{

    if (Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/trader.domain.js"></script>

    }
    else
    {
        <script src="~/Scripts/dev/trader.domain.min.js"></script>
    }
}
<script>
    $(function () {
        $('.config-nav a').click(function () {
            $(this).parent().addClass('active').siblings().removeClass('active');
        });       
        
        var tab = getTabTrader();
        $('ul.config-nav li').removeClass('active');
        switch (tab.SubTraderTab) {
            case "settings":
                $('#li-settings').addClass('active');
                ShowSetting(tab.SubTraderTab);
                break;
            case "location":
                $('#li-location').addClass('active');
                ShowSetting(tab.SubTraderTab);
                break;
            case "Workgroups":
                $('#li-workgroup').addClass('active');
                ShowSetting(tab.SubTraderTab);
                break;
            case "dimension":
                $('#li-dimension').addClass('active');
                ShowSetting(tab.SubTraderTab);
                break;
            case "accounting":
                $('#li-accounting').addClass('active');
                ShowSetting(tab.SubTraderTab);
                break;
            case "group":
                $('#li-group').addClass('active');
                ShowSetting(tab.SubTraderTab);
                break;
            case "resourcecategory":
                $('#li-resourcecategory').addClass('active');
                ShowSetting(tab);
                break;
            case "references":
                $('#li-references').addClass('active');
                ShowSetting(tab.SubTraderTab);
                break;
            case "mastersetup":
                $('#li-mastersetup').addClass('active');
                ShowSetting(tab.SubTraderTab);
                break;
            default:
                $('#li-location').addClass('active');
                ShowSetting('location');
                break;
        }        
    });
    function ShowSetting(settingVal, callback) {
        setTabTrader('Config', settingVal);
        var ajaxUri = '/TraderConfiguration/TraderConfigurationContent?value=' + settingVal;
        $('#comfig-content').LoadingOverlay("show");
        $('#comfig-content').empty();
        $('#comfig-content').load(ajaxUri, function () {
            $('#comfig-content').LoadingOverlay("hide");
            initCurrency();
            if (callback) {
                callback();
            }
        });
    };
</script>