@using Qbicles.Models.Trader
@{
    ViewBag.Title = "Trader - items & Products";
    var traderLocations = (List<TraderLocation>)ViewBag.Locations ?? (new List<TraderLocation>());
    var api = (string)ViewBag.DocRetrievalUrl;
    var locationManage = (int)ViewBag.CurrentLocationManage;
    var dateTimeFormat = (string)ViewBag.CurrentDateTimeFormat;
}


<div class="row">
    <div class="col-xs-12">
        <ul class="nav nav-pills traderv2">
            <li class="active"><a href="#item-tab" id="item_tab" onclick="selectTraderItemsTab(this)" data-toggle="tab">Items Overview</a></li>
            <li><a href="#items-import" id="items_import" onclick="SelectItemsImportTab(this)"data-toggle="tab" aria-expanded="false">Import</a></li>
            <li><a href="#resource-tab" id="resource_tab" onclick="selectResourceTab(this)" data-toggle="tab">Resources</a></li>
            <li><a href="#inventory-tab" id="inventory_tab" onclick="selectInventoryTab(this)" data-toggle="tab">Inventory</a></li>
            <li><a href="#pricebook-tab" id="pricebook_tab" onclick="SelectPriceBookTab(this)" data-toggle="tab">Price Books</a></li>
            <li><a href="#movement-tab" id="movement_tab" onclick="SelectMovementTab(this)" data-toggle="tab">Movement</a></li>
            <li><a href="#adjuststock-tab" id="adjuststock_tab" onclick="SelectAdjustStockTab(this)" data-toggle="tab">Adjust Stock</a></li>
            <li><a href="#inventoryaudit-tab" id="inventoryaudit_tab" onclick="SelectInventoryAuditTab(this)" data-toggle="tab">Shift Audit</a></li>
        </ul>
    </div>
</div>

<br />


<div class="tab-content">

    <!-- Items, vendors & prices -->
    <div class="tab-pane fade in active no-search" id="item-tab"></div>
    <div class="tab-pane fade in active no-search" id="items-import"></div>
    <!-- END Items, vendors & prices -->
    <!-- Resource -->
    <div class="tab-pane fade" id="resource-tab"></div>
    <!-- END resource -->
    <!-- Inventory -->
    <div class="tab-pane fade" id="inventory-tab"></div>
    <!-- END Inventory -->
    <!-- Price Books -->
    <div class="tab-pane fade" id="pricebook-tab"></div>
    <!-- END Price Books -->
    <!-- Movement -->
    <div class="tab-pane fade" id="movement-tab"></div>
    <!-- END Movement -->
    <!-- Stock Adjustment -->
    <div class="tab-pane fade" id="adjuststock-tab"></div>
    <!-- END Stock Adjustment -->
    <!-- ShiftAudit -->
    <div class="tab-pane fade" id="shiftAudit-tab"></div>
    <!-- END ShiftAudit -->
    <!-- Inventory Audit -->
    <div class="tab-pane fade" id="inventoryaudit-tab"></div>
    <!-- END Inventory Audit -->
</div>



<div class="modal fade left" id="app-trader-inventory-item-add" role="dialog" aria-labelledby="app-trader-inventory-item-add">
    @{Html.RenderAction("AddTraderItem", "Trader", new { locationId = traderLocations.Count > 0 ? traderLocations[0].Id : 0, type = 1 });}
</div>

<div class="modal fade" id="confirm-menus" role="dialog" aria-labelledby="confirm-menus" style="z-index: 10000">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <div class="activity-overview generic help-text" style="margin: 0;">
                    <i class="fa fa-info-circle"></i>
                    <p style="margin-bottom: 0; padding-bottom: 5px;">Please ensure you're happy with this change being applied in the following menus before proceeding...</p>
                </div>

                <br>

                <ul style="font-family: 'Roboto', Arial, sans-serif; font-size: 12px;"></ul>

                <br>
                <button class="btn btn-danger" data-dismiss="modal" onclick="$('#form_specifics_active_in_current').bootstrapToggle('on');">Cancel</button>
                <button class="btn btn-success" data-dismiss="modal" id="btn-confirm-deactive" onclick="setIsActiveByLocations($(this).data('itemid'), $(this).data('isactive'), $(this).data('isreload'))">Confirm</button>


            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

@{
    <script src="~/Content/DesignStyle/js/bootstrap-multiselect.min.js"></script>
    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/trader.itemproducts.js"></script>
        <script src="~/Scripts/dev/trader.itemproductsResources.js"></script>
        <script src="~/Scripts/dev/trader.domain.js"></script>
    }
    else
    {
        <script src="~/Scripts/dev/trader.itemproducts.js"></script>
        <script src="~/Scripts/dev/trader.itemproductsResources.js"></script>
        <script src="~/Scripts/dev/trader.domain.min.js"></script>
    }
}
<script>
    $(function () {
        initProductTab();
        initJsTree();
    });
</script>
<style>
    /*.btnhide {
        display: block !important;
    }*/

    #movement_table_filter {
        display: none;
    }

    .dataTables_filter {
        display: none;
    }
</style>

