@{
    ViewBag.Title = "Trader - Manufacturing";
}


<div id="manufacring_content">

</div>


<div class="modal fade left" id="app-trader-inventory-manufacturing" role="dialog" aria-labelledby="app-trader-inventory-manufacturing">

</div><!-- /.modal -->

<div class="modal fade left" id="app-trader-inventory-manufacturing-specific" role="dialog" aria-labelledby="app-trader-inventory-manufacturing-specific">

</div><!-- /.modal -->
<div class="modal fade left" id="app-trader-inventory-recipe-view" role="dialog" aria-labelledby="app-trader-inventory-recipe-view">

</div><!-- /.modal -->
<div class="modal fade left" id="app-trader-workgroup-preview" role="dialog" aria-labelledby="app-trader-workgroup-preview">

</div><!-- /.modal -->
@{
    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/trader.manufacturing.js"></script>
        <script src="~/Scripts/dev/trader.domain.js"></script>
    }
    else
    {
        <script src="~/Scripts/dev/trader.manufacturing.js"></script>
        <script src="~/Scripts/dev/trader.domain.min.js"></script>
    }
}

