@using System.Diagnostics
@{
    ViewBag.Title = "Trader - Point of Sale";
}


<!-- ODS -->
<div class="channel channel_pos">

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3">

            <div class="flex-grid qbicles-dash-grid theme-labels">


                <article class="col">
                    <div class="qbicle-opts">
                    </div>
                    <a href="#">
                        <div class="avatar" style="background-image: url('dist/img/icon_ipad.png');">&nbsp;</div>
                        <h1 style="color: #333;">Order Display System</h1>
                    </a>

                    <br />
                    <ul class="nav nav-stacked nav-pills nav-marketing" style="margin-bottom: 0;">
                        <li class="active">
                            <a href="#queues" onclick="ShowSetting('queues')">Queues</a>
                        </li>
                        <li>
                            <a href="#pds" onclick="ShowSetting('pds')">Preparation Display System</a>
                        </li>
                        <li>
                            <a href="#dds" onclick="ShowSetting('dds')">Delivery Display System</a>
                        </li>
                        <li>
                            <a href="#cds" onclick="ShowSetting('cds')">Customer Display System</a>
                        </li>
                        <li>
                            <a href="#mds" onclick="ShowSetting('mds')">Management Display System</a>
                        </li>
                    </ul>

                </article>

            </div>

        </div>

        <div class="col-xs-12 col-sm-8 col-lg-9">
            <div id="pds-content-1" class="tab-content mdv2-col-dash">

            </div>
        </div>

    </div>


</div>
@{

    if (Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/trader.domain.js"></script>

    }
    else
    {
        <script src="~/Scripts/dev/trader.domain.min.js"></script>
    }
}


<div class="modal fade" style="z-index: 9999" id="confirm-delete" role="dialog" aria-labelledby="confirm-delete">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <div class="activity-overview generic help-text" style="margin: 0;">
                    <i class="fa fa-info-circle"></i>
                    <p>You are about to delete item <strong><span id="name-delete"></span></strong> permanently. This action cannot be undone. If you are sure you wish to proceed, please confirm below...</p>


                    <button class="btn btn-danger" onclick="CancelDelete()">Cancel</button>
                    <button class="btn btn-success" onclick="DeletePrepQueue()">Confirm &amp; Delete</button>
                </div>


            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<script>
    $(function () {

        $('.nav-marketing a').click(function () {
            $(this).parent().addClass('active').siblings().removeClass('active');
        });
        var url = window.location.href;
        url = url.substr(url.indexOf('#') + 1, url.length).split('#');
        var activeTab = getTabTrader().SubTraderTab;
        if (url[1]) {
            activeTab = url[1];
        }
        switch (activeTab) {
            case "queues":
            case "pds":
            case "cds":
            case "dds":
            case "mds":
                break;
            default:
                activeTab = "queues";
                break;
        }
        
        ShowSetting(activeTab);

    });
    function ShowSetting(activeTab) {
        var tabPointSale = getTabTrader().TraderTab;
        $('a[href="#' + activeTab + '"]').tab('show');
        setTabTrader(tabPointSale, activeTab);
        var ajaxUri = '/PDS/PDSContent?value=' + activeTab;
        $('#pds-content').LoadingOverlay("show");
        $('#pds-content').empty();
        $('#pds-content').load(ajaxUri, function () {
            $('#pds-content').LoadingOverlay("hide");
        });
    };


</script>