@using System.Diagnostics
@{
    ViewBag.Title = "Trader - Point of Sale";
}


<div class="row">
    <div class="col-xs-12">
        <div class="app_filter">
            <div class="row">
                <div class="col-xs-12">
                    <a href="/Apps/AppManagement" class="btn btn-info"><i class="fa fa-th"></i> &nbsp; All apps</a>
                    <a href="/Trader/AppTrader" onclick="setTabTrader('apptrader')" class="btn btn-primary"><i class="fa fa-home"></i> &nbsp; Home</a>
                </div>
            </div>
        </div>

    </div>
</div>


<br /><br />

<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3">

        <ul class="nav nav-stacked nav-pills nav-marketing" style="margin-bottom: 30px;">
            <li>
                <a href="#General" onclick="ShowSetting('General')">General</a>
            </li>
            <li>
                <a href="#Users" onclick="ShowSetting('Users')">User Pool</a>
            </li>
            <li>
                <a href="#Devices" onclick="ShowSetting('Devices')">Devices</a>
            </li>
            <li>
                <a href="#Products" onclick="ShowSetting('Products')">Products</a>
            </li>
            <li>
                <a href="#Printers" onclick="ShowSetting('Printers')">Printers</a>
            </li>
            <li>
                <a href="#Loyalty" onclick="ShowSetting('Loyalty')">Loyalty</a>
            </li>
        </ul>

    </div>


    <div class="col-xs-12 col-sm-8 col-lg-9">
        <div id="comfig-content" class="tab-content mdv2-col-dash">
                              
        </div>
    </div>
</div>


@{

    if (Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/trader.domain.js"></script>

    }
    else
    {
        <script src="~/Scripts/dev/trader.domain.min.js"></script>
    }
}

<script>
    $(function () {       
        var tabPointSale = getTabTrader().TraderTab; 
        $('.nav-marketing a').click(function () {
            $(this).parent().addClass('active').siblings().removeClass('active');
        });
        
        var url = window.location.href;
        url = url.substr(url.indexOf('#') + 1, url.length).split('#');
        var activeTab = getTabTrader().SubTraderTab;
        if (url[1]) {
            activeTab = url[1];
        }
        switch (activeTab) {
            case "General":
            case "Users":
            case "Devices":
            case "Products":
            case "Printers":
            case "Loyalty":  
                break;
            default:
                activeTab = "General"; 
                break;
        }
        ShowSetting(activeTab); 
    });

    function ShowSetting(settingVal) {
        $('a[href="#' + settingVal + '"]').tab('show');
        setTabTrader(tabPointSale, settingVal);
        var ajaxUri = '/PointOfSale/PointOfSaleContent?value=' + settingVal;
        $('#comfig-content').LoadingOverlay("show");
        $('#comfig-content').empty();
        $('#comfig-content').load(ajaxUri, function () {
            $('#comfig-content').LoadingOverlay("hide");
        });
    };
   
</script>