@{
    ViewBag.Title = "Trader - Purchase";      
}

<div class="tab-content app_general" id="trader-purchase-content">

</div>

<div class="modal fade left" id="app-trader-purchase-add" role="dialog" aria-labelledby="app-trader-purchase-add">
</div><!-- /.modal -->
<div class="modal fade left" id="app-trader-workgroup-preview" role="dialog" aria-labelledby="app-trader-workgroup-preview">

</div><!-- /.modal -->
@{
    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/trader.purchases.js"></script>
        <script src="~/Scripts/dev/trader.domain.js"></script>
    }
    else
    {
        <script src="~/Scripts/dev/trader.purchases.min.js"></script>
        <script src="~/Scripts/dev/trader.domain.min.js"></script>
    }
}
