@using System.Diagnostics

<div id="report-tab-content">
</div>

@{

    if (Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/trader.domain.js"></script>
        <script src="~/Scripts/dev/trader.report.js"></script>
    }
    else
    {
        <script src="~/Scripts/dev/trader.domain.min.js"></script>
        <script src="~/Scripts/dev/trader.report.min.js"></script>
    }
}