@using System.Diagnostics
@{
    ViewBag.Title = "Shift Management";
}
<br />

<ul class="nav nav-pills traderv2" style="padding-top: 0;">
    <li class="active"><a href="#subCM" onclick="ShowTabShiftManagement('subCM')">Cash Management</a></li>
    <li><a href="#subVoidReturn" onclick="ShowTabShiftManagement('subVoidReturn')">Voids/Returns</a></li>
</ul>

<br />

<div class="tab-pane fade in active" id="shift-cash">

</div>


@{

    if (Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/trader.domain.js"></script>
        <script src="~/Scripts/dev/trader.shiftmanagement.cashmanagement.js"></script>
        <script src="~/Content/DesignStyle/js/bootstrap-multiselect.js"></script>

    }
    else
    {
        <script src="~/Scripts/dev/trader.domain.min.js"></script>
        <script src="~/Scripts/dev/trader.shiftmanagement.cashmanagement.min.js"></script>
        <script src="~/Content/DesignStyle/js/bootstrap-multiselect.min.js"></script>

    }
}

<script>
    $(function () {
        $('.nav-pills a').click(function () {
            $(this).parent().addClass('active').siblings().removeClass('active');
        });
        var url = window.location.href;
        url = url.substr(url.indexOf('#') + 1, url.length).split('#');
        var activeTab = getTabTrader().SubTraderTab;
        if (url[1]) {
            activeTab = url[1];
        }
        switch (activeTab) {
            case "subCM":
            case "subVoidReturn":
                break;
            default:
                activeTab = "subCM";
                break;
        }
        ShowTabShiftManagement(activeTab);
    });

    function QueueAdd() {
        var url = "/PDS/CreatePrepDeliveryQueue";
        LoadingOverlay();
        $.ajax({
            url: url,
            type: "post",
            dataType: "json",
            success: function (rs) {
                window.location.reload();
            },
            error: function (err) {
                cleanBookNotification.error(err, "Qbicles");
            }
        }).always(function () {
            LoadingOverlayEnd();
        });
    }



</script>

