@using System.Diagnostics
@{
    var fromDateTime = ViewBag.FromDatetime;
    var toDateTime = ViewBag.ToDateTime;
}
<input type="hidden" id="fromDateTime" value="@fromDateTime">
<input type="hidden" id="toDateTime" value="@toDateTime">
<div class="row">
    <div class="col-xs-12">
        <ul class="nav nav-pills traderv2" style="padding-top: 0;">
            <li class="active">
                <a id="sale-records-tab" onclick="ShowTableSaleRecordsValue();" href="#trader-sale-content" data-toggle="tab">Sales Records</a>
            </li>
            <li>
                <a id="sale-returns-tab" onclick="ShowTableSaleReturnValue();" href="#trader-sale-return-content" data-toggle="tab">Sales Returns</a>
            </li>
        </ul>
    </div>
</div>

<br />


<div class="tab-content">
    <div class="tab-pane fade in active" id="trader-sale-content">
    </div>

    <div class="tab-pane fade" id="trader-sale-return-content"></div>

</div>
<!-- /.content-wrapper -->
<!-- /.modal -->

<style>
    #tb_trader_sales_filter {
        display: none;
    }
</style>

<div class="modal fade left" id="app-trader-sale-add" role="dialog" aria-labelledby="app-trader-sale-add"></div><!-- /.modal -->

@{

    if (Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/trader.sale.tab.js"></script>
        <script src="~/Scripts/dev/trader.domain.js"></script>

    }
    else
    {
        <script src="~/Scripts/dev/trader.sale.tab.min.js"></script>
        <script src="~/Scripts/dev/trader.domain.min.js"></script>
    }
}

<script>
    //ShowTableSaleRecordsValue(false);
</script>