<div class="content-wrapper qbicle-detail">


    <!-- Main content -->
    <section class="content"
             data-tooltip-animate-function="fadein" data-tooltip-delay="300" data-tooltip-stickTo="top" data-tooltip-stickDistance="30">

        <br /><br />

        <div class="mod_title">
            <h5>Trader</h5>
            <h4>Special Items</h4>
        </div>

        <div class="activity-overview generic" style="padding: 20px; margin-bottom: 30px; max-width: 500px;">
            <div class="form-group" style="margin: 0;">
                <label for="location">Location to manage</label>
                <select name="location" class="form-control select2" style="width: 100%;">
                    <optgroup label="Nigeria">
                        <option value="RoadChef Lekki 1" selected>RoadChef Lekki 1</option>
                        <option value="RoadChef Lekki 2">RoadChef Lekki 2</option>
                    </optgroup>
                </select>
                <button class="btn btn-info" style="margin-top: 6px;">Change</button>
            </div>
        </div>

        <div class="app_topnav restyle">
            <ul class="nav nav-pills app_main_nav hidden-xs hidden-sm">
                <li role="presentation">
                    <a href="app_trader.php">
                        <i class="fa fa-tags"></i>
                        Sales
                    </a>
                </li>
                <li role="presentation">
                    <a href="app_trader_purchases.php">
                        <i class="fa fa-dollar"></i>
                        Purchases
                    </a>
                </li>
                <li role="presentation">
                    <a href="app_trader_transfers.php">
                        <i class="fa fa-truck"></i>
                        Transfers
                    </a>
                </li>
                <li role="presentation">
                    <a href="app_trader_contacts.php">
                        <i class="fa fa-address-card-o"></i>
                        Contacts
                    </a>
                </li>
                <li role="presentation">
                    <a href="app_trader_cash_bank.php">
                        <i class="fa fa-university"></i>
                        Cash &amp; Bank
                    </a>
                </li>
                <li role="presentation">
                    <a href="app_trader_items.php">
                        <i class="fa fa-cubes"></i>
                        Items &amp; Products
                    </a>
                </li>
                @*<li role="presentation">
                    <a href="app_trader_budget.php">
                        <i class="fa fa-line-chart"></i>
                        Budget
                    </a>
                </li>*@
                <li role="presentation">
                    <a href="app_trader_reports.php">
                        <i class="fa fa-list"></i>
                        Reports
                    </a>
                </li>
            </ul>

            <select name="app_tab" class="form-control visible-xs visible-sm">
                <option value="app_trader.php">Sales</option>
                <option value="app_trader_purchases.php" selected>Purchases</option>
                <option value="app_trader_transfers.php">Transfers</option>
                <option value="app_trader_contacts.php">Contacts</option>
                <option value="app_trader_cash_bank.php">Cash &amp; Bank</option>
                <option value="app_trader_items.php">Items &amp; Products</option>
                <option value="app_trader_budget.php">Budget</option>
                <option value="app_trader_reports.php">Reports</option>
            </select>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="app_filter">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 button_options">
                            <a href="app_trader.php" class="btn btn-info"><i class="fa fa-home"></i> &nbsp; App home</a>
                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#app-trader-devices"><i class="fa fa-laptop"></i> &nbsp; Devices</a>

                            <div class="btn-group options">
                                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Create a new &nbsp; <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" data-toggle="modal" data-target="#app-group-generic-add">Group</a>
                                </ul>
                            </div>

                        </div>
                        <div class="col-xs-12 col-sm-6 block_filters">
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <br /><br />


        <div class="activity-overview alert-detail animated fadeInUp" style="padding: 20px; max-width: 700px;">
            <p>Enable Special Items here to allow your team to purchase them. Want your item displayed here, or want to integrate your goods/service into the Qbicles system?</p>
            <a href="mailto:integrations@qbicles.com" class="btn btn-warning"><i class="fa fa-envelope"></i> &nbsp; Contact us to discuss integrations</a>
        </div>


        <br /><br />

              <div class="row">
                  <div class="col-xs-12 col-sm-4 col-lg-3">

                      <ul class="nav nav-stacked nav-pills nav-marketing" style="margin: 0 0 30px 0;">
                          <li class="active"><a href="" data-toggle="tab" data-target="#tab-special-flights">Flights</a></li>
                          <li><a href="" data-toggle="tab" data-target="#tab-special-hotels">Hotels</a></li>
                          <li><a href="" data-toggle="tab" data-target="#tab-special-insurance">Insurance</a></li>
                          <li><a href="" data-toggle="tab" data-target="#tab-special-vouchers">Vouchers</a></li>
                      </ul>

                  </div>


                  <div class="col-xs-12 col-sm-8 col-lg-9">

                      <div class="tab-content">

                          <!-- Flights -->
                          <div class="tab-pane fade in active" id="tab-special-flights">

                              <div class="flex-grid-thirds-lg">

                                  <div class="col">

                                      <div class="community-card" style="margin-bottom: 0;">
                                          <div class="upper" style="background-image: url('~/Content/img/community/ba.jpg');">
                                              &nbsp;
                                          </div>
                                          <section class="info">
                                              <a href="#"><h2 style="margin-bottom: 8px;">British Airways</h2></a>

                                              <div class="checkbox toggle" style="margin: 0;">
                                                  <label>
                                                      <input data-toggle="toggle" data-onstyle="success" type="checkbox" checked>
                                                      Allow bookings
                                                  </label>
                                              </div>
                                          </section>
                                      </div>

                                  </div>

                                  <div class="col">

                                      <div class="community-card" style="margin-bottom: 0;">
                                          <div class="upper" style="background-image: url('~/Content/img/community/na.png');">
                                              &nbsp;
                                          </div>
                                          <section class="info">
                                              <a href="#"><h2 style="margin-bottom: 8px;">Nigeria Airways</h2></a>

                                              <div class="checkbox toggle" style="margin: 0;">
                                                  <label>
                                                      <input data-toggle="toggle" data-onstyle="success" type="checkbox" checked>
                                                      Allow bookings
                                                  </label>
                                              </div>
                                          </section>
                                      </div>

                                  </div>

                                  <div class="col">

                                      <div class="community-card" style="margin-bottom: 0;">
                                          <div class="upper" style="background-image: url('~/Content/img/community/virgin.jpg');">
                                              &nbsp;
                                          </div>
                                          <section class="info">
                                              <a href="#"><h2 style="margin-bottom: 8px;">Virgin Atlantic</h2></a>

                                              <div class="checkbox toggle" style="margin: 0;">
                                                  <label>
                                                      <input data-toggle="toggle" data-onstyle="success" type="checkbox">
                                                      Allow bookings
                                                  </label>
                                              </div>
                                          </section>
                                      </div>

                                  </div>


                              </div>

                          </div>
                          <!-- END Flights -->
                          <!-- Hotels -->
                          <div class="tab-pane fade" id="tab-special-hotels">

                              <div class="flex-grid-thirds-lg">

                                  <div class="col">

                                      <div class="community-card" style="margin-bottom: 0;">
                                          <div class="upper" style="background-image: url('~/Content/img/community/ramada.jpg');">
                                              &nbsp;
                                          </div>
                                          <section class="info">
                                              <a href="#"><h2 style="margin-bottom: 8px;">Ramada Hotels</h2></a>

                                              <div class="checkbox toggle" style="margin: 0;">
                                                  <label>
                                                      <input data-toggle="toggle" data-onstyle="success" type="checkbox" checked>
                                                      Allow bookings
                                                  </label>
                                              </div>
                                          </section>
                                      </div>

                                  </div>

                              </div>

                          </div>
                          <!-- END Hotels -->
                          <!-- Insurance -->
                          <div class="tab-pane fade" id="tab-special-insurance">

                              <div class="flex-grid-thirds-lg">

                                  <div class="col">

                                      <div class="community-card" style="margin-bottom: 0;">
                                          <div class="upper" style="background-image: url('~/Content/img/community/insurance-medical.jpg');">
                                              &nbsp;
                                          </div>
                                          <section class="info">
                                              <a href="#"><h2 style="margin-bottom: 8px;">XYZ Health Insurance</h2></a>

                                              <div class="checkbox toggle" style="margin: 0;">
                                                  <label>
                                                      <input data-toggle="toggle" data-onstyle="success" type="checkbox">
                                                      Allow purchases
                                                  </label>
                                              </div>
                                          </section>
                                      </div>

                                  </div>

                              </div>

                          </div>
                          <!-- END Insurance -->
                          <!-- Vouchers -->
                          <div class="tab-pane fade" id="tab-special-vouchers">

                              <div class="flex-grid-thirds-lg">

                                  <div class="col">

                                      <div class="community-card" style="margin-bottom: 0;">
                                          <div class="upper" style="background-image: url('~/Content/img/community/louisvuitton.jpg');">
                                              &nbsp;
                                          </div>
                                          <section class="info">
                                              <a href="#"><h2 style="margin-bottom: 8px;">Louis Vuitton Stores</h2></a>

                                              <div class="checkbox toggle" style="margin: 0;">
                                                  <label>
                                                      <input data-toggle="toggle" data-onstyle="success" type="checkbox" checked>
                                                      Allow vouchers
                                                  </label>
                                              </div>
                                          </section>
                                      </div>

                                  </div>

                              </div>

                          </div>
                          <!-- END Vouchers -->
                      </div>
                  </div>
              </div>
    </section>
    <!-- ./content -->
    </div>