@using Qbicles.Models
@using Qbicles.Models.Trader.SalesChannel;
@using Qbicles.Models.Trader.ODS;

@model B2CSettings

@{
    var api = (string)ViewBag.DocRetrievalUrl;
    var currentDomain = (QbicleDomain)ViewBag.CurrentDomain;
    var b2cStatus = Qbicles.BusinessRules.HelperClass.EnumModel.GetEnumValuesAndDescriptions<PrepQueueStatus>();
}

<div class="col-xs-12 col-sm-4 col-md-3">
    <div class="flex-grid qbicles-dash-grid theme-labels">

        <article class="col">
            <div class="qbicle-opts">
            </div>
            <a href="#">
                <div class="avatar" style="background-image: url('@Url.Content("~/Content/DesignStyle/img/icon_cash.png")');">&nbsp;</div>
                <h1 style="color: #333;">B2C</h1>
            </a>

            <br>
            <ul id="tabB2cConfig" class="nav nav-stacked nav-pills nav-marketing" style="margin-bottom: 0;">
                <li class="active"><a href="#tab-b2c-general" data-toggle="tab">General</a></li>
            </ul>

        </article>

    </div>
</div>
<div class="col-xs-12 col-sm-8 col-lg-9">

    <div class="tab-content mdv2-col-dash">


        <!-- General -->
        <div class="tab-pane fade in active" id="tab-b2b-general">

            <div class="well custom" style="padding-bottom: 5px;">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="qbicles">Default initial status of B2C order</label>
                            <select id="b2c-order" onchange="saveB2CConfig();" class="form-control select2b2c" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                @foreach (var item in b2cStatus.ToList())
                                {
                                    <option @((int)Model.OrderStatusWhenAddedToQueue == item.Key ? "selected" : "") value="@item.Key">@item.Value</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="wgsaledefault">B2C sale processing Workgroup</label>
                            <select id="wgsaledefault" name="wgsaledefault" onchange="saveB2CConfig()" class="form-control select2" style="width: 100%;" data-placeholder="Choose a workgroup">
                                <option value=""></option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="wginvoicedefault">B2C invoice processing Workgroup</label>
                            <select id="wginvoicedefault" name="wginvoicedefault" onchange="saveB2CConfig()" class="form-control select2" style="width: 100%;" data-placeholder="Choose a workgroup"></select>
                        </div>

                        <div class="form-group">
                            <label for="wg">B2C payment processing Workgroup</label>
                            <select id="wgpaymentdefault" name="wgpaymentdefault" onchange="saveB2CConfig()" class="form-control select2" style="width: 100%;" data-placeholder="Choose a workgroup"></select>
                        </div>

                        <div class="form-group">
                            <label for="wg">B2C transfer processing Workgroup</label>
                            <select id="wgtransferdetault" name="wgtransferdetault" onchange="saveB2CConfig()" class="form-control select2" style="width: 100%;" data-placeholder="Choose a workgroup"></select>
                        </div>

                        <div class="form-group">
                            <label for="wg">B2C cash &amp; bank account</label>
                            <select id="b2ccashbankaccount" name="cashbankaccount" onchange="saveB2CConfig()" class="form-control select2" style="width: 100%;" data-placeholder="Choose an account"></select>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- END General -->
    </div>

</div>

<script>
    $('.select2b2c').select2();
    LocationChange();
</script>