@using Qbicles.Models.SalesMkt;
@model Place
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">About your visit to @Model.Name</h5>
            </div>
            <div class="modal-body">
                <form id="frm-visitlogs-add" method="post" action="/SalesMarketingLocation/SaveVisitLogs" enctype="multipart/form-data">
                    <input type="hidden" name="placeId" value="@Model.Id">
                    <div class="well custom">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="DateTimeOfVisit">Date &amp; time of visit <span class="red">*</span></label>
                                    <input type="text" name="DateTimeOfVisit" class="form-control singledateandtime" placeholder="Select a date and time">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="txtReason">Reason for visit <span class="red">*</span></label>
                                    <select id="reason" name="txtReason" required class="form-control select2" style="width: 100%;">
                                        <option value=""></option>
                                        <option value="1">Assigned Task</option>
                                        <option value="2">Advertising stall</option>
                                        <option value="3">Cold calling</option>
                                        <option value="4">Leaflet distribution</option>
                                        <option value="5">Other</option>
                                    </select>
                                    <label id="reason-error" class="error" for="reason" style="display: none;"></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="TaskId">If this visit is part of a Qbicles Task, please specify...</label>
                                    <select id="task" name="TaskId" class="form-control select2" style="width: 100%;">
                                        <option value=""></option>
                                        @foreach (var item in Model.Tasks)
                                        {
                                            <option value="@item.Id.ToString()">@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="Leads">Leads generated</label>
                                    <input type="number" class="form-control" name="Leads" min="0" value="0">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group" style="margin: 0;">
                                    <label for="Notes">Notes</label>
                                    <textarea name="Notes" class="form-control" style="height: 80px;"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-success" type="submit">Confirm</button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->