<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title">Track activity at this Place</h5>
        </div>
        <div class="modal-body">
            <form id="frm-activitylogs-add" method="post" action="/SalesMarketingLocation/SaveActivityLogs" enctype="multipart/form-data">
                <input type="hidden" name="placeId" value="@ViewBag.placeId">
                <div class="well custom">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="Date">Start/end date/time <span class="red">*</span></label>
                                <input type="text" name="Date" class="form-control datetimerange">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="Recorded">Recorded footfall <span class="red">*</span></label>
                                <input type="number" name="Recorded" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group" style="margin: 0;">
                                <label for="Notes">Notes</label>
                                <textarea name="Notes" class="form-control" style="height: 80px;"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button class="btn btn-success" type="submit">Confirm</button>
                </form>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->