@using Qbicles.Models.ProfilePage
@model BusinessPage

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper qbicle-detail mdv2-wrapper" style="position: relative; background: #f4f6f9;">
    <!-- Main content -->
    <section class="mdv2 dash" data-tooltip-color="teal" data-tooltip-delay="300" data-tooltip-animate-function="spin" style="border-top: 1px solid #f1f1f1;">
        <!-- App bar -->
        <div class="mdv2-col-app" style="margin-bottom: 0; background: #fff;">

            <div data-spy="affix" class="contained-sidebar">

                <div class="activity-overview plain company-overview welcome-info" style="text-align: left !important; flex: none; margin: 0; padding-top: 30px; padding-bottom: 0;">

                    <div class="pull-left" style="margin-bottom: 15px;">
                        <a href="~/Commerce/BusinessProfile?tab=profile-pages" class="btn btn-primary"><i class="fa fa-angle-left"></i> &nbsp; All Pages</a>
                    </div>
                    <div class="clearfix"></div>

                    <br /><br />
                    @if (Model != null && Model.Id > 0)
                    {
                        <h1 style="line-height: 1.2;">Page builder</h1>
                        <br />
                        <p style="color: rgba(0, 0, 0, 0.5);">Build and manage custom pages in your Business Profile to establish a more personal experience in Qbicles Community.</p>
                        <br />
                        <br />
                    }
                </div>
            </div>
        </div>
        <!-- END App bar -->
        <!-- Main area -->
        <div class="mdv2-col-dash" style="min-width: 0;">

            <div id="page_templates_builder" class="spacing container" style="max-width: 100%;" data-tooltip-color="teal" data-tooltip-stickto="top" data-tooltip-maxwidth="150">
                @Html.Partial("_BlockTemplate", Model)
            </div>

        </div>

    </section>
    <!-- ./content -->
</div>
<style>
    html {
        display: block !important;
        scroll-behavior: smooth;
    }
</style>

