@using Qbicles.Models.Trader
@using Qbicles.Models.Trader.ODS
@using Qbicles.Models.Trader.PoS
@{
    var lstOrderTypes = (List<PosOrderType>)ViewBag.FilterOrderTypes;
}

<div class="well custom" style="padding-bottom: 5px;">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="form-group">
                <label for="search">Search</label>
                <input type="text" id="device_search" onkeyup="searchKeyWork()" name="search" class="form-control">
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-lg-3">
            <div class="form-group">
                <label for="search">Filter by Order Type</label>
                <select name="otype" id="device_filter" onchange="searchKeyWork(true)" class="form-control select2" style="width: 100%;">
                    <option value="0">Show all</option>
                    @foreach (var item in lstOrderTypes)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <label>&nbsp;</label><br />
            <button class="btn btn-success" onclick="addEditPosDeviceType(0)" data-toggle="modal" data-target="#app-trader-pos-device-type-addedit"><i class="fa fa-plus"></i> &nbsp; Add a Device Type</button>
        </div>
    </div>
</div>

<br />
<table class="datatable table-striped table-hover" id="community-list" style="width: 100%;">
    <thead>
        <tr>
            <th>Name</th>
            <th>Order type(s)</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>


<div class="modal fade left" id="app-trader-pos-device-type-addedit" role="dialog" aria-labelledby="app-trader-pos-device-type-addedit">
    
</div><!-- /.modal -->
@{
    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/pos.orderdevice.js"></script>
    }
    else
    {
        <script src="~/Scripts/dev/pos.orderdevice.min.js"></script>
    }
    <script>
        LoadDataByServerSide();
        $("select.select2").select2();
    </script>
}