
@{

}

<!-- Printers -->
<div class="tab-pane fade in active" id="tab-printers">

    <div class="well custom">
        <label>Options</label><br />
        <button class="btn btn-success" data-toggle="modal" data-target="#app-trader-pos-printer-add"><i class="fa fa-plus"></i> &nbsp; Add a Printer</button>
    </div>
    <br />

    <table class="datatable table-hover table-striped" style="width: 100%;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Model</th>
                <th>IP Address</th>
                <th>Status</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Kitchen Display</td>
                <td>Kitchen Display</td>
                <td>127.0.0.1</td>
                <td><span class="label label-lg label-success">Active</span></td>
                <td><button class="btn btn-info"><i class="fa fa-cog"></i> &nbsp; Manage</button></td>
            </tr>
            <tr>
                <td>Receipt printer</td>
                <td>EPSON TM-P20</td>
                <td>127.0.0.1</td>
                <td><span class="label label-lg label-success">Active</span></td>
                <td><button class="btn btn-info"><i class="fa fa-cog"></i> &nbsp; Manage</button></td>
            </tr>
        </tbody>
    </table>


</div>
<!-- END Printers -->

@{
    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/pos.printers.js"></script>
    }
    else
    {
        <script src="~/Scripts/dev/pos.printers.min.js"></script>
    }
}