
@{

}

<!-- Devices -->
<div class="tab-pane fade in active" id="tab-devices">

    <div class="well custom" style="padding-bottom: 10px;">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <label for="search">Search devices</label>
                    <input type="text" name="search" class="form-control">
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <label for="status">Limit by status</label>
                    <select name="status" class="form-control select2" style="width: 100%;">
                        <option value="0">Show all</option>
                        <option value="1">Disabled</option>
                        <option value="2">Not Activated</option>
                        <option value="3">Activated</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2">
                <label for="">Options</label><br />
                <button class="btn btn-success" data-toggle="modal" data-target="#app-trader-pos-device-add"><i class="fa fa-plus"></i> &nbsp; Add a Device</button>
            </div>
        </div>
    </div>

    <br />

    <div class="flex-grid-quarters-lg qbicles-dash-grid pos-devices">

        <article class="col">
            <span class="last-updated">Lekki 1</span>
            <a href="app_trader_pos_device.php">
                <div class="avatar" style="background-image: url('dist/img/icon_ipad.png');">&nbsp;</div>
                <h1 style="color: #333;">RCLekki1</h1>
            </a>

            <p class="qbicle-detail">An example PoS tablet that has been activated</p>
            <br />

            <span class="label label-lg label-success">Activated</span>
            <br /><br />

        </article>

        <article class="col">
            <span class="last-updated">Lekki 2</span>
            <a href="app_trader_pos_device.php">
                <div class="avatar" style="background-image: url('dist/img/icon_ipad.png');">&nbsp;</div>
                <h1 style="color: #333;">RCLekki2</h1>
            </a>

            <p class="qbicle-detail">An example PoS tablet that has been deactivated.</p>
            <br />

            <span class="label label-lg label-warning">Inactive</span>
            <br /><br />

        </article>

        <article class="col">
            <span class="last-updated">Lekki 1</span>
            <a href="app_trader_pos_device.php">
                <div class="avatar" style="background-image: url('dist/img/icon_ipad.png');">&nbsp;</div>
                <h1 style="color: #333;">RCLekki3</h1>
            </a>

            <p class="qbicle-detail">An example PoS tablet that has been deactivated.</p>
            <br />

            <span class="label label-lg label-warning">Inactive</span>
            <br /><br />

        </article>



    </div>

</div>
<!-- END Devices -->

@{
    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/pos.loyalty.js"></script>
    }
    else
    {
        <script src="~/Scripts/dev/pos.loyalty.min.js"></script>
    }
}