<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection"
      connectionString="Server=aurora-dev-test.c9gjkyawmmhj.eu-west-1.rds.amazonaws.com;Port=3306;Database=qbicles.test;Uid=qbicles;Pwd=@qbiclesqaywsx;AllowUserVariables=true;Convert Zero Datetime=true;Charset=utf8mb4;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="hangfire"
      connectionString="Server=aurora-dev-test.c9gjkyawmmhj.eu-west-1.rds.amazonaws.com;Port=3306;Database=hangfire.test;Uid=qbicles;Pwd=@qbiclesqaywsx;AllowUserVariables=true;Convert Zero Datetime=true;Charset=utf8mb4;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="CookieDomain" value="qbicles.com"
      xdt:Transform="Insert" />
  </appSettings>

	<appSettings>
		<add key="DocumentsAPI" value="https://testdoc.qbicles.com"
		  xdt:Transform="SetAttributes"
		  xdt:Locator="Match(key)"/>
	</appSettings>

	<appSettings>
		<add key="HubUrl" value="https://testsignalr.qbicles.com/signalr"
		  xdt:Transform="SetAttributes"
		  xdt:Locator="Match(key)"/>
	</appSettings>

	<appSettings>
		<add key="QbiclesJobAPI" value="https://testschd.qbicles.com"
		  xdt:Transform="SetAttributes"
		  xdt:Locator="Match(key)"/>
	</appSettings>

	<appSettings>
		<add key="AuthHost" value="https://testauth.qbicles.com"
		  xdt:Transform="SetAttributes"
		  xdt:Locator="Match(key)"/>
	</appSettings>

	<appSettings>
		<add key="QbiclesUrl" value="https://test.qbicles.com"
		  xdt:Transform="SetAttributes"
		  xdt:Locator="Match(key)"/>
	</appSettings>

	<appSettings>
		<add key="TraderAPI" value="https://testapi.qbicles.com"
		  xdt:Transform="SetAttributes"
		  xdt:Locator="Match(key)"/>
	</appSettings>

	<appSettings>
		<add key="SignalRAPI" value="https://testsignalr.qbicles.com"
		  xdt:Transform="SetAttributes"
		  xdt:Locator="Match(key)"/>
	</appSettings>

	<appSettings>
		<add key="TraderAPI" value="https://testapi.qbicles.com"
		  xdt:Transform="SetAttributes"
		  xdt:Locator="Match(key)"/>
	</appSettings>

	<!--application use S3 upload-->

	<appSettings>
		<add key="AWSS3SecretKey" value="FcRfm3gzRpHW5Mj17wVkVRiNkIbusULr7pOmRNQ/"
		  xdt:Transform="SetAttributes"
		  xdt:Locator="Match(key)"/>
	</appSettings>
	<appSettings>
		<add key="AWSS3AccessKey" value="AKIATT2R3QKE74FBBDKS"
				xdt:Transform="SetAttributes"
		xdt:Locator="Match(key)"/>
	</appSettings>
	<appSettings>
		<add key="AWSS3BucketRegion" value="eu-west-1"
		xdt:Transform="SetAttributes"
		xdt:Locator="Match(key)"/>
	</appSettings>
	<appSettings>
		<add key="AWSS3BucketName" value="qbicles.test.repository"
		xdt:Transform="SetAttributes"
		xdt:Locator="Match(key)"/>
	</appSettings>
	<appSettings>
		<add key="AWSS3IdentityPoolId" value="eu-west-1:7176625c-8906-466f-a017-22c7fa156bf3"
		xdt:Transform="SetAttributes"
		xdt:Locator="Match(key)"/>
	</appSettings>


	<!--Firebase-->
	<appSettings>
		<add key="FirebaseServerKey" value="AAAAGoz_FvQ:APA91bGqvSuiSZAkQ8IQbme_Cu2PPmxKPObawcauzXiNGo_VIJ6x8gWerolLnEu-mR0Nxy-1FEjlC4SE-ZkSt4p1aA5soEm2ARdN-ndpbO0ZIAs8g6rcHSFJw57KEh2gvDuk88VhWbU8"
				xdt:Transform="SetAttributes"
		xdt:Locator="Match(key)"/>
	</appSettings>
	<appSettings>
		<add key="FirebaseSenderId" value="114034677492"
				xdt:Transform="SetAttributes"
		xdt:Locator="Match(key)"/>
	</appSettings>
	<appSettings>
		<add key="FirebaseRequestUri" value="https://fcm.googleapis.com/fcm/send"
				xdt:Transform="SetAttributes"
		xdt:Locator="Match(key)"/>
	</appSettings>

	<!--Logging Loki-->
	<appSettings>
		<add key="LogInstance" value="Test"
		  xdt:Transform="SetAttributes"
		  xdt:Locator="Match(key)"/>
	</appSettings>

	<appSettings>
		<add key="LogEnvironment" value="Test"
		  xdt:Transform="SetAttributes"
		  xdt:Locator="Match(key)"/>
	</appSettings>

	<!--Log4Net Loki-->

	<log4net>
		<appender xdt:Transform="Replace" xdt:Locator="Match(name)" name="LokiAppender" type="log4net.Appender.LokiAppender, log4net.Appender.Loki">
			<BufferSize value="1" />
			<ServiceUrl value="http://localhost:3100" />
			<label>
				<key value="Environment" />
				<value value="Test" />
			</label>
			<label>
				<key value="Instance" />
				<value value="Test" />
			</label>
			<label>
				<key value="Application" />
				<value value="Qbicles.HangFire" />
			</label>
		</appender>
	</log4net>

	<log4net>
		<logger xdt:Transform="Replace" xdt:Locator="Match(name)" name="lokiLogger" additivity="false">
			<level value="OFF" />
			<appender-ref ref="LokiAppender" />
		</logger>
	</log4net>

	
	

	<system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>