@using Qbicles.BusinessRules.Model;
@using Qbicles.BusinessRules;
@model List<MonibacBusinessModel>
@{ 
    var totalRecords = (int)ViewBag.TotalRecords;
    var allBusinessesShown = Model.Count() >= totalRecords;
}

<div class="scroll-widget" style="margin-top: -20px;">
    <ul>

        @foreach (var businessItem in Model)
        {
            <li>
                <a href="#" data-toggle="tab" data-target="#widget-mb-store" onclick="showBusinessContent('@(HttpUtility.UrlEncode(businessItem.Contact.Key))');">
                    <div class="mb-avatar" style="background-image: url('@(businessItem.BusinessLogoUri?.ToDocumentUri())');">&nbsp;</div>
                    <div class="mb-info">
                        <h5>@(businessItem.BusinessName)</h5>
                    </div>
                </a>
            </li>
        }

    </ul>
    @if (!allBusinessesShown)
    {
        //Load more button
        <br/>
        <button class="btn btn-info community-button" style="width: 70%; margin-left: 15%" onclick="loadConnectedBusinesses(true)">Load more</button>
    }
</div>