@using Qbicles.Models.B2B
@model B2BProfile
@{
    var api = (string)ViewBag.DocRetrievalUrl;
}
<input type="hidden" id="hdfDomainKey" value="@(Model.Domain.Key)"/>
<div class="widget-header">
    <div class="widget-subnav">
        <a href="#" onclick="$('.widget-codes').hide(); $('.widget-view').fadeIn();">
            @Model.BusinessName
            <span><i class="fa fa-angle-left"></i></span>
        </a>
    </div>
    <br><br><br>

    <div class="widget-feature" style="background-image: url('@(api+Model.LogoUri)&size=T');">&nbsp;</div>
</div>

<div style="padding: 55px 20px 0 20px;">

    <label>My vouchers</label>
    <br>

    <div class="well custom">
        <div class="form-group">
            <label for="search">Search</label>
            <input type="text" class="form-control" name="search">
        </div>
        <br />

        <label>Include codes that are</label><br />
        <div class="row">
            <div class="col-xs-6">
                <div class="checkbox toggle">
                    <label>
                        <input name="Redeemed" data-toggle="toggle" data-onstyle="success" type="checkbox">
                        Redeemed
                    </label>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="checkbox toggle">
                    <label>
                        <input name="Expired" data-toggle="toggle" data-onstyle="success" type="checkbox">
                        Expired
                    </label>
                </div>
            </div>
        </div>
    </div>


    <br>
    <small class="pager-info"></small>

    <ul class="unstyled voucherlist" style="padding-top: 10px; margin-bottom: 20px;">
    </ul>

    <button class="btn btn-info community-button hidden" style="margin-bottom: 20px;" id="more-voucher-btn" onclick="loadMoreVourchers()">Load more</button>

</div>
