@using Qbicles.BusinessRules.Model
@using Qbicles.Models.Loyalty
@{
    var activePIN = (StoreCreditPIN)ViewBag.CurrentPIN;
    var lstBusiness = (List<Select2Option>)ViewBag.ListBusiness;
    ViewBag.Title = "Qbicles - Moniback";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper qbicle-detail mdv2-wrapper mydesks">

    <!-- Main content -->
    <section class="mdv2 desk mydeskr1" data-tooltip-color="teal" data-tooltip-delay="300" data-tooltip-animate-function="spin">

        <!-- App bar -->
        <div class="mdv2-col-app">

            <div id="mobiback-left-sidebar" data-spy="affix" class="contained-sidebar">

                <div class="subapp-tabs tab-content">

                    <!-- Rewards -->
                    <div class="tab-pane fade in active" id="subapp-rewards">

                        <div id="app-moniback-widget">

                            <!-- Widget base (listing template) -->
                            <div class="widget-base widget-content">

                                <div class="widget-header">
                                    <ul>
                                        <li class="active"><a href="#" data-toggle="tab" data-target="#app-moniback-tab-stores"><i class="fas fa-store-alt"></i> <p>My Stores</p></a></li>
                                        <li><a href="#" data-toggle="tab" data-target="#app-moniback-tab-pin"><i class="fas fa-lock"></i> <p>Secure PIN</p></a></li>
                                        @*<li><a href="#" data-toggle="tab" data-target="#app-moniback-tab-reports"><i class="fas fa-file-text"></i> <p>Reports</p></a></li>*@
                                    </ul>
                                </div>

                                <div class="tab-content">

                                    <!-- Stores tab -->
                                    <div class="tab-pane in active" id="app-moniback-tab-stores" style="position: relative;">
                                        <input type="text" name="widget-search" id="business-keysearch" class="form-control widget-search" placeholder="Search stores">

                                        <div id="connected-businesses">
                                        </div>
                                    </div>
                                    <!-- END Stores tab -->
                                    <!-- PIN tab -->
                                    <div class="tab-pane" id="app-moniback-tab-pin">

                                        <div style="padding: 30px 20px 0 20px; margin: -50px 0 30px 0; position: relative; background: #fff;">

                                            <div class="scroll-widget detail">
                                                <ul>
                                                    <li>
                                                        <div class="date-schedule" style="background: #fff !important; border: 0; padding: 0;">
                                                            <div class="mdv2-activity text-center">

                                                                <div class="row">
                                                                    <div class="col-xs-12 text-center">

                                                                        <label style="color: #333;">Your single use PIN</label><br />
                                                                        <h1 id="pin-num" style="font-size: 32px; font-weight: 500; margin: 0; padding: 0 0 15px 0;">@(activePIN?.PIN ?? "0000")</h1>
                                                                    </div>
                                                                </div>

                                                                <br />
                                                                <p class="text-center">Your 4 digit PIN ensures you are the only person who can spend your rewards, across any store in Qbicles Community. Your PIN is single use, meaning after you use it to make a purchase you'll be able to get a new PIN right here ahead of successive purchases.</p>

                                                                <p class="text-center">Having trouble using your PIN? Hit the button below and we'll email you instructions on how to acquire a new PIN.</p>

                                                                <br /><br />
                                                                <button class="btn btn-primary community-button" onclick="generatePIN()">Generate a new PIN</button>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END PIN tab -->
                                    <!-- Reports tab -->
                                    @*<div class="tab-pane" id="app-moniback-tab-reports">

                                            <div style="position: relative; top: -50px; background: #fff;">

                                                <div class="scroll-widget detail">

                                                    <ul>
                                                        <li>
                                                            <a href="#" onclick="alert('Open report in full screen view/modal');">
                                                                <div class="mb-avatar">
                                                                    <img src="~/Content/DesignStyle/img/icon_statement_moniback.png">
                                                                </div>
                                                                <div class="mb-info">
                                                                    <h5>Account balance history</h5>
                                                                    <h6><i class="fa fa-external-link"></i></h6>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" onclick="alert('Open report in full screen view/modal');">
                                                                <div class="mb-avatar">
                                                                    <img src="~/Content/DesignStyle/img/icon_award.png">
                                                                </div>
                                                                <div class="mb-info">
                                                                    <h5>Points history</h5>
                                                                    <h6><i class="fa fa-external-link"></i></h6>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" onclick="alert('Open report in full screen view/modal');">
                                                                <div class="mb-avatar">
                                                                    <img src="~/Content/DesignStyle/img/icon_cash_moniback.png">
                                                                </div>
                                                                <div class="mb-info">
                                                                    <h5>Store Credit history</h5>
                                                                    <h6><i class="fa fa-external-link"></i></h6>
                                                                </div>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>*@
                                    <!-- END Reports tab -->
                                </div> <!-- ./tab-content -->
                            </div>
                            <!-- END Widget base -->
                            <!-- Widget view (demo Store view) -->
                            <div class="widget-view widget-content" id="store-detail" style="display: none;">
                            </div>
                            <!-- END Widget view -->
                            <!-- Widget view (demo Tracking view) -->
                            <div class="widget-tracking widget-content" id="credit-exchange-detail" style="display: none;">
                            </div>
                            <!-- END Widget view (Tracking) -->
                            <!-- Widget view (Credit) -->
                            <div class="widget-credit widget-content" id="point-exchange-detail" style="display: none;">
                            </div>
                            <!-- END Widget view (Credit) -->
                            <!-- Widget view (demo Tracking view for codes) -->
                            <div class="widget-codes widget-content" id="widget-codes-detail" style="display: none;">
                            </div>
                            <!-- END Widget view (Tracking) -->
                            <!-- Widget view (demo Storefront view) -->
                            <div class="widget-storefront widget-content" style="display: none;">

                                <div class="widget-header" style="padding-bottom: 80px;">
                                    <div class="widget-subnav">
                                        <a href="#" onclick="$('.widget-storefront').hide(); $('.widget-view').fadeIn();">
                                            RoadChef
                                            <span><i class="fa fa-angle-left"></i></span>
                                        </a>
                                    </div>

                                    <button class="btn btn-info mb-appbutton" data-toggle="modal" data-target="#app-moniback-cart">
                                        My Cart
                                        <span class="label label-lg label-primary">
                                            <span class="cartcount">0</span>
                                        </span>
                                    </button>

                                    <input type="text" name="widget-search" class="form-control widget-search" style="top: 95px;" placeholder="Search for products">
                                </div>

                                <div style="padding-top: 0;">
                                    <div class="detail mb-products">

                                        <div class="product-detail" style="display: none;">

                                            <button class="btn btn-primary closedetail" onclick="$('.product-detail').fadeOut();"><i class="fa fa-angle-left"></i> &nbsp; Back</button>

                                            <div class="thumb" style="background-image: url('dist/img/apps/monibac/products/burger.png');"></div>
                                            <h1>RoadBurger Classic</h1>
                                            <span>&#8358;2500</span>

                                            <br />
                                            <p>Succulent beef patty with salad, tomato and fried onion.</p>

                                            <div style="text-align: left; padding: 0 20px;">
                                                <div class="form-group">
                                                    <label>Quantity</label>
                                                    <input type="number" min="1" class="form-control" id="prodcount" value="1" style="max-width: 80px;">
                                                </div>

                                                <br />

                                                <div class="form-group">
                                                    <label>Size</label>
                                                    <ul class="nav nav-pills nav-justified audit-choices compacted">
                                                        <li><a href="#" class="info" data-value="s">Small</a></li>
                                                        <li class="active"><a href="#" class="info" data-value="s">Regular</a></li>
                                                        <li><a href="#" class="info" data-value="l">Large</a></li>
                                                    </ul>
                                                </div>

                                                <br />
                                                <button class="btn btn-success community-button" onclick="var tot = $('#prodcount').val(); var count = Number($('.cartcount').html()); newcount = parseInt(count)+parseInt(tot); $('.cartcount').html(newcount); alert('Toastr notification: '+ tot + ' x RoadChef Classic Burger added to your cart');">
                                                    <i class="fa fa-plus"></i> &nbsp; Add to cart
                                                </button>
                                            </div>
                                        </div>

                                        <div class="spacing-new" style="padding-top: 15px; padding-bottom: 50px;">

                                            <div class="flex-grid-half-lg text-center">

                                                <div class="col">
                                                    <div class="mb-product" onclick="$('.product-detail').fadeIn();">
                                                        <div class="thumb" style="background-image: url('dist/img/apps/monibac/products/burger.png');"></div>
                                                        <h1>RoadBurger Classic</h1>
                                                        <span>&#8358;2500</span>
                                                    </div>
                                                </div>

                                                <div class="col">
                                                    <div class="mb-product" onclick="var count = $('.cartcount').html(); count++; $('.cartcount').html(count); alert('Toastr notification: 1 x Chicken Roaster Wrap added to your cart');">
                                                        <div class="thumb" style="background-image: url('dist/img/apps/monibac/products/wrap.png');"></div>
                                                        <h1>Chicken Roadster Wrap</h1>
                                                        <span>&#8358;3000</span>
                                                    </div>
                                                </div>

                                                <div class="col">
                                                    <div class="mb-product">
                                                        <div class="thumb" style="background-image: url('dist/img/apps/monibac/products/sundae.png');"></div>
                                                        <h1>Caramel Sundae</h1>
                                                        <span>&#8358;1700</span>
                                                    </div>
                                                </div>

                                                <div class="col">
                                                    <div class="mb-product">
                                                        <div class="thumb" style="background-image: url('dist/img/apps/monibac/products/salad.png');"></div>
                                                        <h1>Garden RoadSalad</h1>
                                                        <span>&#8358;2000</span>
                                                    </div>
                                                </div>

                                                <div class="col">
                                                    <div class="mb-product">
                                                        <div class="thumb" style="background-image: url('dist/img/apps/monibac/products/salad.png');"></div>
                                                        <h1>Garden RoadSalad</h1>
                                                        <span>&#8358;2000</span>
                                                    </div>
                                                </div>

                                                <div class="col">
                                                    <div class="mb-product">
                                                        <div class="thumb" style="background-image: url('dist/img/apps/monibac/products/salad.png');"></div>
                                                        <h1>Garden RoadSalad</h1>
                                                        <span>&#8358;2000</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END Widget view (Storefront) -->
                        </div>
                    </div>
                    <!-- END Rewards -->
                </div> <!-- ./tab-content -->
            </div>
        </div>
        <!-- END App bar -->

        <!-- Main area -->
        <div class="mdv2-col-dash" style="min-width: 0; background-color: #f4f6f9;">

            <div class="spacing">
                <!-- Rewards -->
                <div id="rewards">

                    <div id="promotion-filters" class="followingblock">
                        <div class="row">
                            <div class="col-xs-12 col-sm-3">
                                <div class="form-group">
                                    <label for="search">Search offers</label>
                                    <input type="text" name="search" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                <div class="form-group">
                                    <label for="search">Business</label>
                                    <select name="business" class="form-control select2" style="width: 100%;">
                                        <option value="0" selected>Show all</option>
                                        @foreach (var item in lstBusiness)
                                        {
                                            <option value="@item.id">@item.text</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3 filter-local-box" style="display:none">
                                <div class="form-group">
                                    <label for="search">Locations</label>
                                    <select name="locations" class="form-control checkmulti" multiple style="width: 100%;display:none"></select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                <label>Only show bookmarks</label><br />
                                <div class="checkbox toggle">
                                    <label>
                                        <input name="ismyfavourites" data-toggle="toggle" data-onstyle="success" type="checkbox">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <br />
                    <div id="content-promotion" class="flex-grid-thirds-lg newdeals from-community c1" style="width: 100%;"></div>

                    <button type="button" onclick="promotionsLoadMore()" class="btn btn-success community-button w-auto btn-loadmore" style="margin-top: 40px;display:none">Show more offers</button>
                </div>
            </div>
            <!-- END Rewards -->
        </div>
        <!-- END Main area -->
    </section>
    <!-- ./content -->
</div>
<!-- /.content-wrapper -->

<div class="modal fade in" id="moniback-get-code" role="dialog" aria-labelledby="moniback-get-code" style="display: none; padding-right: 17px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h5 class="modal-title">Here's your unique voucher code</h5>
            </div>
            <div class="modal-body">

                <ul class="unstyled" style="padding-top: 0; margin-bottom: 30px;">
                    <li>
                        <a href="#" class="date-schedule" style="margin: 0; padding: 0;">
                            <div class="mdv2-activity" style="margin: 0 0 5px 0; padding: 30px;">
                                <h2 style="margin: 0; padding: 0 0 5px 0;" class="promotion-name"></h2>
                                <p style="margin-bottom: 10px;">You received this code on <span class="promotion-code-received"></span>.</p>
                                <button class="btn btn-info" onclick="$(this).hide(); $('.showcode').fadeIn();">Show code</button>

                                <div class="input-group showcode animated fadeIn" style="display: none;">
                                    <input type="text" class="form-control promotion-code" disabled="" value="">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" data-tooltip="Copy to clipboard" onclick="copyToClipboard($('.promotion-code').val()); alert('Your code has been copied to your clipboard');"><i class="fa fa-copy"></i></button>
                                    </span>
                                </div>

                                <br><br>
                                <p>
                                    This voucher entitles you to <span class="promotion-name"></span> at any <span class="promotion-locations"></span>. Limit <span class="promotion-maxvoucher"></span> use per customer,
                                    terms &amp; conditions apply. If you have any queries or issues please talk to one of our representatives in Qbicles Social.
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>

                <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<div class="modal fade left" id="share-content" role="dialog" aria-labelledby="share-content"></div>
<div class="modal fade left" id="voucher-item-more" role="dialog" aria-labelledby="voucher-item-more"></div><!-- /.modal -->
<script src="~/Content/DesignStyle/js/bootstrap-multiselect.min.js"></script>
@{
    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/monibac.js"></script>
    }
    else
    {
        <script src="~/Scripts/dev/monibac.js"></script>
    }
}

<script>
    $(document).ready(function () {

        $(".checkmulti").multiselect({
            includeSelectAllOption: true,
            enableFiltering: true,
            buttonWidth: '100%',
            maxHeight: 400,
            enableClickableOptGroups: true,
            includeSelectAllOption: false
        });

        // Call the function to check geolocation on page load
        checkGeolocation();

        // Initialize deals on page load
        initMonibacManagePage();

        // Function to check if geolocation is enabled
        function checkGeolocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                    // Success callback
                    function (position) {
                        console.log(position, 'position');
                        // Location is enabled, do nothing or handle accordingly
                        alert("Geolocation: lat: " + position.coords.latitude + ", long: " + position.coords.longitude);
                    },
                    // Error callback
                    function (error) {
                        // Location is disabled, show notification
                        switch (error.code) {
                            case error.PERMISSION_DENIED:
                                alert("Kindly authorize browser location to view nearby deals.")
                                break;
                            case error.POSITION_UNAVAILABLE:
                                alert("Location information is unavailable.")
                                break;
                            case error.TIMEOUT:
                                alert("The request timed out")
                                break;
                            case error.UNKNOWN_ERROR:
                                alert("An error occurred")
                                break;
                        }
                    }
                );
            } else {
                // Geolocation is not supported by the browser
                alert('Kindly authorize browser location to view nearby deals.')
            }
        }

        function showNotification() {
            // Check if the browser supports notifications
            if (Notification.permission === "granted") {
                // If granted, show the notification
                new Notification('Kindly authorize browser location to view nearby deals.');
            } else if (Notification.permission !== "denied") {
                // If permission is not denied, request permission
                Notification.requestPermission().then(function (permission) {
                    if (permission === "granted") {
                        new Notification('Kindly authorize browser location to view nearby deals.');
                    }
                });
            }
        }
    });
</script>