@using Qbicles.Models.TraderApi
@using Qbicles.BusinessRules.Helper
@using Qbicles.BusinessRules
@using Qbicles.Models.B2C_C2C
@using Qbicles.Models.Trader
@model TradeOrder
@if (Model.IsAgreedByCustomer)
{
    var _order = JsonHelper.ParseAs<Order>(Model.OrderJson);
    if (_order == null)
    {
        _order = new Order();
    }

    <div class="well custom rounded" style="padding-bottom: 10px; margin: 65px 0 0 0;">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <p><strong>Delivery method</strong></p>
                <p>@Model.DeliveryMethod.GetDescription()</p>
            </div>
            @if (Model.DeliveryMethod == DeliveryMethodEnum.Delivery && _order.Customer != null && _order.Customer.Address != null)
            {
                <div class="col-xs-12 col-sm-8">
                    <p><strong>Deliver to</strong></p>
                    <p>@(_order.Customer?.Address?.ToAddress())</p>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <p><strong>Note</strong></p>
                <p>@_order.Notes</p>
            </div>
        </div>
    </div>

}
