  /* Styles for verification */
 .newpswd_info {
    z-index:999;
    position:absolute;
    background:#fefefe;
    padding:10px;
    box-shadow:0 1px 3px #ccc;
	border:1px solid #ddd;
    display:none ;
}
 .newpswdrepeat_info  {
     z-index:999;
    position:absolute;
    background:#fefefe;
    padding:10px;
    box-shadow:0 1px 3px #ccc;
	border:1px solid #ddd;
    display:none ;
}
.newpswdrepeat_info  .newpswd_info  h4 {
	margin:0 0 10px 0; 
	padding:0;
	font-weight:normal;
}

.invalid {
    background: url('../img/invalid.png') no-repeat 0 50%;
    padding-left: 22px;
    line-height: 24px;
    color: #ec3f41;
}
.valid {
    background: url('../img/valid.png')no-repeat 0 50%;
    padding-left: 22px;
    line-height: 24px;
    color: #3a7d34;
}
.oldPass valid {
    background: none !important;
}

ul, li {
	margin:0; 
	padding:0; 
	list-style-type:none;
}