@using Qbicles.BusinessRules;
@model List<ApprovalGroupAppsModel>
@{
    var currentUserId = (string)ViewBag.CurrentUserId;
    var UserRoleRights = (List<string>)ViewBag.UserRoleRights;
    var api = (string)ViewBag.DocRetrievalUrl;
}

@{
    foreach (var group in Model)
    {
        <div id="groupId-@group.Id">
            <h5>@group.Name</h5>
            <div id="group-top-@group.Id"></div>
            <hr /><br />
            @foreach (var item in group.Approvals)
            {
                <a onclick="EditProcessApp(@item.Id,@item.Group.Id)" class="asset_group_item" data-toggle="modal" data-target="#create-approval-type">
                    <img id="media-@item.Id" class="img-responsive" src='@api@item.ApprovalImage' />
                    <div class="detail">
                        <h5>@item.Title</h5>
                    </div>
                </a>
            }

            @if (UserRoleRights.Where(r => r != RightPermissions.ViewContent).Count() > 0)
            {
                <a id="btn-new-approvalApp-group-@group.Id" onclick="AddNewApprovalApp('@group.Id')" class="asset_group_item add text-center" data-toggle="modal" data-target="#create-approval-type">
                    <i class="fa fa-plus"></i>
                </a>
            }

        </div>

        <div class="clearfix"></div>
    }

}