
@{

}


    <div class="well custom" style="padding-bottom: 5px;">
        <div class="row">
            <div class="col-xs-12 col-sm-2">
                <div class="form-group">
                    <label for="interval">Interval</label>
                    <select name="interval" class="form-control select2" id="budgetactualinterval" style="width: 100%;" onchange="update_budget_actual($(this).val());">
                        <option value="0" selected>Monthly</option>
                        <option value="1">Quarterly</option>
                        <option value="2">Yearly</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <label for="dimensions">Reporting Filters</label>
                    <select name="dimensions" class="form-control select2" multiple style="width: 100%;">
                        <option value="0">Reporting Filter 1</option>
                        <option value="1">Reporting Filter 2</option>
                    </select>
                </div>
            </div>
        </div>

    </div>


<br /><br />
<div class="budget-table-actual budget-actual-monthly table-responsive">
    <table class="table app_specific">
        <thead>
            <tr>
                <th data-priority="1">Accounts</th>
                <th>Jan Budgeted</th>
                <th>Jan Actual</th>
                <th>Feb Budgeted</th>
                <th>Feb Actual</th>
                <th>Mar Budgeted</th>
                <th>Mar Actual</th>
                <th>Apr Budgeted</th>
                <th>Apr Actual</th>
                <th>May Budgeted</th>
                <th>May Actual</th>
                <th>Jun Budgeted</th>
                <th>Jun Actual</th>
                <th>Jul Budgeted</th>
                <th>Jul Actual</th>
                <th>Aug Budgeted</th>
                <th>Aug Actual</th>
                <th>Sep Budgeted</th>
                <th>Sep Actual</th>
                <th>Oct Budgeted</th>
                <th>Oct Actual</th>
                <th>Nov Budgeted</th>
                <th>Nov Actual</th>
                <th>Dec Budgeted</th>
                <th>Dec Actual</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="budget-head" colspan="25">
                    Items I Buy
                </td>
            </tr>
            <tr>
                <td>Admin</td>
                <td>100,000</td>
                <td>3,000,000</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Example 2</td>
                <td>1,500,000</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td class="budget-head" colspan="25">
                    Items I Sell
                </td>
            </tr>
            <tr>
                <td>Consulting</td>
                <td>4,500,000</td>
                <td>2,000,000</td>
                <td>500,000</td>
                <td>4,000,000</td>
                <td>3,200,000</td>
                <td>1,000,000</td>
                <td>8,150,500</td>
                <td>5,000,000</td>
                <td>3,000,000</td>
                <td>1,000,000</td>
                <td>2,000,000</td>
                <td>1,300,000</td>
                <td>35,650,500</td>
                <td>35,650,500</td>
                <td>35,650,500</td>
                <td>35,650,500</td>
                <td>35,650,500</td>
                <td>35,650,500</td>
                <td>35,650,500</td>
                <td>35,650,500</td>
                <td>35,650,500</td>
                <td>35,650,500</td>
                <td>35,650,500</td>
                <td>35,650,500</td>
            </tr>
            <tr>
                <td>Food</td>
                <td>75,000</td>
                <td>100,000</td>
                <td>300,000</td>
                <td>150,500</td>
                <td>600,000</td>
                <td>570,000</td>
                <td>50,000</td>
                <td>68,000</td>
                <td>400,000</td>
                <td>550,000</td>
                <td>20,000</td>
                <td>0</td>
                <td>23,500</td>
                <td>23,500</td>
                <td>23,500</td>
                <td>23,500</td>
                <td>23,500</td>
                <td>23,500</td>
                <td>23,500</td>
                <td>23,500</td>
                <td>23,500</td>
                <td>23,500</td>
                <td>23,500</td>
                <td>23,500</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="budget-table-actual budget-actual-quarterly" style="display: none;">
    <table class="datatable" style="width: 100%;" id="community-list" data-ordering="false" data-paging="false">
        <thead>
            <tr>
                <th>Accounts</th>
                <th>Jan-Mar</th>
                <th>Apr-Jun</th>
                <th>Jul-Sep</th>
                <th>Oct-Dec</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="budget-head">
                    Income
                </td>
                <td class="budget-head"></td>
                <td class="budget-head"></td>
                <td class="budget-head"></td>
                <td class="budget-head"></td>
                <td class="budget-head"></td>
            </tr>
            <tr>
                <td>Billable Expense Income</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Discounts</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Gross Receipts</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Sales</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td class="budget-head">
                    Expense
                </td>
                <td class="budget-head"></td>
                <td class="budget-head"></td>
                <td class="budget-head"></td>
                <td class="budget-head"></td>
                <td class="budget-head"></td>
            </tr>
            <tr>
                <td>Cost of Goods Sold</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Purchases</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="budget-head">
                    Budgeted
                </td>
                <td class="budget-head">100,000</td>
                <td class="budget-head">50,000</td>
                <td class="budget-head">250,000</td>
                <td class="budget-head">1,000,000</td>
                <td class="budget-head">50,000</td>
            </tr>
            <tr>
                <td class="budget-head">
                    Actual
                </td>
                <td class="budget-head">50,000</td>
                <td class="budget-head">10,000</td>
                <td class="budget-head">150,000</td>
                <td class="budget-head">900,000</td>
                <td class="budget-head">0</td>
            </tr>
        </tbody>
    </table>
</div>



<div class="budget-table-actual budget-actual-yearly" style="display: none;">
    <table class="datatable" style="width: 100%;" id="community-list" data-ordering="false" data-paging="false">
        <thead>
            <tr>
                <th style="width: 300px;">Accounts</th>
                <th>Jan-Dec</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="budget-head">
                    Income
                </td>
                <td class="budget-head"></td>
            </tr>
            <tr>
                <td>Billable Expense Income</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Discounts</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Gross Receipts</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Sales</td>
                <td>0</td>
            </tr>
            <tr>
                <td class="budget-total">Total income</td>
                <td>0</td>
            </tr>
            <tr>
                <td class="budget-head">
                    Expense
                </td>
                <td class="budget-head"></td>
            </tr>
            <tr>
                <td>Cost of Goods Sold</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Purchases</td>
                <td>0</td>
            </tr>
            <tr>
                <td class="budget-total">Total expense</td>
                <td>0</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="budget-head">
                    Budgeted
                </td>
                <td class="budget-head">100,000</td>
            </tr>
            <tr>
                <td class="budget-head">
                    Actual
                </td>
                <td class="budget-head">50,000</td>
            </tr>
        </tbody>
    </table>
</div>
