@using System.Diagnostics
@using Qbicles.Models.Trader;
@{
    var workGroups = (List<WorkGroup>)ViewBag.WorkGroups ?? (new List<WorkGroup>());
    var api = (string)ViewBag.DocRetrievalUrl;
}

    <div class="well custom" style="padding-bottom: 5px;">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    <label for="fiscal year">Search for something</label>
                    <input type="text" name="search" onkeyup="searchBudgetGroup()" id="budget-group-search" class="form-control" placeholder="Search for...">
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-lg-2">
                <div class="form-group">
                    <label for="ordering">Order by</label>
                    <select name="ordering" class="form-control select2" onchange="searchBudgetGroup()" id="bgroup_order_filter" style="width: 100%;">
                        <option value="" selected></option>
                        <option value="0">Name A-Z</option>
                        <option value="1">Name Z-A</option>
                        <option value="2">Created new-old</option>
                        <option value="3">Created old-new</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-lg-6">
                <div class="form-group">
                    <label for="">&nbsp;</label><br />
                    @if (workGroups.Any())
                    {
                        <button class="btn btn-success" data-toggle="modal" data-target="#app-trader-budget-group-add" onclick="addEditBudgetGroup(0)"><i class="fa fa-plus"></i> &nbsp; New Budget Group</button>
                    }
                </div>
            </div>
        </div>

    </div>

<br />
<br />
<div id="showdata-budgetgroup">
</div>


<div class="modal fade left" id="app-trader-budget-group-add" role="dialog" aria-labelledby="app-trader-budget-group-add">

</div>
<div class="modal fade" id="app-trader-workgroup-preview" role="dialog" aria-labelledby="app-trader-workgroup-preview">

</div><!-- /.modal -->
<div class="modal fade" id="app-trader-budget-group-items" role="dialog" aria-labelledby="app-trader-budget-group-items">
   
</div><!-- /.modal -->

<script>
    $('#bgroup_order_filter').select2({
        placeholder: 'Order by'
    });
    loadDataTableBudgetGroup();
</script>
