
@{
  
}

    <div class="well custom" style="padding-bottom: 5px;">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="form-group">
                    <label for="interval">Period start</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <select name="month" class="form-control select2" style="width: 70%;" data-placeholder="Select start month">
                            <option value=""></option>
                            <option value="1" selected>January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                        <select name="year" class="form-control select2" style="width: 28%;" data-placeholder="Select start year">
                            <option value=""></option>
                            <option value="1">2020</option>
                            <option value="2" selected>2019</option>
                            <option value="3">2018</option>
                            <option value="4">2017</option>
                            <option value="5">2016</option>
                            <option value="6">2015</option>
                            <option value="7">2014</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="form-group">
                    <label for="interval">Period end</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <select name="month" class="form-control select2" style="width: 70%;" data-placeholder="Select start month">
                            <option value=""></option>
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5" selected>May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                        <select name="year" class="form-control select2" style="width: 28%;" data-placeholder="Select start year">
                            <option value=""></option>
                            <option value="1">2020</option>
                            <option value="2" selected>2019</option>
                            <option value="3">2018</option>
                            <option value="4">2017</option>
                            <option value="5">2016</option>
                            <option value="6">2015</option>
                            <option value="7">2014</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="form-group">
                    <label for="dimensions">Reporting Filters</label>
                    <select name="dimensions" class="form-control select2" multiple style="width: 100%;" onchange="$('.update').removeAttr('disabled');">
                        <option value="0">Reporting Filter 1</option>
                        <option value="1">Reporting Filter 2</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <label>Options</label><br />
                <button class="btn btn-primary update" disabled><i class="fa fa-refresh"></i> &nbsp; Update</button>
            </div>
        </div>

    </div>



<div class="budget-report-area">


    <div class="table-responsive">
        <table class="table table-bordered budget-report-block text-right">
            <thead>
                <tr class="spaced-head">
                    <th style="min-width: 150px;">
                        <h5>Summary</h5>
                    </th>
                    <th colspan="2" class="text-right">Jan '19</th>
                    <th colspan="2" class="text-right">Feb '19</th>
                    <th colspan="2" class="text-right">Mar '19</th>
                    <th colspan="2" class="text-right">Apr '19</th>
                    <th colspan="2" class="text-right">May '19</th>
                    <th colspan="2" class="text-right">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr class="spaced-data nobordertop">
                    <td></td>
                    <td>Budget</td>
                    <td>Actual</td>
                    <td>Budget</td>
                    <td>Actual</td>
                    <td>Budget</td>
                    <td>Actual</td>
                    <td>Budget</td>
                    <td>Actual</td>
                    <td>Budget</td>
                    <td>Actual</td>
                    <td>Budget</td>
                    <td>Actual</td>
                </tr>
                <tr class="padded-row">
                    <td class="text-left" style="padding-left: 15px; text-transform: uppercase;">Closing balances</td>
                    <td>6,600</td>
                    <td><strong>5,257</strong></td>
                    <td>6,031</td>
                    <td><strong>4,719</strong></td>
                    <td>6,031</td>
                    <td>4,719</td>
                    <td>6,031</td>
                    <td>4,719</td>
                    <td>6,031</td>
                    <td>4,719</td>
                    <td></td>
                    <td style="border-right: 0;"><strong></strong></td>
                </tr>
                <tr class="padded-row">
                    <td class="text-left" style="padding-left: 15px; text-transform: uppercase;">Surplus / Deficit</td>
                    <td>1,902</td>
                    <td><strong>1,245</strong></td>
                    <td>453</td>
                    <td><strong class="red">(603)</strong></td>
                    <td><span class="red">(29)</span></td>
                    <td>394</td>
                    <td>407</td>
                    <td>245</td>
                    <td>500</td>
                    <td>420</td>
                    <td>3,372</td>
                    <td style="border-right: 0;">641</td>
                </tr>
            </tbody>

        </table>

    </div>


    <div class="table-responsive">
        <table class="table table-bordered budget-report-block text-right">
            <thead>
                <tr class="spaced-head">
                    <th style="min-width: 150px;">
                        <h5>Items I Buy</h5>
                    </th>
                    <th colspan="2" class="text-right">Jan '19</th>
                    <th colspan="2" class="text-right">Feb '19</th>
                    <th colspan="2" class="text-right">Mar '19</th>
                    <th colspan="2" class="text-right">Apr '19</th>
                    <th colspan="2" class="text-right">May '19</th>
                    <th colspan="2" class="text-right">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr class="spaced-data nobordertop">
                    <td></td>
                    <td>Budget</td>
                    <td>Actual</td>
                    <td>Budget</td>
                    <td>Actual</td>
                    <td>Budget</td>
                    <td>Actual</td>
                    <td>Budget</td>
                    <td>Actual</td>
                    <td>Budget</td>
                    <td>Actual</td>
                    <td>Budget</td>
                    <td>Actual</td>
                </tr>
                <tr class="padded-row">
                    <td class="text-left" style="padding-left: 15px;">Rent</td>
                    <td>4,464</td>
                    <td><strong>4,464</strong></td>
                    <td>2,976</td>
                    <td><strong>0</strong></td>
                    <td>2,976</td>
                    <td>2,976</td>
                    <td>2,976</td>
                    <td>2,976</td>
                    <td>2,976</td>
                    <td>2,976</td>
                    <td>19,343</td>
                    <td style="border-right: 0;"><strong>4,464</strong></td>
                </tr>
                <tr class="padded-row">
                    <td class="text-left" style="padding-left: 15px;">Utilities</td>
                    <td>4,464</td>
                    <td><strong>4,464</strong></td>
                    <td>2,976</td>
                    <td><strong>0</strong></td>
                    <td>2,976</td>
                    <td>2,976</td>
                    <td>2,976</td>
                    <td>2,976</td>
                    <td>2,976</td>
                    <td>2,976</td>
                    <td>19,343</td>
                    <td style="border-right: 0;"><strong>4,464</strong></td>
                </tr>
                <tr class="padded-row borderless">
                    <td class="text-left" style="padding-left: 15px;"><span class="red">Total Expense</span></td>
                    <td><span class="red">4,464</span></td>
                    <td><span class="red"><strong>4,464</strong></span></td>
                    <td><span class="red">2,976</span></td>
                    <td><span class="red"><strong>0</strong></span></td>
                    <td><span class="red">2,976</span></td>
                    <td><span class="red">2,976</span></td>
                    <td><span class="red">2,976</span></td>
                    <td><span class="red">2,976</span></td>
                    <td><span class="red">2,976</span></td>
                    <td><span class="red">2,976</span></td>
                    <td><span class="red">19,343</span></td>
                    <td style="border-right: 0;"><span class="red">4,464</span></td>
                </tr>
            </tbody>

        </table>

    </div>


    <div class="table-responsive">

        <table class="table table-bordered budget-report-block text-right">
            <thead>
                <tr class="spaced-head">
                    <th style="min-width: 150px;">
                        <h5>Items I Sell</h5>
                    </th>
                    <th colspan="2" class="text-right">Jan '19</th>
                    <th colspan="2" class="text-right">Feb '19</th>
                    <th colspan="2" class="text-right">Mar '19</th>
                    <th colspan="2" class="text-right">Apr '19</th>
                    <th colspan="2" class="text-right">May '19</th>
                    <th colspan="2" class="text-right">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr class="spaced-data nobordertop">
                    <td></td>
                    <td>Budget</td>
                    <td>Actual</td>
                    <td>Budget</td>
                    <td>Actual</td>
                    <td>Budget</td>
                    <td>Actual</td>
                    <td>Budget</td>
                    <td>Actual</td>
                    <td>Budget</td>
                    <td>Actual</td>
                    <td>Budget</td>
                    <td>Actual</td>
                </tr>
                <tr class="padded-row">
                    <td class="text-left" style="padding-left: 15px;">Salary and Wages</td>
                    <td>4,464</td>
                    <td><strong>4,464</strong></td>
                    <td>2,976</td>
                    <td><strong>0</strong></td>
                    <td>2,976</td>
                    <td>2,976</td>
                    <td>2,976</td>
                    <td>2,976</td>
                    <td>2,976</td>
                    <td>2,976</td>
                    <td>19,343</td>
                    <td style="border-right: 0;"><strong>4,464</strong></td>
                </tr>
                <tr class="padded-row borderless">
                    <td class="text-left" style="padding-left: 15px;"><span class="green">Total Income</span></td>
                    <td><span class="green">4,464</span></td>
                    <td><span class="green"><strong>4,464</strong></span></td>
                    <td><span class="green">2,976</span></td>
                    <td><span class="green"><strong>0</strong></span></td>
                    <td><span class="green">2,976</span></td>
                    <td><span class="green">2,976</span></td>
                    <td><span class="green">2,976</span></td>
                    <td><span class="green">2,976</span></td>
                    <td><span class="green">2,976</span></td>
                    <td><span class="green">2,976</span></td>
                    <td><span class="green">19,343</span></td>
                    <td style="border-right: 0;"><span class="green">4,464</span></td>
                </tr>
            </tbody>

        </table>

    </div>

</div>