@using System.Diagnostics
@using Qbicles.Models.Trader.Budgets
@model BudgetGroup
@{
    
}
<style>
    .dataTables_filter{
        display:none;
    }
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper qbicle-detail mdv2-wrapper" style="position: relative;">

    <input type="hidden" value="@Model.Id" id="budget_master_id" />
    <!-- Main content -->
    <section class="mdv2 dash" id="content_master" data-tooltip-color="teal" data-tooltip-delay="300" data-tooltip-animate-function="spin" style="border-top: 1px solid #f1f1f1;">
         
    </section>
    <!-- ./content -->

</div>
<!-- /.content-wrapper -->

<div class="modal fade left" id="app-trader-budget-group-add" role="dialog" aria-labelledby="app-trader-budget-group-add">

</div>

@{
    <script src="~/Content/DesignStyle/js/bootstrap-multiselect.min.js"></script>
    if (Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/trader.budget.group.js"></script>
        <script src="~/Scripts/dev/trader.domain.js"></script>

    }
    else
    {
        <script src="~/Scripts/dev/trader.budget.group.min.js"></script>
        <script src="~/Scripts/dev/trader.domain.min.js"></script>

    }
    <script>
        loadMasterPageContent();
    </script>
}