@{
    Layout = null;
    var userId = ViewBag.UserId;
    var code = ViewBag.Code;
    var email = ViewBag.Email;
    var isDriver = ViewBag.IsDriver;
    var source = ViewBag.Source;
    var authHost = Qbicles.BusinessRules.Helper.ConfigManager.AuthHost;
}

<!DOCTYPE html>
<html>

<head>
    <title>Qbicles - Confirm your password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Tooltips -->
    <link href="~/Content/DesignStyle/css/html5tooltips.css" rel="stylesheet" />
    <link href="~/Content/DesignStyle/css/html5tooltips.animation.css" rel="stylesheet" />
    <link href="~/Content/DesignStyle/css/animate.min.css" rel="stylesheet" />
    <link href="~/Content/DesignStyle/css/all.min.css" rel="stylesheet" />


    <!-- Core -->
    <link href="~/Content/DesignStyle/css/app.css" rel="stylesheet" />
    <link href="~/Content/DesignStyle/css/skins/skin-default.css" rel="stylesheet" />


    <link rel="shortcut icon" type="image/x-icon" href="/Content/DesignStyle/img/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/DesignStyle/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/DesignStyle/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/DesignStyle/img/favicon-16x16.png">


    <link href="~/Content/DesignStyle/css/passwordValid.css" rel="stylesheet" />

    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>


<body class="create-account-body">

    <div class="container">

        <div class="create-account">

            <div class="row">
                <div class="col-xs-4">
                    <img src="~/Content/DesignStyle/img/logo_sm.png" style="width: 80px;">
                </div>
                <div class="col-xs-8">
                </div>
            </div>

            <br /><br />

            @if (isDriver)
            {
                <div class="activity-overview generic help-text animated bounce" style="display: inline-block;">
                    <i class="fa fa-info-circle"></i>
                    <p>
                        <strong>Driver app user?</strong><br /><br />
                        Your Driver app login is shared with your Qbicles account. Please be aware that any update made will affect your login to both the Driver app, and Qbicles.
                    </p>
                </div>
            }


            <div class="well custom" data-tooltip-color="teal" data-tooltip-animate-function="foldin">
                <input id="oldpassstatus" type="hidden" value="1" />
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <label for="password">New password&nbsp;<span>*</span></label><br />
                        <div class="input-group" style="margin-bottom: 15px;">
                            <input type="password" class="form-control" id="new_password" name="new_password" />
                            <span class="input-group-addon"><a href="#" class="toggle-pw" style="color: #333;"><i class="fa fa-eye"></i></a></span>
                        </div>
                        <label for="password">Repeat new password&nbsp;<span>*</span></label><br />
                        <div class="input-group" style="margin-bottom: 10px;">
                            <input type="password" class="form-control" id="new_password_repeat" name="new_password_repeat" />
                            <span class="input-group-addon"><a href="#" class="toggle-pw2" style="color: #333;"><i class="fa fa-eye"></i></a></span>
                        </div>
                    </div>
                    <div id="newpswd_info" class="col-xs-12 col-md-6">
                        <label>Password requirements</label>
                        <br />
                        <ul style="margin: 0; padding: 0 0 0 15px; font-size: 13px; color: #676767; font-family: 'Roboto', Arial, sans-serif;">
                            <li id="letter" class="invalid">At least <strong>one letter</strong></li>
                            <li id="capital" class="invalid">At least <strong>one capital letter</strong></li>
                            <li id="number" class="invalid">At least <strong>one number</strong></li>
                            <li id="alpha" class="invalid"><strong>Non-alphanumeric </strong>characters</li>
                            <li id="length" class="invalid">Be at least <strong>8 characters</strong></li>
                            <li id="matching" class="invalid">Password Matching</li>
                        </ul>
                    </div>
                    <div id="newpswdrepeat_info" class="col-xs-12 col-md-6" style="display:none;">
                        <label>Password requirements</label>
                        <br />
                        <ul style="margin: 0; padding: 0 0 0 15px; font-size: 13px; color: #676767; font-family: 'Roboto', Arial, sans-serif;">
                            <li id="letter_repeat" class="invalid">At least <strong>one letter</strong></li>
                            <li id="capital_repeat" class="invalid">At least <strong>one capital letter</strong></li>
                            <li id="number_repeat" class="invalid">At least <strong>one number</strong></li>
                            <li id="alpha_repeat" class="invalid"><strong>Non-alphanumeric </strong>characters</li>
                            <li id="length_repeat" class="invalid">Be at least <strong>8 characters</strong></li>
                            <li id="matching_repeat" class="invalid">Password Matching</li>
                        </ul>
                    </div>
                </div>

            </div>

            <br />

            <div class="activity-overview plain" style="display: inline-block; padding: 15px 0;">
                <h5 style="margin: 0 0 8px 0;">Before you continue</h5>
                <p style="margin: 0 0 15px 0;">When you hit the button below, your login will change for both Qbicles and the Driver app.</p>


                <button disabled="" type="button" class="btn btn-success" id="set_password" onclick="set_password()">
                    <i class="fa fa-check"></i> Set New Password
                </button>
            </div>


        </div>
    </div>
    <link href="~/Scripts/toastr/toastr.min.css" rel="stylesheet" />
    <script src="~/Content/DesignStyle/resetpassword/jquery.min.js"></script>
    <script src="~/Content/DesignStyle/resetpassword/bootstrap-switch.min.js"></script>
    <script src="~/Content/DesignStyle/resetpassword/bootstrap.min.js"></script>
    <script src="~/Content/DesignStyle/resetpassword/jquery.matchHeight-min.js"></script>
    <script src="~/Content/DesignStyle/js/passwordValidUserProfile.js"></script>
    <script src="~/Scripts/toastr/toastr.min.js"></script>
    <script src="~/Scripts/toastr/cleanBookNotification.js"></script>
</body>




</html>



<script>

    $(document).ready(function () {       
        if ('@source' == "qbiclesmicro")
             window.location = 'qbiclesmicro://' + window.location.host + '?code=@code&email=@email';
    });

    $('.toggle-pw').bind('click', function (e) {

        e.preventDefault();

        var type = $('#new_password').attr('type');

        if (type == "password") {
            $('#new_password').prop('type', 'text');
        } else {
            $('#new_password').prop('type', 'password');
        }

        $('i', this).toggleClass('fa-eye').toggleClass('fa-eye-slash');
    });

    $('.toggle-pw2').bind('click', function (e) {

        e.preventDefault();

        var type = $('#new_password_repeat').attr('type');

        if (type == "password") {
            $('#new_password_repeat').prop('type', 'text');
        } else {
            $('#new_password_repeat').prop('type', 'password');
        }

        $('i', this).toggleClass('fa-eye').toggleClass('fa-eye-slash');
    });

    function set_password() {
        $.ajax({
            url: "/Account/ResetPasswords",
            data: { Email: '@email', Password: $("#new_password").val(), Code: '@code' },
            type: "POST",
            dataType: "json",
        }).done(function (response) {
            if (response.status) {
                setTimeout(function () {
                    location.href = "@(authHost)/Account/Login";
                }, 2000);
            }
            else {
                cleanBookNotification.error("Have an error, detail: " + response.message, "Qbicles");
            }
        }).fail(function () {
        })

    }
</script>

