@{
    Layout = null;
    ViewBag.Title = "Welcome to Qbicles - log in to continue";
    var userId = ViewBag.UserId;
    var activityId = (int)ViewBag.activityId;
    var invitedBy = ViewBag.InvitedBy;
    var code = ViewBag.Code;
    var email = ViewBag.Email;
    var errorMessage = ViewBag.errorMessage;
    var invalidtoken = ViewBag.invalidtoken;
    var qbicleName = ViewBag.QbicleName;
    var type = ViewBag.type;
    var sendByEmail = ViewBag.sendByEmail;

    var authHost = Qbicles.BusinessRules.Helper.ConfigManager.AuthHost;
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome to Qbicles - log in to continue</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" type="image/x-icon" href="/Content/DesignStyle/img/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/DesignStyle/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/DesignStyle/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/DesignStyle/img/favicon-16x16.png">
    
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/LogIncss")
    <link href="~/Content/DesignStyle/css/passwordValid.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body data-tooltip-animate-function="spin" data-tooltip-delay="300" data-tooltip-stickTo="top" data-tooltip-stickDistance="30" class="login-bg">

    <div class="container">
        <input id="oldpassstatus" type="hidden" value="1" />
        <div class="login-body animated fadeInUp" style="margin: 10% auto 0 auto !important;">
            <img src="~/Content/DesignStyle/img/logo_sm.png" />
            <br /><br />

            @{
                if (invalidtoken == "")
                {
                    <div class="well tan">
                        <p style="padding: 0; font-family: 'Roboto', Arial, sans-serif;">
                            Welcome to Qbicles @qbicleName <br />
                            To get started we need you to provide a password you can then use to log in with...
                        </p>
                    </div>

                    <div id="pass-not-match" class="alert alert-danger" hidden>
                        <span id="alert-password"></span>
                    </div>

                    <form name="qbicles-login" id="login" method="post" action="index.php">
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="new_password" class="form-control" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="password2">Repeat password</label>
                            <input type="password" name="password2" id="new_password_repeat" class="form-control" placeholder="">
                        </div>

                        <div style="clear: both;"></div>
                        <button class="btn btn-success" type="button" id="set_password" disabled onclick="SetPassword()">Proceed</button>
                    </form>
                }
                else
                {
                    <div class="alert alert-error">
                        <span id="invalidToken">
                            Sorry,
                            <br /> Your link has expired and can no longer be used to access Qbicles.
                            <br /> You can choose to have us issue a new one to restart the process by clicking below...
                            <br /><br /> 
                            Or, you have already been accepted to the Qbicles system. Please click <a href="/Account/Login">Logon</a> to access the system.
                        </span>
                    </div>
                    <button class="btn btn-success" onclick="ReSendInvitedToGuest()"><i class="fa fa-envelope"></i> &nbsp; Send a new link</button>
                }
            }
        </div>

        <div id="newpswd_info" class="newpswd_info" style="display:none">
            <h4>Password must meet the following requirements:</h4>
            <ul>
                <li id="letter" class="invalid">At least <strong>one letter</strong></li>
                <li id="capital" class="invalid">At least <strong>one capital letter</strong></li>
                <li id="number" class="invalid">At least <strong>one number</strong></li>
                <li id="alpha" class="invalid"><strong>Non-alphanumeric </strong>characters</li>
                <li id="length" class="invalid">Be at least <strong>8 characters</strong></li>
                <li id="matching" class="invalid">Password Matching</li>
            </ul>
        </div>
        <div id="newpswdrepeat_info" class="newpswdrepeat_info" style="display:none">
            <h4>Password must meet the following requirements:</h4>
            <ul>
                <li id="letter_repeat" class="invalid">At least <strong>one letter</strong></li>
                <li id="capital_repeat" class="invalid">At least <strong>one capital letter</strong></li>
                <li id="number_repeat" class="invalid">At least <strong>one number</strong></li>
                <li id="alpha_repeat" class="invalid"><strong>Non-alphanumeric </strong>characters</li>
                <li id="length_repeat" class="invalid">Be at least <strong>8 characters</strong></li>
                <li id="matching_repeat" class="invalid">Password Matching</li>
            </ul>
        </div>
    </div>

</body>
<script src="~/Content/DesignStyle/js/jquery.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/DesignStyle/fa/css/font-awesome.min.css" rel="stylesheet" />
<script src="~/Content/DesignStyle/js/passwordValid.js"></script>
@Scripts.Render("~/bundles/LogInjqueryStyle")
<script>
    jQuery(function ($) {

    });

    function SetPassword() {
        $.ajax({
            url: "/Account/CofirmGuestPasswords",
            data: { Email: '@email', Password: $("#new_password").val() },
            type: "POST",
            dataType: "json",
        }).done(function (response) {
            if (response.status) {
               location.href = "@(authHost)/Account/Login";
            }
            else {
                $("#alert-password").text("Your password didn't set. Please try again!");
                $("#pass-not-match").show();
            }
        }).fail(function () {
            {
                $("#alert-password").text("Your password didn't set. Please try again!");
                $("#pass-not-match").show();
            }
        })
    }


    function ReSendInvitedToGuest() {
        $.ajax({
            type: 'post',
            url: '/Qbicles/ReSendInvited',
            datatype: 'json',
            data: {
                tokenToUserId: '@userId', tokenToEmail: '@email', activityId: '@activityId', type: '@type', sendByEmail: '@sendByEmail'
            },
            success: function (refModel) {
                if (refModel.result) {
                    $("#invalidToken").text("An email has been sent to you. Please check your email and confirm again.");
                }
                else {
                    $("#invalidToken").text("Can not send email. Please click 'Send new a link' again!");
                }
            },
            error: function (err) {
               
            }
        });
    }
</script>
