
@{

}


<div class="well custom" style="padding: 20px; display: flex;">
    <div class="avatar" style="flex: 0 0 90px;">
        <img src="~/Content/DesignStyle/img/icon_meeting.png" style="width: 90px; height: auto;">
    </div>
    <div style="flex: 1; padding-left: 15px; justify-content: center; align-self: center;">

        <div class="form-group" style="margin: 5px 0 0 0;">
            <label for="community">Connect with Qbicles Bookkeeping</label>
            <div class="checkbox toggle" onclick="$('.bookkeeping-connected').toggle(); $('.no-bookkeeping').toggle();">
                <label>
                    <input data-toggle="toggle" data-onstyle="success" type="checkbox">
                </label>
            </div>
        </div>
    </div>
</div>

<script>
    $('.checkbox.toggle input').bootstrapToggle();
</script>
