
@{
    ViewBag.Title = "Cleanbook Config";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper qbicle-detail cleanbooks">


    <!-- Main content -->
    <section class="content" data-tooltip-animate-function="fadein" data-tooltip-delay="300" data-tooltip-stickTo="top" data-tooltip-stickDistance="30">

        <br /><br />

        <div class="mod_title">
            <img src="~/Content/DesignStyle/images/cleanbooks_logo.png" style="width: 200px; height: auto; margin-bottom: 30px;">
        </div>

        <div class="app_topnav restyle" id="navigationcleanBook">
            @{ Html.RenderAction("NavigationCleanBooksPartial", "Apps", new { tab = "config" });}
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="app_filter">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-lg-4 button_options">
                            <a href="apps.php" class="btn btn-info"><i class="fa fa-th"></i> &nbsp; All apps</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <br /><br />



        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">

                <ul class="nav nav-stacked nav-pills nav-marketing" style="margin-bottom: 30px;">
                    <li id="li-workgroup" class="active"><a href="#workgroup" onclick="showCBSetting('workgroup')">Workgroups</a></li>
                    <li id="li-bookkeeping"><a href="#bookkeeping" onclick="showCBSetting('bookkeeping')">Bookkeeping</a></li>
                </ul>

            </div>


            <div class="col-xs-12 col-sm-8 col-lg-9">

                <div class="tab-content" id="tab-content-config">

                </div>

            </div>
        </div>



    </section>
    <!-- ./content -->

</div>
<!-- /.content-wrapper -->

<script src="~/Scripts/jquery.number.min.js"></script>
<script src="~/Content/DesignStyle/js/jasny-bootstrap.min.js"></script>

@{
    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/cleanbooks.config.js"></script>
    }
    else
    {
        <script src="~/Scripts/dev/cleanbooks.config.min.js"></script>
    }
}

<style>

    a.disabled {
        pointer-events: none;
        cursor: default;
    }
</style>