<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title">Add a Meter</h5>
        </div>
        <div class="modal-body">
            <form id="form_meter_addedit" method="post" action="/Spanneredfree/SaveMeter" enctype="multipart/form-data">
                <div class="well custom" style="padding-bottom: 5px;">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="Name">Meter name</label>
                                <input type="text" name="Name" class="form-control" placeholder="e.g. Temperature">
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="Unit">Unit</label>
                                <input type="text" name="Unit" class="form-control" placeholder="e.g. Fahrenheit">
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="description">Description</label>
                                <input type="text" name="Description" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-success">Confirm</button>
            </form>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->