@using Qbicles.Models.Spannered
@model Meter
@{
    var api = (string)ViewBag.DocRetrievalUrl;
    var meterLogs = Model.MeterLogs != null ? Model.MeterLogs.OrderByDescending(m => m.Id).ToList() : new List<MeterLog>();
    var dateTrack = "";
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title">@Model.Name History</h5>
        </div>
        <div class="modal-body">

            <ul class="timeline" style="margin-left: -5px;">
                @foreach (var meterLog in meterLogs)
                {
                    var currentDate = meterLog.CreatedDate.ToString("dd/MM/yyyy");
                    if (dateTrack != currentDate)
                    {
                        if (dateTrack != "")
                        {
                            <br>
                        }
                        dateTrack = currentDate;
                        <li class="time-label">
                            <span class="label label-lg label-info">
                                @dateTrack
                            </span>
                        </li>
                    }

                    <li>
                        <div class="person" data-tooltip="Darth Vader" style="background-image: url('@api@(meterLog.CreatedBy.ProfilePic)&size=S');"></div>
                        <div class="timeline-item">
                            <span class="time"><i class="fa fa-clock-o"></i> @meterLog.CreatedDate.ToString("HH:mmtt").ToLower()</span>
                            <h4 class="timeline-header">@meterLog.ValueOfUnit @Model.Unit</h4>
                        </div>
                    </li>

                }
            </ul>

        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->