<div class="modal fade left" id="app-coa-subgroup-add" role="dialog" aria-labelledby="app-coa-subgroup-add">
    <div class="modal-dialog modal-xs" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Add a Subgroup</h5>
            </div>
            <div class="modal-body">
                <form class="form-group" id="form_group_add" enctype="multipart/form-data" novalidate="novalidate">
                    <div class="well">
                        <input id="input_group_id" type="hidden" name="Parent" value="1" />
                        <label for="refnumber">Reference number <span class="required">*</span></label>
                        <div class="input-group">
                            <span class="input-group-addon" id="add_ref_group">1.1.</span>
                            <input type="text" class="form-control" onkeypress="checknumber(this, event)" id="add_suggestion_number" required value="1">
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="name">Name <span class="required">*</span></label>
                            <input type="text" id="addnew_group_name" required name="Name" class="form-control" placeholder="">
                        </div>
                    </div>
                </form>
                <button type="button" class="btn btn-success" onclick="addNewSubGroup()"><i class="fa fa-check"></i> &nbsp; Add now</button>
                <button class="btn btn-danger" data-dismiss="modal"><i class="fa fa-remove"></i> &nbsp; Cancel</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog --> <!-- /.modal-dialog -->
</div> <!-- /.modal Add new Group-->

<div class="modal fade left" id="app-coa-subgroup-edit" role="dialog" aria-labelledby="app-coa-subgroup-edit">
    <div class="modal-dialog modal-xs" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Update Subgroup</h5>
            </div>
            <div class="modal-body">

                <div class="well">
                    <form class="form-group" id="form_group_edit" enctype="multipart/form-data" novalidate="novalidate">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <label for="refnumber">Reference number <span class="required">*</span></label>
                                <div class="input-group">
                                    <span class="input-group-addon" id="edit_ref_group">1.1.</span>
                                    <input type="text" class="form-control" onkeypress="checknumber(this, event)" id="edit_suggestion_number" required value="1" style="background-color:white;">
                                </div>
                                <br />
                                <div class="form-group">
                                    <label for="name">Name <span class="required">*</span></label>
                                    <input type="text" id="edit_group_name" required name="Name" class="form-control" placeholder="">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <button type="button" class="btn btn-success" onclick="renameSubGroup()"><i class="fa fa-check"></i> &nbsp; Save</button>
                <button class="btn btn-danger" data-dismiss="modal"><i class="fa fa-remove"></i> &nbsp; Cancel</button>

            </div>
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal Edit Group-->
