
@using Qbicles.Models;
@model List<QbicleActivity>
@{
    var currentUserId = (string)ViewBag.CurrentUserId;
    var api = (string)ViewBag.DocRetrievalUrl;
}
@foreach (var alac in Model)
{
    var al = (QbicleAlert)alac;
    <article id="activity-@al.Id" class="activity alert_snippet">
        <div class="activity-detail">
            <div class="activity-meta">
                <a href="javascript:void(0);" onclick="ShowAlertPage('@al.Key', false);">
                    <h4>@al.Name</h4>
                </a>
                <br>
                @if (al.Topic != null)
                {
                    <a href="javascript:void(0);" class="topic-label">
                        <span class="label label-info">@al.Topic.Name</span>
                    </a>
                }

                <small>@al.TimeLineDate.ToString("dd MMM yyyy, hh:mmtt")</small>
            </div>
        </div>
        <div class="clearfix"></div>
    </article>
}