@using Qbicles.Models.Bookkeeping;

@{
    var bkWorkGroups = (List<BKWorkGroup>)ViewBag.BkWorkGroups;
}

    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Add Account</h5>
            </div>
            <div class="modal-body">

                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1">


                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-lg-3">

                                <div class="activity-overview generic" style="padding: 20px; margin-bottom: 30px;">
                                    <form id="form-work-group-select" class="form-group" style="margin: 0;">
                                        <label for="workgroup">Assign a Workgroup to this Account</label>
                                        <select required="" id="bk-worgroup-select" name="bkworgroupselect" class="form-control select2" style="width: 100%;" onchange="ChangeBKWorkgroup()">
                                            <option value="" selected=""></option>
                                            @foreach (var wg in bkWorkGroups)
                                            {
                                                if (wg.Id == (Model?.WorkGroup?.Id ?? 0))
                                                {
                                                    <option selected="" value="@wg.Id">@wg.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@wg.Id">@wg.Name</option>
                                                }
                                            }

                                        </select>
                                    </form>

                                    <div class="preview-workgroup" style="display: none;">
                                        <br />
                                        <table class="table app_specific" style="margin: 0;">
                                            <tr>
                                                <td><h5>Process</h5></td>
                                                <td class="workgroup_process">Transfers</td>
                                            </tr>
                                            <tr>
                                                <td><h5>Qbicle</h5></td>
                                                <td class="workgroup_qbicle">Qblicle Name</td>
                                            </tr>
                                            <tr>
                                                <td><h5>Members</h5></td>
                                                <td class="workgroup_member"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                            </div>

                            <div class="col-xs-12 col-sm-8 col-lg-9">

                                <form id="form_account_add_edit" class="well custom" style="padding-bottom: 5px;" enctype="multipart/form-data" novalidate="novalidate">
                                    
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <label for="title">Reference Number</label>
                                            <div class="input-group">
                                                <span class="input-group-addon" id="add_ref_account">1.1.</span>
                                                <input class="form-control isnumber" onkeypress="checknumber(this, event)" id="add_suggestion_number_account" required value="1">
                                            </div>
                                            <br />
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="form-group">
                                                <label for="account_name">Account Name <span class="required">*</span></label>
                                                <input type="text" class="form-control" id="add_account_name" maxlength="100" required name="account_name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="form-group">
                                                <label>Account Number <span>*</span></label>

                                                <input type="text" class="form-control" onkeypress="VerifyAccountNumber(this, event)" id="add_account_number" maxlength="20" required name="account_number">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="form-group">
                                                <label for="account_description">Description</label>
                                                <textarea class="form-control" id="add_account_description"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <label>Attachment(s)</label>
                                            <br />
                                            <button class="btn btn-info" id="add_attachment" data-toggle="modal" data-target="#attachments-view"><i class="fa fa-plus"></i></button>
                                            <button class="btn btn-info hidden" id="edit_attachment" data-toggle="modal" data-target="#attachments-view"><i class="fa fa-paperclip"></i> &nbsp; Attachments (4)</button>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-23 col-sm-4">
                                            <div class="form-group">
                                                <label for="account_initial">Initial Balance </label>
                                                <input type="number" class="form-control" onkeyup="calcBalance()" id="add_account_balance" name="Balance">
                                            </div>
                                        </div>
                                        <div class="col-xs-23 col-sm-4">
                                            <div class="form-group">
                                                <label for="account_debits">Initial Debits</label>
                                                <input type="number" class="form-control" onkeyup="calcBalance()" id="add_account_debits" name="Debit">
                                            </div>
                                        </div>
                                        <div class="col-xs-23 col-sm-4">
                                            <div class="form-group">
                                                <label for="account_credits">Initial Credits</label>
                                                <input type="number" class="form-control" onkeyup="calcBalance()" id="add_account_credits" name="Credit">
                                            </div>
                                        </div>
                                    </div>

                                </form>

                            </div>

                        </div>

                    </div>

                    <div class="tab-pane fade in" id="tab2">

                        <p>Content to be confirmed</p>
                        <br /><br />

                    </div>
                </div>

                <button class="btn btn-danger" data-dismiss="modal"><i class="fa fa-remove"></i> &nbsp; Cancel</button>
                <button class="btn btn-success trigger_load" onclick="CreateBKAccount()">Save &amp; Close</button>


            </div>
        </div> <!-- /.modal-content -->
    </div>


<div class="modal fade left" style="z-index: 99999" id="attachments-view" role="dialog" aria-labelledby="attachments-view">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="CloseModalBKAccountAttachment()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Manage Attachments add</h5>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-xs-12 col-md-6">

                        <div class="activity-overview task" style="margin-bottom: 40px;">
                            <form name="add_attachment" id="attachments">

                                <div class="repeater_wrap">
                                    <div class="row add_attachment_row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="name">Name</label>
                                                <input type="text" name="name" id="inputfilename1" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="file">File</label>
                                                <input type="file" name="file" class="form-control inputfile">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <button type="button" class="btn btn-info" id="app_attachment_trigger"><i class="fa fa-plus"></i> &nbsp; Add another</button>
                                <button type="button" class="btn btn-success" onclick="ConfirmBKAccountAttachment(false)"><i class="fa fa-check"></i> &nbsp; Confirm add</button>
                                <button type="button" class="btn btn-danger" onclick="CloseModalBKAccountAttachment()"><i class="fa fa-remove"></i> &nbsp; Cancel</button>
                            </form>
                        </div>

                    </div>
                    <div class="col-xs-12 col-md-6">

                        <ul class="domain-change-list unstyled cap-height" style="margin-top: 0;"></ul>

                    </div>
                </div>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<style>
    .form-group {
        position: relative;
    }

    label.error {
        position: absolute;
        right: 0;
    }
</style>
<script src="~/Scripts/dev/qbicle.formatnumber.min.js"></script>
<script>
    $(document).ready(function () {
        $("#app_attachment_trigger").click(function () {
            var inputFiles = $(".add_attachment_row input.inputfile");
            var attInput = "<div class=\"row add_attachment_row\"> <div class=\"col-xs-12\">";
            attInput += "<div class=\"form-group\"> <label for=\"name\">Name</label> <input type=\"text\" id=\"inputfilename" + (inputFiles.length + 1) + "\" name=\"name\" class=\"form-control\">";
            attInput += "</div> </div> <div class=\"col-xs-12\"> <div class=\"form-group\"> <label for=\"file\">File</label>";
            attInput += "<input type=\"file\" name=\"file\" class=\"form-control inputfile\">  </div>  </div> </div>";
            $("#attachments div.repeater_wrap").append(attInput);
        });
    });
    
    function CloseModalBKAccountAttachment() {
        $("#attachments-view").modal("toggle");
    }
    $('#bk-worgroup-select').select2();
</script>
