@using Qbicles.Models;
@model List<QbiclePost>
@{
    var currentUserId = (string)ViewBag.CurrentUserId;
    var api = (string)ViewBag.DocRetrievalUrl;
}
<div class="row">
    <div class="col-xs-12">
        <div class="app_filter">
            <div class="row">
                <div class="col-xs-12">
                    <div class="btn-group options">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Create a new &nbsp; <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" data-toggle="modal" data-target="#app-group-generic-add">Group</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#app-trader-budget-report-add">Budget report</a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<br /><br />
<div class="tab-content app_general">

    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-4">
            <h5>Admin</h5>
            <hr />

            <table class="table app_specific table-hover table-striped">
                <thead>
                    <tr>
                        <th>Items</th>
                        <th>Amount</th>
                        <th>Year to Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>30 items</td>
                        <td>&#8358;1,000,000</td>
                        <td>&#8358;500,000</td>
                        <td class="text-right">
                            <a href="#" class="btn btn-warning"><i class="fa fa-pencil"></i></a>
                            <a href="#" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
            <h5>Maintenance</h5>
            <hr />

            <table class="table app_specific table-hover table-striped">
                <thead>
                    <tr>
                        <th>Items</th>
                        <th>Amount</th>
                        <th>Year to Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>11 items</td>
                        <td>&#8358;1,000,000</td>
                        <td>&#8358;500,000</td>
                        <td class="text-right">
                            <a href="#" class="btn btn-warning"><i class="fa fa-pencil"></i></a>
                            <a href="#" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
            <h5>Example</h5>
            <hr />

            <table class="table app_specific table-hover table-striped">
                <thead>
                    <tr>
                        <th>Items</th>
                        <th>Amount</th>
                        <th>Year to Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1 item</td>
                        <td>&#8358;1,000</td>
                        <td>&#8358;5,000</td>
                        <td class="text-right">
                            <a href="#" class="btn btn-warning"><i class="fa fa-pencil"></i></a>
                            <a href="#" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <br />
    <a href="#" class="btn btn-success" data-toggle="modal" data-target="#app-procurement-budget-add"><i class="fa fa-plus"></i> &nbsp; Add new</a>

    <div class="clearfix"></div>

</div>