
@{
    var link = (string)ViewBag.link;
    var isVideo = (bool)ViewBag.isVideo;
    var thumb = ViewBag.thumb;
}


<p class="preview-content"></p>

@{
    if (link=="empty" && thumb=="empty")
    {
        <img class="img-responsive preview-post-add" style="max-width:711px" src="" alt="Associated image">
        <div id="video-preview-container" class="img-responsive" style="display:none">
            <video id="video-preview" class="img-responsive" controls="controls" />
        </div>
    }
    else if (!isVideo)
    {
        <img src="@link" class="img-responsive preview-post-add" style="max-width: 711px;" alt="Associated image">
    }
    else
    {
        var mp4 = link.Replace("mediaVideo", "mp4");
        var webm = link.Replace("mediaVideo", "webm");
        var ogv = link.Replace("mediaVideo", "mp4");
        try
        {
            <a href="#video-preview" data-fancybox class="image-pop">
                <div class="preview" style="background-image: url('@thumb'); width: 600px; height: 375px;">
                </div>
            </a>
            <video width="640" height="320" controls="" id="video-preview" style="display:none;" class="fancybox-video">
                <source src="@mp4" type="video/mp4">
                <source src="@webm" type="video/webm">
                <source src="@ogv" type="video/ogv">
            </video>

        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }
}