@using Qbicles.Models
@model TempEmailAddress
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body" style="padding: 50px 30px 30px 30px;">

            <div id="verify-doing">
                <div class="text-center">
                    <img src="~/Content/DesignStyle/img/icon_email.png" style="max-width: 100%; height: auto; margin: 0 auto;">

                    <h1 class="text-center">Check your email!</h1>
                    <br>

                    <p>A unique PIN has been sent to <strong>@Model.Email</strong>. Please use the PIN found in the email to verify your email change.</p>
                </div>

                <br>

                <div class="well custom" style="margin: 0;">
                    <div class="row">
                        <div class="col-xs-12">

                            <label for="pin">Enter the 4 digit PIN we emailed to you below...</label><br>
                            <div class="input-group">
                                <input type="text" name="pin" class="form-control input-lg" maxlength="4" onchange="$('#updatenow').removeAttr('disabled');">
                                <span class="input-group-btn">
                                    <button class="btn btn-success community-button w-auto" disabled="" id="updatenow" onclick="CheckPinNewEmailAvailable()">Confirm</button>
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="alert alert-success softened animated bounceIn" id="result-done" style="display: none;">
                <p>
                    Your account email address has been successfully changed to <strong>@Model.Email</strong>. You will need to use this email address when logging
                    in from now on.
                </p>
                <br>
                <button class="btn btn-success" data-dismiss="modal">Okay</button>
            </div>
            <div class="alert alert-danger softened animated bounceIn" id="result-fail" style="display: none;">
                <p>
                    The PIN you’ve entered doesn’t match the one we emailed. Please try again
                </p>
                <br>
                <button class="btn btn-success" onclick="$('#verify-doing').show(); $('#result-fail').hide()">Try again</button>
            </div>
            <div class="card animated fadeIn" id="result-invalidtoken" style="display:none;width: auto; padding-top: 20px">
                <img src="~/Content/DesignStyle/img/icon_qbicle_default.png" style="margin: 0 auto;">
                <div class="card-body" style="padding: 0 20px 40px 20px !important;">

                    <h6 class="card-price text-center" style="padding-bottom: 0;">We can't log you in :(</h6>

                    <p style="font-size: 14px; line-height: 1.7;">
                        The token you're using has expired. Don't worry though, to fix it we'll send you another email
                        with a new link you can use to access Qbicles. Hit the button below to resend the email.
                    </p>

                    <br>
                    <div class="text-center">

                        <div class="activity-overview generic help-text animated fadeInUp sending" style="display: none; margin: 0 30px;">
                            <i class="fa fa-info-circle"></i>
                            <p style="margin: 0; padding: 0 0 10px 0; text-align: left;">We've sent you an email. Please check your inbox for a new verification link!</p>
                        </div>

                        <a href="#" class="btn community-button lg btn-info w-auto" onclick="ReVerificationNewEmail('@Model.Email');">Verify by email</a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script>
    $(document).ready(function () {
        var _showcheckverify = getQuerystring('checkverify');
        if (_showcheckverify == "True") {
            $('#check-verify').modal('show');
        }
    });
</script>