<div class="soft_tan">
    <label for="page_type">Show</label>
    <select name="page_type" class="form-control select2" style="width: 100%;">
        <option value="#page-businesses" selected>Businesses</option>
        <option value="#page-people">People</option>
    </select>
</div>


<div id="page-businesses" class="displaydiv">
    <table class="datatable table-hover table-striped app_specific" style="width: 100%;" data-order="[[ 1, &quot;asc&quot; ]]">
        <thead>
            <tr>
                <th data-orderable="false" data-priority="2">
                <th>Name</th>
                <th>Email</th>
                <th data-orderable="false">Domain(s)</th>
                <th style="width: 80px;" data-orderable="false"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="table_avatar"><img src="dist/img/community/virginlogo.png"></td>
                <td>
                    <a href="#">Virgin</a>
                </td>
                <td>
                    <a href="#">info@virgingroup.com</a>
                </td>
                <td>
                    <ul>
                        <li>Virgin</li>
                        <li>Virgin Atlantic</li>
                        <li>Virgin Records</li>
                    </ul>
                </td>
                <td>
                    <div class="btn-group options">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-cog"></i> &nbsp; Actions
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" style="right: 0;">
                            <li><a href="#">Suspend</a></li>
                            <li><a href="#">Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div id="page-people" class="displaydiv" style="display: none;">
    <table class="datatable table-hover table-striped app_specific" style="width: 100%;" data-order="[[ 1, &quot;asc&quot; ]]">
        <thead>
            <tr>
                <th data-orderable="false" data-priority="2">
                <th>Name</th>
                <th>Email</th>
                <th style="width: 80px;" data-orderable="false"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="table_avatar"><img src="dist/img/user4-160x160.jpg"></td>
                <td>
                    <a href="#">Mila Kunis</a>
                </td>
                <td>
                    <a href="#">mila@warnerbrothers.com</a>
                </td>
                <td>
                    <div class="btn-group options">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-cog"></i> &nbsp; Actions
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" style="right: 0;">
                            <li><a href="#">Suspend</a></li>
                            <li><a href="#">Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>