@using System.Diagnostics
@using Qbicles.Models.Trader
@{
    var workGroups = (List<WorkGroup>)ViewBag.WorkGroups;
    var locations = (List<TraderLocation>)ViewBag.Locations;
    var api = (string)ViewBag.DocRetrievalUrl;
    var locationManage = (int)ViewBag.CurrentLocationManage;
}


<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="flex-grid qbicles-dash-grid theme-labels">


            <article class="col">
                <div class="qbicle-opts">
                </div>
                <a href="#">
                    <div class="avatar" style="background-image: url('../../Content/DesignStyle/img/icon_ipad.png');">&nbsp;</div>
                    <h1 style="color: #333;">Point of Sale</h1>
                </a>

                <br />
                <ul class="nav nav-stacked nav-pills nav-marketing">
                    <li>
                        <a href="#General" onclick="ShowSubPOSSetting('General')">General</a>
                    </li>
                    <li>
                        <a href="#Cancellations" onclick="ShowSubPOSSetting('Cancellations')">Cancellations</a>
                    </li>
                    <li>
                        <a href="#PrintChecks" onclick="ShowSubPOSSetting('PrintChecks')">Print checks</a>
                    </li>
                    <li>
                        <a href="#Products" onclick="ShowSubPOSSetting('Products')">Product catalogs</a>
                    </li>
                    <li><a href="#OrderType" onclick="ShowSubPOSSetting('OrderType')">Order Types</a></li>
                    <li><a href="#DeviceType" onclick="ShowSubPOSSetting('DeviceType')">Device Types</a></li>
                    <li><a href="#Table" onclick="ShowSubPOSSetting('Tables')">Table options</a></li>
                    <li>
                        <a href="#Devices" onclick="ShowSubPOSSetting('Devices')">Devices</a>
                    </li>

                </ul>

            </article>

        </div>
        

    </div>


    <div class="col-xs-12 col-sm-8 col-lg-9">
        <div id="sub-pos-content" class="tab-content mdv2-col-dash">

        </div>
    </div>
</div>


@{

    if (Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/trader.domain.js"></script>

    }
    else
    {
        <script src="~/Scripts/dev/trader.domain.min.js"></script>
    }
}

<script>
    $(function () {
        $('.nav-marketing a').click(function () {
            $(this).parent().addClass('active').siblings().removeClass('active');
        });
        ShowSubPOSSetting = function (settingVal) {
            $('a[href="#' + settingVal + '"]').tab('show');
            setTabLevel(3, settingVal);
            var ajaxUri = '/PointOfSale/PointOfSaleContent?value=' + settingVal;
            //$('#sub-pos-content').LoadingOverlay("show");
            $('#sub-pos-content').empty();
            $('#sub-pos-content').load(ajaxUri, function () {
                //$('#sub-pos-content').LoadingOverlay("hide");
            });
        };
        var activeTab = getTabLevel(3);
        switch (activeTab) {
            case "General":
            case "Cancellations":
            case "PrintChecks":
            case "OrderType":
            case "DeviceType":
            case "Devices":
            case "Products":
                break;
            default:
                activeTab = "General";
                break;
        }
        ShowSubPOSSetting(activeTab);
    });



</script>