@using System.Diagnostics
@using Qbicles.Models.Trader
@using Qbicles.Models.Trader.DDS
@using Qbicles.Models;
@using Qbicles.BusinessRules;
@using System.Globalization;
@{
    ViewBag.Title = "Trader - Point of Sale";
    var delivery = (DeliveryQueue)ViewBag.DeliveryQueue;
}


<!-- Cash Management -->

<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3">

        <div class="flex-grid qbicles-dash-grid theme-labels">


            <article class="col">
                <div class="qbicle-opts">
                </div>
                <a href="#">
                    <div class="avatar" style="background-image: url('/Content/DesignStyle/img/icon_app_bankmate.png');">&nbsp;</div>
                    <h1 style="color: #333;">Cash Management</h1>
                </a>

                <br />
                <ul class="nav nav-stacked nav-pills nav-marketing" style="margin-bottom: 0;">
                    <li class="active"><a href="#subGeneral" onclick="ShowTabCashManagement('subGeneral')">General</a></li>
                    <li><a href="#subDevices" onclick="ShowTabCashManagement('subDevices')">Devices</a></li>
                </ul>

            </article>

        </div>

    </div>

    <!-- Cash management sub-tabs content -->
    <div class="col-xs-12 col-sm-8 col-lg-9">
        <div class="tab-content" id="cm-content">

        </div>
    </div>
</div>

<!-- END Cash Management -->
@*Modal for add and edit Till*@
<div class="modal fade left" id="app-trader-pos-cash-device-add" role="dialog" aria-labelledby="app-trader-pos-cash-device-add">

</div><!-- /.modal -->
@*Modal for add and edit safe*@
<div class="modal fade left" id="app-trader-pos-cash-safe-edit" role="dialog" aria-labelledby="app-trader-pos-cash-safe-edit">

</div>

@{
    <link href="~/Content/DesignStyle/css/bootstrap-multiselect.css" rel="stylesheet" />
    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Content/DesignStyle/js/bootstrap-multiselect.js"></script>
        <script src="~/Scripts/dev/cashmanagement.device.js"></script>
        @*<script src="~/Content/DesignStyle/js/pagination.js"></script>*@
    }
    else
    {
        <script src="~/Content/DesignStyle/js/bootstrap-multiselect.min.js"></script>
        <script src="~/Scripts/dev/cashmanagement.device.min.js"></script>
        @*<script src="~/Content/DesignStyle/js/pagination.min.js"></script>*@
    }
}

<script>
    $(function () {
        $('.nav-marketing a').click(function () {
            $(this).parent().addClass('active').siblings().removeClass('active');
        });

        var url = window.location.href;
        url = url.substr(url.indexOf('#') + 1, url.length).split('#');
        var activeTab = getTabLevel(3);
        switch (activeTab) {
            case "subGeneral":
            case "subDevices":
                break;
            default:
                activeTab = "subGeneral";
                break;
        }
        ShowTabCashManagement(activeTab);
    });
</script>