@using System.Diagnostics
@using Qbicles.Models.Trader.ODS
@{
    var prepQueue = (PrepQueue)ViewBag.PrepQuere;
}


<!-- ODS -->
<div class="channel channel_pos">

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3">

            <div class="flex-grid qbicles-dash-grid theme-labels">


                <article class="col">
                    <div class="qbicle-opts">
                    </div>
                    <a href="#">
                        <div class="avatar" style="background-image: url('../../Content/DesignStyle/img/icon_ipad.png');">&nbsp;</div>
                        <h1 style="color: #333;">Order Display System</h1>
                    </a>

                    <br />
                    <div class="well custom" style="margin: 0; padding: 10px;">
                        @if (prepQueue.Id > 0)
                        {
                            <label><i id="found-prequeue" class="fa fa-check green" style="width: 12px;"></i> &nbsp;Preparation Queue is active</label>
                        }
                        else
                        {
                            <label><i id="found-prequeue" class="fa fa-check green" style="width: 12px; display: none;"></i> &nbsp;Preparation Queue is inactive</label>
                        }
                    </div>

                    <br />
                    <ul class="nav nav-stacked nav-pills nav-marketing" style="margin-bottom: 0;">
                        <li class="active">
                            <a href="#general" data-toggle="tab" onclick="showSubPOSDevice('pds-general', 'tab-pds-general')" data-target="#tab-pds-general">General</a>
                        </li>
                        <li>
                            <a href="#device-type" data-toggle="tab" onclick="showSubPOSDevice('pds-device-type', 'tab-pds-device-type')" data-target="#tab-pds-device-type">Device Types</a>
                        </li>
                        <li>
                            <a href="#category-exclusion" data-toggle="tab" onclick="showSubPOSDevice('pds-category-exclusion', 'tab-pds-category-exclusion')" data-target="#tab-pds-category-exclusion">Category exclusion</a>
                        </li>

                        <li>
                            <a href="#device" data-toggle="tab" onclick="showSubPOSDevice('pds-device', 'tab-pds-device')" data-target="#tab-pds-device">Devices</a>
                        </li>
                    </ul>
                </article>

            </div>

        </div>

        <div class="col-xs-12 col-sm-8 col-lg-9">
            <div class="tab-content mdv2-col-dash">
                <!-- PDS General -->
                <div class="tab-pane fade in active" id="tab-pds-general">

                </div>
                <!-- END PDS General -->

                <div class="tab-pane fade" id="tab-pds-device-type">
                </div>
                <!-- PDS Category exclusion -->
                <div class="tab-pane fade" id="tab-pds-category-exclusion">
                </div>
                <!-- END PDS Category exclusion -->


                <!-- PDS Devices -->
                <div class="tab-pane fade" id="tab-pds-device">

                </div>
                <!-- END PDS -->
            </div>
        </div>

    </div>


</div>
@{

    if (Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/trader.domain.js"></script>

    }
    else
    {
        <script src="~/Scripts/dev/trader.domain.min.js"></script>
    }
}


<div class="modal fade" style="z-index: 9999" id="confirm-delete" role="dialog" aria-labelledby="confirm-delete">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <div class="activity-overview generic help-text" style="margin: 0;">
                    <i class="fa fa-info-circle"></i>
                    <p>You are about to delete item <strong><span id="name-delete"></span></strong> permanently. This action cannot be undone. If you are sure you wish to proceed, please confirm below...</p>


                    <button class="btn btn-danger" onclick="CancelDelete()">Cancel</button>
                    <button class="btn btn-success" onclick="DeletePrepQueue()">Confirm &amp; Delete</button>
                </div>


            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade left" id="app-trader-pds-catexclusionset-add" role="dialog" aria-labelledby="app-trader-pds-catexclusionset-add">
</div><!-- /.modal -->

<div class="modal fade left" id="app-trader-pds-catexclusionset-select" role="dialog" aria-labelledby="app-trader-pds-catexclusionset-select">
</div><!-- /.modal -->

<script>
    $(function () {
        showSubPOSDevice = function (settingVal, id) {
            if (!id) {
                id = 'tab-pds-general';
            }
            setTabLevel(3, settingVal);
            var ajaxUri = '/PDS/PDSContent?value=' + settingVal;
            $('#' + id).LoadingOverlay("show");
            $('#' + id).empty();
            $('#' + id).load(ajaxUri, function () {
                $('a[href="#' + settingVal + '"]').tab('show');
                $('#' + id).LoadingOverlay("hide");
            });
        };
        var activeTab = getTabLevel(3);
        var tabId = null;
        switch (activeTab) {
            case "pds-general":
                tabId = "tab-pds-general";
                break;
            case "pds-device-type":
                tabId = "tab-pds-device-type";
                break;
            case "pds-device":
                tabId = "tab-pds-device";
                break;
            case "pds-category-exclusion":
                tabId = "tab-pds-category-exclusion"
                break;
            default:
                activeTab = "pds-general";
                tabId = "tab-pds-general";
                break;
        }
        showSubPOSDevice(activeTab, tabId);
    });


    //CategoryExclusionSet
</script>