@{
    var isPos = (bool)ViewBag.IsPos;
    var showShiftManagement = (bool)ViewBag.ShowShiftManagement;
}


<ul class="nav nav-pills app_main_nav navi-trader">
    <li role="presentation" class="trader-sale">
        <a href="#AppTrader" onclick="ShowContent(this)">
            <i class="fa fa-tags"></i>
            Sales
        </a>
    </li>
    <li role="presentation" class="trader-purchase">
        <a href="#Purchases" onclick="ShowContent(this)">
            <i class="fa fa-dollar"></i>
            Purchases
        </a>
    </li>
    <li role="presentation" class="trader-transfer">
        <a href="#Transfers" onclick="ShowContent(this)">
            <i class="fa fa-truck"></i>
            Transfers
        </a>
    </li>
    <li role="presentation" class="trader-contact">
        <a href="#Contacts" onclick="ShowContent(this)">
            <i class="fa fa-address-card-o"></i>
            Contacts
        </a>
    </li>
    <li role="presentation" class="trader-bank">
        <a href="#CashBank" onclick="ShowContent(this)">
            <i class="fa fa-university"></i>
            Cash &amp; Bank
        </a>
    </li>
    <li role="presentation" class="trader-item">
        <a href="#ItemsProducts" onclick="ShowContent(this)">
            <i class="fa fa-cubes"></i>
            Items &amp; Products
        </a>
    </li>
    <li role="presentation" class="trader-Manufacturing">
        <a href="#Manufacturing" onclick="ShowContent(this)">
            <i class="fas fa-hammer"></i>
            Manufacturing
        </a>
    </li>
    <li role="presentation" class="trader-budget">
        <a href="#Budget" onclick="ShowContent(this)">
            <i class="fa fa-line-chart"></i>
            Budget
        </a>
    </li>
    <li role="presentation" class="trader-report">
        <a href="#Reports" onclick="ShowContent(this)">
            <i class="fa fa-list"></i>
            Reports
        </a>
    </li>
    @{
        if (isPos)
        {
            <li role="presentation" class="trader-pos">
                <a href="#PointOfSale" onclick="ShowContent(this)">
                    <i class="fa fa-tablet"></i>
                    Devices
                </a>
            </li>
        }
    }
    @{
        if (showShiftManagement)
        {
            <li role="presentation" class="trader-shiftManagement">
                <a href="#ShiftManagement" onclick="ShowContent(this)">
                    <i class="fa fa-cash-register"></i>
                    Shift Management
                </a>
            </li>
        }
    }
    <li role="presentation" class="trader-channel">
        <a href="#SalesChannels" onclick="ShowContent(this)">
            <i class="fa fa-seedling"></i>
            Sales Channels
        </a>
    </li>
    <li role="presentation" class="trader-config">
        <a href="#Config" onclick="setTabTrader('Config', 'settings'); ShowContent(this);">
            <i class="fa fa-cog"></i>
            App Configuration
        </a>
    </li>
</ul>