@using Qbicles.BusinessRules;
@using Qbicles.Models;
@model List<QbiclePost>
@{
    var currentUserId = (string)ViewBag.CurrentUserId;
    var api = (string)ViewBag.DocRetrievalUrl;
}
@foreach (var pt in Model)
{
    <article id="post-@pt.Id" class="activity post">
        <div class="activity-detail">
            <div class="activity-meta">
                <h4>@HelperClass.GetFullNameOfUser(pt.CreatedBy, currentUserId)</h4>
                <small>@pt.TimeLineDate.ToString("dd MMM yyyy, hh:mmtt")</small>
                @if (pt.Topic != null)
                {
                    <a href='javascript:void(0);' class="topic-label">
                        <span class="label label-info">@pt.Topic.Name</span>
                    </a>
                }
            </div>

            <div class="activity-overview media-comment">
                <p>
                    @Html.Raw(pt.Message.Replace(Environment.NewLine, "<br/>"))
                </p>
            </div>
        </div>
        <div class="clearfix"></div>
    </article>
}