@using Qbicles.Models.Bookkeeping;
@using Qbicles.Models.Trader.PoS;
@using Qbicles.Models.Catalogs
@model Catalog
@{
    var api = (string)ViewBag.DocRetrievalUrl;
    var dimensions = (List<TransactionDimension>)ViewBag.Dimensions ?? new List<TransactionDimension>();
    var lstDimensionId = new List<int>();
    if (Model.OrderItemDimensions != null && Model.OrderItemDimensions.Count > 0)
    {       
        lstDimensionId = Model.OrderItemDimensions.Select(q => q.Id).ToList(); 
    }
}
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title">Manage Menu Reporting Filters</h5>
        </div>
        <div class="modal-body">

            <div class="well custom">
                <div class="form-group" style="margin: 0;">
                    <label for="dimensions">Choose Reporting Filter to associate with this Menu</label>
                     
                        <select name="dimensions" id="dimension_select" class="form-control select2" multiple style="width: 100%;">
                            <option value=""></option>
                            @foreach (var item in dimensions)
                            {
                                if (lstDimensionId.Contains(item.Id))
                                {
                                    <option value="@item.Id" selected>@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                    
                </div>
            </div>

            <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
            <a href="#" onclick="SaveDimension()" class="btn btn-success">Confirm</a>

        </div>
    </div> <!-- /.modal-content -->
</div> <!-- /.modal-dialog -->
<script>
    $("#dimension_select").select2({ placeholder: 'Please select' });;
</script>