@using Qbicles.Models;
@model List<ApplicationUser>
@using Qbicles.BusinessRules;
@using Qbicles.Models.Community;
@{
    var api = (string)ViewBag.DocRetrievalUrl;
    var userProfiles = (List<UserProfilePage>)ViewBag.UserProfiles;
}

<table class="datatableuser custome-table table-hover qbicle-user-list" data-order='[[ 1, "asc" ]]' style="width: 100%;">
    <thead>
        <tr>
            <th style="width: 100px;" data-priority="2" data-orderable="false"></th>
            <th data-priority="1">Name</th>
            <th data-priority="2">Role(s)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    <div class="table-avatar" style="background-image: url('@api@user.ProfilePic');">&nbsp;</div>
                </td>
                <td>
                    @{
                        var uProfile = userProfiles.Where(x=>x.AssociatedUser.Id==user.Id).FirstOrDefault();
                        if (uProfile != null)
                        {
                            var uri = "/Community/UserProfilePage?id=" + uProfile.Id;
                            <a href="@uri">@HelperClass.GetFullNameOfUser(user)</a>
                        }
                        else
                        {
                            <span>@HelperClass.GetFullNameOfUser(user)</span>
                        }
                    }


                </td>
                <td>
                    @foreach (var role in user.DomainRoles)
                {
                        <span class="label label-info label-lg">@role.Name</span>
                    }

                </td>
            </tr>
                        }
    </tbody>
</table>

<script>
    $('.datatableuser').DataTable({
        responsive: true,
        order: [[0, 'asc']]
    });

    $('.datatableuser').show();
</script>