@{
    var Workgroup = (bool)ViewBag.Workgroup;
}
<!-- Workgroups -->
<div class="show-form" id="show-workgroups">

    <div class="activity-overview plain">
        <h3>Workgroups</h3>
        <br />

        <p>
            Workgroups allow you to configure access rights and assign them to people. This will grant your chosen users the ability to do things like launch Campaigns and
            posts, and review/approve them prior to them being activated.
        </p>

        <div class="workgroup-data" style="display: none; margin: 30px 0 10px 0;">
            <div id="content-workgroup-table"></div>
        </div>

        <br />
        <a href="#" class="btn btn-success" data-toggle="modal" data-target="#app-marketing-workgroup-add" onclick="$('.workgroup-data').show(); $(this).next('a').attr('disabled', false); LoadModalWorkgroup(0); LoadTableWorkgroup();"><i class="fa fa-plus"></i> &nbsp; Add a workgroup</a>
        <a href="#" id="wg-proceed" class="btn btn-primary" onclick="WorkgroupProcess()" disabled>Proceed &nbsp; <i class="fa fa-angle-right"></i></a>
    </div>

</div>
<script>
    var workgroup = '@Workgroup';
    var contact = 'False';
    var traderContacts = 'False';
</script>
<!-- END Workgroups -->
