@{
    var contacts = (bool)ViewBag.Contacts;
}
<!-- Contact Age Ranges -->
<div class="show-form" id="show-contacts">

    <div class="activity-overview plain">

        <h3>Age Ranges</h3>
        <br />

        <p>Before adding some Contacts, it's worth setting up age ranges you may wish to split them by. If you don't want to use age ranges, or already have actual dates of birth on record you can skip this step or add them later from App Config.</p>

        <div class="contacts-data" style="display: none; margin: 30px 0 10px 0;">
            <div id="id-age-ranges-table">
                
            </div>
        </div>


        <br />
        <button class="btn btn-success" onclick="AddRowContactTable();"><i class="fa fa-plus"></i> &nbsp; Add an age range</button>

        <br /><br /><br /><br />
        @if (contacts)
        {
            <a class="btn btn-primary btn_process" onclick="ContactsProcess()">Proceed &nbsp; <i class="fa fa-angle-right"></i></a>
        }
        else
        {
            <a class="btn btn-primary btn_process disabled" onclick="ContactsProcess()" disabled>Proceed &nbsp; <i class="fa fa-angle-right"></i></a>
        }
       @* <a href="#" id="tempnext" class="btn btn-primary" onclick="switch_setup('#show-contacts', '#show-import');">Proceed &nbsp; <i class="fa fa-angle-right"></i></a>*@

    </div>
</div>
<script>
    var contact = '@contacts';
    var traderContacts = 'False';
    var workgroup = 'False';
</script>
<!-- END Contact Age Ranges -->