@{ #line 1 "D:\Project\Out_Source\Qbicle\code-git\sprint_58\qbicles\Solution\Qbicles.Web\Views\Shared\_SMSetupShowTraderContactsPartial.cshtml"
                /**/

                var traderContacts = (bool)ViewBag.TraderContacts;
}
<!-- Import Contacts -->
<div class="show-form" id="show-import">

    <div class="activity-overview plain">
        <h3>Import Trader Contacts</h3>
        <br />

        <p>
            Do you already have a bank of Trader Contacts? You can import them directly to your Sales &amp; Marketing Contact pool here. Any missing information can
            be added to the Contact's resulting profile in your app. You can skip this step if you don't need to import Contacts.
        </p>


        <br />
        <button class="btn btn-info" style="max-width: 200px; margin-top: 5px;" onclick="$('.affected').show(); $('#tc-proceed').removeAttr('disabled'); SyncTrader();"><i class="fa fa-user-cog"></i> &nbsp; Import Trader Contacts</button>

        <div class="affected" style="margin-top: 30px; display: none;">
            <div id="sync-trader-table">

            </div>
        </div>


        <br /><br /><br /><br />
        @if (traderContacts)
        {
            <a id="tc-proceed" class="btn btn-primary btn_process" onclick="TraderContactsProcess()">Proceed &nbsp; <i class="fa fa-angle-right"></i></a>
        }
        else
        {
            <a id="tc-proceed" class="btn btn-primary btn_process" onclick="TraderContactsProcess()">Proceed &nbsp; <i class="fa fa-angle-right"></i></a>
        }
    </div>


</div>
<script>
    var traderContacts = '@traderContacts';
    var contact = 'False';
    var workgroup = 'False';
</script>
<!-- END Import Contacts -->
