@using Qbicles.Models.Bookkeeping;
@model  JournalEntry
@{
    var dimensions = (List<TransactionDimension>)ViewBag.Dimensions;
}

<table id="transaction_table" class="datatable table app_specific journal-transactions" style="width: 100%;" data-paging="false" data-info="false" data-searching="false" data-ordering="false">
    <thead>
        <tr>
            <th data-priority="1" style="width: 50px;">#</th>
            <th data-priority="1">Account</th>
            <th data-priority="1" style="width: 100px;">Date</th>
            <th data-priority="2" style="width: 90px;">Debit</th>
            <th data-priority="2" style="width: 90px;">Credit</th>
            <th data-priority="4">Memo</th>
            <th data-priority="3" style="width: 250px;">Reporting Filters</th>
            <th data-priority="1" style="width: 85px;"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.BKTransactions != null && Model.BKTransactions.Count > 0)
        {
            for (int i = 0; i < Model.BKTransactions.Count; i++)
            {
                @Html.Partial("_TransactionRowPartial", Model.BKTransactions[i], new ViewDataDictionary { { "dimensions", dimensions }, { "index", (i + 1) } });
            }
        }
    </tbody>
    <tfoot class="hidden-xs">
        <tr>
            <th></th>
            <th></th>
            <th class="text-right">Total:</th>
            <th class="text-right"><span class="sumDedit">0</span></th>
            <th class="text-right"><span class="sumCredit">0</span></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>