@{

}

@if (ViewBag.UnApproved != "")
{
    <div class="activity-overview generic help-text animated bounce">
        <i class="fa fa-exclamation-triangle" style="color: #f39c12 !important"></i>
        <p>
            Kindly review unapproved transaction created on <br /><strong>@ViewBag.UnApproved</strong>
        </p>
    </div>
}
<br />

<a href="#app-trader-pos-cash-device-check-point" class="btn btn-primary community-button" onclick="AddTillCheckpointTabContent(@ViewBag.TillId)">Add a Checkpoint</a>

<div class="btn-group options" style="margin-top: 3px; width: 100%;">
    <button type="button" class="btn btn-success community-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Add a Transaction &nbsp; <i class="fa fa-angle-down"></i>
    </button>
    <ul class="dropdown-menu" style="width: 100%;">
        <li><a href="#app-trader-pos-cash-device-payin" onclick="AddTillPayIn(@ViewBag.TillId)">Payment in</a></li>
        @if (ViewBag.UnApproved == "")
        {
            <li><a href="#app-trader-pos-cash-device-payout" onclick="AddTillPayOut(@ViewBag.TillId)">Payment out</a></li>
        }
        else
        {
            <li style="pointer-events: none; opacity:0.6;">
                <a>
                    Payment out
                </a>
            </li>
        }
    </ul>
</div>
