@using Qbicles.Models.Trader
@model List<TraderContact>
@{
    var api = (string)ViewBag.DocRetrievalUrl;
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title">Contact group @Model.Count members</h5>
        </div>
        <div class="modal-body">

            <table class="datatable table-striped table-hover" id="contactgroup_members_table" style="width:100%">
                <thead>
                    <tr>
                        <th data-priority="2" data-orderable="false" style="width: 60px;"></th>
                        <th data-priority="1">Name</th>
                        <th data-priority="1">Status</th>
                    </tr>
                </thead>
                <tbody style="background: #fff;">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <div class="table-avatar mini" style="background-image: url(@api@item.AvatarUri);"></div>
                            </td>
                            <td>@item.Name </td>
                            <td>
                                @switch (item.Status)
                                {
                                    case TraderContactStatusEnum.Draft:
                                        <span class="label label-lg label-primary">Draft</span>
                                        break;
                                    case TraderContactStatusEnum.ContactApproved:
                                        <span class="label label-lg label-success">Approved</span>
                                        break;
                                    case TraderContactStatusEnum.ContactDenied:
                                        <span class="label label-lg label-danger">Denied</span>
                                        break;
                                    case TraderContactStatusEnum.ContactDiscarded:
                                        <span class="label label-lg label-danger">Discarded</span>
                                        break;
                                    case TraderContactStatusEnum.PendingApproval:
                                        <span class="label label-lg label-info">Pending Approval</span>
                                        break;
                                    case TraderContactStatusEnum.PendingReview:
                                        <span class="label label-lg label-info">Pending Review</span>
                                        break;   
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script>
    $('#contactgroup_members_table').DataTable({
        responsive: true,
        "lengthChange": true,
        "pageLength": 10,
        "columnDefs": [{
            "targets": 3,
            "orderable": false
        }],
        "order": []
    });

    $('#contactgroup_members_table').show();
</script>