@using Qbicles.Models.Trader
@using Qbicles.BusinessRules
@{
    var domainId = (int)ViewBag.CurrentDomainId;
    var currencySettings = (Qbicles.Models.CurrencySetting)ViewBag.CurrencySettings;
}

<table class="datatable table-hover table-striped" style="width: 100%;" id="community-list-cash-bank" data-order='[[1, "asc"]]'>
    <thead>
        <tr>
            <th data-priority="3" style="width: 90px;" data-orderable="false"></th>
            <th data-priority="1">Name</th>
            <th data-priority="1">Bookkeeping Account</th>
            <th data-priority="2">Funds in (@currencySettings.CurrencySymbol)</th>
            <th data-priority="2">Funds out (@currencySettings.CurrencySymbol)</th>
            <th data-priority="2">Charges (@currencySettings.CurrencySymbol)</th>
            <th data-priority="3">Transactions</th>
            <th data-priority="1" style="width: 300px;" data-orderable="false">Options</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<script> 
    FilterDataCashBankByServerSide();
    $("#search_dt_cb").keyup(delay(function () {
        $("#community-list-cash-bank").DataTable().ajax.reload();
    }, 1000));
</script>