@using Qbicles.Models.Trader

@{
    var locations = (List<TraderLocation>)ViewBag.Locations;
}
<div class="row" id="p2p">
    <div class="col-xs-12 col-sm-6">
        <div class="form-group" style="padding-left: 15px;">
            <label id="inbound">Where are the items coming from?</label>
            <label id="outbound" style="display: none;">Where are the items going to?</label>
            <select id="in-out-location" onchange="LocationInOuChange()" class="form-control select-modal" style="width: 100%;" data-placeholder="Choose a location">
                @foreach (var l in locations)
                {
                    <option value="@l.Id">@l.Name</option>
                }
            </select>
        </div>
    </div>
</div>

<script>
    $('.select-modal').not('.multi-select').select2({ placeholder: "Please select" });
    LocationInOuChange();
</script>

<div style="display: none">
    <div id="location-in-out-selected" class="content-block transfer">
        
    </div>
</div>