@using Qbicles.Models.Trader
@model TraderLocation
@{
 
}
 
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" onclick="CancelLocation()"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @if (Model.Id > 0)
            {
                <h5 class="modal-title">Edit a location</h5>
            }
            else
            {
                <h5 class="modal-title">Add a location</h5>
            }
            <input id="add_location_id" value="@Model.Id" type="hidden"/>
            
        </div>
        <div class="modal-body">
            <form id="tradersetup_addlocation_form">
                <div class="activity-overview task" style="padding: 20px;">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group" style="margin: 0;">
                                <label for="name">Location name</label>
                                <input type="text" id="tradersetup_addlocation_name" name="location" value="@Model.Name" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <br />
            <a onclick="SaveLocation()" class="btn btn-success trigger-setup"><i class="fa fa-save"></i> &nbsp; Save</a>
            <a onclick="CancelLocation()" class="btn btn-danger"><i class="fa fa-remove"></i> &nbsp; Cancel</a>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
