@{
    var contactGroups = (bool)ViewBag.ContactGroups;
}

<!-- Product groups -->
<div class="show-form" id="show-contact-groups" >

    <div class="activity-overview plain">
        <h3>Contact Groups</h3>
        <p style="max-width: 750px;">
            Grouping your Contacts makes it quicker and easier to access them in Trader. Please add at least 1 group to continue...
        </p>

        <div class="contact-group-data table_group" style="margin: 30px 0 10px 0;">
            @if (contactGroups)
            {
                Html.RenderAction("AddTraderTableContactGroup", "Trader");
            }
        </div>

        <br />
        <a class="btn btn-success" onclick="onclickAddContactGroup()"><i class="fa fa-plus"></i> &nbsp; Add a Contact Group</a>
        @if (contactGroups)
        {
            <a class="btn btn-primary btn_process" onclick="ContactGroupProcess()">Proceed &nbsp; <i class="fa fa-angle-right"></i></a>
        }
        else
        {
            <a class="btn btn-primary btn_process disabled" onclick="ContactGroupProcess()" disabled>Proceed &nbsp; <i class="fa fa-angle-right"></i></a>
        }

    </div>

</div>
<!-- END Product groups -->
<script>
    $.LoadingOverlay("hide");
</script>