@using Qbicles.Models.Trader;
@model Recipe
@{                                     
    var api = (string)ViewBag.DocRetrievalUrl;
}
<div class="row">
    <div class="col-xs-12">
        <ul class="nav nav-pills traderv2">
            <li class="active" onclick="showTableManujob()"><a href="#assembledlist" data-toggle="tab">Assembled</a></li>
            <li onclick="showTableManujobAvailable()"><a href="#itemlist" data-toggle="tab">Available for Assembly</a></li>
        </ul>
    </div>
</div>

<br />


<div class="tab-content">

    <!-- Assembled -->
    <div class="tab-pane fade in active" id="assembledlist">

       


    </div>
    <!-- END Assembled List -->
    <!-- Available List -->
    <div class="tab-pane fade" id="itemlist">

       
    </div>
    <!-- END Available List -->


</div>
<script>
    showTableManujob();
</script>
