
@{
    var api = (string)ViewBag.DocRetrievalUrl;
}

<input value="@api" id="api" type="hidden" />

<table class="datatable table-striped table-hover" id="movement_table" style="width: 100%;">
    <thead>
        <tr>
            <th data-priority="3" style="width: 90px;" data-orderable="false"></th>
            <th data-priority="1">Item</th>
            <th data-priority="1">In</th>
            <th data-priority="1">Out</th>
            <th data-priority="2">Difference</th>
            <th data-priority="1" data-orderable="false">Options</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>


<div class="modal fade" id="app-trader-change-unit" role="dialog" aria-labelledby="app-trader-change-unit">

</div><!-- /.modal -->

<div class="modal fade left" id="app-trader-item-movement" role="dialog" aria-labelledby="app-trader-item-movement">
    @* skeleton: to make animation fly-in smoother *@
    <div class="modal-xl modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h5 class="modal-title"></h5>
            </div>
            <div class="modal-body">
                <dl class="breakitdown inamodal cx-25">
                    <dt>Date time range</dt>
                    <dd></dd>
                    <dt>Item name</dt>
                    <dd></dd>
                    <dt>Product group</dt>
                    <dd></dd>
                    <dt>SKU</dt>
                    <dd></dd>
                    <dt>Latest cost (£)</dt>
                    <dd></dd>
                    <dt>On-hand inventory</dt>
                    <dd id="onHandInventory"></dd>
                </dl>

                <div class="well custom rounded" style="min-width: 300px; padding: 20px 20px 5px 20px;">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-lg-3">
                            <div class="form-group">
                                <label for="unit">Change display unit</label>
                                <select name="unit" id="viewtrend_product" class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-viewtrend_product-container"><span class="select2-selection__rendered" id="select2-viewtrend_product-container" title="The whole thing"></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-lg-3">
                            <div class="form-group">
                                <label>Display format</label>
                                <select name="format" class="form-control select2 select2-hidden-accessible" style="width: 100%;" id="format" tabindex="-1" aria-hidden="true">
                                    <option value="0" selected="">Quantity</option>
                                    <option value="1">Value</option>
                                </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-format-container"><span class="select2-selection__rendered" id="select2-format-container" title="Quantity"></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-lg-3">
                            <label>Display system generated movements</label>
                            <div class="checkbox toggle">
                                <label>
                                    <div id="systemgen" class="toggle btn off" data-toggle="toggle" style="width: 0px; height: 0px;">
                                        <div class="toggle-group">
                                            <label class="btn btn-success toggle-on toggle-display-sysgem">On</label>
                                            <label class="btn btn-default active toggle-off toggle-display-sysgem">Off</label>
                                            <span class="toggle-handle btn btn-default"></span>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <br><br>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="movement-viewtrend-table">
                        <div id="viewtrend-table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row"><div class="col-sm-6"><div class="dataTables_length" id="viewtrend-table_length"><label>Show <select name="viewtrend-table_length" aria-controls="viewtrend-table" class="form-control input-sm"><option value="10">10</option><option value="20">20</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-6"></div></div><div class="row">
                                <div class="col-sm-12">
                                    <table id="viewtrend-table" class="datatable table-striped table-hover community-list dataTable dtr-inline" style="width: 100%; background: rgb(255, 255, 255);" role="grid" aria-describedby="viewtrend-table_info">
                                        <thead>
                                            <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="viewtrend-table" rowspan="1" colspan="1" aria-label="Date &amp;amp; time: activate to sort column descending" style="width: 255px;" aria-sort="ascending">Date &amp; time</th><th class="sorting" tabindex="0" aria-controls="viewtrend-table" rowspan="1" colspan="1" aria-label="Trigger: activate to sort column ascending" style="width: 184px;">Trigger</th><th class="qty sorting" tabindex="0" aria-controls="viewtrend-table" rowspan="1" colspan="1" aria-label="Qty In: activate to sort column ascending" style="width: 162px;">Qty In</th><th class="qty sorting" tabindex="0" aria-controls="viewtrend-table" rowspan="1" colspan="1" aria-label="Qty Out: activate to sort column ascending" style="width: 190px;">Qty Out</th><th class="qty sorting" tabindex="0" aria-controls="viewtrend-table" rowspan="1" colspan="1" aria-label="Absolute Qty Difference: activate to sort column ascending" style="width: 448px;">Absolute Qty Difference</th></tr>
                                        </thead>
                                        <tbody>


                                            <tr role="row" class="odd"><td class="sorting_1" tabindex="0"></td><td></td><td></td><td></td><td></td></tr>
                                            <tr role="row" class="even"><td class="sorting_1" tabindex="0"></td><td></td><td></td><td></td><td></td></tr>
                                        </tbody>
                                        <tfoot style="background: #fff;">
                                            <tr><td style="border-top: 1px solid rgba(0, 0, 0, 0.3);" rowspan="1" colspan="1"><strong>Totals</strong></td><td style="border-top: 1px solid rgba(0, 0, 0, 0.3);" rowspan="1" colspan="1"></td><td style="border-top: 1px solid rgba(0, 0, 0, 0.3);" class="qty" rowspan="1" colspan="1"></td><td style="border-top: 1px solid rgba(0, 0, 0, 0.3);" class="qty" rowspan="1" colspan="1"></td><td style="border-top: 1px solid rgba(0, 0, 0, 0.3);" class="qty" rowspan="1" colspan="1"></td></tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div><div class="row"><div class="col-sm-5"><div class="dataTables_info" id="viewtrend-table_info" role="status" aria-live="polite">Showing 1 to 1 of 1 entries</div></div><div class="col-sm-7"><div class="dataTables_paginate paging_simple_numbers" id="viewtrend-table_paginate"><ul class="pagination"><li class="paginate_button previous disabled" id="viewtrend-table_previous"><a href="#" aria-controls="viewtrend-table" data-dt-idx="0" tabindex="0">Previous</a></li><li class="paginate_button active"><a href="#" aria-controls="viewtrend-table" data-dt-idx="1" tabindex="0">1</a></li><li class="paginate_button next disabled" id="viewtrend-table_next"><a href="#" aria-controls="viewtrend-table" data-dt-idx="2" tabindex="0">Next</a></li></ul></div></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* end skeleton  *@
</div>

<script>
    FilterDataByServerSide();
    $('#movement_daterange, #alert-settings-daterange').daterangepicker({
        timePicker: true,
        timePicker24Hour: true,
        autoUpdateInput: false,
        cancelClass: "btn-danger",
        opens: "left",
        locale: {
            cancelLabel: 'Clear',
            format: $dateTimeFormatByUser
        }
    });
    $("#movement_search_dt").keyup(delay(function () {
        $("#movement_table").DataTable().ajax.reload();
    }, 1000));
    $('#movement_daterange').change(function () {
        CallBackFilterDataMoventoryServeSide();
    });
    $('#movement_daterange').on('apply.daterangepicker', function (ev, picker) {
        $(this).val(picker.startDate.format($dateTimeFormatByUser) + ' - ' + picker.endDate.format($dateTimeFormatByUser));
        //$('#movement_daterange').html(picker.startDate.format($dateTimeFormatByUser) + ' - ' + picker.endDate.format($dateTimeFormatByUser));
        CallBackFilterDataMoventoryServeSide();
    });
    $('.daterange').on('cancel.daterangepicker', function (ev, picker) {
        $(this).val(null);
        //$(this).attr("placeholder", "Set a date range to display...");
        $('#movement_daterange').html('full history');
        CallBackFilterDataMoventoryServeSide();
    });

    $('#alert-settings-daterange').on('apply.daterangepicker', function (ev, picker) {
        $('#alert-settings-daterange').val(picker.startDate.format($dateTimeFormatByUser) + ' - ' + picker.endDate.format($dateTimeFormatByUser));
        $('#alert-settings-daterange').html(picker.startDate.format($dateTimeFormatByUser) + ' - ' + picker.endDate.format($dateTimeFormatByUser));
        filter.DateRange = $("#alert-settings-daterange").val();
        FilterMovementAlertSettings();
    });

    $('#alert-settings-daterange').on('cancel.daterangepicker', function (ev, picker) {
        FilterMovementAlertSettings();
    });

    $("#app-trader-item-movement").on("hidden.bs.modal", function () {
        $(this).empty();
        $(this).append(templateViewTrend());
    });

    // ----------------------------------------
    //         EXPORT FUNCTIONALITY
    // ----------------------------------------
    function GetDataTableContentExport(exportType = 1) {
        $.LoadingOverlay("show");

        //Get table params
        var params = $('#movement_table').DataTable().ajax.params();
        console.log(params, "params");

        //init params
        var _parameter = {
            ...params,
            "export": exportType
        };

        $.ajax({
            type: 'GET',
            url: '/Report/GetTraderMovementTableContentExport',
            dataType: 'json',
            data: _parameter,
            success: function (response) {
                if (response.result == true) {
                    console.log(response, 'response');
                    window.location.href = response.Object;
                    cleanBookNotification.success("Export downloaded successfully!", "Qbicles");
                }
                $.LoadingOverlay("hide");
            },
            error: function (err) {
                console.log(err, 'error');
                $.LoadingOverlay("hide");
            }
        });
    }

</script>
