@using Qbicles.BusinessRules
@using Qbicles.Models.Trader

@{
    int locationId = (int)ViewBag.LocationId;
}


<div class="row">
    <div class="col-xs-12 col-sm-4">

        <form id="form_add_transaction" class="activity-overview task" style="padding: 20px;">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="item">Add an item to transfer <span>*</span></label>
                        <select name="item" onchange="ChangeSelectedUnit()" class="form-control select-modal group-item-select" style="width: 100%;" id="item-select">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label for="unit">Unit <span>*</span></label>
                        <div id="item_selected">
                            <select class="form-control select2">
                                <option></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <div class="form-group">
                        <label for="tax">Quantity <span>*</span></label><br />
                        <input id="form_item_quantity" name="itemquantity" maxlength="15" onkeypress="decimalKeyPress(this, event)" onpaste="decimalOnPaste(this, event)" type="text" required="" class="form-control" min="1">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <div class="form-group">
                        <label for="fee">Item Fee</label><br />
                        <input id="item_fee" type="number" name="fee" class="form-control" min="0">
                    </div>
                </div>
            </div>

        </form>
        <br/>
        <button onclick="addRowTransferItem()" class="btn btn-info"><i class="fa fa-plus"></i> &nbsp; Add to list</button>
    </div>

    <div class="col-xs-12 col-sm-8">

        <table id="tb_form_item" class="datatable table-striped table-hover" style="width: 100%; background: #fff;" data-order='[[1, "asc"]]'>
            <thead>
                <tr>
                    <th style="width: 90px;" data-orderable="false"></th>
                    <th>Name</th>
                    <th>Unit</th>
                    <th>Quantity</th>
                    <th>Item Fee</th>
                    <th data-orderable="false"></th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

        <br />

        <div class="activity-overview generic" style="display: inline-block; max-width: 700px; padding: 20px 20px 10px 20px;">
            <h5>Transfer Fee</h5>
            <p>You can include a Transfer fee here. This will be applied in addition to any individual item fees you may have specified.</p>
            <div class="form-group">
                <input type="number" name="transfer-fee" class="form-control" style="width: 120px;" value="0.00">
            </div>
        </div>

    </div>
</div>

<table id="tb_form_template" class="datatable table-hover hidden" style="width: 100%; background: #fff;">
    <thead>
        <tr>
            <th data-orderable="false"></th>
            <th>Name</th>
            <th>Unit</th>
            <th>Quantity</th>
            <th>Item Fee</th>
            <th data-orderable="false"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="row_image">
                <div class="table-avatar" style="background-image: url('');">
                </div>
            </td>
            <td class="row_name"></td>
            <td class="row_unit">
                @{Html.RenderAction("UnitsSelectByItem", "TraderTransfers", new { idLocation = locationId });}
            </td>
            <td class="row_quantity">
                <input maxlength="15" onkeypress="decimalKeyPress(this, event)" onpaste="decimalOnPaste(this, event)" type="text" name="item-1-qty" class="form-control" value="0">
            </td>
            <td class="row_fee">
                <input type="number" name="item-1-fee" class="form-control" value="0">
            </td>
            <td class="row_button">
                <button class="btn btn-danger" onclick="removeRowItem(0)"><i class="fa fa-trash"></i></button>
                <input type="hidden" class="traderItem" value="" />
                <input type="hidden" class="row_id" value="0" />
            </td>
        </tr>
    </tbody>
</table>

<script>
    //$('.select-modal').not('.multi-select').select2({ placeholder: "Please select"});

    
    //ChangeSelectedUnit();
    $(document).ready(function() {
        InitTransferItemSelect2Ajax('item-select', $('#transfer-workgroup-select').val(), $('#in-out-location').val());
    })
</script>