@using Qbicles.Models.Trader
@{
    var enums = (List<string>)ViewBag.MeasurementTypeEnums;

}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @*@if (Model.Id > 0)
                {
                    <h5 class="modal-title">Edit a unit of measurement</h5>
                }
                else
                {*@
            <h5 class="modal-title">Add a unit of measurement</h5>
            @*}*@
            @*<input type="hidden" id="trader_add_unit_id" value="@Model.Id"/>*@
        </div>
        <div class="modal-body">

            <form id="trader_add_unit_form">
                <div class="activity-overview task" style="padding: 20px;">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="unit-name">Unit name</label>
                                <input type="text" id="trader_add_unit_name" value="" name="unitname" class="form-control" placeholder="e.g. Centimetres">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="unit-display">Display as</label>
                                <input type="text" id="trader_add_unit_display" value="" name="unit-display" class="form-control" placeholder="e.g. cm">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group" style="margin: 0;">
                                <label for="unit-type">Unit type</label>
                                <select name="unittype" id="trader_add_unit_area" class="form-control select2" style="width: 100%;">
                                    <option value=""></option>
                                    @foreach (var enu in enums)
                                    {
                                        <option value="@enu">@enu</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <br />
            <a onclick="SaveBaseUnit()" class="btn btn-success trigger-setup"><i class="fa fa-save"></i> &nbsp; Save</a>
            <a onclick="CancelBaseUnit()" class="btn btn-danger"><i class="fa fa-remove"></i> &nbsp; Cancel</a>

        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<script>
    $('#trader_add_unit_area.select2').select2({
        placeholder: 'Please select'
    });
</script>