@using Qbicles.Models.Trader.Pricing;
@model List<PriceBookInstance>
@{

}

<table id="instance-history-table" class="datatable table-hover table-striped" style="width: 100%;">
    <thead>
        <tr>
            <th data-priority="1">Revision</th>
            <th data-priority="3">Applied</th>
            <th data-priority="2" data-orderable="false"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var instance in Model)
        {
            <tr>
                <td>V @instance.InstanceVersion</td>
                <td>
                    @{
                        var appliedDate = "";

                        if (instance != null && !instance.IsDraft)
                        {
                            appliedDate = instance.CreatedDate.ToString("dd MMM yyyy");
                        }

                        @appliedDate
                    }
                </td>
                <td>
                    <button onclick="window.location.href = '/TraderPriceBooks/History?id=@instance.Id';" class="btn btn-primary">
                        <i class="fa fa-eye"></i> &nbsp; View
                    </button>
                </td>
            </tr>
        }

        
    </tbody>
</table>

<script>
    $('#instance-history-table').DataTable({
        responsive: true,
        "lengthChange": true,
        "pageLength": 10,
        "columnDefs": [{
            "targets": 1,
            "orderable": false
        }],
        "order": []
    });

    $('#instance-history-table').show();
</script>