@using Qbicles.Models.Trader

@{
    var api = (string)ViewBag.DocRetrievalUrl;
    var workGroups = (List<WorkGroup>)ViewBag.WorkgroupSpotCount;
}

<br />
<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3">

        <ul class="nav nav-stacked nav-pills nav-marketing" style="margin-bottom: 30px;">
            <li class="active"><a href="#spot-count-tab" onclick="SelectSpotCountTab()"data-toggle="tab">Spot Counts</a></li>
            <li><a id="tab_reporttab" href="#waste-report-tab" onclick="SelectWasteReportTab()" data-toggle="tab">Waste</a></li>
        </ul>

    </div>

    <div class="col-xs-12 col-sm-8 col-lg-9">

        <div class="tab-content">
        
            <!-- Spot counts -->
            <div class="tab-pane fade in active" id="spot-count-tab">

            </div>
            <!-- END Spot counts -->
            <!-- Waste -->
            <div class="tab-pane fade" id="waste-report-tab">

                

            </div>
            <!-- END Waste -->


        </div> <!-- ./tab-content -->

    </div>
</div>

