@using Qbicles.Models;
@using Qbicles.Models.Trader;
@model List<ApplicationUser>
@{
    var api = (string)ViewBag.DocRetrievalUrl;
    var wg = (WorkGroup)ViewBag.workgroup;
    var title = ViewBag.TitleModel != null ? ViewBag.TitleModel : "Sales team";
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title">@title members</h5>
        </div>
        <div class="modal-body">

            <table class="datatable table-striped table-hover" id="workgroup_members_table" style="width:100%">
                <thead>
                    <tr>
                        <th data-priority="2" data-orderable="false" style="width: 60px;"></th>
                        <th data-priority="1">Name</th>
                        <th data-priority="1">Role</th>
                    </tr>
                </thead>
                <tbody style="background: #fff;">
                    @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div class="table-avatar mini" style="background-image: url('@(api+item.ProfilePic)&size=T');"></div>
                        </td>
                        <td>@item.Forename @item.Surname</td>
                        <td>
                            @if (wg.Approvers.Any(s=>s.Id==item.Id))
                            {
                            <span class="label label-lg label-success">Approver</span>
                            }
                            else
                            {
                            <span class="label label-lg label-warning">Reviewer</span>
                            }

                        </td>
                    </tr>
                }
                </tbody>
            </table>

        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script>
    $('#workgroup_members_table').DataTable({
        responsive: true,
        "lengthChange": true,
        "pageLength": 10,
        "columnDefs": [{
            "targets": 2,
            "orderable": false
        }],
        "order": []
    });

    $('#workgroup_members_table').show();
</script>