@using Qbicles.BusinessRules;
@using Qbicles.Models.Trader;
@{

    var lstTraderGroupItems = (List<TraderGroup>)ViewBag.LstGroupItems ?? (new List<TraderGroup>());
    var lstContactGroups = (List<TraderContactGroup>)ViewBag.LstContactGroups;
}

<div class="tab-content">

    <ul class="app_subnav" style="margin-top: -20px;">
        <li class="active"><a href="#cat-documents" data-toggle="tab" aria-expanded="true">Document Categories</a></li>
        <li><a href="#cat-images" data-toggle="tab">Image Categories</a></li>
    </ul>

    <br /><br />


    <!-- Document Categories -->
    <div class="tab-pane fade in active" id="cat-documents">
        <div id="document_category_document_table">
            
        </div>
        <br />
        <div class="addcat-doc">
            <button class="btn btn-success" onclick="$('.newcat-doc').toggle(); $('.addcat-doc').toggle(); $('#newReCagegory_Document').val('');">
                <i class="fa fa-plus"></i> &nbsp; Add a Category
            </button>
        </div>
        <div class="newcat-doc" style="display: none;">
            <div class="well custom">
                <div class="form-group">
                    <label for="newcat">New Category title</label>
                    <input type="text" id="newReCagegory_Document" name="newcat" class="form-control">
                </div>
                <button class="btn btn-danger" onclick="$('.newcat-doc').toggle(); $('.addcat-doc').toggle();">Cancel</button>
                <button class="btn btn-success" onclick="saveReCategory(0, 'Document', $('#newReCagegory_Document').val() )">Confirm</button>
            </div>
        </div>

    </div>
    <!-- END Document Categories -->
    <!-- Image Categories -->
    <div class="tab-pane fade" id="cat-images">
        <div id="resource_category_image_table"></div>
        

        <br />
        <div class="addcat-img">
            <button class="btn btn-success" onclick="$('.newcat-img').toggle(); $('.addcat-img').toggle(); $('#newReCagegory_Image').val('');">
                <i class="fa fa-plus"></i> &nbsp; Add a Category
            </button>
        </div>
        <div class="newcat-img" style="display: none;">
            <div class="well custom">
                <div class="form-group">
                    <label for="newcat">New Category title</label>
                    <input type="text" id="newReCagegory_Image" name="newcat" class="form-control">
                </div>
                <button class="btn btn-danger" onclick="$('.newcat-img').toggle(); $('.addcat-img').toggle();">Cancel</button>
                <button class="btn btn-success" onclick="saveReCategory(0, 'Image', $('#newReCagegory_Image').val() )">Confirm</button>
            </div>
        </div>

    </div>
    <!-- END Image Categories -->


</div> <!-- ./tab-content -->
@{
    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/trader.config.resourcecategory.js"></script>
    }
    else
    {
        <script src="~/Scripts/dev/trader.config.resourcecategory.min.js"></script>

    }
}
<!-- End modal for Items -->

<script>
    getDataReCategoriesDocument();
    getDataReCategoriesImage();
</script>