@using Qbicles.Models.Manufacturing;
@model ManuJob
@{

    var api = (string)ViewBag.DocRetrievalUrl;

}
<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h5 class="modal-title">RoadChef RoadBurger Assembly</h5>
        </div>
        <div class="modal-body">

            <section class="setup-ui" style="background: #f5f5f5; padding: 30px 15px;">

                <div class="row">

                    <div class="col-xs-12 col-sm-5 col-lg-4">

                        <div class="activity-overview generic help-text animated bounce" style="margin-bottom: 15px;">
                            <i class="fa fa-info-circle"></i>
                            <h5 style="margin: 0; padding: 0 0 10px 0;">Assembling your items</h5>
                            <p>
                                Assemble your compound items here, and track them in your inventory like any other regular item. To get started, simply choose the Workgroup
                                that will be managing this assembly then indicate the quantity you wish to assemble.
                            </p>
                        </div>

                        <div class="activity-overview generic" style="padding: 20px; margin-bottom: 30px;">
                            <div class="form-group" style="margin: 0;">
                                <label for="workgroup">Assign a Workgroup to manage this assembly</label>
                                <select name="workgroup" class="form-control select2" style="width: 100%;" onchange="$('.preview-workgroup').show();">
                                    <option value="" selected></option>
                                    <option value="1">Workgroup 1</option>
                                    <option value="2">Workgroup 2</option>
                                </select>
                            </div>

                            <div class="preview-workgroup" style="display: none;">
                                <br />
                                <table class="table app_specific" style="margin: 0;">
                                    <tr>
                                        <td><h5>Location</h5></td>
                                        <td>Lekki Phase 1</td>
                                    </tr>
                                    <tr>
                                        <td><h5>Process</h5></td>
                                        <td>Manufacturing</td>
                                    </tr>
                                    <tr>
                                        <td><h5>Qbicle</h5></td>
                                        <td>RoadChef</td>
                                    </tr>
                                    <tr>
                                        <td><h5>Product Group(s)</h5></td>
                                        <td>
                                            <ul class="unstyled" style="margin: 0; padding: 8px 0;">
                                                <li>Food &amp; Drink</li>
                                                <li>Household</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><h5>Members</h5></td>
                                        <td><button class="btn btn-info" data-toggle="modal" data-target="#app-trader-workgroup-preview"><i class="fa fa-user"></i> &nbsp; 11</button></td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>

                    <div class="col-xs-12 col-sm-7 col-lg-8">


                        <div class="activity-overview plain">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="item">Choose the item for assembly</label>
                                        <select name="item" class="form-control select2" style="width: 100%;">
                                            <option value=""></option>
                                            <optgroup label="Group 1">
                                                <option value="1">Compound Item 1</option>
                                                <option value="2">Compound Item 2</option>
                                            </optgroup>
                                            <optgroup label="Group 2">
                                                <option value="3" selected>RoadChef RoadBurger</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label>What quantity will be assembled?</label>
                                        <input type="number" name="manu" style="font-family: 'Roboto', Arial, sans-serif;" min="0" class="form-control" placeholder="Enter a quantity">
                                    </div>
                                </div>
                            </div>

                            <button class="btn btn-success">Confirm &amp; send to review</button>
                        </div>

                        <br />

                        <div class="item-info activity-overview plain" style="padding-top: 10px;">

                            <div class="row">
                                <div class="col-xs-12">
                                    <ul class="app_subnav admintabs" style="padding-top: 0;">
                                        <li class="active"><a href="#manu-2-1" data-toggle="tab">Recipe</a></li>
                                        <li><a href="#manu-2-2" data-toggle="tab">History</a></li>
                                    </ul>
                                </div>
                            </div>

                            <br /><br />

                            <div class="tab-content">

                                <!-- Recipe -->
                                <div class="tab-pane fade in active" id="manu-2-1">

                                    <table class="datatable table-striped table-hover" style="width: 100%; background: #fff;">
                                        <thead>
                                            <tr>
                                                <th style="width: 60px;"></th>
                                                <th>Item</th>
                                                <th>Quantity</th>
                                                <th>Unit</th>
                                                <th>Cost</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><div class="table-avatar mini" style="background-image: url('dist/img/icon_burger.png');"></div></td>
                                                <td>Burger bun</td>
                                                <td>1</td>
                                                <td>Each</td>
                                                <td>&#8358;400</td>
                                            </tr>
                                            <tr>
                                                <td><div class="table-avatar mini" style="background-image: url('dist/img/icon_inventory.png');"></div></td>
                                                <td>Burger patty</td>
                                                <td>1</td>
                                                <td>Patty</td>
                                                <td>&#8358;900</td>
                                            </tr>
                                            <tr>
                                                <td><div class="table-avatar mini" style="background-image: url('dist/img/icon_lettuce.png');"></div></td>
                                                <td>Leaf lettuce</td>
                                                <td>300</td>
                                                <td>Grams</td>
                                                <td>&#8358;200</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <!-- END Recipe -->
                                <!-- History -->
                                <div class="tab-pane fade" id="manu-2-2">

                                    <table class="datatable table-striped table-hover" style="width: 100%; background: #fff;">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Date &amp; time</th>
                                                <th>Manufactured qty</th>
                                                <th>Added by</th>
                                                <th>Status</th>
                                                <th>Options</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>001</td>
                                                <td>09.04.2019, 3:00pm</td>
                                                <td>11</td>
                                                <td>Ike Enenmoh</td>
                                                <td><span class="label label-lg label-success">Approved</span></td>
                                                <td><button class="btn btn-primary"><i class="fa fa-eye"></i> &nbsp; View</button></td>
                                            </tr>
                                            <tr>
                                                <td>002</td>
                                                <td>11.04.2019, 9:00am</td>
                                                <td>150</td>
                                                <td>Donnacha Nelan</td>
                                                <td><span class="label label-lg label-danger">Denied</span></td>
                                                <td><button class="btn btn-primary"><i class="fa fa-eye"></i> &nbsp; View</button></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <!-- END History -->

                            </div>

                        </div> <!-- ./item-info -->


                    </div>
                </div>

            </section>


            <br />
            <button class="btn btn-danger" data-dismiss="modal">Close</button>

        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->