
<table id="viewtrend-table" class="datatable table-striped table-hover community-list" style="width: 100%; background: #fff;">
    <thead>
        <tr>
            <th>Date &amp; time</th>
            <th>Trigger</th>
            <th class="qty">Qty In</th>
            <th class="qty">Qty Out</th>
            <th class="qty">Absolute Qty Difference</th>
            <th class="qty">Value In</th>
            <th class="qty">Value Out</th>
            <th class="qty">Absolute Value Difference</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

    </tbody>
    <tfoot style="background: #fff;">
        <tr>
            <td style="border-top: 1px solid rgba(0, 0, 0, 0.3);"><strong>Totals</strong></td>
            <td style="border-top: 1px solid rgba(0, 0, 0, 0.3);"></td>
            <td style="border-top: 1px solid rgba(0, 0, 0, 0.3);" class="qty"></td>
            <td style="border-top: 1px solid rgba(0, 0, 0, 0.3);" class="qty"></td>
            <td style="border-top: 1px solid rgba(0, 0, 0, 0.3);" class="qty"></td>
            <td style="border-top: 1px solid rgba(0, 0, 0, 0.3);" class="qty"></td>
            <td style="border-top: 1px solid rgba(0, 0, 0, 0.3);" class="qty"></td>
            <td style="border-top: 1px solid rgba(0, 0, 0, 0.3);" class="qty"></td>
        </tr>
    </tfoot>
</table>

<script>

</script>
<style>
    #viewtrend-table_filter {
        display: none;
    }
</style>