@using Qbicles.Models.Trader

@{
    var tranferType = "";
}

<div class="app_upper_dash text-center">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="stat_label">
                <span>Transfer type</span>
                <h3>Outbound</h3>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="stat_label">
                <span>Requirement</span>
                <h3>Sale Transfer</h3>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="stat_label" style="padding-bottom: 10px;">
                <span>For</span>
                <h3>Sale #123</h3>
            </div>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-xs-12 col-sm-4">

        <article class="community-feature">

            <div class="content-block transfer">
                <div class="content-block-upper">
                    <smaller>Source</smaller>
                    <h2>From Lekki Depot</h2>
                    <p>
                        Warehouse 13,<br />
                        Las Vegas,<br />
                        Nevada, USA<br />
                        NV29832
                    </p>
                </div>
            </div>
        </article>

        <article class="community-feature">

            <div class="content-block transfer">
                <div class="content-block-upper">
                    <smaller>Destination</smaller>
                    <h2>To Mila Kunis</h2>
                    <p>
                        Warner Bros. Studios,<br />
                        Studio 34A,<br />
                        Hollywood, LA<br />
                        USA LA209
                    </p>
                </div>
            </div>
        </article>

    </div>
    <div class="col-xs-12 col-sm-8">

        <div class="activity-overview task" style="padding: 20px;">
            <table class="datatable table-hover" style="width: 100%; background: #fff;" data-order='[[1, "asc"]]'>
                <thead>
                    <tr>
                        <th data-orderable="false"></th>
                        <th>Name</th>
                        <th>Unit</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><div class="table-avatar" style="background-image: url('dist/img/icon_inventory.png');"></div></td>
                        <td>Cardboard box</td>
                        <td>Kg</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td><div class="table-avatar" style="background-image: url('dist/img/icon_pizza.png');"></div></td>
                        <td>Pizza</td>
                        <td>Each</td>
                        <td>8</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<br />
<a href="#transfer-item-tab" data-toggle="tab" class="btn btn-warning btnPrevious"><i class="fa fa-angle-left"></i> &nbsp; Previous</a>
@{
    if (tranferType == "p2p")
    {
        <a href="javascript:void(0)" onclick="SaveTransfer('Draft')" class="btn btn-primary"><i class="fa fa-save"></i> &nbsp; Save draft</a>
        <a href="javascript:void(0)" onclick="SaveTransfer('PendingPickup')" class="btn btn-success"><i class="fa fa-thumbs-up"></i> &nbsp; Send to pickup</a>
    }
    else if (tranferType == "sale")
    {
        <a href="javascript:void(0)" onclick="SaveTransfer('Draft')" class="btn btn-primary"><i class="fa fa-save"></i> &nbsp; Save draft</a>
        <a href="javascript:void(0)" onclick="SaveTransfer('PendingPickup')" class="btn btn-success"><i class="fa fa-thumbs-up"></i> &nbsp; Send to pickup</a>
    }
    else
    {
        if (tranferType == "purchase")
        {
            <a href="javascript:void(0)" onclick="SaveTransfer('Draft')" class="btn btn-primary"><i class="fa fa-save"></i> &nbsp; Save draft</a>
            <a href="javascript:void(0)" onclick="SaveTransfer('PendingPickup')" class="btn btn-success"><i class="fa fa-thumbs-up"></i> &nbsp; Send to pickup</a>
        }
    }
}

<script>

</script>