<div class="flex-grid-quarters-lg from-community c1" style="width: 100%;">

    <div class="col article-feature">
        <a href="~/Trader/TraderConfigMaster">
            <div class="article-feature-img" style="background: url('@Url.Content("~/Content/DesignStyle/img/masterconfig.png")');">&nbsp;</div>
        </a>

        <div class="info">
            <a href="~/Trader/TraderConfigMaster">
                <h1>Power user options</h1>

                <p style="color: #888;">
                    Start selling and viewing your products faster with options for configuring
                    Items, Prices, Accounting and Sales Channels.
                </p>
            </a>
        </div>
    </div>

</div>
