@using Qbicles.Models.Trader;
@{
    var api = (string)ViewBag.DocRetrievalUrl;
    var workGroups = (List<WorkGroup>)ViewBag.WorkgroupStockAudit;
    var currentUserId = (string)ViewBag.CurrentUserId;
    var lstMembers = new List<string>();
    if (workGroups.Count > 0)
    {
        foreach (var wg in workGroups)
        {
            lstMembers.AddRange(wg.Members.Select(u => u.Id));
        }
    }
}
<div>
    <div class="well custom" style="padding-bottom: 5px;">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="search_dt">Search for something</label>
                    <input type="text" name="search_dt" id="search_stockaudit" class="form-control" placeholder="Search for something">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="form-group">
                    <label for="group">Filter by Workgroup</label>
                    <select id="stockaudit-workgroup-filter" name="group" onchange="onSelectWorkgroupStockAudit(this)" class="form-control select2" style="width: 100%;" data-placeholder="Display groups">
                        <option value="0" selected>Show all groups</option>
                        @foreach (var wg in workGroups)
                        {
                            <option value="@wg.Id">@wg.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-md-5">
                <label>Options</label>
                <br />
                <div class="form-group">

                    @if (lstMembers.Contains(currentUserId))
                    {
                        <a href="#" data-toggle="modal" class="btn btn-success" onclick="addStockAudit('0')" data-target="#app-trader-inventory-stock-audit"><i class="fa fa-plus"></i> &nbsp; Add a Shift Audit</a>
                    }


                    <div class="btn-group options">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-sliders"></i> &nbsp; Manage display
                        </button>
                        <ul class="dropdown-menu primary manage-columns">
                            <li><label><input type="checkbox" data-column="0" checked> Name</label></li>
                            <li><label><input type="checkbox" data-column="1" checked> Workgroup</label></li>
                            <li><label><input type="checkbox" data-column="2" checked> Start</label></li>
                            <li><label><input type="checkbox" data-column="3" checked> End</label></li>
                            <li><label><input type="checkbox" data-column="4" checked> Items</label></li>
                            <li><label><input type="checkbox" data-column="5" checked> Status</label></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <div id="stockaudit_table" class="no-search">
        <table class="datatable table-striped table-hover" style="width: 100%;" id="stockaudit-table">
            <thead>
                <tr>
                    <th data-priority="1">Name</th>
                    <th data-priority="2">Workgroup</th>
                    <th data-priority="1">Start</th>
                    <th data-priority="1">End</th>
                    <th data-priority="3">Items</th>
                    <th data-priority="3">Status</th>
                    <th data-priority="1" data-orderable="false">Options</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade left" id="app-trader-inventory-stock-audit" role="dialog" aria-labelledby="app-trader-inventory-stock-audit">

</div><!-- /.modal -->
@{
    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/trader.itemstockaudit.js"></script>
    }
    else
    {
        <script src="~/Scripts/dev/trader.itemstockaudit.js"></script>
    }
}
<script>
    showStockAuditTable();
    $("#stockaudit-workgroup-filter").select2();
</script>
