@model string
@{ 
    
}

<!-- Success -->
<div class="show-form" id="show-success">

    <div class="activity-overview plain">
        <h3>Congratulations!</h3>
        <p>You've provided everything we need to get you started using Trader. Click below to proceed to the app.</p>

        <br />
        <div class="activity-overview generic help-text animated bounce">
            <i class="fa fa-info-circle"></i>
            <p>
                <strong>Remember:</strong> Everything you've created here can be added to or edited any time you desire. Be sure to visit App Configuration
                in Trader to see what options are available to you after completing your initial setup.
            </p>
        </div>

        <a href="javascript:void(0);" onclick="UpdateTraderSettingCompleted('TraderApp')" class="btn btn-primary btn-lg @Model">Launch Trader &nbsp; <i class="fa fa-angle-right"></i></a>

    </div>

</div>
<!-- END Success -->
<script>
    $.LoadingOverlay("hide");
</script>