@using Qbicles.BusinessRules;
@using Qbicles.Models;
@model List<QbiclePost>
@{
    var transactionId = ViewBag.TransactionId;
    var api = (string)ViewBag.DocRetrievalUrl;
    var dateFormat = (string)ViewBag.CurrentDateFormat;
}


<div class="col-xs-12">

    <div class="activity-overview task" style="margin-bottom: 40px;">
        <form name="add_comment">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="comment">Comment</label>
                        <textarea id="txt-comment-transaction" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <a onclick="AddCommentTransaction(@transactionId)" class="btn btn-success">Submit</a>
        </form>
    </div>

</div>
<div class="col-xs-12">
    <div id="transaction-comments-@transactionId" class="cap-height">
        @{            
            foreach (var p in Model)
            {
        <!-- General post -->
                <article id="post-@p.Id" class="activity post">
                    <img style="background-image: url('@api@p.CreatedBy.ProfilePic')" class="activity-avatar" />
                    <div class="activity-detail">
                        <div class="activity-meta">
                            <h4>@HelperClass.GetFullNameOfUser(@p.CreatedBy)</h4>
                            <small>@p.StartedDate.ToString(dateFormat+" hh:mmtt")</small>
                        </div>
                        <div class="activity-overview media-comment">
                            <p>
                                @Html.Raw(p.Message.Replace(Environment.NewLine, "<br/>"))
                            </p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </article>
    <!-- END General post -->
            }
        }
    </div>

</div>


