@using Qbicles.Models.Trader
@using Qbicles.BusinessRules
@{
    var workGroups = (List<WorkGroup>)ViewBag.WorkgroupSpotCount;
    var approvalStatus = HelperClass.EnumModel.GetEnumValuesAndDescriptions<Qbicles.Models.Trader.Inventory.SpotCountStatus>();
}

<div class="well custom" style="padding-bottom: 5px;">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-2">
            <div class="form-group">
                <label for="search_dt">Search for something</label>
                <input type="text" name="search_dt" id="search_spot_count" class="form-control" placeholder="Search...">
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-2">
            <div class="form-group">
                <label for="group">Workgroup</label>
                <select id="spotcount-workgroup-filter" name="group" class="form-control select2" multiple style="width: 100%;display:none;">
                    @foreach (var wg in workGroups)
                    {
                        <option value="@wg.Id" selected>@wg.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-2 mod-css-table">
            <label for="dr">Date range</label>
            <div class="input-group">
                <input value="" type="text" id="spotcount-datetimerange" class="form-control" placeholder="Choose a range">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
        <div class="ccol-xs-12 col-md-6 col-lg-2">
            <div class="form-group">
                <label for="group">Status</label>
                <select id="spotcount-status-filter" name="group" class="form-control select2" multiple style="width: 100%;display:none;">
                    @foreach (var wg in approvalStatus)
                    {
                        <option value="@wg.Key" selected>@wg.Value</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-4 nobreak">
            <label>Options</label>
            <br />
            <div class="form-group">
                @{
                    if (workGroups.Count > 0)
                    {
                        <button class="btn btn-success" data-toggle="modal" onclick="addSpotCount()" data-target="#app-trader-inventory-spot-count">
                            <i class="fa fa-plus"></i> &nbsp; Add a Spot Count
                        </button>
                    }
                }

                <div class="btn-group options">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-sliders"></i> &nbsp; Manage display
                    </button>
                    <ul class="dropdown-menu primary manage-columns">                        
                        <li><label><input type="checkbox" data-column="1" checked> Date</label></li>
                        <li><label><input type="checkbox" data-column="2" checked> Created</label></li>
                        <li><label><input type="checkbox" data-column="3" checked> Workgroup</label></li>
                        <li><label><input type="checkbox" data-column="4" checked> Items</label></li>
                        <li><label><input type="checkbox" data-column="5" checked> Description</label></li>
                        <li><label><input type="checkbox" data-column="6" checked> Status</label></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<div id="spotcount_table" class="no-search">
    <table class="datatable table-striped table-hover spot-list-table" style="width: 100%;" id="spot-list-table">
        <thead>
            <tr>
                <th data-priority="1">Name</th>
                <th data-priority="2">Date</th>
                <th data-priority="2">Created</th>
                <th data-priority="2">Workgroup</th>
                <th data-priority="3">Items</th>
                <th data-priority="3">Description</th>
                <th data-priority="1">Status</th>
                <th data-priority="1" data-orderable="false">Options</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>



<!-- Begin Modal AdjustSpotCount -->
<div class="modal fade left" id="app-trader-inventory-spot-count" role="dialog" aria-labelledby="app-trader-inventory-spot-count">

</div><!-- /.modal -->
@*<div class="modal fade left" id="app-trader-workgroup-preview" role="dialog" aria-labelledby="app-trader-workgroup-preview">

    </div>*@
<!-- /.modal -->
<!-- End Modal AdjustSpotCount -->


@{
    if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/Scripts/dev/trader.spotcount.js"></script>
    }
    else
    {
        <script src="~/Scripts/dev/trader.spotcount.js"></script>
    }
}

<style>
    @@media (max-width: 1200px) and (min-width: 990px)  {
        .mod-css-table{
            float: right;
        }
    }
    .nobreak{
        text-wrap: nowrap;
    }
</style>