@{
    var traderWorkGroup = (bool)ViewBag.Workgroups;
}

<!-- Workgroups -->
<div class="show-form" id="show-workgroups" >

    <div class="activity-overview plain">
        <h3>Workgroups</h3>
        <p style="max-width: 750px;">Workgroups in Trader allow you to group people and assign roles to determine who handles reviewing and approving of new Trader entries.</p>

        <div class="workgroup-data table_workgroup" style="margin: 30px 0 10px 0;">
            @if (traderWorkGroup)
            {
                Html.RenderAction("AddTraderTableWorkGroup", "Trader");
            }
        </div>

        <br />
        <a class="btn btn-success" onclick="onclickAddWorkGroup()"><i class="fa fa-plus"></i> &nbsp; Add a workgroup</a>
        @if (traderWorkGroup)
        {
            <a class="btn btn-primary btn_process" onclick="WorkGroupProcess()">Proceed &nbsp; <i class="fa fa-angle-right"></i></a>
        }
        else
        {
            <a class="btn btn-primary disabled btn_process disabled" onclick="WorkGroupProcess()" disabled >Proceed &nbsp; <i class="fa fa-angle-right"></i></a>
        }

    </div>

</div>
<!-- END Workgroups -->
<script>
    $.LoadingOverlay("hide");
</script>
