
@{
    var traderLocations = (bool)ViewBag.TraderLocations;
}

<!-- Locations -->
<div class="show-form" id="show-locations">

    <div class="activity-overview plain">
        <h3>Locations</h3>
        <p style="max-width: 750px;">You need at least 1 location to use Trader. You'll be able to additional locations at any time, even once setup is complete.</p>

        <div class="location-data table_location" style="margin: 30px 0 10px 0;">
            @if (traderLocations)
            {
                Html.RenderAction("AddTraderTableLocation", "Trader");
            }
        </div>

        <br />
        <a class="btn btn-success" onclick="onclickAddLocation()"><i class="fa fa-plus"></i> &nbsp; Add a location</a>
        @if (traderLocations)
        {
            <a class="btn btn-primary btn_process" onclick="LocationProcess()">Proceed &nbsp; <i class="fa fa-angle-right"></i></a>
        }
        else
        {
            <a class="btn btn-primary btn_process disabled" onclick="LocationProcess()" disabled>Proceed &nbsp; <i class="fa fa-angle-right"></i></a>
        }

    </div>


</div>
<!-- END Locations -->
<script>
    $.LoadingOverlay("hide");
</script>