@{
    var traderGroups = (bool)ViewBag.TraderGroups;
}

<!-- Product groups -->
<div class="show-form" id="show-product-groups" >

    <div class="activity-overview plain">
        <h3>Product Groups</h3>
        <p style="max-width: 750px;">
            At least 1 product group is required to continue. With product groups you can quickly and easily perform batch operations against your own custom
            groups of items and products. These can continue to be added and edited after setup's complete.
        </p>

        <div class="product-group-data table_group" style="margin: 30px 0 10px 0;">
            @if (traderGroups)
            {
                Html.RenderAction("AddTraderTableProductGroup", "Trader");
            }
        </div>

        <br />
        <a class="btn btn-success" onclick="onclickAddProductGroup()"><i class="fa fa-plus"></i> &nbsp; Add a Product Group</a>
        @if (traderGroups)
        {
            <a class="btn btn-primary btn_process" onclick="GroupProcess()">Proceed &nbsp; <i class="fa fa-angle-right"></i></a>
        }
        else
        {
            <a class="btn btn-primary btn_process disabled" onclick="GroupProcess()" disabled>Proceed &nbsp; <i class="fa fa-angle-right"></i></a>
        }

    </div>

</div>
<!-- END Product groups -->
<script>
    $.LoadingOverlay("hide");
</script>