@using Qbicles.Models.Trader
@model TraderGroup
@{
 
}
 
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @if (Model.Id > 0)
            {
                <h5 class="modal-title">Edit a Product Group</h5>
            }
            else
            {
                <h5 class="modal-title">Add a Product Group</h5>
            }
            <input id="trader_group_add_id" value="@Model.Id" type="hidden"/>
        </div>
        <div class="modal-body">
            <form id="trader_add_group_form">
                <div class="activity-overview task" style="padding: 20px;">
                    <div class="form-group" style="margin: 0;">
                        <label for="title">Title</label>
                        <input type="text" id="trader_group_add_name" value="@Model.Name" class="form-control" name="title">
                    </div>
                </div>
            </form>
            <br />
            <button onclick="SaveProductGroup()" type="button" class="btn btn-success trigger-setup" ><i class="fa fa-save"></i> &nbsp; Save</button>
            <button class="btn btn-danger" onclick="CancelProductGroup()"><i class="fa fa-remove"></i> &nbsp; Cancel</button>

        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
