@model Qbicles.BusinessRules.ItemTopic
@{

}

<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3">

        <div class="activity-overview generic help-text animated bounce" id="versions-help">
            <i class="fa fa-info-circle"></i>
            <p>You can add as many versions as desired here. These will allow you to create variant pricebooks, perfect for managing things like seasonal prices.</p>
        </div>

        <div class="activity-overview generic help-text animated bounce" id="manage" style="display: none;">
            <i class="fa fa-info-circle"></i>
            <p>
                Add your prices, markups and discounts for this price list. Once you're happy, you can return to the version list if you want to add alternates, or save
                and apply to finish and use this price list immediately.
            </p>
        </div>

    </div>
    <div id="price-book-version-panel" class="col-xs-12 col-sm-8 col-lg-9">
        
        @{Html.RenderAction("PricebookVersionsManagement", "TraderPriceBooks", new { pricebookId = Model.Id });}

    </div>
</div>


<div class="modal fade" id="app-trader-pricebook-version-add" role="dialog" aria-labelledby="app-trader-pricebook-version-add">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Add a version to @Model.Name </h5>
            </div>
            <div class="modal-body">

                <form id="form-add-version" class="activity-overview task" style="padding: 20px 20px 10px 20px;">

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="name">Version name <span>*</span></label>
                                <input type="text" name="VersionName" id="version-name" class="form-control" required="">
                            </div>
                        </div>
                    </div>

                </form>

                <br />
                <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button class="btn btn-success" onclick="SavePricebookVersion()">Confirm and save</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
