@using Qbicles.Models.Trader;
@model List<TraderGroup>
@{
    var editGroup = (List<TraderGroup>)ViewBag.editGroup;
}

<label for="name">Product group(s) included <span>*</span></label>
<select id="price-book-product-group" name="productgroup" class="form-control select2" style="width: 100%;" multiple>
    @foreach (var g in Model)
    {
        if (editGroup.Any(e => e.Id == g.Id))
        {
            <option value="@g.Id" selected=""> @g.Name</option>
        }
        else
        {
            <option value="@g.Id"> @g.Name</option>
        }
    }
</select>

<script>
    $("#price-book-product-group").select2();
</script>