@model Qbicles.Models.Trader.TaxRate
@{
}

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @if (Model.Id > 0)
            {
                <h5 class="modal-title">Edit a tax rate</h5>
            }
            else
            {
                <h5 class="modal-title">Add a tax rate</h5>
            }
            <input type="hidden" value="@Model.Id" id="trader_form_taxrate_add_id" />
        </div>
        <div class="modal-body">
            <form id="trader_form_taxrate_add">
                <div class="well">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" id="form_taxrate_add_name" value="@Model.Name" name="name" class="form-control" placeholder="e.g. 25">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="number">Rate (%)</label>
                                <input type="number" id="trader_form_taxrate_add_Rate" value="@Model.Rate" name="rate" class="form-control" placeholder="e.g. 25% VAT">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="number">Description</label>
                                <textarea name="description" id="trader_form_taxrate_add_description" class="form-control">@Html.Raw(Model.Description??"".Replace("\n","<br>"))</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <a onclick="SaveTaxRate()" class="btn btn-success trigger-setup"><i class="fa fa-save"></i> &nbsp; Save</a>
            <button class="btn btn-danger" onclick="CancelTaxrate()"><i class="fa fa-remove"></i> &nbsp; Cancel</button>

        </div>
    </div> <!-- /.modal-content -->
</div> <!-- /.modal-dialog -->

<script>
</script>