@using Qbicles.Models.Trader;
@model List<TraderItem>
@{ var locationId = ViewBag.locationId; }

<label for="item">Add item to order</label>
<select name="traderitem" data-placeholder="Please select" onchange="ChangeSelectedUnit()" class="form-control select2 select_items" style="width: 100%;" id="item-select-manage">
    <option value="0"></option>
    @foreach (var item in Model)
    {
        decimal costUnit = 0;
        if (item.InventoryDetails.Count > 0 && item.InventoryDetails.Any(q => q.Location.Id == locationId))
        {
            costUnit = item.InventoryDetails.FirstOrDefault(q => q.Location.Id == locationId)?.LatestCost ?? 0;
        }
        if (item.TaxRates == null)
        {
            <option value="@item.Id:@item.ImageUri::@costUnit">@item.Name</option>
        }
        else
        {
            <option value="@item.Id:@item.ImageUri:@item.StringItemTaxRates(true):@costUnit">@item.Name</option>
        }

    }
</select>

<script>
    $('.select_items').not('.multi-select').select2();
</script>