@using Qbicles.Models.Trader
@model List<TraderContactGroup>
@{
    
}
 <table class="table-hover datatable2 trader_table_contact_group" style="width: 100%; background: #fff;">
    <thead>
        <tr>
            <th>Name</th>
            <th>Options</th>
        </tr>
    </thead>
     <tbody>
     @foreach (var item in Model)
     {
        <tr>
            <td>@item.Name</td>
            <td>
                <button class="btn btn-warning" onclick="editContactGroup(@item.Id)"><i class="fa fa-pencil"></i></button>
                @if (item.Contacts.Count > 0)
                {
                    <button disabled class="btn btn-danger" onclick="deleteContactGroup(@item.Id)"><i class="fa fa-trash"></i></button>
                }
                else
                {
                    <button class="btn btn-danger" onclick="deleteContactGroup(@item.Id)"><i class="fa fa-trash"></i></button>
                }

            </td>
        </tr>
     }
     
     </tbody>
</table>

<script>
    if (!$.fn.DataTable.isDataTable( '.trader_table_contact_group' ) ) {
        $('.trader_table_contact_group').DataTable({
            responsive: true,
            order: [[0, 'asc']]
        });
        $('.trader_table_contact_group').show();
    }
    $.LoadingOverlay("hide");
    
    
</script>