@using Qbicles.Models.Trader
@{
    var workGroupFilter = (List<WorkGroup>)ViewBag.WorkGroupFilter;
    string value = (string) ViewBag.ValueDefault;
}

<option value="0">Show all groups</option>
@foreach (var wg in workGroupFilter)
{
    <option value="@wg.Id">@wg.Name</option>
}
