@{
    ViewBag.Title = "Qbicles - Access denied";
    Layout = null;
}
<div class="content-wrapper qbicle-detail">
    <br /><br />
    <img src="~/Content/DesignStyle/img/icon_qbicle_default.png" style="margin: 0 auto;">
    <h2 class="text-danger">Sorry, you are not allowed to access this page</h2>
</div>
<style>
    .text-danger{
        color:red;
    }
    .content-wrapper {
        -webkit-transition: -webkit-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
        -moz-transition: -moz-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
        -o-transition: -o-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
        margin-left: 230px;
        background-color: #fff;
        z-index: 800;
        padding-left: 15px;
        min-height: 101vh !important;
    }
</style>