
@{
    Layout = null;
}
<link href="~/Content/DesignStyle/css/waiting.css" rel="stylesheet" />
<div id="loader-wrapper">
    <div id="loader"></div>
</div>
<script>
    window.location.href = "@Qbicles.BusinessRules.Helper.ConfigManager.QbiclesUrl";
</script>