@model Qbicles.TraderAPI.Models.LoginViewModel
@{ 
    Layout = null;
    ViewBag.Title = "Welcome to Qbicles Trader PoS API Application - log in to continue";
}
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
<!-- Bootstrap -->
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
@*@Styles.Render("~/Content/LogIncss")*@
<link href="~/Content/animate.min.css" rel="stylesheet" />
<body data-tooltip-animate-function="spin" data-tooltip-delay="300" data-tooltip-stickTo="top" data-tooltip-stickDistance="30" class="login-bg">
    <div class="container">
        <div class="login-body">
            <center>
                <img src="~/Content/logo_sm.png" />
            </center>

            <br /><br />

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { name = "login", id = "form_Login", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "alert alert-error", Id = "errMessage" })
                <div class="form-group">
                    <label for="email" class="sr-only">Email address</label>
                    <input type="email" id="input_email" name="email" class="form-control" placeholder="person@qbicles.com">
                </div>
                <div class="form-group">
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" id="input_password" name="password" class="form-control" placeholder="123456">
                </div>

                <div style="clear: both;"></div>
                <button class="btn btn-success" id="buttonLogin" type="submit">Login</button>
            }
        </div>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    @*<script src="~/Content/DesignStyle/js/jquery.min.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*<script src="~/Scripts/bootstrap.min.js"></script>*@
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    @*<link href="~/Content/DesignStyle/fa/css/font-awesome.min.css" rel="stylesheet" />*@

    @*@Scripts.Render("~/bundles/LogInjqueryStyle")*@
</body>

@*@Scripts.Render("~/bundles/jqueryval")*@

<style>
    .login-body {
        background: #fff;
        padding: 25px;
        border-radius: 5px;
        width: 600px;
        max-width: 100%;
        margin: 10% auto 0 auto;
        -webkit-box-shadow: 2px 2px 8px 0 rgba(50,50,50,0.75);
        -moz-box-shadow: 2px 2px 8px 0 rgba(50,50,50,0.75);
        box-shadow: 2px 2px 8px 0 rgba(50,50,50,0.75)
    }
    .login-bg {
        background: url("../../Content/login-bg.jpg") no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -ms-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 100vh;
    }
</style>